﻿@model Atlas.Web.ViewModels.UploadViewModel

@{
    ViewBag.Title = "Upload";
}

<h2>Institutions</h2>

<form action="" method="post" enctype="multipart/form-data">
    @Html.DropDownListFor( model => model.SelectedInstitutionDatabaseName, Model.Institutions)
    @Html.TextBoxFor(model => model.AsOfDate, new { type = "date" })
    @Html.DropDownListFor( model => model.SimulationTypeId, Model.SimulationTypes)
    @Html.DropDownListFor( model => model.ScenarioTypeName, Model.ScenarioTypes)
    @Html.TextBoxFor(model => model.File, new { type = "file" })
    
    
    <p>
        <input type="submit" value="Save" />
    </p>

    @Html.ValidationSummary()
</form>
