﻿@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    -webkit-print-color-adjust: exact !important; /* Specific for Chrome */
    color-adjust: exact !important; /* for other broiwsers, edge etc */
}

html body {
        color: #000000;
}

.container {
    width: 1170px !important;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
}

    .splash .message {
        font-size: 5em;
        line-height: 1.5em;
        -webkit-text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
        text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
        text-transform: uppercase;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }

    .splash .icon-spinner {
        text-align: center;
        display: inline-block;
        font-size: 5em;
        margin-top: 50px;
    }

.page-host {
    position: relative;
    top: 40px;
}

h1{
    color: #000000;
}


/*stick this in so that scenario list etc aren't unviewable in atlas templates*/
.dropdown-menu{
    max-height: 400px;
    overflow: auto;
}

option.def-group-opt {
    background-color: #eeeeee;
}

/*overriding bootstrap col padding*/
.col-xs-1.col-no-pad,
.col-sm-1.col-no-pad,
.col-md-1.col-no-pad,
.col-lg-1.col-no-pad,
.col-xs-2.col-no-pad,
.col-sm-2.col-no-pad,
.col-md-2.col-no-pad,
.col-lg-2.col-no-pad,
.col-xs-3.col-no-pad,
.col-sm-3.col-no-pad,
.col-md-3.col-no-pad,
.col-lg-3.col-no-pad,
.col-xs-4.col-no-pad,
.col-sm-4.col-no-pad,
.col-md-4.col-no-pad,
.col-lg-4.col-no-pad,
.col-xs-5.col-no-pad,
.col-sm-5.col-no-pad,
.col-md-5.col-no-pad,
.col-lg-5.col-no-pad,
.col-xs-6.col-no-pad,
.col-sm-6.col-no-pad,
.col-md-6.col-no-pad,
.col-lg-6.col-no-pad,
.col-xs-7.col-no-pad,
.col-sm-7.col-no-pad,
.col-md-7.col-no-pad,
.col-lg-7.col-no-pad,
.col-xs-8.col-no-pad,
.col-sm-8.col-no-pad,
.col-md-8.col-no-pad,
.col-lg-8.col-no-pad,
.col-xs-9.col-no-pad,
.col-sm-9.col-no-pad,
.col-md-9.col-no-pad,
.col-lg-9.col-no-pad,
.col-xs-10.col-no-pad,
.col-sm-10.col-no-pad,
.col-md-10.col-no-pad,
.col-lg-10.col-no-pad,
.col-xs-11.col-no-pad,
.col-sm-11.col-no-pad,
.col-md-11.col-no-pad,
.col-lg-11.col-no-pad,
.col-xs-12.col-no-pad,
.col-sm-12.col-no-pad,
.col-md-12.col-no-pad,
.col-lg-12.col-no-pad {
  padding-right: 0;
  padding-left: 0;
}
.row.no-marg{
    margin-right: 0px !important;
    margin-left: 0px !important;
}
/*Use These explicitly if you need padding in your columns*/
.col-pad-left{
    padding-left: 15px;
}
.col-pad-right{
    padding-right: 15px;
}
.col-pad{
    padding-right: 15px;
  padding-left: 15px;
}

.table-super-condensed > thead > tr > th, 
.table-super-condensed > tbody > tr > th, 
.table-super-condensed > tfoot > tr > th, 
.table-super-condensed > thead > tr > td, 
.table-super-condensed > tbody > tr > td, 
.table-super-condensed > tfoot > tr > td{
    padding: 2px;
}

/*Missing Bootstrap styles*/
.form-inline .checkbox{
    vertical-align: middle;
}
.form-inline .form-control{
    width: auto;
    vertical-align: middle;
}

/*bootstrap overrides*/
legend{
    margin-bottom: 5px;
}
.radio, .checkbox{
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-group{
    margin-bottom: 10px;
}
.breadcrumb{
    margin-bottom: 5px;
}


.navbar-fixed-top .navbar-inner {
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-fixed-top .icon-home {
    font-size: 18px;
}

.loader {
    margin: 6px 8px 4px 8px;
    visibility: hidden;
}

    .loader.active {
        visibility: visible;
    }

@media (max-width: 979px) {
    .page-host {
        top: 0;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

.table.small-font {
   font-size: 10px;
}

.sortable tr:hover {
    
}

/*My Code*/

.table .middle-align td {
    vertical-align: middle;
}

.table .middle-align th {
    vertical-align: middle;
}

/* I1 Total, I2 Total, I3 Total, Grand Total*/
.catType2, .catType3, .catType4, .catType7 {
    font-weight: bold;
    border-top: 2px solid gray;
}


    .catType7.spacer {
        background-color: lightblue;
        page-break-after: always;
    }

tr:last-of-type {
    page-break-after: auto !important;
}

.spacer {
    height: 30px;
    border: none;
}
/*make the sortable placeholders the same height as the original rows.
    On sort, the height change looks really bad*/
.ui-sortable-placeholder {
    height: 51px;
    width: 100%;
    background: blue;
}
/*1/09/2018 centralized styles for Atlas One revamp project - EEJ*/

/*
    header basic styling and then color and font chagnes for specefic ones
*/


.atlasHeader, .dcg-table thead th.atlasHeader {
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    padding-left: 3px;
    text-align: left !important;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    margin: 4px;
    text-shadow: 0px 0px 0px #fff;
}

    .atlasHeader.right, .dcg-table thead th.atlasHeader.right {
        text-align: right !important;
    }

    .atlasHeader.small, .dcg-table thead th.atlasHeader.small {
        font-size: 10px !important;
    }

    .atlasHeader.blue, .dcg-table thead th.atlasHeader.blue {
        background-color: #0067A7;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    .atlasHeader.blueGreen, .dcg-table thead th.atlasHeader.blueGreen {
        background-color: #73AFAD;
        height: 18px  !important;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    .atlasHeader.darkGreen, .dcg-table thead th.atlasHeader.darkGreen {
        background-color: #40637A;
        color: #FFFFFF;
        height:18px !important;
        text-transform: uppercase;
    }

    .atlasHeader.yellow, .dcg-table thead th.atlasHeader.yellow {
        background-color: #D9D900;
        color: #000;
        height: 18px !important;
        font-weight: bold;
        text-transform: uppercase;
    }


    .atlasHeader.grey{
        background-color: #EBEBEB;
        color: #000000;
    }

/*For Executive Summary Gauges*/
.execSumGauge {
    background-color: #fff;
    padding-right:5px;
}

.eve-table-basic {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    width: 100%;
    margin-bottom: 20px;
    color: #000000;
    font-size: 6px;
}

    .eve-table-basic th {
        text-transform: uppercase;
        border-bottom: 3px solid #E9E9E9;
        text-align: right;
        font-weight: 700;
        padding: 30px 0px 0px 0px;
    }

    .eve-table-basic tr:nth-child(even) {
        background-color: #e9e9e9;
    }

    .eve-table-basic table th.tab-plus-bps {
        background-color: #FF7F00;
        border-radius: 10px 10px 0px 0px;
        color: #fff;
        text-align: center;
        width: 130px;
    }

    .eve-table-basic tr:hover td {
        background-color: #428BCA !important;
        color: #ffffff;
        font-weight: normal;
    }

    .eve-table-basic td {
        text-align: right;
        font-weight: normal;
    }

    .eve-table-basic td:first-child {
        width: 175px;
        height: 20px;
        text-align: left;
    }

    .eve-table-basic tr.total-step {
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
    }

/* START SCENARIO BUTTON SETTINGS */

.scenarioButton {
    display: inline-block;
    width: 120px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: left;
    font-weight: bold;
    padding: 1px 1px 1px 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.scenarioButton:hover {
    text-transform: uppercase;
    position: relative;
    top: 1px;
}

.baseButton {
    background-color: #A8CDF2;
    border: 1px solid #A8CDF2;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    /*-webkit-text-stroke-width: 1px;*/
    /*-webkit-text-stroke-color: black;*/
}


.baseButton:hover {
    cursor: default;
    text-transform: uppercase;
}

.baseButton:active {
    position: relative;
    top: 1px;
}

.downButton {

    background-color: #002060;
    border: 1px solid #002060;
    color: #ffffff;
}

.downButton:hover {
    text-transform: uppercase;
    background-color: #ccc;
    color: #002060;
}

.upButton {
    background-color: #FF7F00;
    border: 1px solid #FF7F00;
    color: #ffffff;
}

.upButton:hover {
    text-transform: uppercase;
    background-color: #ccc;
    color: #FF7F00;
}

.flatupButton {
    background-color: #595959;
    border: 1px solid #595959;
    color: #ffffff;
}

.flatupButton:hover {
    text-transform: uppercase;
    background-color: #ccc;
    color: #595959;
}

.up40024mButton {
    background-color: #7030A0;
    border: 1px solid #7030A0;
    color: #ffffff;
}

.up40024mButton:hover {
    text-transform: uppercase;
    background-color: #ccc;
    color: #7030A0;
}

.shockUpButton {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
}

.shockUpButton:hover {
    text-transform: uppercase;
    background-color: #fff;
    color: #000;
}

.shockDownButton {
    background-color: #ffffff;
    border: 1px solid #235112;
    color: #000000;
}

.shockDownButton:hover {
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
}

.steepDownButton {
    background-color: #CAA469;
    border: 1px solid #CAA469;
    color: #ffffff;
}

.steepDownButton:hover {
    text-transform: uppercase;
    background-color: #ccc;
    color: #CAA469;
}

/* END SCENARIO BUTTON SETTINGS */


/* START HISTORICAL RATE BUTTON SETTINGS*/
tbody > tr > td.cellLabel .histRateButton {
    display: inline-block;
    width: 120px;
    background-color: #73AFAD;
    /* -webkit-text-stroke: 1px black; */
    /* -moz-border-radius:2px; */
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #73AFAD;
    text-align: left;
    color: #ffffff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 1px 1px 1px 1px;
    text-decoration: none;
}

tbody > tr > td.cellLabel .histRateButton:active {
    position: relative;
    top: 1px;
}

tbody > tr > td.cellLabel > .histRateButton.histRateButton1 {
    display: inline-block;
    width: 120px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: left;
    font-weight: bold;
    padding: 1px 1px 1px 1px;
    text-decoration: none;
    
}

tbody > tr > td.cellLabel .histRateButton.histRateButton1:hover {
    background-color: #ccc;
    color: #73AFAD;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton2 {
    background-color: #40637a;
    border: 1px solid #40637a;
    color: #FFF;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton2:hover {
    background-color: #CCC;
    color: #40637a;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton3 {
    background-color: #D9D900;
    border: 1px solid #D9D900;
    color: #000;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton3:hover {
    background-color: #ccc;
    text-shadow: 1px 1px 1px #000;
    color: #D9D900;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton4 {
    background-color: #8B655B;
    border: 1px solid #8B655B;
    color: #FFF;
}

tbody > tr:nth-of-type(4) > td.cellLabel .histRateButton.histRateButton4:hover {
    background-color: #CCC;
    color: #8B655B;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton5 {
    background-color: #A68D27;
    border: 1px solid #A68D27;
    color: #FFF;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton5:hover {
    background-color: #CCC;
    color: #A68D27;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton6 {
    background-color: #000000;
    border: 1px solid #000000;
    color: #FFF;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton6:hover {
    background-color: #CCC;
    color: #FFF;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton7 {
    background-color: #0080FF;
    border: 1px solid #0080FF;
    color: #FFF;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton7:hover {
    background-color: #CCC;
    color: #0080FF;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton8 {
    background-color: #1E7B3D;
    border: 1px solid #1E7B3D;
    color: #FFF;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton8:hover {
    background-color: #CCC;
    color: #1E7B3D;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton9 {
    background-color: #E13301;
    border: 1px solid #E13301;
    color: #FFF;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton9:hover {
    background-color: #CCC;
    color: #E13301;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton10 {
    background-color: #E0B2B6;
    border: 1px solid #E0B2B6;
    color: #000;
}

tbody > tr > td.cellLabel .histRateButton.histRateButton10:hover {
    background-color: #CCC;
    text-shadow: 1px 1px 1px #000;
    color: #E0B2B6;
}


/* END HISTORICAL RATE BUTTON SETTINGS */


/* START TABLE SETTINGS*/

/*cellLable class is for override default right align*/

.cellLabel {
    text-align: left !important;
    width: 120; /* this just makes it a fixed witdh and whatever button is in it will be that width of that span*/
    max-width: 90px;
}

.dcg-table {
    border: solid 1px #fff;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 10px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #000000;
}

    .dcg-table thead th, .tableHead tr td, .dcg-table tbody .headRow td {
        background-color: #fff;
        color: #000;
        padding: 2px;
        text-align: right;
        text-transform: uppercase;
        font-weight: 900;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }


    .dcg-table thead tr:last-child th, .tableHead tr:last-child td, .dcg-table tbody .headRow td {
        border-bottom: solid 3px #E9E9E9;
    }

.dcg-table tbody tr td {
    color: initial;
    text-align: right;
}

.dcg-table-highlight tbody tr:hover {
    background-color: #F8F8F8;
}

.dcg-table-horizontal tbody td {
    border-left: none;
    border-right: none;
}

tr.baseHighlight {
    background-color: #EFF6FD;
}

td.aod-header {
    font-size: inherit;
    background-color: #CCCCCC;
    background-size: 300px 100px;
}

/* Highlighting Base Scenario, inactive for now*/
/*tr.baseRow td {
    background-color: #EFF6FD;
    border: 1px solid #A8CDF2;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}*/


/* END TABLE SETTINGS*/


/*
    PDF Exporter Modal Wait 

*/


#exportStatus{
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
}

@keyframes lds-pacman-1 {
    0%

{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

}

@-webkit-keyframes lds-pacman-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes lds-pacman-2 {
    0% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    50% {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@-webkit-keyframes lds-pacman-2 {
    0% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    50% {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

@keyframes lds-pacman-3 {
    0% {
        -webkit-transform: translate(190px, 0);
        transform: translate(190px, 0);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(70px, 0);
        transform: translate(70px, 0);
        opacity: 1;
    }
}

@-webkit-keyframes lds-pacman-3 {
    0% {
        -webkit-transform: translate(190px, 0);
        transform: translate(190px, 0);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(70px, 0);
        transform: translate(70px, 0);
        opacity: 1;
    }
}

.lds-pacman {
    position: relative;
}

    .lds-pacman > div:nth-child(2) div {
        position: absolute;
        top: 40px;
        left: 40px;
        width: 120px;
        height: 60px;
        border-radius: 120px 120px 0 0;
        background: #3e6d8d;
        -webkit-animation: lds-pacman-1 1s linear infinite;
        animation: lds-pacman-1 1s linear infinite;
        -webkit-transform-origin: 60px 60px;
        transform-origin: 60px 60px;
    }

        .lds-pacman > div:nth-child(2) div:nth-child(2) {
            -webkit-animation: lds-pacman-2 1s linear infinite;
            animation: lds-pacman-2 1s linear infinite;
        }

    .lds-pacman > div:nth-child(1) div {
        position: absolute;
        top: 92px;
        left: -8px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #4b9bbe;
        -webkit-animation: lds-pacman-3 1s linear infinite;
        animation: lds-pacman-3 1s linear infinite;
    }

        .lds-pacman > div:nth-child(1) div:nth-child(1) {
            -webkit-animation-delay: -0.67s;
            animation-delay: -0.67s;
        }

        .lds-pacman > div:nth-child(1) div:nth-child(2) {
            -webkit-animation-delay: -0.33s;
            animation-delay: -0.33s;
        }

        .lds-pacman > div:nth-child(1) div:nth-child(3) {
            -webkit-animation-delay: 0s;
            animation-delay: 0s;
        }

.lds-pacman {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/* HTML5 hidden attribute trick for Bootstrap 3 and earlier */
[hidden] {
    display: none !important;
}

.error { color: red; }

.progress-bar-container {
    border: solid 1px #3E6D8D; /* matches pacman */
    height: 20px;
    padding: 3px;
    width: 100%;
}

.progress-bar {
    background-color: #3E6D8D; /* matches pacman */
    height: 100%;
}