﻿#header-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 100%;
    padding: 0;
    background: #ffffff;
    /*height: 87px;*/
    /*background: #006699 url(bg-header.jpg) no-repeat;
    width:760px;
	height:144px;
    display:table;*/
    width: 1170px;
    margin-bottom: 20px;
}

#logo {
    /*these two margin rules are for demo purposes. Remove for actual use
  margin-top: 30px;
  margin-left: 30px;*/
    /*******/
    float: left;
    font-family: Garamond, "Big Caslon", "Times New Roman", serif;
    background-color: rgb(0,111,173);
    height: 78px;
    width: 170px;
    /*font-size: 50px;*/
    color: #ffffff;
    position: relative;
    /*
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    This may need to be removed or made conditional
  box-shadow: 2px 2px 2px #c9c9c9;*/
}

#logo_img {
    width: 100%;
    max-width: 100%;
}

#logo a {
    width: 170px;
    text-decoration: none;
    color: #ffffff;
}

#logo-top-row {
    line-height: .8em;
}

.separator {
    height: 10px;
    width: 10px;
    background-color: #ffffff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.logo-text-segments {
    display: inline-block;
}

.logo-subtext {
    padding: 0;
    font-size: 9px;
}

#logo-darling {
    width: 30%;
}

#logo-consulting {
    width: 42%;
}

#logo-group {
    width: 24%;
}

.welcome-header {
    height: 3.4em;
    margin-left: 5px;
    margin-bottom: 10px;
    width: auto;
    white-space: nowrap;
    padding-left: 35%;
}

@media only screen and (min-width: 768px) {
    .welcome-header {
        height: 3.4em;
        margin-bottom: 10px;
    }
}

.welcome-header h1 {
    padding: 0;
    margin: 0;
    font-size: 3em;
}

#main-nav {
    font-size: 1.1em;
    margin: 0;
    padding: 1.2em 0 0 0;
    list-style: none;
    /*background-color: #046494;*/
    background-color: rgb(0,111,173);
}

@media only screen and (min-width: 768px) {
    #main-nav {
        font-size: 1.1em;
        padding-top: 0;
    }
}

#main-nav li {
    display: inline-block;
    /*border-right: 2px solid #fff;*/
}


#main-nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 5px;
    display: inline-block;
    width: 100%;
    -moz-transition: background-color .2s, color .2s;
    -webkit-transition: background-color .2s, color .2s;
    -o-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s;
    
}
.main-nav-separate{
    /*border-left: 3px solid #fff;*/
}


    #main-nav a:hover {
        /*color: rgb(0,103,167);*/
        color: rgb(0,111,173);
        background-color: #fff;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
/*
#main-nav ul {
    float: left;
    line-height: 2em;
    padding: 0;
    list-style: none;
    background: #ededed;
    position: absolute;
    left: -9999px;
}

    #main-nav ul a {
        color: #000;
        white-space: nowrap;
        display: inline-block;
        width: 100%;
    }

        #main-nav ul a:hover {
            color: #fff;
            background: rgb(0,103,167);
        }

    #main-nav ul li {
        float: none;
        width: 100%;
    }

#main-nav li:hover ul {
    left: 0px;
}
*/

li#welcome-name {
    display: block;
    float: none;
    color: #fff;
    padding: 0 .25em;
}
@media only screen and (min-width:600px) {
    li#welcome-name {
        display: inline-block;
        
    }
}
@media only screen and (min-width:615px) {
    li#welcome-name {
        float: right;
        
    }
}
@media only screen and (min-width: 950px) {
    #main-nav a, #welcome-name {
        padding: 0 1em;
    }
}
@media only screen and (min-width: 995px) {
    #main-nav a, #welcome-name {
        padding: 0 1.5em;
    }
}
@media only screen and (min-width: 1130px) {
    #main-nav a, #welcome-name {
        padding: 0 2em;
    }
}

