﻿body {
}

.report-std-table {
    border-collapse: separate;
    font-family: "Open Sans";
    font-size: 10px;
}

.report-std-table>thead>tr>th,
.report-std-table>thead>tr>td,
.report-std-table>tbody>tr>td,
.report-std-table>tbody>tr>th
{
    padding: 1px 8px;    /*background-color: #ffffff;*/
    /*background-color: #ffffff;*/
    white-space: nowrap;
    font-size: 10px;
    width: 100%;
}

.report-std-table>tbody>tr>td,
.report-std-table>tbody>tr>th{
    text-align: right;
}
.report-std-table>tbody>tr>td:first-child,
.report-std-table>tbody>tr>th:first-child{
    text-align: left;
}

.report-std-table-md>thead>tr>th,
.report-std-table-md>thead>tr>td,
.report-std-table-md>tbody>tr>td,
.report-std-table-md>tbody>tr>th
{
    padding: 1px 8px;
    /*background-color: #ffffff;*/
    white-space: nowrap;
    font-size: 10px;
}

.table-headroom>thead>tr>th,
.table-headroom>thead>tr>td,
.table-headroom>tbody>tr>td,
.table-headroom>tbody>tr>th
{
    padding: 12px 8px 2px 8px ;
    /*background-color: #ffffff;*/
    white-space: nowrap;
}

.report-std-table > thead > tr.total-row > th,
.report-std-table > thead > tr.total-row > td,
.report-std-table > tbody > tr.total-row > td,
.report-std-table > tbody > tr.total-row > th {
    padding: 5px 8px 1px 8px;
    font-weight: bold;
    /*text-transform: uppercase;*/
}


.report-std-table > thead > tr.total-row-int1 > th,
.report-std-table > thead > tr.total-row-int1 > td,
.report-std-table > tbody > tr.total-row-int1 > td,
.report-std-table > tbody > tr.total-row-int1 > th {
    padding: 5px 8px 1px 8px;
    text-transform: uppercase;
    }

.report-std-table > thead > tr.total-row-int2 > th,
.report-std-table > thead > tr.total-row-int2 > td,
.report-std-table > tbody > tr.total-row-int2 > td,
.report-std-table > tbody > tr.total-row-int2 > th {
    padding: 5px 8px 1px 8px;
    text-transform:initial;
    font-weight: bold;
    }

.report-std-table > thead > tr.total-row-int3 > th,
.report-std-table > thead > tr.total-row-int3 > td,
.report-std-table > tbody > tr.total-row-int3 > td,
.report-std-table > tbody > tr.total-row-int3 > th {
    padding: 5px 8px 1px 8px;
    text-transform: uppercase;
    font-weight: bold;
}

.report-std-table > thead > tr.total-row-sub > th,
.report-std-table > thead > tr.total-row-sub > td,
.report-std-table > tbody > tr.total-row-sub > td,
.report-std-table > tbody > tr.total-row-sub > th {
    padding: 5px 8px 1px 8px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #e9e9e9;
}


.report-std-table > thead > tr.total-row-master > th,
.report-std-table > thead > tr.total-row-master > td,
.report-std-table > tbody > tr.total-row-master > td,
.report-std-table > tbody > tr.total-row-master > th {
    padding: 5px 8px 1px 8px;
    /*font-weight: bold;
    border-bottom: 2px solid #e9e9e9;*/
}

.report-std-table > thead > tr.total-row-grand > th,
.report-std-table > thead > tr.total-row-grand > td,
.report-std-table > tbody > tr.total-row-grand > td,
.report-std-table > tbody > tr.total-row-grand > th {
    padding: 0px 8px 0px 8px !important;
    /*background-color: #FFFF00;*/
    
}

.report-std-table > thead > tr.total-row-higher > th,
.report-std-table > thead > tr.total-row-higher > td,
.report-std-table > tbody > tr.total-row-higher > td,
.report-std-table > tbody > tr.total-row-higher > th {
    padding: 5px 8px 1px 8px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #666666;
}



.report-std-table>thead>tr.total-top-border>th,
.report-std-table>thead>tr.total-top-border>td,
.report-std-table>tbody>tr.total-top-border>td,
.report-std-table>tbody>tr.total-top-border>th
{
    border-bottom: 2px solid #e9e9e9;
}

.report-std-table>thead>tr.total-bottom-border>th,
.report-std-table>thead>tr.total-bottom-border>td,
.report-std-table>tbody>tr.total-bottom-border>td,
.report-std-table>tbody>tr.total-bottom-border>th
{
    border-bottom: 2px solid black;
     
}

/*cell with top border*/
.report-std-table>thead>tr>th.top-border,
.report-std-table>thead>tr>td.top-border,
.report-std-table>tbody>tr>td.top-border,
.report-std-table>tbody>tr>th.top-border
{
    border-top: 1px solid black;
}
/*cell with right border*/
.report-std-table>thead>tr>th.right-border,
.report-std-table>thead>tr>td.right-border,
.report-std-table>tbody>tr>td.right-border,
.report-std-table>tbody>tr>th.right-border
{
    border-right: 1px solid black;
}
/*cell with bottom border*/
.report-std-table>thead>tr>th.bottom-border,
.report-std-table>thead>tr>td.bottom-border,
.report-std-table>tbody>tr>td.bottom-border,
.report-std-table>tbody>tr>th.bottom-border
{
    border-bottom: 1px solid black;
}

/*cell with thick bottom border*/
.report-std-table>thead>tr>th.bottom-border-thick,
.report-std-table>thead>tr>td.bottom-border-thick,
.report-std-table>tbody>tr>td.bottom-border-thick,
.report-std-table>tbody>tr>th.bottom-border-thick
{
    border-bottom: 2px solid black;
}

/*cell with left border*/
.report-std-table>thead>tr>th.left-border,
.report-std-table>thead>tr>td.left-border,
.report-std-table>tbody>tr>td.left-border,
.report-std-table>tbody>tr>th.left-border
{
    border-left: 1px solid black;
}

.report-std-table>thead>tr.bold-text>th,
.report-std-table>thead>tr.bold-text>td,
.report-std-table>tbody>tr.bold-text>td,
.report-std-table>tbody>tr.bold-text>th
{
    
}

.report-std-table>thead>tr.body-lt-blue>th,
.report-std-table>thead>tr.body-lt-blue>td,
.report-std-table>tbody>tr.body-lt-blue>td,
.report-std-table>tbody>tr.body-lt-blue>th
{
    background-color: #E9E9E9;
}

.report-std-table>thead>tr.body-lt-blue>th,
.report-std-table>thead>tr.body-lt-blue>td,
.report-std-table>tbody>tr:nth-child(odd)>td,
.report-std-table>tbody>tr:nth-child(odd)>th
{
    background-color: #e9e9e9;
}

.report-std-table>thead>tr.body-drk-blue>th,
.report-std-table>thead>tr.body-drk-blue>td,
.report-std-table>tbody>tr.body-drk-blue>td,
.report-std-table>tbody>tr.body-drk-blue>th
{
    background-color: #8ed4fd;
}

.report-std-table>thead>tr.header-drk-blue>th,
.report-std-table>thead>tr.header-drk-blue>td,
.report-std-table>tbody>tr.header-drk-blue>td,
.report-std-table>tbody>tr.header-drk-blue>th
{
    color: #060F6E;
}

.underline {
    text-decoration: none;
    border-bottom: 3px solid #E9E9E9;
}

/*.report-view{
    padding: 10px;
    max-height: 1000px;
    overflow:auto;
}*/

.report-std-table>thead>tr>th.indent,
.report-std-table>thead>tr>td.indent,
.report-std-table>tbody>tr>td.indent,
.report-std-table>tbody>tr>th.indent
{
    padding-left: 14px;
}

.report-std-table>thead>tr>th.italic,
.report-std-table>thead>tr>td.italic,
.report-std-table>tbody>tr>td.italic,
.report-std-table>tbody>tr>th.italic
{
    font-style: italic;
}

.report-std-table > tbody > tr:hover td {
    background-color: #428BCA !important;
    color: #ffffff;
    }