﻿@model HtmlEditor.Models.FileListingViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Add</title>
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('a').click(function (e) {
                e.preventDefault();
                var ckEditorNum = parseInt($('#CKEditorFuncNum').val());
                window.opener.CKEDITOR.tools.callFunction(ckEditorNum, '/Uploads/Files/' + $(this).attr('href'), '');
                window.close();
            });
        });
    </script>
</head>
<body>
    <div>
        Select files<br /><br />
        @foreach (var item in Model.Files)
        {
            <a href="@item.Id" style="font-size: larger;">@item.Name</a>            
            <br />
        }
        <br /><br />
        @Html.HiddenFor(m => m.CKEditorFuncNum)
    </div>
</body>
</html>
