﻿<section>
    <p style="font-size: 16px;">
        AtlasOne is DCG's newest reporting platform. It aims to replace the legacy version of Atlas with cloud based storage all accessible from the web.
    </p>

</section>
