﻿<style>
    table{
        width: 100%;
        font-size: 12px;
    }

    .spacerRow{
        height: 13px;
    }

    .groupRow{
        font-weight: bold;
    }

</style>
<section id="reportView">
    <div class="row">
        <div class="col-md-12">
            <table class="eve-table-basic">
                <thead>
                    <tr id="ascHead" valign="bottom">
                        <th></th>
                        <th>Weight Avg <br/> Discount Rt</th>
                        <th id="changeTitle">Par Value</th>
                    </tr>
                </thead>
                <tbody id="ascBody">

                </tbody>
            </table>
        </div>

    </div>
 
</section>
