﻿<style>
    .pageBreakBefore {
        page-break-before: always;
        }

        .headerInline {
        display:inline-block;
        margin: 0px;
        padding: 0px;
        }
        
        h5, h6 {
        text-transform:uppercase;
        }

</style>


<section id="reportHolder" data-bind="with:ascViewData()">
    <h3>GENERAL METHODOLOGIES EMPLOYED</h3>
    <h3>RATE SOURCES</h3>
    <p>
        Generally, DCG uses government published rates in the model. These rates are used in the income simulation model, to capture the impact of future
        repricings in the analysis. These rates are also used in conjunction with discount factors in the valuation process.
    </p>

    <p>
        The primary source of this information is the Federal Reserve Board’s statistical release, H-15. This release includes the current treasury curve (note – the
        constant maturity treasury is used in the model, unless otherwise noted), effective fed funds, Prime, and the USD LIBOR Swap curve.
    </p>

    <p>
        Other rate sources include those posted by Banx.com (for FNMA mortgage rates, short-term LIBOR rates, etc…), the client’s FHLB district (for wholesale /
        term funding sources), and internal client rate indices (that would have an impact on future repricings).
    </p>

    <h4>ASSETS</h4>
    <h5>INVESTMENTS</h5>
    <p>
        DCG relies on market value information furnished by the client and (if applicable) its portfolio accountant for the investment portfolio. If material,
        securities not valued by client may be valued by DCG using various securities market sources, most notably The Yield Book, Inc.
    </p>
    <h5>LOANS</h5>
    
    <p>
        <h6 class="headerInline">Residential Mortgage Loans</h6> – Loan cash flow projections and repricing characteristics were derived from data downloads from the Institution’s loan
        processing system. All residential mortgage loans take into account current prepayment estimations most recently published by <span data-bind="text: loanType"></span>
    </p>

    <p>
        There is an accurate and reliable secondary market for 1 to 4 family residential mortgage production, either through whole loan sales or the trading of
        mortgage backed securities. 
    </p>

    <p>
        Accordingly, DCG looks to available market benchmarks when establishing discount factors for these types of loans.
    </p>

    <!-- PAGE BREAK HERE-->
    <h5 class="pageBreakBefore">LOANS (continued)</h5>
    <h6>RESIDENTIAL MORTGAGE LOANS (cont’d)</h6>

    <p>
        For fixed rate mortgages with an original term of 15 years or less, DCG uses the FNMA 15 Year / 60 day commitment rate, plus a 25bp spread to factor in
        an estimation of servicing. The appropriate Swap rate for the average expected life of the loan (i.e. on average roughly 7.5 Years) is subtracted from this
        number to calculate a spread to the Swap curve. The loan pool is discounted to the USD LIBOR Swap curve to calculate the estimated market value of the
        pool.
    </p>

    <p>
        For fixed rate mortgages with an original term greater than 15 years, DCG uses the FNMA 30 Year / 60 day commitment rate, plus a 25bp spread to factor
        in an estimation of servicing. The appropriate Swap rate for the average expected life of the loan (i.e. on average roughly 12.5 Years) is subtracted from
        this number to calculate a spread to the Swap curve. The loan pool is discounted to the USD LIBOR Swap curve to calculate the estimated market value of
        the pool.
    </p>

    <p>
        For adjustable rate mortgages current yields for ARM securities were obtained from Wall Street market sources. A 45bp “bond to loan” adjustment (25bp
        servicing estimation, 20bp FNMA/FHLMC guarantee) was added to the current yield of the bond. The appropriate Swap rate for the average expected life
        of the loan (i.e. on average roughly 4 Years regardless of repricing period) is subtracted from this number to calculate a spread to the Swap curve. The
        loan pool is discounted to the USD LIBOR Swap curve to calculate the estimated market value of the pool.
    </p>

    <p>
        Loans that yield a higher rate due to credit or other issues may have an additional adjustment factored into the discount rate.
    </p>
        
    <p>
        <h6 class="headerInline">Multi-Family Residential / Commercial Mortgage and Commercial Loans</h6>– Loan cash flow projections and repricing characteristics were derived from data
        downloads from the Institution’s loan processing system. Since there is not a readily available source for estimated prepayment speeds for these types of
        loans, DCG relies on the client to provide prepayment estimates for these products. In the absence of specific client provided speeds, standard
        prepayment estimates are applied in each rate scenario.
    </p>

    <p>
        While DCG looks to available market benchmarks when establishing discount factors for the loan portfolio, information related to commercial loan
        products is not as readily available as it is for the residential sector. This is especially true given the varied term structures and credit issues involved with
        commercial lending.
    </p>

    <!-- Page Break HEre-->
    <h5 class="pageBreakBefore">Loans (continued)</h5>

    <p>
        <h6>Multi-Family Residential / Commercial Mortgage and Commercial Loans – (cont’d)</h6>
        <span data-bind="visible: enhanced">
            Accordingly, we find the most reliable current offering rates on similar loans in the client’s
            market can be obtained from the client (based on their current market experience). Discount spreads
            are derived from the current relationship between these client supplied offering rates and the
            corresponding market index. Each pool of loans is then discounted to the Swap/LIBOR curve plus/minus
            this spread.
        </span>
        <span data-bind="visible: !enhanced">
            Our experience of actively working with hundreds of financial institutions nationally gives
            us the unique ability to establish benchmarks for current offering rates on similar loan products.
            Discount spreads are derived from the current relationship between these benchmark rates and the
            corresponding market index. Each pool of loans is then discounted to the Swap/LIBOR curve plus/minus
            this spread.
        </span>
    <p>


        <p>
            Exceptions may be made for Prime based adjustable rate loans (with resets of 1 Year or less), which would be discounted straight to Prime plus or minus an appropriate spread.
        </p>
        <h6 class="headerInline">Consumer Loans</h6>
        <span data-bind="visible: enhanced">
            As is the case with commercial products, consumer term structures and related pricing
            can vary widely from institution to institution. Again, we find the most reliable current offering rates on
            similar loans in the client’s market can be obtained from the client (based on what their current market
            experience is). Spreads to the Swap curve are then calculated, based upon what the client has supplied
            DCG with as current offering rates/terms, and each pool of loans is discounted to the Swap curve
            plus/minus the appropriate spread.
        </span>
        <span data-bind="visible: !enhanced">
            As is the case with commercial products, consumer term structures and related pricing
            can vary widely from institution to institution. Again, we find that our experience of actively working
            with hundreds of financial institutions nationally gives us the unique ability to establish benchmarks for
            current offering rates on similar loan products. Discount spreads are derived from the current
            relationship between these benchmark rates and the corresponding market index. Each pool of loans is
            then discounted to the Swap/LIBOR curve plus/minus this spread.
        </span>
    </p>

    <p>
        Exceptions may be made for Prime based adjustable rate loans (with resets of 1 Year or less), which would be discounted straight to Prime plus or minus
        an appropriate spread.
    </p>

    <p>
        <h6 class="headerInline">Non-Accrual Loans</h6> –All non-accrual loans are assumed to be carried at their current fair value
    </p>

    <p>
        <h6 class="headerInline">Deferred Loans Fees / Costs</h6>–The implied sale of the loans responsible for deferred income or expense would result in instantaneous recognition of the
        income or expense. As such, the market value of the deferred income or liability would be $0 (zero).
    </p>

    <h5>Miscellaneous Asset Categories</h5>
    <p>
        <h6 class="headerInline">Other Assets</h6> – All other asset accounts are assumed carried at their current fair value.
    </p>

    <p>
        <h6 class="headerInline">Fixed Assets</h6> – All fixed asset accounts are assumed carried at their current fair value.
    </p>

    <p>
        <h6 class="headerInline">Cash & Due</h6> – All non-interest earning cash accounts are assumed carried at their current fair value.
    </p>

    <!-- page break here-->

    <h5 class="pageBreakBefore">Miscellaneous Asset Categories (continued)</h5>
    <p>
        <h6 class="headerInline">Goodwill</h6> – Goodwill represents the book premium paid by the Institution for various business acquisitions in prior years. Current accounting rules also
        dictate that should the value of these acquisitions be subsequently impaired, a charge should be taken to earnings. We have assumed, for the purposes of
        this valuation, that the market value of goodwill is no less than the book value; however, we did not re-value the acquisition to determine if the market
        value of those businesses was higher as of the reporting date than the day of original purchase.
    </p>

    <h4>LIABILITIES</h4>

    <h5>Deposits</h5>

    <p>
        <h6 class="headerInline">Non-Maturity</h6> – Under FASB ASC 825, the fair value of non-certificate deposits is deemed to be the amount payable on demand at the reporting date, not
        the underlying value to the Institution of those deposit relationships. As such, the market value of goodwill is assumed to be the carrying value on the
        Institution’s books at the reporting date.
    </p>

    <p>
        <h6 class="headerInline">Certificates of Deposit</h6> – CD’s, IRA’s, and other time deposits originated by the Institution are valued using a replacement cost of funds approach. A cash
        flow is generated to represent the functional cost of maintaining such accounts (20bp per most recent Federal Reserve cost study). This ‘cash flow’ is then
        discounted to a 12 district FHLB average curve for the as of date, in conjunction with the other cash flows associated with each account. Early withdrawals
        are deemed non-material.
    </p>

    <p>
        <h6 class="headerInline">Brokered Deposits</h6> – Brokered time deposits not originated by the institution are also valued using a replacement cost of funds approach. These deposits
            are discounted to the brokered CD curve for the as of date. Early withdrawals are deemed non-material.
    </p>

    <h5>Borrowings</h5>
    <p>
        <h6 class="headerInline">Fixed / Variable Term “Bullet” Structures</h6> – Such borrowings are valued using a replacement cost of funds approach. These borrowings are discounted to a
            12 district FHLB average curve for the as of date.
    </p>

    <p>
        <h6 class="headerInline">Option Structures</h6> – Generally, fair values are determined by the Institution’s broker or FHLB for borrowings that include a call or conversion option. If
            market pricing is not available from this source, current market indications from the Institution’s FHLB are obtained, and the borrowings are discounted to
            a 12 district FHLB average curve less an appropriate spread to adjust for the option.
    </p>

    <!-- Page BReak HEre-->
    <div id="lastSection">
        <h5 class="pageBreakBefore">Miscellaneous Liabilities Categories</h5>

        <p>
            <h6 class="headerInline">Other Liabilities</h6> – All other liabilities accounts are assumed carried at their current fair value.
        </p>

        <h4>OFF-BALANCE SHEET ITEMS</h4>

        <h5>Derivative Financial Instruments</h5>

        <p>
            To the extent possible, valuations for all interest rate caps, floors, and/or swaps are obtained from the Institution’s broker or source of the contract (e.g.
            FHLB). If market pricing is not available from these sources, current market indications for a similar term/structure contract is obtained, and the contract
            is discounted to the Swap/LIBOR curve plus/minus an appropriate spread to adjust for the option.
        </p>
    </div>
</section>
