﻿
<section data-bind="with:ascViewData()">
    <h3>INTRODUCTION AND SCOPE</h3>
    <p>
        Darling Consulting Group (DCG) was contracted by <span data-bind="text: instName" /> to perform a current fair value estimation of the Institution’s assets, liabilities, and
        equity at <span data-bind="text: asOfDate" /> (as of date, hereafter), as required by FASB under Statement ASC 825 (FASB ASC 825) for disclosure in the Institution’s annual
        report.
    </p>

    <p>
        This assessment takes into account all assets, liabilities, and financial derivatives (e.g. caps, swaps, floors) held by the client on the as of date.
        For financial instruments that do not have a readily available fair value indication via secondary market sources, DCG uses the BASIS software
        system to discount future cash flows (principal and interest payments) back to present values to estimate the fair value. The structure of the
        market value balance sheet is the same used in the periodic interest rate risk assessments DCG performs for the client.
    </p>

    <h3>SOURCES OF DATA USED IN THE ANALYSIS</h3>
    <p>
        The engagement includes the building of a financial model that accurately captures the client’s balance sheet on the as of date, taking into
        account future maturities and/or scheduled future repricings (if applicable) in the analysis. To do this, the client has supplied DCG with
        information, including:
    </p>

    <ul>
        <li>Data downloads from the client’s processing systems (typically for loans and time deposits)</li>
        <li>Maturity/repricing schedules for instruments not accounted for on the client’s processing systems (e.g. borrowings)</li>
        <li>Rate information that may impact future repricings and/or the discount factors used in the valuation process</li>
    </ul>

    <p>
        In some cases, DCG relies on third party information sources to complete the analysis. This may include the current market value of the client’s
        investment portfolio (performed by the client’s portfolio accountant) and the establishment of discount factors that represent current market
        indications for various assets and liabilities (explained in detail later in this document).
    </p>

    <h3>DISCLAIMER</h3>
    <p>
        While DCG believes the information provided by the above referenced sources to be reliable, DCG does not guarantee its accuracy or
        completeness.
    </p>
</section>
