﻿<style>
    table{
        width: 100%;
        font-size: 8px;
    }
        table > tbody > tr:nth-child(even) > td {
            background-color: #E9E9E9;
        }


</style>

<section id="discountrate-view">
    <div class="row">
        <div class="col-md-12">
            <table class="eve-table-basic">
                <thead>
                    <tr id="ascHead">
                        <th>Name</th>

                    </tr>
                </thead>
                <tbody id="ascBody">

                </tbody>
            </table>
        </div>

    </div>
 
</section>
