﻿<section data-bind="with:asc">
    <fieldset class="col-sm-12">
        <div class="col-md-12">
            <div class="form-group">
                <label>Institution</label>
                <select id="inst_dropdown" class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
            </div>
            <div class="form-group">
                <label>Date offset</label>
                <select id="dateoffset_dropdown" class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
            </div>
            <div class="form-group">
                <div class="col-sm-12"><input id="enhanced_cb" type="checkbox" data-bind="checked: enhanced" />Enhanced ASC825</div>
            </div>
        </div>




    </fieldset>

</section>
