﻿<style>
    table{
        width: 100%;
        font-size: 12px;
    }
</style>

<section id="reportView">
    <div class="row">
        <div class="col-md-12">
            <table class="eve-table-basic">
                <thead>
                    <tr valign="bottom">
                        <th>Name</th>
                        <th>Current Rate</th>
                        <th>Funct Cost</th>
                        <th style="width:70px;">Wght Avg Discount Rt</th>
                        <th>Book Balance</th>
                        <th>Par Value</th>
                        <th>Fair Value</th>
                        <th>Market Price</th>
                        <th style="width: 80px;">Change (From Book)</th>
                        <th>Discount Index</th>
                        <th>Discount Offset(BP)</th>
                    </tr>
                </thead>
                <tbody id="ascBody"></tbody>
            </table>
        </div>

    </div>

</section>
