﻿<style>

    @import url('https://fonts.googleapis.com/css?family=Open+Sans');

    .pageBreakBefore{
        page-break-before: always;

    }

    .headerInline{
        display:inline-block;
        margin: 0px;
        padding: 0px;
    }

    .clearPM{
        margin: 0px;
        padding: 0px;
    }
    #reportHolder h3{
        margin-top: 7px;
         }
    #reportHolder h4{
        margin-top: 5px;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    #reportHolder p{
        margin-bottom: 7px;
    }
    #reportHolder p.last-on-page{
        
        
    }
    #reportHolder h3.first-on-page{
        margin-top: 0;
    }

    p, h3, h4 {
        font-family: 'Open Sans' !important;
        color:#000;
    }

</style>


<section id="reportHolder" data-bind="with:assViewData()">
    <p>
        The key to successful balance sheet management is to create an environment whereby the Asset/Liability Management Committee (ALCO) proactively focuses on strategy
        development and implementation based upon a clear understanding of its overall risk/return profile. Accordingly, we have described below our approach to building an A/L model
        to establish reasonable (not exact) expectations for net interest margin. All assumptions are provided or approved by <span data-bind="text: instName"></span>.
    </p>

    <h3>BALANCE SHEET INFORMATION</h3>
    <p>
        Starting balances in the A/L model reflect actual balances on the "as of" date, adjusted for material and significant transactions. Pro-forma balances remain static unless otherwise
        noted. This enables interest rate risk embedded within the existing balance sheet structure to be isolated (growth assumptions can mask interest rate risk). 
    </p>
    
    <p>
        All balance sheet carrying values are received from the Institution and utilized in the model as the basis for all financial calculations. In this regard it is important to note that DCG
        makes no representations as to the accuracy of book/carrying values for any of the Institution’s financial instruments reflected in the model
    </p>


    <h4 class="clearPadding">Investments</h4>
    <p>
        Darling Consulting Group (DCG) utilizes The Yield Book®, Inc. system to analyze the investment portfolio. While The Yield Book® has a loss estimator feature based upon its
        proprietary algorithms, this functionality is not utilized by DCG. <span data-bind="text: instName"></span> (through its investment portfolio accountant) provides DCG with the current par value, market
        value, book value, and ASC 320 classification for each bond in its portfolio on the as of date for the analysis. 
    </p>


    <p>
        For each interest rate scenario tested, CitiGroup’s The Yield Book® produces CUSIP specific cash flow and repricing forecasts based upon Institution provided current par, book and
        market values. Each CUSIP is processed in The Yield Book® using the USD Swap Curve and CitiGroup’s proprietary prepayment and term structure (the Monte Carlo simulation
        takes into account 200 rate paths) models. Market values in different rate environments are calculated by first deriving an Option Adjusted Spread (OAS) from the client provided
        base case market value and then, holding OAS constant, solving for market value. For callable bonds, holding OAS constant, market price is solved for at each call date and then
        compared to the scheduled call price in order to determine cash flows. Cash flow forecasts take into consideration assumptions for absolute rate movement (e.g. + / - 200 BP), the
        period over which rates are assumed to shift (e.g. yield curve shifts over 12 months), and assumed changes in yield curve shape (e.g. non-parallel yield curve shift analysis). 
    </p>

    <p>
        While The Yield Book® database is very comprehensive, it may not cover every bond in the portfolio. In these instances, DCG will research each “extraordinary” bond with the
        assistance of client personnel and/or Bloomberg©. Securities not found in the The Yield Book® database are entered manually into BASIS. These categories (labeled accordingly
        as “manual” categories) are modeled using the book price and yield reported by the client, amortized to a weighted average remaining maturity, and prepaid in accordance with
        Bloomberg’s most current forecasts for each rate scenario. 
    </p>

    <h4 id="loans-header" class="clearPadding">Loans</h4>
    <p>
        Current loan portfolio data is provided by <span data-bind="text: instName"></span>'s internal operating systems. Repricing information and cash flow replacement assumptions are detailed in the
        Detailed Simulation Assumption Table. 
        <span data-bind="visible: loanType == 'The Client.' && otherLoanType == 'Client Provided' ">
            All loan types take into account prepayment speed estimates supplied by the client.
        </span>
        <span data-bind="visible: loanType == 'Black Knight Financial Services (BKFS).' && otherLoanType == 'Client Provided' ">
            All residential mortgage, home equity and auto loans take into account current prepayment estimations most recently published by Black Knight Financial
            Services (BKFS). All other loan types take into account prepayment speed estimates supplied by the client
        </span>
        <span data-bind="visible: loanType == 'The Client.' && otherLoanType == 'Not Client Provided' ">
            All residential mortgage, home equity and auto loans prepayment speed estimates are supplied by the client. All Commercial, Agriculture, and
            Construction loan types take into account the DCG standard prepayment speed estimates (10% flat, 12.5% down 100bp, and 5% up 200bp). All Installment loan types take into
            account the DCG standard prepayment speed estimates (20% flat, 25% down 100bp, and 10% up 200bp).
        </span>
        <span data-bind="visible: loanType == 'Black Knight Financial Services (BKFS).' && otherLoanType == 'Not Client Provided' ">
            All residential mortgage, home equity and auto loans take into account current prepayment estimations most recently published by Black Knight Financial
            Services (BKFS). All Commercial, Agriculture, and Construction loan types take into account the DCG standard prepayment speed estimates (10% flat, 12.5% down 100bp, and 5%
            up 200bp). All Installment loan types take into account the DCG standard prepayment speed estimates (20% flat, 25% down 100bp, and 10% up 200bp).
        </span>
    </p>

    <h4 class="clearPadding">Deposits</h4>
    <p>
        Current deposit data is provided by <span data-bind="text: instName"></span>'s internal operating systems. Repricing and maturity replacement assumptions are detailed in the Detailed Simulation
        Assumption Table. The Interest Rate Scenario section below outlines the deposit pricing assumptions for each scenario. 
    </p>

    <h4 class="clearPadding">Borrowings</h4>
    <p>
        Current portfolio data on wholesale funding is provided by <span data-bind="text: instName"></span>. Repricing and maturity replacement assumptions are detailed in the Detailed Simulation
        Assumption Table. 
    </p>

    <p id="last-prg">
        DCG utilizes its own proprietary software, Balance Sheet Information System © (BASIS) to model the Institution’s assets and liabilities. The above-mentioned cash flow forecasts
        are uploaded directly into the BASIS system. A separate cash flow forecast is processed for each rate scenario. While DCG believes the information provided by the above
        referenced sources to be reliable, DCG does not guarantee its accuracy or completeness.
    </p>
    <!--<span data-bind="text: loanType"></span>
    <span data-bind="text: otherLoanType"></span>-->
    <div id="lastSection" data-bind="css:{pageBreakBefore: !(loanType == 'Black Knight Financial Services (BKFS).' && otherLoanType == 'Not Client Provided')}">
        <h3 id="int-rate-header">INTEREST RATE SCENARIOS</h3>

        <p>
            ALCO’s primary objective in analyzing interest rate risk is to understand the level of risk/volatility given a range of reasonable and plausible interest rate scenarios. In this
            context, the "core" interest rate risk analysis enclosed in this package is provided to examine the balance sheet under rates up/down scenarios that are neither too modest (e.g. -
            50BP) nor too extreme (e.g. +400BP). All "core" scenario (base, down 100BP and up 200BP) rate changes are “ramped” over a 12-month horizon based upon a parallel yield
            curve shift and then maintained at those levels over the remainder of the simulation horizon. In addition to the “core” scenarios, “shock” or instantaneous parallel rate movement
            scenarios (-100BP, +100BP, +200BP, +300BP and +400BP) are included in this package. In the down 100BP scenarios, Fed Funds and Treasury yields are floored at 0.01% while
            Prime is floored at 3.00% to maintain the 20 year historical spread (300bps) to Fed Funds. All other market rates (LIBOR, FHLB, Brokered CD) are floored at the lesser of either
            the current rate or 0.25% to reflect credit spreads.
        </p>

        <p>
            In the alternative flattening rate scenario(s), all yield curves are assumed to migrate to the average LIBOR swap curve slope that existed from January 2005 to December 2007. The
            starting point for each curve (e.g. FHLB, LIBOR and Treasury) is based on its short end (e.g. 3 Month) historic relationship to Fed Funds during this time period. Individual Institution
            CD curve movements are also assumed to take on the historical LIBOR swap curve slope with the anchor point based on the movement of the short-end of its CD curve (e.g. 6
            Month CD) in the up 200BP parallel yield curve shift scenario. CD Specials and Brokered CDs are assumed to move to a level equal to the corresponding point on the FHLB curve
            plus a spread of 25 basis points. Non-maturity deposit pricing decisions are assumed to be based on shift in short term money rates (Fed Funds, Prime, Etc).
        </p>

        <p>
            Additional scenarios may be included to compliment the "core" analysis, depending upon the prevailing and/or prospective economic environment as well as the specific risk
            components embedded within the balance sheet. These additional "what-if" scenarios are provided to augment ALCO's understanding of the interest rate risk posture.
        </p>

        <p>
            Market rates (treasury rates, swap rates, fed funds, etc.) are as of <span data-bind="text: marketDate"></span><br />
            Loan rates are as of <span data-bind="text: loanDate"></span><br />
            Deposit rates are as of <span data-bind="text: depositDate"></span><br />
            A detailed summary of the changes can be found on the following page. <br />
        </p>
    </div>
    <div id="special_fn_container" style="font-size: 10px;">
        <ol id="fn_list"></ol>
    </div>
  
</section>
