﻿<style>
    option[disabled]{
        border-bottom: 1px solid #666666;
        color: #bbbbbb;
        text-decoration: underline;
    }

</style>
<section data-bind="with:balanceSheetCompare">
    <div class="row col-lg-12">
        <fieldset class="col-sm-3">
            <legend>View By</legend>
            <div class="col-md-12">
                <div class="form-group">
                    <select id="view_option_dropdown" class="form-control" data-bind="foreach: $root.viewOptions, value: viewOption">
                        <optgroup data-bind="attr: {label: label}, foreach: children">
                            <option data-bind="text: title, attr: {value: value, 'id': 'view_option_opt_' + value()}"></option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset class="col-sm-9">
            <legend>Other</legend>
            <div class="form-inline">
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input id="bal_type_eom_cb" type="radio" name="balanceType" value="0" data-bind="checked: balanceType" /> EOM
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input id="bal_type_avg_cb" type="radio" name="balanceType" value="1" data-bind="checked: balanceType" />AVG
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input id="ovrd_taxequiv_yield_cb" type="checkbox" data-bind="checked: overrideTaxEquiv" /> Override Tax Equivalent
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input id="taxequiv_yield_cb" type="checkbox" data-bind="checked: taxEqivalentYields, enable: overrideTaxEquiv" /> Tax Equivalent Yields
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input id="balances_cb" type="checkbox" data-bind="checked: balances" /> Balances
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input id="rates_cb" type="checkbox" data-bind="checked: rates" /> Rates
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="row col-lg-12">
        <fieldset class="col-sm-6">
            <legend>Left</legend>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Institution</label>
                    <select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: leftInstitutionDatabaseName"></select>
                </div>

                <div class="form-group">
                    <label>Date offset</label>
                    <select class="form-control" data-bind="options: $root.leftAsOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: leftAsOfDateOffset"></select>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: leftOverrideSimulationId" /> Override Simulation
                    </label>
                </div>
                <div class="form-group">
                    <label>Simulation</label>
                    <select class="form-control" data-bind="options: $root.leftSimulationTypes, optionsText: 'name', optionsValue: 'id', value: leftSimulationTypeId, enable: leftOverrideSimulationId"></select>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: leftOverrideScenarioId" /> Override Scenario
                    </label>
                </div>

                <div class="form-group">
                    <label>Scenario</label>
                    <select class="form-control" data-bind="options: $root.leftScenarioTypes, optionsText: 'name', optionsValue: 'id', value: leftScenarioTypeId, enable: leftOverrideScenarioId"></select>
                </div>

                <div class="form-group">
                    <label>Start Date</label>
                    <input type="text" class="form-control" data-bind="datepicker: leftStartDate, datepickerOptions: {startView: 1, autoclose: true, minViewMode: 1, format: 'mm/yyyy', autoclose: true}">
                </div>

                <div class="form-group">
                    <label>End Date</label>
                    <input type="text" class="form-control" data-bind="datepicker: leftEndDate, datepickerOptions: {startView: 1, autoclose: true, minViewMode: 1, format: 'mm/yyyy', autoclose: true}">
                </div>
            </div>
        </fieldset>
        <fieldset class="col-sm-6">
            <legend>Right</legend>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Institution</label>
                    <select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: rightInstitutionDatabaseName"></select>
                </div>

                <div class="form-group">
                    <label>Date offset</label>
                    <select class="form-control" data-bind="options: $root.rightAsOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: rightAsOfDateOffset"></select>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: rightOverrideSimulationId" /> Override Simulation
                    </label>
                </div>

                <div class="form-group">
                    <label>Simulation</label>
                    <select class="form-control" data-bind="options: $root.rightSimulationTypes, optionsText: 'name', optionsValue: 'id', value: rightSimulationTypeId, enable: rightOverrideSimulationId"></select>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: rightOverrideScenarioId" /> Override Scenario
                    </label>
                </div>

                <div class="form-group">
                    <label>Scenario</label>
                    <select class="form-control" data-bind="options: $root.rightScenarioTypes, optionsText: 'name', optionsValue: 'id', value: rightScenarioTypeId, enable: rightOverrideScenarioId, enable: rightOverrideScenarioId"></select>
                </div>

                <div class="form-group">
                    <label>Start Date</label>
                    <input type="text" class="form-control" data-bind="datepicker: rightStartDate, datepickerOptions: {startView: 1, autoclose: true, minViewMode: 1, format: 'mm/yyyy', autoclose: true}">
                </div>

                <div class="form-group">
                    <label>End Date</label>
                    <input type="text" class="form-control" data-bind="datepicker: rightEndDate, datepickerOptions: {startView: 1, autoclose: true, minViewMode: 1, format: 'mm/yyyy', autoclose: true}">
                </div>
            </div>
        </fieldset>
    </div>
</section>
