﻿<style>
    
    .nonMasterRow td:first-child {
        padding-left: 25px;
    }

    .assetHeight {
        height: 300px !important;
        vertical-align:top;
    }

    table tbody tr td.childCell {
        padding-left: 14px;
        text-align: right !important;
    }

    .parent-row tr td {
        padding: 20px 20px 20px 20px !important;
    }

    .color-key {
        width: 180px;
        min-height: 13px;
        display: inline-block;
        padding-right: 3px;
        position: relative;
        font-weight: bold;
        font-family: 'Open Sans';
        text-align: right;
        text-transform:uppercase;
        border-radius: 2px;
        top: 2px;
    }

    .dcg-table tr th:first-child {
        width: 150px !important;
    }

    .dcg-table tr:not(.totalRow) th:last-child, .dcg-table tr:not(.totalRow) td:last-child {
        border-right: 2px solid #fff;
    }

    .dcg-table thead tr th {
        border-bottom: 0px !important;
    }

    .dcg-table tr td:last-child  {
        font-weight: bold;
    }

    .dcg-table tr, {
        padding: 50px 0px 10px 0px !important;
    }
       
    rect.highcharts-background, .col-sm-3 {
        vertical-align: top !important;
        height: 300px !important;
    }

    .totalRow{
        font-weight: bold;
    }
    .totalRow .borderLeft{
        border-left: 2px solid #000;
    }

    .totalRow .borderRight {
        border-right: 2px solid #000;
    }

        .totalRow .borderBottom {
            border-bottom: 2px solid #000;
       }

        .totalRow .borderTop {
            border-top: 2px solid #000;
        }

    .borderRadiusLeft {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .borderRadiusRight {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .spacerCell{
        height: 4px;
    }


</style>

<section id="balancesheetmix-view">
    <h4 class="atlasHeader grey">Asset Mix Comparison</h4>
    <div class="row">
        
    </div>
    <div class="row assetHeight">
        <div class="col-sm-3 assetHeight" id="assetCurrentPieChart"></div>
        <div class="col-sm-3 assetHeight" id="assetPriorPieChart"></div>
        <div class="col-sm-6 assetHeight">
           <table class="dcg-table" style="table-layout: fixed;" id="assetTable">
                <thead>
                    <tr>
                        <th colspan="1"></th>
                        <th class="tbl-header-cell asOfDateHeader"></th>
                        <th class="tbl-header-cell priorDateHeader"></th>
                        <th class="tbl-header-cell">% Change</th>
                        <th class="tbl-header-cell">$ Change</th>
                        <th class="tbl-header-cell">Growth Rate</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h4 class="atlasHeader grey">Liability Mix Comparison</h4>
    </div>
    <div class="row">
        <div class="col-sm-3" id="liabilityCurrentPieChart"></div>
        <div class="col-sm-3" id="liabilityPriorPieChart"></div>
        <div class="col-sm-6">
            <table style="table-layout: fixed;" id="liabilityTable" width="100%" class="dcg-table">
                <thead>
                    <tr>
                        <th colspan="1"></th>
                        <th class="tbl-header-cell asOfDateHeader"></th>
                        <th class="tbl-header-cell priorDateHeader"></th>
                        <th class="tbl-header-cell">% Change</th>
                        <th class="tbl-header-cell">$ Change</th>
                        <th class="tbl-header-cell">Growth Rate</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table><!--</td></tr></table>-->
        </div>
    </div>
</section>
