﻿<fieldset class="col-sm-12" data-bind="with:balanceSheetMix">
    <div class="form-group col-md-12 ">
        <label>Institution</label>
        <select id="inst_dropdown" class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
    </div>
    




    <div class="form-group col-md-12 ">
        <label>Date offset</label>
        <select id="dateoffset_dropdown" class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
    </div>

    <div class="checkbox">
        <label>
            <input id="override_simulation_cb" type="checkbox" data-bind="checked: overrideSimulationId" /> Override Simulation
        </label>
    </div>
    <div class="form-group col-md-12 ">
        <label>Simulation</label>
        <select id="simulation_dropdown" class="form-control" data-bind="options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId, enable: overrideSimulationId"></select>
    </div>


    <div class="form-group col-md-12 ">
        <label>Prior Date offset</label>
        <select id="prior_dateoffset_dropdown" class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: priorAsOfDateOffset"></select>
    </div>

    <div class="checkbox">
        <label>
            <input id="override_prior_simulation_cb" type="checkbox" data-bind="checked: overridePriorSimulationId" /> Override Simulation
        </label>
    </div>

    <div class="form-group col-md-12 ">
        <label>Simulation</label>
        <select id="prior_simulation_dropdown" class="form-control" data-bind="options: $root.priorSimulationTypes, optionsText: 'name', optionsValue: 'id', value: priorSimulationTypeId, enable: overridePriorSimulationId"></select>
    </div>


    <div class="form-group col-md-12 ">
        <label>Liability Options</label>       
        <div><input id="liab_option_0" type="radio" name="liabilityOption" value="0" data-bind="checked: liabilityOption" />Brokered Reciprocal Deposits included in Brokered Deposits</div>
        <div><input id="liab_option_1" type="radio" name="liabilityOption" value="1" data-bind="checked: liabilityOption" />Brokered Reciprocal Deposits included in Time and/or MMDA Deposits</div>
        <div><input id="liab_option_2" type="radio" name="liabilityOption" value="2" data-bind="checked: liabilityOption" />Brokered Reciprocal Deposits included in separate grouping</div>

        <div><input type="checkbox" data-bind="checked: nationalCD" />National CDs in separate grouping</div>
    </div>
</fieldset>
