﻿<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');

    table {
        border-collapse: separate;
        font-family: "Open Sans";
        font-size: 10px;
    }

    .left-date-header {
        background-color: #73AFAD;
        text-transform: uppercase;
        color: #FFFFFF;
        height: 35px;
        min-width: 160px !important;
    }

    .right-date-header {
        background-color: #40637a;
        text-transform: uppercase;
        color: #FFFFFF;
        height: 35px;
        min-width: 160px !important;
    }

    .variance-header {
        background-color: #D9D900;
        text-transform: uppercase;
        color: #000000;
        height: 35px;
        min-width: 160px !important;
    }

    .left-date-header,
    .right-date-header,
    .variance-header {
        text-align: right;
          }

    .balance-header {
        text-align: right;
        min-width: 120px;
    }

    .rate-header {
        text-align: right;
        max-width: 50px;
    }

    .report-std-table > tbody > tr > td:last-child {
        background-color: #FBFBE6 !important;
    }

    .report-std-table > tbody > tr > td:nth-child(8) {
        background-color: #FBFBE6 !important;
    }

    .report-std-table > tbody > tr > td:nth-last-child(5) {
        background-color: #ECF0F2 !important;
    }

    .report-std-table > tbody > tr > td:nth-last-child(4) {
        background-color: #ECF0F2 !important;
    }

    .report-std-table > tbody > tr > td:nth-last-child(7) {
        background-color: #F1F7F7 !important;
    }

    .report-std-table > tbody > tr > td:nth-last-child(8) {
        background-color: #F1F7F7 !important;
    }

    thead {
        display: table-header-group
    }

    tr {
        page-break-inside: avoid
    }

    .report-std-table > tbody > tr:nth-child(odd) > td,
    .report-std-table > tbody > tr:nth-child(odd) > th {
        background-color: transparent;    
    }

    td, tr{
        page-break-inside: avoid;
    }

</style>
<section id="balcompare-view">
    <table id="balTable" data-bind="with: balanceSheetCompareViewData" style="table-layout: fixed; overflow: hidden; padding-top:5px;" class="report-std-table report-std-table-md">
        <thead>
            <tr>
                <th valign="bottom" style="border: none;"><span ></span><!--<u>ASSET</u><span data-bind="text: moment(rightEndDate).format('MMM YY')">--></th>
                <!-- ko if: showBalances && showRates -->
                <th class="left-date-header top-border" colspan="2">
                    <!-- ko if:  moment(leftStartDate).format('MMM YY') ==  moment(leftEndDate).format('MMM YY') -->
                    <span data-bind="text: moment(leftStartDate).format('MMM YY')"></span>
                    <!-- /ko -->
                    <!-- ko if:  moment(leftStartDate).format('MMM YY') !=  moment(leftEndDate).format('MMM YY') -->
                    <span data-bind="text: moment(leftStartDate).format('MMM YY')"></span> -
                    <span data-bind="text: moment(leftEndDate).format('MMM YY')"></span>
                    <!-- /ko -->

                </th> <th style="min-width:100px;"></th>
                <th class="right-date-header top-border  " colspan="2">
                    <!-- ko if: moment(rightStartDate).format('MMM YY') == moment(rightEndDate).format('MMM YY') -->
                    <span data-bind="text: moment(rightStartDate).format('MMM YY')"></span>
                    <!-- /ko -->
                    <!-- ko if: moment(rightStartDate).format('MMM YY') != moment(rightEndDate).format('MMM YY') -->
                    <span data-bind="text: moment(rightStartDate).format('MMM YY')"></span> -
                    <span data-bind="text: moment(rightEndDate).format('MMM YY')"></span>
                    <!-- /ko -->
                </th><th style="min-width:100px;"></th>
                <th class="variance-header top-border   " colspan="2">VARIANCE</th>
                <!-- /ko -->
                <!-- ko ifnot: showBalances && showRates -->
                <th class="left-date-header top-border  " colspan="1">

                    <!-- ko if: moment(leftStartDate).format('MMM YY') == moment(leftEndDate).format('MMM YY') -->
                    <span data-bind="text: moment(leftStartDate).format('MMM YY')"></span>
                    <!-- /ko -->
                    <!-- ko if: moment(leftStartDate).format('MMM YY') != moment(leftEndDate).format('MMM YY') -->
                    <span data-bind="text: moment(leftStartDate).format('MMM YY')"></span> -
                    <span data-bind="text: moment(leftEndDate).format('MMM YY')"></span>
                    <!-- /ko -->
                </th> <th></th>
                <th class="right-date-header top-border  " colspan="1">
                    <!-- ko if: moment(rightStartDate).format('MMM YY') == moment(rightEndDate).format('MMM YY') -->
                    <span data-bind="text: moment(rightStartDate).format('MMM YY')"></span>
                    <!-- /ko -->
                    <!-- ko if: moment(rightStartDate).format('MMM YY') != moment(rightEndDate).format('MMM YY') -->
                    <span data-bind="text: moment(rightStartDate).format('MMM YY')"></span> -
                    <span data-bind="text: moment(rightEndDate).format('MMM YY')"></span>
                    <!-- /ko -->
                </th> <th></th>
                <th class="variance-header top-border   " colspan="1">VARIANCE</th>
                <!-- /ko -->
            </tr>
            <tr>    
                <th class="" style="border-top: none"></th>
                <!-- ko if: showBalances -->
                <th class="bold-text balance-header" style="background-color:#F1F7F7"><u>Balance</u></th>
                <!-- /ko -->
                <!-- ko if: showRates -->
                <th class="bold-text rate-header" style="background-color:#F1F7F7"><u>Rate</u></th> <th></th>
                <!-- /ko -->
                <!-- ko if: showBalances -->
                <th class="bold-text balance-header" style="background-color:#ECF0F2"><u>Balance</u></th>
                <!-- /ko -->
                <!-- ko if: showRates -->
                <th class="bold-text rate-header" style="background-color:#ECF0F2"><u>Rate</u></th><th></th>
                <!-- /ko -->
                <!-- ko if: showBalances -->
                <th class="bold-text balance-header" style="background-color:#FBFBE6"><u>Balance</u></th>
                <!-- /ko -->
                <!-- ko if: showRates -->
                <th class="bold-text rate-header" style="background-color:#FBFBE6"><u>Rate</u></th>
                <!-- /ko -->
            </tr>
        </thead>
        <tbody data-bind="foreach: lineItems">
            <!-- ko if: $index() == 0 -->
            <tr>
                <td><u><strong>ASSETS</strong></u>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- /ko -->

            <!-- ko if: $index() > 0 && !$data.isAsset && $root.balanceSheetCompareViewData().lineItems[$index() - 1].isAsset -->
             <tr class="page-break">
                <td><u><strong>LIABILITIES</strong></u></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
            </tr>
            <!-- /ko -->
            <tr data-bind="css:{
                            'total-row-higher':  catType == 7,
                            'total-row-grand':  catType == 6,
                            'total-row-master':  catType == 5,
                            'total-row-sub':  catType == 4,
                            'total-row-int3':  catType == 3,
                            'total-row-int2':  catType == 2,
                            'total-row-int1':  catType == 1,
}">
                <td class="top-category-heading" data-bind="text: catName"></td>
                <!-- ko if: $parent.showBalances -->
                <td class="" style="text-align: right" data-bind="text: (leftBal != 0 && leftBal != undefined? numeral(leftBal).divide(1000).format('0,0') : '--')"></td>
                <!-- /ko -->
                <!-- ko if: $parent.showRates -->
                <td class="" style="text-align: right" data-bind="text: (leftRate != 0 && leftRate != undefined ? numeral(leftRate).format('0.00') : '--')"></td>
                <th></th>
                <!-- /ko -->
                <!-- ko if: $parent.showBalances -->
                <td class="" style="text-align: right" data-bind="text: (rightBal != 0 && rightBal != undefined ? numeral(rightBal).divide(1000).format('0,0') : '--')"></td>
                <!-- /ko -->
                <!-- ko if: $parent.showRates -->
                <td class="" style="text-align: right" data-bind="text: (rightRate != 0 && rightRate != undefined ? numeral(rightRate).format('0.00') : '--')"></td>
                <th></th>
                <!-- /ko -->
                <!-- ko if: $parent.showBalances -->
                <td class="" style="text-align: right" data-bind="text: (balDiff != 0 && balDiff != undefined ? numeral(balDiff).divide(1000).format('0,0') : '--')"></td>
                <!-- /ko -->
                <!-- ko if: $parent.showRates -->
                <td class="" style="text-align: right" data-bind="text: (rateDiff != 0 && rateDiff != undefined ? numeral(rateDiff).format('0.00') : '--')"></td>
                <!-- /ko -->
            </tr>

         <!-- ko if: catType === 2 || catType === 3 || catType === 4 || catType === 7 -->
            <tr class="spacer">
            <td class=""></td>
            <!-- ko if: $parent.showBalances -->
        <td class=""></td>
        <!-- /ko -->
        <!-- ko if: $parent.showRates -->
        <td class=""></td>

        <td class=""></td>
        <!-- /ko -->
        <!-- ko if: $parent.showBalances -->
        <td class=""></td>
        <!-- /ko -->
        <!-- ko if: $parent.showRates -->
        <td class=""></td>
        <td class=""> </td>
        <!-- /ko -->
        <!-- ko if: $parent.showBalances -->
        <td class=""></td>
        <!-- /ko -->
        <!-- ko if: $parent.showRates -->
        <td class=""></td>
        <!-- /ko -->
        </tr>
        <!-- /ko -->

        </tbody>
    </table>
</section>