﻿<div>
    <div class="form-group">
        <label>Institution</label>
        <select data-log-id="inst_dropdown" class="form-control" data-bind="options: institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
    </div>

    <div class="form-group">
        <label>Date offset</label>
        <select data-log-id="dateoffset_dropdown" class="form-control" data-bind="options: asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
    </div>
</div>

