﻿<style>
    .container {
        width: 1580px;
    }
</style>
<section>
    <nav>
        <div>
            <button class="btn btn-primary" data-bind="click: goBack">
                <i class=" fa fa-arrow-left"></i>
                Back
            </button>
            <button class="btn btn-primary"
                    data-bind="click: cancel, enable: canSave">
                <i class="fa fa-undo"></i>
                Cancel
            </button>
            <button class="btn btn-primary"
                    data-bind="click: save, enable: canSave">
                <i class="fa fa-save"></i>
                Save
            </button>
            <button class="btn btn-danger" data-bind="click: deleteType, disable: hasChanges">
                <i class="fa fa-trash-o"></i>
                Delete
            </button>
        </div>
    </nav>
    <br />
    <fieldset class="col-sm-12">
        <legend>Basic Surplus Secured Liabilities: <span data-bind="with: thisType"><span data-bind="with: securedLiabilitiesType"><span data-bind="text: name"></span></span></span> Config</legend>

        <div class="col-md-12">
            <div class="form-group">
                <label>Collateral</label>
                <table class="table">
                    <thead>
                        <tr class="middle-align">
                            <th>
                                <div class="dropdown">
                                    <button title="add type" class="dropdown-toggle  btn btn-success" data-toggle="dropdown"><i class="fa fa-plus"></i></button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" data-bind="foreach: availableTypes">
                                        <!-- ko ifnot: inUse -->
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-bind="text: name, click: $root.addType"></a></li>
                                        <!-- /ko -->
                                        <!-- ko if: inUse -->
                                        <li role="presentation"><a style="color: lightgrey" role="menuitem" tabindex="-1" data-bind="text: name, click: $root.dontAddType"></a></li>
                                        <!-- /ko -->
                                    </ul>
                                </div>
                            </th>
                            <th>Priority</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody class="sortable" data-bind="css: connectClass, sortable: { data: sortedTypes, afterMove: sortableAfterMove, connectClass: connectClass }">
                        <tr class="middle-align">
                            <td>
                                <!--<button title="edit" class="btn btn-primary" data-bind="click: $root.goToDetail, disable: $root.hasChanges"><i class="fa fa-edit"></i></button>-->
                                <button title="remove" data-bind="click: $root.removeType" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                            </td>
                            <td data-bind="text: priority"></td>
                            <td data-bind="with: collateralType"><span data-bind="text: name"></span></td>
                            <td><i class="fa fa-sort"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</section>