﻿<style>
    #footnotes {
        display: none;
    }
</style>

<section data-bind="with:basicSurplusReport">
    <div class="row col-lg-12">
        <fieldset class="col-sm-6">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Insititution</label>
                    <select id="inst_dropdown" class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
                </div>
            </div>
        </fieldset>
        <fieldset class="col-sm-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: includePolicies" id="includePolicies"/> Include Policy Limits
                </label>
            </div>
        </fieldset>


    </div>


    <div class="row col-lg-12">
        <fieldset class="col-sm-6">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Offset</label>
                    <select id="dateoffset_dropdown" class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="row col-lg-12">
        <fieldset class="col-sm-6">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Basic Surplus</label>
                    <select id="basicSurplusAdminId_dropdown" class="form-control inline-select " data-bind="options: $root.basicSurplusAdminOffsets()[0][$root.asOfDateOffsets()[asOfDateOffset()]['asOfDateDescript']], value: basicSurplusAdminId,  optionsText: 'name', optionsValue:  'id', enable: overrideBasicSurplus"></select>
                </div>
            </div>
        </fieldset>


        <fieldset class="col-sm-3">
            <input data-bind="checked: overrideBasicSurplus" type="checkbox"  id="overrideBasicSurplus" />
            <label>Override</label>
        </fieldset>
    </div>

</section>
