﻿<style>
    #tier1Body .tierBorder.borderLeft {
        border-left: 1px solid rgb(115,175,173);
    }

    #tier1Body .tierBorder.borderRight {
        border-right: 1px solid rgb(115,175,173);
    }

    #tier1Body .tierBorder.borderTop {
        border-top: 1px solid rgb(115,175,173);
    }

    #tier1Body .tierBorder.borderBottom {
        border-bottom: 1px solid rgb(115,175,173);
    }

    #tier2Body .tierBorder.borderLeft {
        border-left: 1px solid rgb( 64, 99,122);
    }

    #tier2Body .tierBorder.borderRight {
        border-right: 1px solid rgb( 64, 99,122);
    }

    #tier2Body .tierBorder.borderTop {
        border-top: 1px solid rgb( 64, 99,122);
    }

    #tier2Body .tierBorder.borderBottom {
        border-bottom: 1px solid rgb( 64, 99,122);
    }

    #tier3Body .tierBorder.borderLeft {
        border-left: 1px solid rgb(217,217, 0);
    }

    #tier3Body .tierBorder.borderRight {
        border-right: 1px solid rgb(217,217, 0);
    }

    #tier3Body .tierBorder.borderTop {
        border-top: 1px solid rgb(217,217, 0);
    }

    #tier3Body .tierBorder.borderBottom {
        border-bottom: 1px solid rgb(217,217, 0);
    }

    #tier2Body {
        /*border: 1px solid rgb( 64, 99,122);*/
    }

    #tier3Body {
        /*border: 1px solid rgb(217,217, 0);*/
    }

    .tierHeader{
        text-align: left;
        padding-left: 10px;
        text-transform: uppercase;
        font-weight: bold;
    } 
    .spacerRow {
        height: 8px;
    }
    
    .percWidthEmpyCell{
        width: 15%;
    }

    table{
        font-size:10px;
        text-align: right;
        width:100%;
    }

    td.labelsRightLeftTable {
        text-align: right;
    }

    td.collatHeadLabel {
        width: 90px;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 1px solid rgb(235,235,235);
    }

    .boldCell{
        font-weight:bold;
    }

    td.emptySpacingCell {
        width: 10px;
    }

    td.borderGreyTop {
        border-top: 1px solid rgb(235,235,235);
    }

    .footerTierRow{
        font-size: 12px;
        font-weight: bold;
    }

    .extraPadLeft{
        padding-left: 20px;
    }

    .gradientNoise {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+44,e5e5e5+45,ffffff+100 */
        background: rgb(239,239,239);
        background: linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(239,239,239,1) 55%, rgba(255,255,255,1) 100%);
    }

    .italicCell{
        font-style:italic;
    }

    #otherLiqHeader {
        background-color: rgb(139,101, 91);
        color: #fff;
        text-align: left;
        border-left: 5px solid rgb(139,101, 91);
    }

    .rightSubTableHeader {
        background-color: rgb(235,235,235);
        text-align: left;
        font-weight: bold;
    }

    #rightTableBody .borderLeft.borderThick {
        border-left: 5px solid rgb(235,235,235);
    }

    #rightTableBody .borderBottom.borderGrey {
        border-bottom: 1px solid rgb(235,235,235);
    }

    #rightTableBody .borderTop.borderGrey {
        border-top: 1px solid rgb(235,235,235);
    }

    #rightTableBody .borderRight.borderGrey {
        border-right: 1px solid rgb(235,235,235);
    }

    .mktValueHeadRow td {
        text-transform: uppercase;
        font-weight: bold;
        vertical-align: bottom;
    }

    #rightTable .borderRight.borderBrown {
        border-right: 1px solid rgb(139,101, 91);
    }

    tbody#rightTableBody tr td {
        vertical-align: bottom;
    }


</style>


<section>
    <div class="row">
        <div class="col-sm-8">
            <table class="LeftTable">
                <tbody class="spacerBody"><tr><td colspan="6" class="spacerRow"></td></tr></tbody>
                <tbody id="tier1Body">
                   
                </tbody>
                <tbody class="spacerBody"><tr><td colspan="6" class="spacerRow"></td></tr></tbody>
                <tbody id="tier2Body">
   
                </tbody>
                <tbody class="spacerBody"><tr><td colspan="6" class="spacerRow"></td></tr></tbody>
                <tbody id="tier3Body">

                </tbody>
            </table>
        </div>

        <div class="col-sm-4" style="padding: 0px;" id="rightTablesHolder">
            <!-- This is multiple tables becuase shit-->
            <table id="rightTable">
                <tbody id="rightTableBody">

                </tbody>



            </table>
        </div>
    </div>
</section>
