﻿<style>
    .container {
        width: 1580px;
    }
</style>
<section>
    <nav>
        <div>
            <button class="btn btn-primary" data-bind="click: goBack" id="goBack_btn">
                <i class=" fa fa-arrow-left" id="goBack_icon"></i>
                Back
            </button>
            <button class="btn btn-primary"
                    data-bind="click: cancel, enable: canSave" id="cancel_btn">
                <i class="fa fa-undo" id="cancel_icon"></i>
                Cancel
            </button>
            <button class="btn btn-primary"
                    data-bind="click: save, enable: canSave" id="save_btn">
                <i class="fa fa-save" id="save_icon"></i>
                Save
            </button>
        </div>
    </nav>
    <br />
    <fieldset class="col-sm-12">
        <legend>Basic Surplus</legend>

        <div class="form-group col-sm-12">
            <label>Basic Surpluses</label>
            <table class="table">
                <thead>
                    <tr class="middle-align">
                        <th><button title="Add Basic Surplus" class="btn btn-success" data-bind="click: addType"><i class="fa fa-plus"></i></button></th>
                        <th>Name</th>
                        <th>Priority</th>
                        <!--<th>Date Modified</th>-->
                        <!--<th>Modified By</th>-->
                        <th></th>
                    </tr>
                </thead>

                <tbody class="sortable" data-bind="css: connectClass, sortable: { data: sortedTypes, afterMove: sortableAfterMove, connectClass: connectClass }">
                    <tr class="middle-align">
                        <td>
                            <button title="Basic Surplus" class="btn btn-primary" data-bind="click: $root.goToAdmin, disable: $root.hasChanges, attr:{'id': 'goToAdmin_btn_'+ id()}">
                                <i class="fa fa-edit" data-bind="attr:{'id': 'goToAdmin_icon_'+ id()}"></i>
                            </button>
                            <button title="Copy" class="btn btn-primary" data-bind="click: $root.copyType, disable: $root.hasChanges, attr:{'id': 'copyType_btn_'+ id()}">
                                <i class="fa fa-copy" data-bind="attr:{'id': 'copyType_icon_'+ id()}"></i>
                            </button>
                        </td>
                        <td data-bind="text: name"></td>
                        <td data-bind="text: priority"></td>
                        <!--<td>Never</td>-->
                        <!--<td>Nobody</td>-->
                        <td><i class="fa fa-sort"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</section>