﻿<section data-bind="with:capitalAnalysis">
    <fieldset class="col-sm-12">
        <div class="col-md-12">
            <div class="form-group">
                <label>Institution</label>
                <select id="inst_dropdpown" class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
            </div>
        </div>
    </fieldset>

    <fieldset class="col-sm-12">
        <legend>Historical Capital Graphs</legend>
        <div class="row">

            <div class="form-group col-sm-4">
                <label>Date Offsets(Default is 5)</label>
                <table class="table">
                    <thead>
                        <tr class="middle-align">
                            <th colspan="3">
                                <span class="dropdown dropup">
                                    <button title="Add Historical Date Offset" class="btn btn-success" id="addHistoricalDateOffsetButton" data-bind="click: $root.addHistoricalDateOffSet">
                                        <i class="fa fa-plus" id="addHistoricalDateOffsetIcon"></i>
                                    </button>
                                    
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="sortable" data-bind="sortable: { data: $root.sortedHistoricalOffSets, afterMove: $root.sortableAfterMove }">
                        <tr class="middle-align">
                            <td>
                                <button title="remove" data-bind="click: $root.removeHistoricalDateOffSet, attr:{'id': 'remove_histDateOffset_btn_' + id()}" class="btn btn-danger">
                                    <i class="fa fa-trash-o" data-bind="attr:{'id': 'remove_histDateOffset_icon_' + id()}"></i>
                                </button>
                            </td>
                            <td>
                                <select class="form-control input-sm" data-bind="options: $root.asOfDateOffsets,
                                    optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript },
                                    optionsValue: 'index', value: offSet, attr:{'id': 'cur_offset_' + $index()}, attr:{'id': 'dateoffset_dropdown_' + id()}"></select>
                            </td>
                            <td><i class="fa fa-sort"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-8 form-inline">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: includePolicyLimitsOffSets" id="includePolicyLimitsOffSets_cb" /> <b>Include Policy Limits</b>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: includeWellCapLimitsOffSets" id="includeWellCapLimitsOffSets_cb" /> <b>Include Well Capitilized Limits</b>
                    </label>
                </div>
                
            </div>

        </div>

        <div class="form-group col-sm-6">
         
            <div class="row">
                <h3>Top Left</h3>
                <div class="form-group col-sm-12">
                    <label>Ratio</label>
                    <select class="form-control" data-bind="options: $root.ratioTypes, optionsText: 'name', optionsValue:  'name', value: topLeftRatio"></select>
                </div>
            </div>
            <div class="row">
                <h3>Bottom Left</h3>
                <div class="form-group col-sm-12">
                    <label>Ratio</label>
                    <select class="form-control" data-bind="options: $root.ratioTypes, optionsText: 'name', optionsValue:  'name', value: bottomLeftRatio"></select>
                </div>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <h3>Top Right</h3>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label>Ratio</label>
                    <select class="form-control" data-bind="options: $root.ratioTypes, optionsText: 'name', optionsValue:  'name', value: topRightRatio"></select>
                </div>
            </div>
            <div class="row">
                <h3>Bottom Right</h3>
                <div class="form-group col-sm-12">
                    <label>Ratio</label>
                    <select class="form-control" data-bind="options: $root.ratioTypes, optionsText: 'name', optionsValue:  'name',  value: bottomRightRatio"></select>
                </div>
            </div>
        </div>
    </fieldset>


    <fieldset class="col-sm-12">
        <legend>Current Capital Summary</legend>
        <div class="form-group">
            <label>Date offset</label>
            <select class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: currentCapitalDateOffset"></select>
        </div>
        <div class="form-inline">
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: includePolicyLimits" /> <b>Include Policy Limits</b>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: includeWellCapLimits" /> <b>Include Well Capitilized Limits</b>
                </label>
            </div>
        </div>
        
        
    </fieldset>

</section>
