﻿<style>
    h2.atlasHeader {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: center !important;
    }

    .capital-analysis-view {
        padding-top: 3px;
    }

    .highcharts-background {
        max-height:250px !important;
    }

    
    .dcg-table tbody tr:nth-child(3) > td {
        border-top: 1px solid #e9e9e9;
        padding-top: 10px;
    }

    .dcg-table {
        font-size: 12px !important;
    }

 
   #topChart, #bottomChart, #topRightChart, #topLeftChart, #bottomLeftChart, #bottomRightChart {
        height: 250px !important;
    }

    #centerThetable {
        margin-left: auto;
        margin-right: auto;
        width: 950px;
    }

    .offset {
        background-image: url('../Content/images/e9e9e9-capital-summary-offset.png');
        background-repeat: repeat-y;
        background-position-x: 7px;
    }
</style>

<section class="capital-analysis-view">
    <div id="chart_holder"></div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="atlasHeader grey" style="text-align:left !important;" data-bind="text: moment($root.cap().curCapAod).format('MM/DD/YYYY') + ' Capital Summary'"></h2>
            <div id="centerThetable">
                <table class="dcg-table" id="polTable" style="padding-left:10px; padding-right:10px; padding-top:0px; padding-bottom:0px; font-size:14px; margin-left: auto !important; margin-right: auto !important; max-width:90% !important;">
                    <thead>
                        <tr valign="bottom">
                            <th colspan="3"></th>
                            <th style="border-bottom: 3px solid #E9E9E9;" rowspan="2" data-bind="visible: $root.cap().tableIncPol">POLICY<br />LIMITS</th>
                            <th style="text-align:center; padding-left:10px; background-image: url('../Content/images/cushion-e9e9e9.png'); background-size: 110px; background-repeat:no-repeat; background-position-x: 25px; background-position-y: bottom;" colspan="2" data-bind="visible: $root.cap().tableIncPol">CUSHION</th>

                            <th width="10%" style="border-bottom: 3px solid #E9E9E9; padding-left:15px !important;" rowspan="2" data-bind="visible: $root.cap().tableIncWell">WELL<br />CAPITALIZED<br />LIMITS</th>
                            <th style="text-align:center; padding-left:10px; background-image: url('../Content/images/cushion-e9e9e9.png'); background-size: 110px; background-repeat:no-repeat; background-position-x: 25px; background-position-y: bottom;" colspan="2" data-bind="visible: $root.cap().tableIncWell">CUSHION</th>
                        </tr>
                        <tr>
                            <th style="width:250px !important;"><span style="text-align: right"></span></th>
                            <th>RATIO</th>
                            <th>AMOUNT</th>
                            <th data-bind="visible: $root.cap().tableIncPol">CAPITAL</th>

                            <th data-bind="visible: $root.cap().tableIncPol">ASSETS</th>
                            <th data-bind="visible: $root.cap().tableIncWell">CAPITAL</th>
                            <th data-bind="visible: $root.cap().tableIncWell">ASSETS</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

</section>
