﻿<style>


    /*
        If you djust this you must adjust line 688 or around that in the view.js
    */

    #oneBigTable {
        width: 100%;
    }

    #oneBigTable tbody td{
        height: 27px;
            }

    /* Vert sutff copied from stack overflow spent quite a while searching for it key was nowrap*/
    .vertCell {
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        width: 30px;
        border-radius: 5px;
    }

        .vertCell div {
            -moz-transform: rotate(-90.0deg); /* FF3.5+ */
            -o-transform: rotate(-90.0deg); /* Opera 10.5 */
            -webkit-transform: rotate(-90.0deg); /* Saf3.1+, Chrome */
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083); /* IE6,IE7 */
            -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
            margin-left: -10em;
            margin-right: -10em;
            text-align: center;
            color: #fff;
            font-size: 11px;
            /* background-attachment: fixed;
            background-image: url('../Content/images/down-scenario.png');
            background-repeat: no-repeat;
            background-position: top center !important; */
        }


    .bigChartCell {
        width: 300px;
        background-color: green;
        padding-left:20px !important;
    }

    .assetLabel {
        width: 150px;
        text-transform: uppercase;
        font-weight: bold !important;
    }

    .colorBlock {
        width: 15px;
        display: inline-block;
        height: 15px;
        margin-left: 4px;
    }

    .empty {
        border-bottom: 1px solid #ffffff !important;
        margin-left: 50px;
    }

    .borderRight {
        border-right: solid 3px #E9E9E9;
        padding-right:20px !important;
    }

    .spacerRow{
        height: 20px;
    }

    .totRow{
        font-weight: bold !important;
    }

    .borderTopRow td {
        border-top: solid 3px #E9E9E9 !important;
    }

    .spacerCell{
        width: 15px;
    }

    .no-margin{
        margin:0px !important;
        /* contextual override, smaller font needed where this is used in the Cash Flow report */
        font-size:10px !important;
    }


</style>

<section id="cashflow-view">
    <div class="row">
        <div class="col-md-12">
            <table id="oneBigTable" class="dcg-table">


            </table>
        </div>
    </div>

</section>
