﻿<section data-bind="with:cashflow">
    <fieldset class="col-sm-4" style="display: none;">
        <legend>Report Selection</legend>
        <select class="form-control" data-bind="options: $root.reportSelections, optionsText: 'name', optionsValue: 'id', value: reportType" id="reportSelection"></select>
    </fieldset>


    <fieldset class="col-sm-4">
        <legend>Defined Grouping</legend>
        <select class="form-control" data-bind="options: $root.definedGroupings, optionsText: 'name', optionsValue: 'intId', value: definedGrouping" id="definedGroup"></select>
    </fieldset>    
    
    <fieldset class="col-sm-4">
        <legend>Prepayments</legend>
        <div class="col-sm-12"><input type="checkbox" data-bind="checked: excludePrepayments" id="excludePrepayments" />Exclude Prepayments</div>
    </fieldset>  

        <fieldset class="col-sm-12">
            <legend>Simulations/Scenario/Offsets</legend>
            <div class="form-group col-sm-12">
                <table class="table">
                    <thead>
                        <tr class="middle-align">
                            <th>
                                <button id="addSimulationscenario_btn" title="Add Cashflow" class="btn btn-success" data-bind="click: $root.addSimulationscenario, disable: $root.sortedSimulations().length >= 3" href="#">
                                    <i class="fa fa-plus" id="addSimulationscenario_icon"></i>
                                </button>
                            </th>
                            <th>Institution</th>
                            <th>Date Offset</th>
                            <th>Simulation</th>
                            <th>Override</th>
                            <th>Scenario</th>
                            <th>Compare</th>
                            <th></th>
                        </tr>
                    </thead>

                        <tbody class="sortable" data-bind="sortable: { data: $root.sortedSimulations, afterMove: $root.sortableAfterMove}" >

                        <!-- HAck so that it does not change the offset while its loading them -->
                        <!-- ko if: asOfDateOffsets().length > 0 &&  simulationTypes != undefined && simulationTypes().length > 0 -->
                        <tr class="middle-align">
                            <td>
                                <button title="remove" data-bind="click: $root.removeCashflowSimulationScenario, attr:{'id': 'remove_simScen_btn_' + id()}" class="btn btn-danger">
                                    <i class="fa fa-trash-o" data-bind="attr:{'id': 'remove_simScen_icon_' + id()}"></i>
                                </button>
                            </td>
                            <td>
                                <select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName, attr:{'id': 'inst_dropdown_' + id()}"></select>
                            </td>
                            <td>
                                <select class="form-control" data-bind="options: asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset, attr:{'id': 'dateoffset_dropdown_' + id()}"></select>
                            </td>
                            <!-- ko if: simulationTypes != undefined && simulationTypes().length > 0 -->
                            <td>
                                <select class="form-control" data-bind="options: simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId, enable: overrideSimulationId, attr:{'id': 'simulation_dropdown_' + id()}"></select>
                            </td>
                            <!-- /ko -->
                            <td><input type="checkbox" data-bind="checked: overrideSimulationId, attr:{'id': 'override_sim_cb_' + id()}" /></td>
                            <!-- ko if: scenarioTypes != undefined && scenarioTypes().length > 0 -->
                            <td><select class="form-control" data-bind="options: scenarioTypes, optionsText: 'name', optionsValue: 'id', value: scenarioTypeId, attr:{'id': 'scen_dropdown_' + id()}"></select></td>
                            <!-- /ko -->
                            <td>
                                <input type="radio" name="viewOption" data-bind="checked: $root.cashflow().compare, value: priority, attr:{'id': 'viewOption_radio_' + id()}" />
                            </td>
                            <td><i class="fa fa-sort"></i></td>
                        </tr>
                    <!-- /ko -->

                 
                    </tbody>
                </table>
            </div>
        </fieldset>


</section>
