﻿<div data-bind="with: chart">
    <!-- ko if: $root.showInst -->
    <div class="form-group">
        <label>Institution</label>
        <select class="form-control instSelect" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
    </div>
    <!-- /ko -->
    <div class="row">
        <!--ko if: $root.canAddSim-->
        <div class="col-sm-2">
            <button type="button" title="add simulation" class="btn btn-success " data-bind="click: $root.addChartSimulationType" href="#"><i class="fa fa-plus"></i></button>
        </div>
        <!-- /ko -->
        <div class="col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: overrideParentSimulationType" />
                    <!--ko ifnot: $root.canAddSim-->
                    Override Simulation
                    <!-- /ko -->
                    <!--ko if: $root.canAddSim-->
                    Override Parent Simulation
                    <!-- /ko -->
                </label>

            </div>
        </div>
    </div>
    <table class="table-super-condensed simulation-table">
        <!--ko if: $root.canAddSim-->
        <thead>
            <tr>
                <th style="width: 8%;"></th>
                <th style="width: 26%">Date Offset</th>
                <th style="width: 66%">Simulation Type</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: $root.sortedSimulationTypes">
            <tr data-bind="css: {'parent-row' : priority() == 0}">
                <td data-bind="if: priority() > 0">
                    <button type="button" class="btn btn-sm btn-danger" data-bind="click: $root.removeChartSimType"><span class="fa fa-trash-o"></span></button>
                </td>
                <td>
                    <select class="form-control input-sm" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
                </td>
                <td>
                    <!-- ko if: simulationTypes().length > 0 -->
                    <select class="form-control input-sm" data-bind="options: simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId, enable: $root.enableSimulationDropdown($data)"></select>
                    <!-- /ko -->
                </td>
            </tr>
        </tbody>
        <!-- /ko -->
        <!--ko ifnot: $root.canAddSim-->
        <thead>
            <tr>
                <th style="width: 29%">Date Offset</th>
                <th style="width: 71%">Simulation Type</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: $root.sortedSimulationTypes">
            <tr data-bind="css: {'parent-row' : priority() == 0}">
                <td>
                    <select class="form-control input-sm" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
                </td>
                <td>
                    <!-- ko if: simulationTypes().length > 0 -->
                    <select class="form-control input-sm" data-bind="options: simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId, enable: $root.enableSimulationDropdown($data)"></select>
                    <!-- /ko -->
                </td>
            </tr>
        </tbody>
        <!-- /ko -->
    </table>
    <!--<div class="form-group">
        <label>Simulation</label>
        <select class="form-control simulationSelect" data-bind="options: simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId, enable: overrideSimulationTypeId"></select>
    </div>-->
</div>
