﻿<div data-bind="with: chart">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control oneChartName" placeholder="Income Graph" data-bind="value: name,valueUpdate: 'afterkeydown', enable: nameOverride">
            </div>
            <div class="checkbox" style="margin-top: 20px">
                <label>
                    <input class="overrideName" type="checkbox" data-bind="checked: nameOverride" />
                    Override Name
                </label>
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12" data-bind="if: !$root.hideQuarterly()">
            <label>Graph Type</label>
            <br />
            <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn  btn-default radioMonthly" data-toggle="button" data-bind="click: function () { isQuarterly(false) }, css: { active: !isQuarterly() }, attr: {'id': 'radMonth_' + id()}">Monthly</button>
                <button type="button" class="btn  btn-default radioQuarterly" data-toggle="button" data-bind="click: function () { isQuarterly(true) }, css: { active: isQuarterly() }, attr: {'id': 'radQuart_' + id()}">Quarterly</button>
            </div>
            <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn  btn-default radioMonthly" data-toggle="button" data-bind="click: function () { $root.niiOption('nii') }, css: { active: $root.niiOption() == 'nii' }, attr:{'id': 'radNii_' + id()}">Net Interest Income</button>
                <button type="button" class="btn  btn-default radioQuarterly" data-toggle="button" data-bind="click: function () { $root.niiOption('ni') }, css: { active: $root.niiOption() == 'ni' }, attr: {'id': 'radNi_' + id()}">Net Income</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 simSelectWrapper" data-bind="compose: $root.chartsimulationselectconfig"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- ko if: $root.showPercChange -->
            <div class="form-group">
                <label>% Change</label>
                <select class="form-control percentChange" data-bind="value: percentChange, options: $root.availablePercChangeOptions, optionsText: 'label', optionsValue: 'value', attr:{'id': 'percChange_dropdown_' + id()}"></select>
            </div>
            <!-- /ko -->
            <!-- ko if: $root.showComparatives -->
            <div class="form-group">
                <label>Year 2 Comparatives</label>
                <select class="form-control year2Compartive" data-bind="value: percChangeComparator, enable: $root.enablePercChangeCompareSel, attr: {'id': 'percChangeComp_dropdown_' + id()}">
                    <option value="year2Year1">Yr 2 % Change from Yr 1 Comparative</option>
                    <option value="year2Year2">Yr 2 % Change from Yr 2 Comparative</option>
                    <option value="24Month">24M % Change from Comparative</option>
                </select>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <label>Scenarios</label>
            <table class="table scenarioTable">
                <thead>
                    <tr class="middle-align">
                        <th>
                            <div class="dropdown dropup">
                                <button title="add scenario" class="dropdown-toggle btn  btn-success addScenario" data-toggle="dropdown" data-bind="attr:{'id': 'addScen_btn_' + id()}"><i class="fa fa-plus" data-bind="attr:{'id': 'addScen_icon_' + id()}"></i></button>
                                <ul class="dropdown-menu scenarioList" role="menu" aria-labelledby="dLabel" data-bind="foreach: $root.availableScenarioTypes">
                                    <!-- ko ifnot: inUse -->
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-bind="text: name, click: $root.addScenarioType"></a></li>
                                    <!-- /ko -->
                                    <!-- ko if: inUse -->
                                    <li role="presentation"><a style="color: lightgrey" role="menuitem" tabindex="-1" data-bind="text: name, click: $root.dontAddScenarioType"></a></li>
                                    <!-- /ko -->
                                </ul>
                            </div>
                        </th>
                        <th>Priority</th>
                        <th>Type</th>
                        <!-- ko if: $root.showComparatives -->
                        <th>Comp</th>
                        <!-- /ko -->
                        <th></th>
                    </tr>
                </thead>
                <tbody class="sortable" data-bind="sortable: { data: $root.sortedChartScenarioTypes, afterMove: $root.sortableAfterMove } ">
                    <tr class="middle-align">
                        <td>
                            <button title="remove" data-bind="click: $root.removeSeries" class="btn  btn-danger"><i class="fa fa-trash-o "></i></button>
                        </td>
                        <td data-bind="text: priority"></td>
                        <td data-bind="with: scenarioType"> <span data-bind="text: name"></span></td>
                        <!-- ko if: $root.showComparatives -->
                        <td ><input type="radio" data-bind="value: scenarioTypeId().toString(), checked: $root.chart().comparativeScenario, attr:{'name': 'compareOption_' + $root.chart().id()}"/></td>
                        <!-- /ko -->
                        <td><i class="fa fa-sort"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
