﻿<style>
    .scenario-spacer-cell {
        width: 60px;
    }


    .table > tbody > tr > td.left-indent {
        padding-left: 30px;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 4px 8px;
        font-size: 10px;
    }

    #chart_container {
        /*width: 50%;*/
        height: 450px;
        box-sizing: border-box;
    }

    .bold-text {
        font-weight: bold;
    }

    #testTable td.tot-assets {
        font-size: 12px;
        text-align: center;
    }
    #testTable > tbody>tr:first-child{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7cb5ec+0,ffffff+50 */
background: #7cb5ec; /* Old browsers */
background: -moz-linear-gradient(left,  #7cb5ec 0%, #ffffff 75%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #7cb5ec 0%,#ffffff 75%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #7cb5ec 0%,#ffffff 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cb5ec', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */


    }

        #testTable td.tot-assets:first-of-type {
            font-size: 12px;
            text-align: right;
        }

    #testTable {
        color: rgb(96,96,96);
        font-size: 10px;
        /*font-weight: bold;*/
        width: 100%;
        border-collapse: separate;
        table-layout: fixed;
    }

        #testTable td, #testTable th {
            padding-top: 1px;
            padding-right: 5px;
            padding-bottom: 1px;
            padding-left: 5px;
            text-align: right;
        }

            #testTable td:first-child {
                /*width: 150px;*/
                width: 150px;
                padding-right: 10px;
            }

            #testTable td.chart-holder-4 {
                /*width: 21.25%;*/
                /*width: 230px;*/
                padding: 1px 1px 1px 1px;
            }

            #testTable td.chart-holder-3 {
                /*width: 28%;*/
                padding: 1px 1px 1px 1px;
            }

            #testTable td.chart-holder-2 {
                /*width: 42.5%;*/
                padding: 1px 1px 1px 1px;
            }

            #testTable td.chart-holder-1 {
                /*width: 85%;*/
                padding: 1px 1px 1px 1px;
            }

    .vol-cell:first-child {
        color: blue;
    }

    .alt-header {
        /*vertical-align: bottom;
        border-bottom: 2px solid #ddddeb;*/
        text-transform: uppercase;
    }

    .left-indent, .alt-header, .tot-assets, .bold-text{
        text-transform: uppercase;
    }
    .bot-tbl-head{
        border-bottom: 2px solid #ddddeb;
    }

    #testTable .exc-cell {
        padding-right: 10px;
    }

    #testTable .bottom-scenario-header {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
        font-size: 12px;
        color: #ffffff;
        /*border: 2px solid #ffffff;*/
    }

    .bottom-scenario-header-txt {
        display: inline-block;
        width: 80%;
        background-color: rgb(124,181,236);
        border-radius: 6px;
    }

    #testTable .risk-assess > span {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        border: 2px solid rgb(96,96,96);
    }

    .left-chart-label{
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        width: 120px;
        padding-left: 40px;
        color: #000000;
    }
        .left-chart-label > div {
            height: 250px;
            font-size: 30px;
            -moz-transform: rotate(-90.0deg);
            -o-transform: rotate(-90.0deg);
            -webkit-transform: rotate(-90.0deg);
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);
            -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
            margin-left: 1em;
            margin-right: -4em;
            color: #000000;
            margin-top: 20px;
        }

    #testTable td.spacer-cell {
        width: 10px;
        padding: 0;
    }

    .other-dep{
        text-decoration:underline;
    }

    span.bigfont{
        font-size:12px;
    }

    .bot-tbl-head{
        font-size: 10px;
    }

    #testTable tr{
        line-height: 20px;
    }

    #testTable {
        margin-top: 35px;
    }
</style>
<section id="corefunding-view">
    <table id="testTable" class="dcg-table">
        <tbody id="test_table_body"></tbody>
    </table>
</section>
