﻿<section data-bind="with:coreFundingUtilization">
    <fieldset class="col-sm-12">
        <div class="col-md-12">
            <div class="form-group">
                <label>Institution</label>
                <select id="inst_dropdown" class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
            </div>
            <div class="form-group">
                <label>As Of Date Offset</label>
                <select id="dateoffset_dropdown" class="form-control" data-bind="options: $root.asOfDateOffsets,optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
            </div>
            <div class="checkbox">
                <label>
                    <input id="ovrd_sim_cb" type="checkbox" data-bind="checked: overrideSimulation" /> Override Simulation
                </label>
            </div>
            <div class="form-group">
                <label>Simulation</label>
                <select id="simtype_dropdown" class="form-control" data-bind="options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId, enable: overrideSimulation"></select>
            </div>
        </div>
    </fieldset>

    
    <fieldset class="col-sm-12">
        
        <legend>Scenarios</legend>
        <div class="form-group col-sm-12">
            <label>Scenarios</label>
            <table class="table">
                <thead>
                    <tr class="middle-align">
                        <th>
                            <span class="dropdown dropup">
                                <button  title="add shock scenario" class="dropdown-toggle  btn btn-success" data-toggle="dropdown" id="addScenarioButton" data-bind="disable: $root.sortedScenarioTypes().length >= 4"><i class="fa fa-plus" id="addScenarioIcon"></i></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" data-bind="foreach: $root.availableScenarioTypes">
                                    <!-- ko ifnot: inUse -->
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-bind="text: name, click: $root.addScenarioType"></a></li>
                                    <!-- /ko -->
                                    <!-- ko if: inUse -->
                                    <li role="presentation"><a style="color: lightgrey" role="menuitem" tabindex="-1" data-bind="text: name, click: $root.dontAddScenarioType"></a></li>
                                    <!-- /ko -->
                                </ul>
                            </span>
                        </th>
                        <th>Priority</th>
                        <th colspan="2">Type</th>
                    </tr>
                </thead>
                <tbody class="sortable" data-bind="sortable: { data: $root.sortedScenarioTypes, afterMove: $root.scenarioTypesetAfterMove }">
                    <tr class="middle-align">
                        <td>
                            <button title="remove" data-bind="click: $root.removeScenarioType, attr:{'id': 'rmv_scen_scenType' + scenarioTypeId()}" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                        <td data-bind="text: priority"></td>
                        <td data-bind="with: scenarioType"> <span data-bind="text: name"></span></td>
                        <td><span><i class="fa fa-sort"></i></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>

    <fieldset>
        <legend>Asset Details</legend>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <!-- ko if: $root.viewOptions() != undefined && $root.viewOptions().length > 0 -->
                    <select id="viewOption_dropdown" class="form-control" data-bind="foreach: $root.viewOptions, value: assetDetails">
                        <optgroup data-bind="attr: {label: label}, foreach: children">
                            <option data-bind="text: title, attr: {value: value}"></option>
                        </optgroup>
                    </select>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </fieldset>

    <div class="checkbox">
        <label><input data-bind="checked: showPolicies" type="checkbox" id="include_pols_cb"/> Include Policies</label>
    </div>
    <fieldset class="col-sm-12">
        <legend>Historical Assessment Date Offsets</legend>
        <div class="form-group col-sm-12">
            <label>Date Offsets</label>
            <table class="table">
                <thead>
                    <tr class="middle-align">
                        <th>
                            <button title="add shock scenario" class="btn btn-success" data-bind="disable: $root.coreFundingUtilization().coreFundingUtilizationDateOffSets().length >= 5, click: $root.addDateOffSet" id="addDateOffsetButton"><i class="fa fa-plus"></i></button>
                        </th>
                        <th>Priority</th>
                        <th>Offset </th>
                        <th>Simulation</th>
                        <th>Override</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="sortable" data-bind="sortable: { data: $root.sortedOffSets, afterMove: $root.dateOffsetAfterMove }">
                    <tr class="middle-align">
                        <td>
                            <button title="remove" data-bind="click: $root.removeDateOffSet, attr:{'id': 'rmv_histDateOffset_' + id()}" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                        <td data-bind="text: priority"></td>
                        <td><select class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: offSet, attr:{'id': 'dateoffset_dropdown_' + id()}"></select></td>
                        <td>
                            <!-- ko if: simulationTypes != undefined && simulationTypes().length > 0 -->
                            <select class="form-control" data-bind="options: simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId, enable: overrideSimulationTypeId, attr:{'id': 'sim_dropdown_' + id()}"></select>
                            <!-- /ko -->
                        </td>
                        <td>
                            <input type="checkbox" data-bind="checked: overrideSimulationTypeId, attr:{'id': 'ovrd_sim_' + id()}"/>
                        </td>
                        <td><span class="fa fa-sort"></span></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </fieldset>

</section>
