﻿<style>
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Open Sans';
    }

    #bankNameRow {
    text-align: right;
    font-family: 'Open Sans';
    }

    #darlingRow{
        padding-top: 50px;
        text-align:right;
        font-family: 'Open Sans';
    }

</style>

<section id="coverpage-view" data-bind="with: coverPage">
    <div class="row" id="bankNameRow">
        <div class="col-md-12 text-right">
            <img src="Content/images/atlasbanner.png" height="423" width="1120" border="0"/>
            <h1 data-bind="text: $root.instName"></h1>
            <h5 data-bind="text: packageName"></h5>
            <h5 data-bind="text: 'as of ' + moment($root.profile().asOfDate).format('MM/DD/YYYY')"></h5>
            <br />
            <h5 data-bind="text: moment($root.policy().meetingDate()).format('MM/DD/YYYY')"></h5>
           
        </div>
    </div>


    <div class="row" id="darlingRow">
        <div class="col-md-12 text-right">
            <h6>Darling Consulting Group, Inc.</h6>
            <h6>260 Merrimac Street</h6>
            <h6>Newburyport, Massachusetts 01950</h6>
            <h6>(978) 463-0400</h6>
            <h6>www.darlingconsulting.com</h6>
        </div>
    </div>

</section>