﻿

<style>
    #footnotes, #reportName {
        display: none;
    }
</style>

<section data-bind="with:coverPage">
    <div class="row form-group">
        <div class="col-md-2">
            <label>Institution</label>
        </div>
        <div class="col-md-6">
            <select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName()" disabled></select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-2">
            <label>Package Name</label>
        </div>
        <div class="col-md-6">
            <select class="form-control" data-bind="options: $root.packageTypeOptions, optionsValue: 'value', optionsText: 'name', value: packageType"></select>
        </div>
    </div>
    <div class="row form-group" data-bind="visible: packageType() == 5">
        <div class="col-md-2">
            <label>Custom Package Name</label>
        </div>
        <div class="col-md-6">
            <input id="pkg_name_tb" type="text" class="form-control name-tb" placeholder="Name" data-bind="value: packageName, valueUpdate: 'afterkeydown'">
        </div>
    </div>

    <div class="row form-group" data-bind="visible: packageType() == 0">
        <div class=" col-md-2">
            <label>Meeting Date</label>
        </div>
        <div class="col-md-6">
            <input id="meeting_date_picker" type="text" class="form-control" data-bind="enable: overrideMeetingDate,datepicker: meetingDate, datepickerOptions: {format: 'mm/dd/yyyy', autoclose: true, meetingDate: '01/01/1980', endDate: '01/01/2100'}">
        </div>
    </div>
    <div class="checkbox" data-bind="visible: packageType() == 0">
        <label>
            <input id="ovrd_meeting_date_cb" type="checkbox" data-bind="checked: overrideMeetingDate" /> Override Meeting Date
        </label>
    </div>
    <!--<div class="row form-group">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2">
                    <label>Analyst</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control" data-bind="options: $root.analysts, value: analyst"></select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2">
                    Consultant
                </div>
                <div class="col-md-10">
                    <select class="form-control" data-bind="options: $root.consultants, value: consultant"></select>
                </div>
            </div>
        </div>
    </div>-->

</section>
