﻿<section >
    <h3>Add defined grouping</h3>
    <div>
        <button id="cancel_btn" class="btn btn-primary"
                data-bind="click: cancel, enable: canSave">
            <i id="cancel_icon" class="fa fa-undo"></i>
            Cancel
        </button>
        <button id="save_btn" class="btn btn-primary"
                data-bind="click: save, enable: canSave">
            <i id="save_icon" class="fa fa-save"></i>
            Save
        </button>
    </div>
    <br />

    <form data-bind="with: definedGrouping" role="form">
        <fieldset>
            <legend>Defined Grouping</legend>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label>Name</label>
                    <input id="name_tb" type="text" class="form-control" data-bind="value: name, valueUpdate: 'afterkeydown'">
                </div>
            </div>


        </fieldset>
    </form>
</section>