﻿<section data-bind="if: group()">

    <nav>
        <div>
            <button id="goToDefGroupGroup_btn" class="btn btn-primary" data-bind="click: goToDefinedGroupingGroup">
                <i id="goToDefGroupGroup_icon" class=" fa fa-arrow-left"></i>
                <span data-bind="text: group().definedGrouping().name"></span>
            </button>
            <button id="cancel_btn" class="btn btn-primary"
                    data-bind="click: cancel, enable: canSave">
                <i id="cancel_icon" class="fa fa-undo"></i>
                Cancel
            </button>
            <button id="save_btn" class="btn btn-primary"
                    data-bind="click: save, enable: canSave">
                <i id="save_icon" class="fa fa-save"></i>
                Save
            </button>
            <button id="delete_grp_btn" class="btn btn-danger" data-bind="click: deleteGroup, disable: hasChanges">
                <i id="delete_grp_icon" class="fa fa-trash-o"></i>
                Delete
            </button>
        </div>
    </nav>
    <br />

    <form role="form">
        <fieldset>
            <div class=" row col-sm-12">
                <div class="form-group col-sm-5">
                    <label>Group Name</label>
                    <input id="name_tb" type="text" class="form-control" data-bind="value: group().name, valueUpdate: 'afterkeydown'">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Classifications</label>
                    <table class="table">
                        <thead>
                            <tr class="middle-align">
                                <th style="width: 8%">
                                    <span class="dropdown">
                                        <button id="add_grp_btn" title="add group" class="dropdown-toggle  btn  btn-success" data-toggle="dropdown"><i class="fa fa-plus"></i></button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" data-bind="foreach: availableClassifications" style="height: 300px;overflow-y: scroll;">
                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-bind="text: accountType().name() + '-' + name(), click: $root.addClassification"></a></li>
                                        </ul>
                                    </span>
                                </th>
                                <th style="width: 92%">Name</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: group().definedGroupingClassification">
                            <tr class="middle-align">
                                <td>
                                    <button title="delete" class="btn btn-danger" data-bind="click: $root.deleteClassification, attr:{'id': 'delete_classification_btn_' + id()}"><i class="fa fa-trash-o"></i></button>
                                </td>
                                <td data-bind="text: name"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </form>
</section>
