﻿<section>

    <nav>
        <div>
            <button id="goToDefGroup_btn" class="btn btn-primary" data-bind="click: goToDefinedGroupings">
                <i id="goToDefGroup_icon" class=" fa fa-arrow-left"></i>
                Defined Groupings
            </button>
            <button id="cancel_btn" class="btn btn-primary"
                    data-bind="click: cancel, enable: canSave">
                <i id="cancel_icon" class="fa fa-undo"></i>
                Cancel
            </button>
            <button id="save_btn" class="btn btn-primary"
                    data-bind="click: save, enable: canSave">
                <i id="save_icon" class="fa fa-save"></i>
                Save
            </button>
        </div>
    </nav>
    <br />

    <form role="form">
        <fieldset>
            <div class=" row col-sm-12">
                <div class="form-group col-sm-5">
                    <label>Defined Grouping Name</label>
                    <input id="name_tb" type="text" class="form-control" data-bind="value: definedGrouping().name, valueUpdate: 'afterkeydown'">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Groups</label>
                    <table class="table">
                        <thead>
                            <tr class="middle-align">
                                <th>
                                    <span class="dropdown">
                                        <button id="addGroup_btn" title="add group" class="btn btn-success" data-bind="click: $root.addGroup"><i id="addGroup_icon" class="fa fa-plus"></i></button>
                                    </span>
                                </th>
                                <th>Name</th>
                                <th>Classifications</th>
                                <th>Priority</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="sortable" style="position: relative;" data-bind="sortable: { data: $root.sortedGroups, afterMove: $root.fixupGroupPriority } ">
                            <tr class="middle-align">
                                <td>
                                    <button title="edit" class="btn btn-primary" data-bind="click: $root.goToGroupConfig, attr:{'id': 'goToGroup_btn_' + iod()}"><i data-bind="attr:{'id': 'goToGroup_icon_' + iod()}" class="fa fa-edit"></i></button>
                                    <button title="delete" class="btn btn-danger" data-bind="click: $root.deleteGroup, attr:{'id': 'deleteGroup_btn_' + iod()}"><i data-bind="attr:{'id': 'deleteGroup_icon_' + iod()}" class="fa fa-trash-o"></i></button>
                                </td>
                                <td data-bind="text: name"></td>
                                <td>A List Of Classifications</td>
                                <td data-bind="text: priority"></td>
                                <td><i class="fa fa-sort"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </form>
</section>
