﻿<section >
    <h3>Add Group</h3>
    <div>
        <button id="cancel_btn" class="btn btn-primary"
                data-bind="click: cancel, enable: canSave">
            <i id="cancel_icon" class="fa fa-undo"></i>
            Cancel
        </button>
        <button id="save_btn" class="btn btn-primary"
                data-bind="click: save, enable: canSave">
            <i id="save_icon" class="fa fa-save"></i>
            Save
        </button>
    </div>
    <br />

    <form data-bind="with: group" role="form">
        <fieldset>
            <legend>Defined Grouping</legend>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label>Name</label>
                    <input id="name_tb" type="text" class="form-control" data-bind="value: name, valueUpdate: 'afterkeydown'">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label>Type</label>
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input id="asset_rad" type="radio" name="isAsset" value="0" data-bind="event: { click: $root.assetGroup}" /> Asset
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input id="liab_rad" type="radio" name="isAsset" value="1" data-bind="event: { click: $root.liabilityGroup}" /> Liability
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</section>