﻿<section>
    <form role="form">
        <fieldset>
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Defined Groupings</label>
                    <table class="table">
                        <thead>
                            <tr class="middle-align">
                                <th style="width: 10%">
                                    <span class="dropdown">
                                        <button id="add_def_group_btn" title="add defined grouping" class="btn  btn-success" data-bind="click: $root.goAddDefinedGrouping"><i class="fa fa-plus" id="add_def_group_icon"></i></button>
                                    </span>
                                </th>
                                <th style="width: 30%">Name</th>
                                <th style="width: 30%">Date Modified</th>
                                <th style="width: 30%">Modified By</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: definedGroupings">
                            <tr>
                                <td>
                                    <button title="edit" class="btn btn-primary" data-bind="click: $root.goToDefinedGroupingEdit, attr:{'id': 'edit_def_group_btn_' + id()}"><i class="fa fa-edit" data-bind="attr:{'id': 'edit_def_group_icon_' + id()}"></i></button>
                                    <button title="delete" class="btn btn-danger" data-bind="click: $root.deleteDefinedGrouping, attr:{'id': 'delete_def_group_btn_' + id()}"><i class="fa fa-trash-o" data-bind="attr:{'id': 'edit_def_group_icon_' + id()}"></i></button>
                                </td>
                                <td data-bind="text: name"></td>
                                <td data-bind="text: moment(lastModified()).format('MM/DD/YYYY, h:mm:ss a')"></td>
                                <td data-bind="text: lastModifiedBy"></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </form>
</section>
