﻿<section data-bind="with:dsa">
    <fieldset class="col-sm-12">
        <div class="col-md-12">
            <div class="form-group">
                <label>Institution</label>
                <select id="inst_dropdown" class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName',  value: institutionDatabaseName"></select>
            </div>

            <div class="form-group">
                <label>Date offset</label>
                <select id="dateoffset_dropdown" class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input id="ovrd_sim_cb" type="checkbox" data-bind="checked: overrideSimulationType"/> Override Simulation
                    </label>
                </div>
                <label>Simulation</label>
                <select id="sim_dropdown" class="form-control" data-bind="options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId, enable: overrideSimulationType"></select>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input id="ovrd_scen_cb" type="checkbox"  data-bind="checked: overrideScenarioType" /> Override Scenario
                    </label>
                </div>
                <label>Scenario</label>
                <select id="scen_dropdown" class="form-control" data-bind="options: $root.scenarioTypes, optionsText: 'name', optionsValue: 'id', value: scenarioTypeId, enable: overrideScenarioType"></select>
            </div>
        </div>
    </fieldset>

</section>
