﻿<style>

    table {
        font-size: 7px !important;
        width: 100%;
        color: #000 !important;
    }

    .whiteHeader{
        background-color: #73afad !important;
        font-size: 10px;
        color:#fff !important;
        text-align: center !important;
        border: 1px solid #000000;
    }

    .blueHeader {
        color: #fff !important;
        font-size: 10px;
        text-align: center !important;
        background-color: #40637a !important;
        border: 1px solid #000000;
    }

    .rowHeader {
        font-size: 12px;
        /* text-decoration: underline;*/
        font-weight: bold;
        text-align: left;
        line-height: 20px;
    }

    .borderLeftThick{
        border-left: 1px solid #000000;
    }

     .borderRightThick{
        border-right: 1px solid #000000;
    }

    .borderLeftThin{
        border-left: 1px solid rgb(183,193,202);
    }

    .rowBorderTop td{
        border-top: 2px solid rgb(121, 129, 132);
    }

    .borderLeftThickGrey{
         border-left: 2px solid rgb(121, 129, 132);
    }

    th{
        text-align:center;
    }

    .rowType3 td{
        font-weight: bold;
        font-size: 8px;
    }

   .rowType2 td:first-child {
        padding-left: 10px;
    }

   .highlight{
       background-color: rgb(233, 233, 233);
   }
</style>


<section id="reportHolder">
<table class="dcg-table">
    <thead>
        <tr>
            <th class="empty"></th>
            <th class="whiteHeader" colspan="3">STARTING</th>
            <th class="whiteHeader" colspan="8">EXISTING REPRICING</th>
            <th class="blueHeader" colspan="3">NEW VOLUME</th>
            <th class="blueHeader" colspan="9">NEW REPRICING</th>
            <th class ="blueHeader" colspan="2">NEW <br /> CASHFLOW</th>
            <th class="blueHeader" colspan="2">PREPAY TYPE</th>
        </tr>
        <tr style="vertical-align:bottom !important;">
            <th class="empty"></th>
            <th class="borderLeftThick"><u>Balance</u></th>
            <th><u>Rate</u></th>
            <th><u>Accrual</u></th>
            <th class="borderLeftThick"><u>Index</u></th>
            <th><u>Offset</u></th>
            <th><u>Rate</u></th>
            <th>Rep<br/> <u>Freq</u></th>
            <th>Chg <br/> <u>Cap</u></th>
            <th>Chg <br /> <u>Floor</u></th>
            <th>Life <br /> <u>Cap</u></th>
            <th>Life <br /> <u>Floor</u></th>
            <th class="borderLeftThick"><u>Index</u></th>
            <th><u>Offset</u></th>
            <th><u>Rate</u></th>
            <th class="borderLeftThick"><u>Index</u></th>
            <th><u>Offset</u></th>
            <th><u>Rate</u></th>
            <th>Fixed <br/><u>Per</u></th>
            <th>Rep<br /> <u>Freq</u></th>
            <th>Chg <br /> <u>Cap</u></th>
            <th>Chg <br /> <u>Floor</u></th>
            <th>Life <br /> <u>Cap</u></th>
            <th>Life <br /> <u>Floor</u></th>
            <th class="borderLeftThick">Term <br /> <u>(Mths)</u></th>
            <th>Amort <br /> <u>(WAM)</u></th>
            <th class="borderLeftThick"><u>Existing</u></th>
            <th class="borderRightThick"><u>New</u></th>
        </tr>

    </thead>
    <tbody id="detailedBody">


    </tbody>


</table>
</section>
