﻿<h1>CKEditor And knockoutJS</h1>
<div>
    <button class="btn btn-info"
        data-bind="click: goToView">
        <i class=" fa fa-search"></i>View</button>
    <button class="btn btn-info"
        data-bind="click: cancel, enable: canSave">
        <i class="fa fa-undo"></i>Cancel</button>
    <button class="btn btn-info"
        data-bind="click: save, enable: canSave">
        <i class="fa fa-save"></i>Save</button>
    <i class="fa fa-asterisk" data-bind="visible: hasChanges"></i>
</div>
<div data-bind="with: document">
    <div>
        <label>Report Name </label>
        <input data-bind="value: name" />
    </div>

    <h2>Raw Data</h2>
    <pre data-bind="text: htmlSource"></pre>

    <h2>Editor</h2>
    <div id="document" style="border: lightgrey solid 1px" data-bind="inlineCkeditor: htmlSource, ckUpdate: $root.updateContent" contenteditable="true">
    </div>

</div>

