﻿<fieldset class="col-sm-12">
    <legend>Content</legend>
    <div class="col-sm-12 clearfix" style="margin: 0.5em 0em 1em 0em">
        <span class="float-left">
            Select a Word, PDF, or HTML file:
            <label data-bind="css: { btn: true, 'btn-primary': true, disabled: rootModel.isLoading() }">
                Upload File...
                <input id="upload_file_btn" style="display: inline;" type="file" data-bind="enable: ! (rootModel.isLoading()), event: { change: function() { uploadFile($element.files[0]) } }" hidden>
            </label>
        </span>
        <span class="float-left" data-bind="visible: report.contentsFromFile">
            <button id="edit_text_btn" data-bind="css: { btn: true, 'btn-primary': true, disabled: rootModel.isLoading() }, click: restoreTextEdit">Edit text directly</button>
        </span>
    </div>
    <!-- ko if: ! report.contentsFromFile() && (!defaults() || bankName == 'DDW_Atlas_Templates') -->
    <div class="col-sm-12">
        <div id="Div1" data-bind="ckeditor: document().htmlSource, ckeditorOptions: {filebrowserBrowseUrl: '/#/files/' + document().id()}" contenteditable="true"></div>
    </div>
    <!-- /ko -->
    <!-- ko if: report.contentsFromFile() && (!defaults() || bankName == 'DDW_Atlas_Templates') -->
    <div class="col-sm-12">
        <div data-bind="html: docHtmlSourceMinusIframe()"></div>
    </div>
    <!-- /ko -->
</fieldset>

<!-- ko if: !defaults() || bankName == 'DDW_Atlas_Templates' -->

<fieldset class="col-sm-12" style="margin: 0.5em 0em 1em 0em;">
    <legend>Document Configuration</legend>
    <div style="margin: 0.5em 1em;">
        <label>Orientation:</label>
        <label style="margin: 0em 1em;"><input id="landscape_rad" name="orientation" value="Landscape" type="radio" data-bind="enable: report.orientation, checked: report.orientation" />Landscape</label>
        <label><input id="portrait_rad" name="orientation" value="Portrait" type="radio" data-bind="enable: report.orientation, checked: report.orientation" />Portrait</label>
    </div>
    <div style="margin: 0.5em 1em">
        <label>Decoration:</label>
        <label style="margin: 0em 1em;"><input id="show_header_cb" name="showHeader" type="checkbox" data-bind="checked: showHeader" />Show Header</label>
        <label><input id="constrain_body_cb" name="constrainContentWithinBody" type="checkbox" data-bind="checked: report.constrainContentWithinBody" />Constrain Content Within Body</label>
    </div>
</fieldset>

<!-- /ko -->
