﻿<style>
    .pageBreakBefore{
        page-break-before: always;
        }

    .headerInline{
     display:inline-block;
     padding: 0px;
     margin: 0px;
    }
    #reportHolder h3{
        margin-top: 18px;
        text-transform: uppercase;
    }
    #reportHolder .first-on-page{
        margin-top: 0;
    }
    #reportHolder .last-on-page{
        margin-bottom: 0;
    }
    .lastSection {
        display: block;
        height: 768px;
    }

   h5, h6 {text-transform:uppercase;
    }
    
    h4 {
        font-size:18px;
            }

        h4.reportheading {
            font-size: 24px;
            text-transform:uppercase; 
        }
</style>

<section id="reportHolder" data-bind="with:eveViewData()">
    
    <h4 class="reportheading"> Sources of Data Used in the Analysis:</h4>
    <p>
        The engagement includes the building of a financial model that accurately captures the client’s balance sheet on the as of date, taking into account future
        maturities and/or scheduled future repricings (if applicable) in the analysis. To do this, the client has supplied Darling Consulting Group (DCG) with
        information, including:

        <ul>
            <li>
                Data downloads from the client’s processing systems (typically for loans and time deposits)
            </li>
            <li>
                Maturity/repricing schedules for instruments not accounted for on the client’s processing system (e.g. borrowings)
            </li>
            <li>
                Rate information that may impact future repricings and/or the discount factors used in the valuation process
            </li>

        </ul>
    </p>

    <p>
        In some cases, DCG relies on third party information sources to complete the analysis. This may include the current market value of the client’s
        investment portfolio (performed by the client’s portfolio accountant) and the establishment of discount factors that represent current market indications
        for various assets and liabilities (explained in detail later in this document).
    </p>


    <h3>Disclaimer:</h3>
    <p>
        While DCG believes the information provided by the above referenced sources to be reliable, DCG does not guarantee its accuracy or completeness.
    </p>


    <h3>General Methodologies Employed:</h3>

    <p>
        DCG employs the net present value method for valuing cash flows under various rate shock environments. Six instantaneous shocks (-400 BP, -300 BP, -
        200 BP, -100 BP, +100 BP, +200 BP, +300 BP, +400 BP, and a current / 0 rate shock) are used in this analysis. (Note: as a standard, DCG will discontinue any
        environment that will cause Fed Funds to fall below 0%. These shock scenarios will be reinstituted at such time when the Fed Funds rate exceeds
        appropriate levels.) DCG re-evaluates all discounting methodologies on a quarterly basis (at a minimum) to ensure “reasonableness” for current market
        environment.
    </p>

    <h3 class="pageBeakBefore">Rate Sources:</h3>
    <p>
        Generally, DCG uses government published rates in the model. These rates are used in the income simulation model, to capture the impact of future
        repricings in the analysis. These rates are also used in conjunction with discount factors in the valuation process.
    </p>

    <p>
        The primary source of this information is the Federal Reserve Board’s statistical release, H-15. This release includes the current treasury curve (note – the
        constant maturity treasury is used in the model, unless otherwise noted), effective fed funds, Prime, and the USD LIBOR Swap curve.
    </p>

    <p>
        Other rate sources include those posted by Banx.com (for FNMA mortgage rates, short-term LIBOR rates, etc…), the client’s FHLB district (for wholesale /
        term funding sources), and internal client rate indices (that would have an impact on future repricings).
    </p>


    <h3>Assets:</h3>
    <h5> Investments</h5>

    <p>
        <span data-bind="visible: investmentType == 'Yield Book'">
            0 Shock (current/base case) market values are supplied by the client. Market values for all scenarios except the 0 Shock for the
            investment securities included in The Yield Book database are derived from The Yield Book. Bonds not covered by The Yield Book are discounted to
            the swap curve plus a spread to reflect the current pricing for similar bonds at that point in time.
        </span>
        <span data-bind="visible: investmentType != 'Yield Book'">
            Market values for the investment securities are provided by <span data-bind="text: instName"></span>.
        </span>
    <p>

    <h5> Loans</h5>

    <p>
        <h6 class="headerInline"> Residential Mortgage Loans</h6> – Loan cash flow projections and repricing characteristics were derived from data downloads from the <span data-bind="text: instName"></span>’s loan
        processing system. All residential mortgage loans take into account current prepayment estimations most recently published by <span data-bind="text: loanType"></span>
    </p>

    <p class="last-prg">
        There is an accurate and reliable secondary market for 1 to 4 family residential mortgage production, either through whole loan sales or the trading of mortgage backed securities.
    </p>

    <!-- PAGE BREAK HERE-->
    <h5 class="pageBreakBefore first-h"> Loans (continued)</h5>
    <h6> Residential Mortgage Loans (cont’d)</h6>

    <p>
        Accordingly, DCG looks to available market benchmarks when establishing discount factors for these types of loans.
    </p>

    <p>
        For fixed rate mortgages with an original term of 15 years or less, DCG uses the FNMA 15 Year / 60 day commitment rate, plus a spread to estimate
        servicing costs and credit environment. The appropriate Swap rate for the average expected life of the loan (e.g. on average roughly 7 Years) is subtracted
        from this number to calculate a spread to the Swap curve. The loan pool is discounted to the USD LIBOR Swap curve to calculate the estimated market
        value of the pool.
    </p>

    <p>
        For fixed rate mortgages with an original term greater than 15 years, DCG uses the FNMA 30 Year / 60 day commitment rate, plus a spread to estimate
        servicing costs and credit environment. The appropriate Swap rate for the average expected life of the loan (e.g. on average roughly 10 Years) is
        subtracted from this number to calculate a spread to the Swap curve. The loan pool is discounted to the USD LIBOR Swap curve to calculate the estimated
        market value of the pool.

    </p>

    <p>
        For adjustable rate mortgages current yields for ARM securities were obtained from Wall Street market sources. A “bond to loan” adjustment is added to
        the current yield of the bond. The appropriate Swap rate for the average expected life of the loan (e.g. on average roughly 4 Years regardless of repricing
        period) is subtracted from this number to calculate a spread to the Swap curve. The loan pool is discounted to the USD LIBOR Swap curve to calculate the
        estimated market value of the pool.
    </p>

    <p>
        Loans that yield a higher rate due to credit or other issues may have an additional adjustment factored into the discount rate.
    </p>

    <p>
        <h6 class="headerInline"> Multi-Family Residential / Commercial Mortgage and Commercial Loans</h6> – 
        Loan cash flow projections and repricing characteristics were derived from data
        downloads from <span data-bind="text: instName"></span>'s loan processing system. Since there is not a readily available source for estimated prepayment speeds for these types of
        loans, DCG relies on the client to provide prepayment estimates for these products. In the absence of specific client provided speeds, standard
        prepayment estimates are applied in each rate scenario. 
    </p>
    <p>
        While DCG looks to available market benchmarks when establishing discount factors for the loan portfolio, information related to commercial loan
        products is not as readily available as it is for the residential sector. This is especially true given the varied term structures and credit issues involved with
        commercial lending.
    </p>   


    <h5 class="pageBreakBefore"> Loans (continued)</h5>
   
    <p>
        <h6 class="headerInline"> Multi-Family Residential / Commercial Mortgage and Commercial Loans - (cont'd)</h6>
        <span data-bind="visible: enhanced">
            Accordingly, we find the most reliable current offering rates on similar loans in the client’s market can be obtained from the client
            (based on their current market experience). Discount spreads are derived from the current relationship between these client supplied offering rates
            and the corresponding market index. Each pool of loans is then discounted to the Swap/LIBOR curve plus/minus this spread."
        </span>
        <span data-bind="visible: !enhanced">
            Our experience of actively working with hundreds of financial institutions nationally gives us the unique ability to establish benchmarks
            for current offering rates on similar loan products. Discount spreads are derived from the current relationship between these benchmark rates and
            the corresponding market index. Each pool of loans is then discounted to the Swap/LIBOR curve plus/minus this spread.
        </span>
    </p>
    

    <p>
        Exceptions may be made for Prime based adjustable rate loans (with resets of 1 Year or less), which would be discounted straight to Prime plus or minus
        an appropriate spread.
    </p>



    <p>
        <h6 class="headerInline"> Consumer Loans</h6> – 
        <span data-bind="visible: enhanced">
            As is the case with commercial products, consumer term structures and related pricing can vary widely from institution to institution.
            Again, we find the most reliable current offering rates on similar loans in the client’s market can be obtained from the client (based on what their
            current market experience is). Spreads to the Swap curve are then calculated, based upon what the client has supplied DCG with as current offering
            rates/terms, and each pool of loans is discounted to the Swap curve plus/minus the appropriate spread.
        </span>
        <span data-bind="visible: !enhanced">
            As is the case with commercial products, consumer term structures and related pricing can vary widely from institution to institution.
            Again, we find that our experience of actively working with hundreds of financial institutions nationally gives us the unique ability to establish
            benchmarks for current offering rates on similar loan products. Discount spreads are derived from the current relationship between these benchmark
            rates and the corresponding market index. Each pool of loans is then discounted to the Swap/LIBOR curve plus/minus this spread.
        </span>

    </p>
   
    <p>
        Exceptions may be made for Prime based adjustable rate loans (with resets of 1 Year or less), which would be discounted straight to Prime plus or minus
        an appropriate spread.
    </p>


    <p>
        <h6 class="headerInline"> Non-Accrual Loans</h6> –
        All non-accrual loans are assumed to be carried at their current fair value.
    </p>

    <p>
        <h6 class="headerInline"> Deferred Loans Fees / Costs</h6> –
        The implied sale of the loans responsible for deferred income or expense would result in instantaneous recognition of the
        income or expense. As such, the market value of the deferred income or liability would be $0 (zero).
    </p>

    <h5> Miscellaneous Asset Categories</h5>

    <p>
        <h6 class="headerInline"> Other Assets</h6> –
        All other asset accounts are assumed carried at their current fair value.
    </p>

    <p>
        <h6 class="headerInline"> Fixed Assets</h6> –
        All fixed asset accounts are assumed carried at their current fair value.
    </p>

    <p>
        <h6 class="headerInline"> Cash & Due</h6> –
        All non-interest earning cash accounts are assumed carried at their current fair value.
    </p>
    <p>
        <h6 class="headerInline"> Goodwill</h6> –
        The market value of the accounts responsible for the goodwill carried on <span data-bind="text: instName"></span>’s balance sheet is calculated elsewhere in this report.
        Accordingly, the value of this line item would be $0 (zero).
    </p>  

    <h3 class="pageBreakBefore"> Liabilities:</h3>
    <h5> Deposits</h5>

    <p>
        <h6 class="headerInline"> Non Maturity Deposits</h6> –
        <span data-bind="visible: depositType == '5'">
            This assessment assumes a balloon maturity in the 11-15 year time bucket with a 16-20% (on average) CPR (or decay rate), to arrive at a
            5-year estimated life (as represented by a 5 year modified duration) on the core deposit base. This is consistent with management’s view that these
            funding sources are longer-term in nature, with limited rate sensitivity. A ‘cash flow’ stream is generated to represent the functional cost of
            maintaining such accounts (per most recent Federal Reserve cost study). This ‘cash flow’ is then discounted in conjunction with the interest and decay
            of account balances.
            <br/>
            Transaction Accounts = 180bp<br />
            Money Market Accounts = 86bp<br />
            Passbook Accounts = 139bp<br />
            Non-Interest Bearing Accounts = 257bp<br />
            These deposits are then discounted to a 12 district FHLB average curve for the as of date.
        </span>
        <span data-bind="visible: depositType == '7.5'">
            This assessment assumes a balloon maturity in the 11-15 year time bucket with a 16-20% (on average) CPR (or decay rate), to arrive at a
            7 ½ -year estimated life (as represented by a 7 ½ year modified duration) on the core deposit base. This is consistent with management’s view that
            these funding sources are longer-term in nature, with limited rate sensitivity. A ‘cash flow’ stream is generated to represent the functional cost of
            maintaining such accounts (per most recent Federal Reserve cost study). This ‘cash flow’ is then discounted in conjunction with the interest and decay
            of account balances.
            <br />
            Transaction Accounts = 180bp<br />
            Money Market Accounts = 86bp<br />
            Passbook Accounts = 139bp<br />
            Non-Interest Bearing Accounts = 257bp<br />
            These deposits are then discounted to a 12 district FHLB average curve for the as of date
        </span>
        <span data-bind="visible: depositType == 'Other', text: depositNotes">
          
        </span>
    </p>

    <p>
        <h6 class="headerInline"> Certificates of Deposit</h6> –
        CD’s, IRA’s, and other time deposits originated by the Institution are valued using a replacement cost of funds approach. A cash
        flow is generated to represent the functional cost of maintaining such accounts (20bp per most recent Federal Reserve cost study). This ‘cash flow’ is then
        discounted to a 12 district FHLB average curve for the as of date, in conjunction with the other cash flows associated with each account. Early withdrawals
        are deemed non-material.
    </p>

    <p>
        <h6 class="headerInline"> Brokered Deposits</h6> –
        Brokered time deposits not originated by the Institution are also valued using a replacement cost of funds approach. These deposits
        are discounted to the brokered CD curve for the as of date. Early withdrawals are deemed non-material.
    </p>

    <div id="lastSection">
        <h5> Borrowings</h5>

        <p>
            <h6 class="headerInline"> Fixed / Variable Term “Bullet” Structures</h6> –
            Such borrowings are valued using a replacement cost of funds approach. These borrowings are discounted to a
            12 district FHLB average curve for the as of date.
        </p>

        <p>
            <h6 class="headerInline"> Option Structures</h6> –
            Generally, fair values are determined by the Institution’s broker or FHLB for borrowings that include a call or conversion option. If
            market pricing is not available from this source, current market indications from the Institution’s FHLB are obtained, and the borrowings are discounted to
            a 12 district FHLB average curve less an appropriate spread to adjust for the option.
        </p>

        <h5> Miscellaneous Liabilities Categories</h5>

        <p>
            <h6 class="headerInline"> Other Liabilities</h6> –
            All other liabilities accounts are assumed carried at their current fair value.
        </p>

        <h3> Off-Balance Sheet Items:</h3>
        <h5> Derivative Financial Instruments</h5>

        <p>
            To the extent possible, valuations for all interest rate caps, floors, and/or swaps are obtained from the Institution’s broker or source of the contract (i.e.
            FHLB). If market pricing is not available from these sources, current market indications for a similar term/structure contract is obtained, and the contract
            is discounted to the Swap/LIBOR curve plus/minus an appropriate spread to adjust for the option.
        </p>
    </div>

</section>
