﻿

<section data-bind="with:eve">
   
    <fieldset class="col-md-12">
        <div class="row">
            <div class="col-md-12  form-group">
                <label>Institution</label>
                <select id="inst_dropdown" class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label>Date offset</label>
                <select id="dateoffset_dropdown" class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 form-group">
                <input id="ovrd_change_cb" type="checkbox" data-bind="checked: override, event: {change: $root.overrideChange}" />Override
            </div>
            <div class="col-md-4  form-group">
                <label>Deposit Type</label>
                <select id="dep_type_dropdown" class="form-control" data-bind="options: $root.depositTypes, value: depositType, enable: override(), event: {change: $root.UpdateAverageLife}"></select>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12  form-group">
                <label class="col-sm-12">Deposit Notes</label>
                <textarea id="dep_notes_ta" rows="8" cols="80" data-bind="value: depositNotes, enable: override()"></textarea>
            </div>

        </div>


        <div class="row">
            <div class="col-md-12  form-group">
                <input id="enhanced_eve_cb" type="checkbox" data-bind="checked: enhancedEve" />Enhanced EVE/NEV

            </div>


        </div>

    </fieldset>   
</section>
