﻿<style>

    /* Might make sense to make this global in app.css*/
    .footnote{
        font-size: 9px;
    }

    #risksummary {
        border-collapse: separate;
        border-spacing: 0;
        font-size: 10px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        width: 100%;
        color: #000000;
        text-align: left;
    }

    #risksummary thead tr th {
        font-weight: bold;
    }

    #risksummary tbody tr.rowSpacing {
        line-height: 30px;
    }

    #risksummary tbody tr td:first-child {
        font-weight: bold;
    }

    #ncuaTable {
        border-collapse: separate;
        border-spacing: 0;
        font-size: 10px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        width: 100%;
        color: #000000;
        border: 3px solid #E9E9E9;
        text-align: left;
    }

    .ncuaRow td:first-child{
        font-weight: bold;
        text-align: left;
    }

    #ncuaScenarioList{
        width: 50%;
        padding-top: 8px;
    }

    .ncua-highlight td:nth-child(1), .ncua-highlight td:nth-child(2), .ncua-highlight td:nth-child(3) {
        background-color: rgb(243,243,243);
    } 
    
    #eveTable {
        border-collapse: separate;
        border-spacing: 0;
        font-size: 10px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 15px;
        color: #000000;
    }
    
    #eveTable tbody tr td:not(.scenarioHeader){
        text-align: right;
    }

        #eveTable tbody tr td:first-child {
            text-align: left;
        }

        #eveTable td {
            padding-right: 4px;
            

        }

    .eveHeaderRow td {
        border-bottom: solid 3px #E9E9E9;
        font-weight: bold;
    }

    .spacerCell{
        width: 60px;
    }

    .spacerRow{
        height: 15px;
    }

    /* Scenario headers */

    .scenarioHeader {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #FFF;
        border-width: 3px;
        text-align: center;
        width: 75px;
        padding: 3px;
    }

    .bookHeader {
        color: #000 !important;
        background-color: #fff;
        border: 3px solid #E9E9E9 !important;
    }


        .zeroShockScenario {
        border-color: rgb(168,205,242);
        background-color: rgb(168,205,242);
    
    }

    .upScenario {
        border-color: rgb(255,127,0);
        background-color: rgb(0,32,96);
    }

    .downScenario {
        border-color: rgb(0,32,96);
        background-color: rgb(255,127,0);
        
    }

    .highlightVert {
        background-color: rgb(243,243,243);
        border-right: 3px solid #E9E9E9;
        border-left: 3px solid #E9E9E9;
        padding-right: 1px !important;
    }

    .eveBoldRow{
        font-weight: bold;
    }

    .eveTotalRow td {
        border-top: 3px solid #E9E9E9;
    }

    .eveItalicRow td {
        font-style: italic;
    }

/* Rounded borders */

    .eveBreakoutBody tr td {
        background-color: rgb(243,243,243);
    }
    /* left Border*/
    .eveBreakoutBody tr td:first-child {
        border-left: 3px solid #E9E9E9;
    }

    /* right Border*/
    .eveBreakoutBody tr td:last-child {
        border-right: 3px solid #E9E9E9;
    }

    /* top Border*/
    .eveBreakoutBody tr:first-child td {
        border-top: 3px solid #E9E9E9;
    }

    /* Top Border*/
    .eveBreakoutBody tr:last-child td {
        border-bottom: 3px solid #E9E9E9;
    }

    .eveBreakoutBody tr:last-child td:last-child{
        border-bottom-right-radius: 7px;
    }

        .eveBreakoutBody tr:last-child td:first-child {
            border-bottom-left-radius: 7px;
        }

        .eveBreakoutBody tr:first-child td:last-child {
            border-top-right-radius: 7px;
        }

        .eveBreakoutBody tr:first-child td:first-child {
            border-top-left-radius: 7px;
        }
    

        .eveChart{
            height: 280px;
        }

    .borderChartArea{
        border: 2px solid #E9E9E9;
    }

    .highlightCell {
        background-color: rgb(243,243,243);
    }
</style>

<section style="font-size: 12px;">

    <div class="row">
        <table id="eveTable"></table>
    </div>
    <!-- ko if: $root.eveViewData().reportFormat != "2" -->
    <div class="row">
        <div class="col-sm-4 ">
            <div class="borderChartArea">
                <h2 class="atlasHeader grey" id="eveChangeChartTitle" style="margin: 0px;"></h2>
                <div id="eveChangeChart" class="eveChart">

                </div>
            </div>


        </div>

        <!-- ko if: $root.eveViewData().reportFormat == "0" -->
        <div class="col-sm-4"  >
            <div class="borderChartArea">
                <h2 class="atlasHeader grey" id="postShockChartTitle" style="margin: 0px;"></h2>
                <div id="postShockChart" class="eveChart">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="borderChartArea">
                <h2 class="atlasHeader grey" id="bpChangeChartTitle" style="margin: 0px;"></h2>
                <div id="bpChangeChart" class="eveChart">
                </div>
            </div>
        </div>
        <!-- /ko --> 

        <!-- ko if: $root.eveViewData().reportFormat == "1" -->
        <div class="col-sm-8 " id="riskSummaryHolder">
            <table id="risksummary" >
                <thead>
                    <tr>
                        <th class="grey atlasHeader" colspan="5">Risk Summary Grid*</th>
                    </tr>
                    <tr>
                        <th id="riskSecondaryHeader">Post Shock EVE/EVA Ratio</th>
                        <th>0 to 100bp</th>
                        <th>100bp to 200bp</th>
                        <th>200bp to 400bp</th>
                        <th>Over 400bp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="rowSpacing">
                        <td>Over 10%</td>
                        <td id="1-1">Min. Risk-1</td>
                        <td id="1-2">Min. Risk-1</td>
                        <td id="1-3">Min. Risk-1</td>
                        <td id="1-4">Mod. Risk-2</td>
                    </tr>
                    <tr class="rowSpacing">
                        <td>6.00% to 10.00%</td>
                        <td id="2-1">Min. Risk-1</td>
                        <td id="2-2">Min. Risk-1</td>
                        <td id="2-3">Mod. Risk-2</td>
                        <td id="2-4">Sig. Risk-3</td>
                    </tr>
                    <tr class="rowSpacing">
                        <td>4.00% to 6.00%</td>
                        <td id="3-1">Min. Risk-1</td>
                        <td id="3-2">Mod. Risk-2</td>
                        <td id="3-3">Sig. Risk-3</td>
                        <td id="3-4">High Risk-4</td>
                    </tr>
                    <tr class="rowSpacing">
                        <td>Below 4.00%</td>
                        <td id="4-1">Mod. Risk-2</td>
                        <td id="4-2">Sig. Risk-3</td>
                        <td id="4-3">High Risk-4</td>
                        <td id="4-4">High Risk-4</td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            *Included for discussion purposes only. Grid evaluates <span id="footnoteScens"></span> scenarios for risk assessment.<br/>
                            *Current risk assessment for Risk Summary Grid is based on <span class="minScenario"></span> scenario.
                        
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="spacerRow">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" style="font-style: italic; font-weight: normal;">
                         

                        </td>
                    </tr>
                </tbody>
            </table>
            <span class="footnote"></span>
            <br />
            <span class="footnote">
            <br />
            <span class="footnote"></span>
            <br />
            <span class="footnote"></span>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    
    <!-- ko if: $root.showNCUA -->
    <div class="row">
            <table id="ncuaTable">
                <thead>
                    <tr>
                        <th colspan="5" class="atlasHeader grey">NCUA Supervisory Test Thresholds +300 Shock Scenarios</th>
                    </tr>
                    <tr class="eveBoldRow">
                        <th>RISK LEVEL</th>
                        <th>POST-SHOCK <span data-bind="text: $root.eve_nev()"></span></th>
                        <th><span data-bind="text: $root.eve_nev()"></span> SENSITIVITY (%)</th>
                        <th class="spacerCell"></th>
                        <th id="ncuaScenarioList">NMD pricing for 0 shock and +300 based on NCUA guidance and all other scenarios are interpolated. NEV calculations are provided for informational purposes only.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="ncua_low_row" class="ncuaRow">
                        <td>Low</td>
                        <td>&gt; 7%</td>
                        <td>&lt; 40%</td>
                        <td class="spacerCell"></td>
                        <td rowspan="4" >
                            <ul class="list-unstyled">
                                <li>Falling Rate Shock Scenarios = Book Value (interpolated from NCUA guidance)</li>
                                <li>0 Shock Scenario = 1% Premium from Book Value</li>
                                <li>+100 Shock Scenario = 2% Premium from 0 Shock (interpolated from NCUA guidance)</li>
                                <li>+200 Shock Scenario = 3% Premium from 0 Shock (interpolated from NCUA guidance)</li>
                                <li>+300 Shock Scenario = 4% Premium from 0 Shock</li>
                                <li>+400 Shock Scenario = 5% Premium from 0 Shock (interpolated from NCUA guidance)</li>
                            </ul>

                        </td>
                    </tr>
                    <tr id="ncua_moderate_row" class="ncuaRow">
                        <td>Moderate</td>
                        <td>4% up to 7%</td>
                        <td>40% to 65%</td>
                        <td class="spacerCell"></td>
                    </tr>
                    <tr id="ncua_high_row" class="ncuaRow">
                        <td>High</td>
                        <td>2% up to 4%</td>
                        <td>65% to 85%</td>
                        <td class="spacerCell"></td>
                    </tr>
                    <tr id="ncua_extreme_row" class="ncuaRow">
                        <td>Extreme</td>
                        <td>&lt; 2%</td>
                        <td>&gt; 85%</td>
                        <td class="spacerCell"></td>
                    </tr>
                </tbody>
            </table>
    </div>
    <!-- /ko -->
</section>
