﻿<style>
    .list-unstyled > li > ul {
        list-style: none;
    }

    .list-unstyled > li > .section-header {
        padding-left: 40px;
    }

    .list-unstyled .list-unstyled {
        padding-left: 40px;
    }

    .list-unstyled > li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

        .list-unstyled > li:first-child {
            padding-top: 0;
        }

        .list-unstyled > li:last-child {
            padding-bottom: 0;
        }

    .inline-select,
    .inline-header {
        display: inline-block;
    }

    .date-offset-picker {
        width: 100px;
    }

    .section-type-sel {
        width: 60%;
    }

    .det-type-sel {
        width: 53%;
    }

    .det-type-sel-scen {
        width: 45%;
    }

    .risk-type-sel {
        width: 89%;
    }

    .risk-type-sel-scen {
        width: 89%;
    }

    .risk-type-sel-header {
        width: 15%;
    }

    .report-section-container {
        border-bottom: 1px solid #dddddd;
    }

    .ers-view {
        padding-bottom: 40px;
    }

    .small-input-container {
        display: inline-block;
        width: 40px;
    }

        .small-input-container > input {
            width: 40px;
        }

    .error {
        color: #d9534f;
    }

    .headerOverride {
        font-size: 15px;
        font-weight: bold;
        margin-left: 20px;
    }

    .sectionDiv {
        border-top: 2px solid #000;
    }
</style>

<section class="ers-view" data-bind="with: ers">
    <div class="row">
        <div class="col-md-12">
            <fieldset class="col-sm-3" >
                <legend>Institution</legend>
                <!-- ko if:  $root.institutions != undefined &&  $root.institutions().length > 0 -->
                <select id="inst_dropdown" class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
                <!-- /ko -->
              
            </fieldset>

            <fieldset class="col-sm-3">
                <input id="excl_pols_cb" data-bind="checked: excludePolicies" type="checkbox" />
                <label>Exclude Policies</label>
            </fieldset>

            <fieldset class="col-sm-3">
                <input id="excl_ra_cb" data-bind="checked: excludeRiskAssessments" type="checkbox" />
                <label>Exclude Risk Assesment</label>
            </fieldset>

        </div>
    </div>
    <div class="row">


        <div class="col-md-12" style="margin-bottom: 20px;">
            <fieldset class="col-sm-12">
                <legend>
                    <button class="btn btn-xs btn-success" data-bind="click: $root.addHistoricalDateOffSet" id="addDateOffSet" title="Add Date Offset"><i class="fa fa-plus"></i></button>
                    Date Offsets
                </legend>

                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th style="width: 150px;">
                                <b>Offset</b> 
                            </th>
                            <th>
                                <b>Override</b>
                            </th>
                            <th>
                                <b>NII Simulation</b>
                            </th>
                            <th>
                                <b>EVE Simulation</b>
                            </th>
                            <th>
                                <b>Basic Surplus</b>
                            </th>
                            <th>
                                <b>Tax Income</b>
                            </th>
                            <th>
                                <b>Tax Yield</b>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="sortable" data-bind="foreach: $root.sortedHistoricalOffSets()">
                        <tr class="middle-align">

                                <td>
                                    <button title="remove" data-bind="click: $root.removeHistoricalDateOffSet, enable: $root.sortedHistoricalOffSets().length > 1, attr:{'id': 'rmv_histDateOffset_' + id()} " class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                </td>
                                <td><select class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: offSet, event: {change: $root.offsetChange}"></select></td>
                                <td><input data-bind="checked: overrideBasicSurplus, event: {click: $root.restoreDefaultCheck}, attr:{'id': 'override_bs_cb_hdo' + id()}" type="checkbox" /></td>
                            
                                <td>
                                    <!-- ko if: simulationTypes != undefined && simulationTypes().length > 0 -->
                                    <select class="form-control" data-bind="options: simulationTypes, optionsText: 'name', optionsValue: 'id', value: nIISimulationTypeId, enable: overrideBasicSurplus, attr:{'id': 'nii_sim_dropdown_hdo' + id()}"></select>
                                    <!-- /ko -->
                                </td>
                                <td>
                                    <!-- ko if: simulationTypes != undefined && simulationTypes().length > 0 -->
                                    <select class="form-control" data-bind="options: simulationTypes, optionsText: 'name', optionsValue: 'id', value: eveSimulationTypeId, enable: overrideBasicSurplus, attr:{'id': 'eve_sim_dropdown_hdo' + id()}"></select>
                                    <!-- /ko -->
                                </td>

                                <td><select class="form-control inline-select " data-bind="options: $root.basicSurplusAdminOffsets()[0][$root.asOfDateOffsets()[offSet()]['asOfDateDescript']], value: basicSurplusAdminId,  optionsText: 'name', optionsValue:  'id', enable: overrideBasicSurplus, attr:{'id': 'bs_admin_id_dropdown_hdo' + id()}"></select></td>
                                <td><input data-bind="checked: taxEquivIncome, enable: overrideBasicSurplus, attr:{'id': 'taxEquivIncome_cb_hdo' + id()}" type="checkbox" /></td>
                                <td><input data-bind="checked: taxEquivYield, enable: overrideBasicSurplus, attr:{'id': 'taxEquivYield_cb_hdo' + id()}" type="checkbox" /></td>
  
                        </tr>
                    </tbody>
                </table>

            </fieldset>
        </div>
    </div>

    <div class="row"  data-bind="sortable: {data: $root.sortedMasters, afterMove: $root.sortableAfterMoveMaster, connectClass: 'master-section'}">
        <!-- ko if: name() == 'Liq' -->
        <div class="sectionDiv">
        <h3>
            <span><i class="fa fa-sort"></i></span>
            Liquidity
            <span class="headerOverride">
                Override R/A
                <input data-bind="checked: $root.ers().liquidityRiskAssesmentOverride, att:{'id': 'ovrd_liq_ra_LIQ'}" type="checkbox" />
                <select class="form-control inline-select risk-type-sel-header" data-bind="options: $root.riskAssesmentOptions, value: $root.ers().liquidityRiskAssesment,  optionsText: 'name', optionsValue:  'value', enable: $root.ers().liquidityRiskAssesmentOverride, attr:{'id': 'liq_ra_dropdown_LIQ'}"></select>
            </span>
           <span class="pull-right headerOverride">
               <input data-bind="checked: $root.ers().hideLiq, attr:{'id': 'hideLiq_cb_LIQ'}" type="checkbox" />Hide Section
           </span>
        </h3>
            <div class="row">
                <div class="col-md-6">
                    <fieldset class="col-sm-12">
                        <legend>
                            <button id="add_left_liq_btn" class="btn btn-xs btn-success" data-bind="click: $root.addLeftLiquidity" title="Add Left Liquidity Section"><i id="add_left_liq_icon" class="fa fa-plus"></i></button>
                            Liquidity Report Sections - Left
                        </legend>
                        <ul class="list-unstyled liq-sections" data-bind="sortable: {data: $root.sortedLeftLiqSections, afterMove: $root.sortableAfterMove, connectClass: 'left-liq-sections'}">
                            <li>
                                <span><i class="fa fa-sort"></i></span>
                                <button title="remove" data-bind="click: $root.removeLiqSection, attr:{'id': 'rmv_liqsection_btn_' + id()}" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                <select class="form-control inline-select section-type-sel" data-bind="options: $root.liqParentSections, optionsText: $data, optionsValue: $data, value: reportSectionTypeName, attr:{'id': 'rptSecTypeName_dropdown_' + id()}"></select>
                                <input data-bind="checked: hideLabel, attr:{'id': 'hideLabel_cb_' + id()}" type="checkbox" /> Hide Label
                                <fieldset class="col-sm-12">
                                    <legend>
                                        <button class="btn btn-xs btn-success" data-bind="click: $root.addLiqSectionDet, attr:{'id': 'addLiqSecDet_' + id()}" title="Add Detail"><i class="fa fa-plus"></i></button>
                                        Detail <span class="pull-right">Override R/A</span>
                                    </legend>
                                    <ul class="list-unstyled liq-sections" data-bind="sortable: {data: sortedDetails, afterMove: $root.sortableAfterMove, connectClass: 'left-liq-section-detail' + $index()}">
                                        <li>
                                            <span><i class="fa fa-sort"></i></span>
                                            <button title="remove" data-bind="click: $root.removeLiqSectionDet, attr:{'id': 'rmv_liqSecDet_' + id()}" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                            <select class="form-control inline-select det-type-sel" data-bind="options: $root.allSectionTypes().liq, optionsText: 'name', optionsValue:  'name', value: name, event: {change: function(){$root.resetRisks()}}, atr:{'id': 'liqSecDet_name_tb_' + id()}"></select>
                                            <span class="pull-right">
                                                <input data-bind="checked: overrideRiskAssesment, event: {click: function () { $root.resetWait(); return true;}}, attr:{'id': 'ovrd_ra_liqSecDet' + id()}" type="checkbox" />
                                                <select class="form-control inline-select risk-type-sel" data-bind="options: $root.riskAssesmentOptions, value: riskAssesment,  optionsText: 'name', optionsValue:  'value', enable: overrideRiskAssesment, attr:{'id': 'ra_dropdown_liqSecDet' + id()}"></select>
                                            </span>
                                        </li>
                                    </ul>
                                </fieldset>
                            </li>
                        </ul>

                    </fieldset>

                </div>

                <div class="col-md-6">
                    <fieldset class="col-sm-12">
                        <legend>
                            <button class="btn btn-xs btn-success" data-bind="click: $root.addRightLiquidity"  title="Add Right Liquidity Section"><i class="fa fa-plus"></i></button>
                            Liquidity Report Sections - Right
                        </legend>
                        <ul class="list-unstyled liq-sections" data-bind="sortable: {data: $root.sortedRightLiqSections, afterMove: $root.sortableAfterMove, connectClass: 'right-liq-sections' }">
                            <li>
                                <span><i class="fa fa-sort"></i></span>
                                <button title="remove" data-bind="click: $root.removeLiqSection" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                <select class="form-control inline-select section-type-sel" data-bind="options: $root.liqParentSections, optionsText: $data, optionsValue: $data, value: reportSectionTypeName"></select>
                                
                                
                                <input data-bind="checked: hideLabel" type="checkbox" /> Hide Label
                                <fieldset class="col-sm-12">
                                    <legend>
                                        <button class="btn btn-xs btn-success" data-bind="click: $root.addLiqSectionDet" title="Add Detail"><i class="fa fa-plus"></i></button>
                                        Detail <span class="pull-right">Override R/A</span>
                                    </legend>
                                    <ul class="list-unstyled liq-sections" data-bind="sortable: {data: sortedDetails, afterMove: $root.sortableAfterMove, connectClass: 'right-liq-section-detail' + $index()}">
                                        <li>
                                            <span><i class="fa fa-sort"></i></span>
                                            <button title="remove" data-bind="click: $root.removeLiqSectionDet" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                            <select class="form-control inline-select det-type-sel" data-bind="options: $root.allSectionTypes().liq, optionsText: 'name', optionsValue:  'name', value: name, event: {change: function(){$root.resetRisks() }}"></select>
                                            <span class="pull-right">
                                                <input data-bind="checked: overrideRiskAssesment, event: {click: function () { $root.resetWait(); return true;}}" type="checkbox" />
                                                <select class="form-control inline-select risk-type-sel" data-bind="options: $root.riskAssesmentOptions, value: riskAssesment,  optionsText: 'name', optionsValue:  'value', enable: overrideRiskAssesment"></select>
                                            </span>
                                        </li>
                                    </ul>
                                </fieldset>
                            </li>
                        </ul>
                    </fieldset>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: name() == 'IRR' -->
        <div class="sectionDiv">

            <h3>
                <span><i class="fa fa-sort"></i></span>
                Interest Rate Risk
                <span class="headerOverride">
                    Override R/A
                    <input data-bind="checked: $root.ers().interestRateRiskAssesmentOverride" type="checkbox" />
                    <select class="form-control inline-select risk-type-sel-header" data-bind="options: $root.riskAssesmentOptions, value: $root.ers().interestRateRiskAssesment,  optionsText: 'name', optionsValue:  'value', enable: $root.ers().interestRateRiskAssesmentOverride"></select>
                </span>
                <span class="pull-right headerOverride">
                    <input data-bind="checked: $root.ers().hideIRR" type="checkbox" />Hide Section
                </span>
            </h3>
            <div class="row">
                <div class="col-md-6">
                    <fieldset class="col-sm-12">
                        <legend>
                            <button class="btn btn-xs btn-success" data-bind="click: $root.addLeftIRRSection" title="Add Left IRR Section"><i class="fa fa-plus"></i></button>
                            IRR Sections - Left
                        </legend>
                        <ul class="list-unstyled liq-sections" data-bind="sortable: {data: $root.sortedLeftIRRSections, afterMove: $root.sortableAfterMove, connectClass: 'left-irr-sections'}">
                            <li>
                                <span><i class="fa fa-sort"></i></span>
                                <button title="remove" data-bind="click: $root.removeIRRSection" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                <select class="form-control inline-select section-type-sel" data-bind="options: $root.allSectionTypes().irrLevel1, optionsText: 'name', optionsValue: 'name', value: name,  event: {change: function(data, event){ $root.irrSectionChange(data, event)}}"></select>
                                <input data-bind="checked: hideLabel" type="checkbox" /> Hide Label
                                <fieldset class="col-sm-12">
                                    <legend>
                                        <button class="btn btn-xs btn-success" data-bind="click: $root.addIRRSectionDet, event: {change: function(data, event){ $root.irrSectionDetChange(data, event)}}" title="Add Detail"><i class="fa fa-plus"></i></button>
                                        Detail <span class="pull-right">Override R/A</span>
                                    </legend>
                                    <!-- ko if: sortedDetails != undefined-->
                                    <ul class="list-unstyled liq-sections" data-bind="sortable: {data: sortedDetails, afterMove: $root.sortableAfterMove, connectClass: 'left-liq-section-detail' + $index()}">
                                        <li>
                                            <span><i class="fa fa-sort"></i></span>
                                            <button title="remove" data-bind="click: $root.removeIRRSectionDet" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                            <select class="form-control inline-select det-type-sel" data-bind="options: $parent.availableDetails, optionsText: 'name', optionsValue:  'name', value: name, event: {change: function(data, event){ $root.irrSectionDetChange(data, event)}}"></select>
                                            <input data-bind="checked: hideLabel" type="checkbox" /> Hide Label
                                            <fieldset class="col-sm-12">
                                                <legend>
                                                    <button class="btn btn-xs btn-success" data-bind="click: $root.addIRRSectionDetScenario" title="Add Scenarios"><i class="fa fa-plus"></i></button>
                                                    Scenario <span class="pull-right">Override R/A</span>
                                                </legend>
                                                <ul class="list-unstyled liq-sections" data-bind="sortable: {data: sortedDetails, afterMove: $root.sortableAfterMove, connectClass: 'left-irr-section-detail-scenario' + $index()}">
                                                    <li>
                                                        <span><i class="fa fa-sort"></i></span>
                                                        <button title="remove" data-bind="click: $root.removeIRRSectionScenario" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                                        <!-- ko if: $parent.availableScenarios != undefined &&  $parent.availableScenarios().length > 0 -->
                                                        <select class="form-control inline-select det-type-sel-scen" data-bind="options: $parent.availableScenarios(), optionsText: 'name', optionsValue:  'id', value: scenarioTypeId, event: {change: function(){$root.resetRisks()} }"></select>
                                                        <!-- /ko -->
                                                        <span class="pull-right" data-bind="visible: scenarioTypeId() != 1  || ($parent.name() == 'Year 2 NII % ∆ from Year 1 Base')">
                                                            <input data-bind="checked: overrideRiskAssesment,event: {click: function () { $root.resetWait(); return true;}}" type="checkbox" />
                                                            <select class="form-control inline-select risk-type-sel" data-bind="options: $root.riskAssesmentOptions, value: riskAssesment,  optionsText: 'name', optionsValue:  'value', enable: overrideRiskAssesment"></select>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </fieldset>
                                        </li>
                                    </ul>
                                    <!-- /ko -->

                                </fieldset>
                            </li>
                        </ul>
                    </fieldset>
                </div>
                
                <div class="col-md-6">
                    <fieldset class="col-sm-12">
                        <legend>
                            <button class="btn btn-xs btn-success" data-bind="click: $root.addRightIRRSection" title="Add Right IRR Section"><i class="fa fa-plus"></i></button>
                            IRR Sections - Right
                        </legend>
                        <ul class="list-unstyled liq-sections" data-bind="sortable: {data: $root.sortedRightIRRSections, afterMove: $root.sortableAfterMove, connectClass: 'right-irr-sections' }">
                            <li>
                                <span><i class="fa fa-sort"></i></span>
                                <button title="remove" data-bind="click: $root.removeIRRSection" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                <select class="form-control inline-select section-type-sel" data-bind="options: $root.allSectionTypes().irrLevel1, optionsText: 'name', optionsValue: 'name', value: name, event: {change: function(data, event){ $root.irrSectionChange(data, event)}}"></select>
                                <input data-bind="checked: hideLabel" type="checkbox" /> Hide Label
                                <fieldset class="col-sm-12">
                                    <legend>
                                        <button class="btn btn-xs btn-success" data-bind="click: $root.addIRRSectionDet" title="Add Detail"><i class="fa fa-plus"></i></button>
                                        Detail
                                    </legend>
                                    <!-- ko if: sortedDetails != undefined  -->
                                    <ul class="list-unstyled liq-sections" data-bind="sortable: {data: sortedDetails, afterMove: $root.sortableAfterMove, connectClass: 'right-liq-section-detail' + $index()}">
                                        <li>
                                            <span><i class="fa fa-sort"></i></span>
                                            <button title="remove" data-bind="click: $root.removeIRRSectionDet" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                            <select class="form-control inline-select det-type-sel" data-bind="options: $parent.availableDetails, optionsText: 'name', optionsValue:  'name', value: name, event: {change: function(data, event){ $root.irrSectionDetChange(data, event)}}"></select>
                                            <input data-bind="checked: hideLabel" type="checkbox" /> Hide Label
                                            <fieldset class="col-sm-12">
                                                <legend>
                                                    <button class="btn btn-xs btn-success" data-bind="click: $root.addIRRSectionDetScenario" title="Add Scenarios"><i class="fa fa-plus"></i></button>
                                                    Scenario <span class="pull-right">Override R/A</span>
                                                </legend>
                                                <ul class="list-unstyled liq-sections" data-bind="sortable: {data: sortedDetails, afterMove: $root.sortableAfterMove, connectClass: 'right-liq-section-detail-scenario' + $index()}">
                                                    <li>
                                                        <span><i class="fa fa-sort"></i></span>
                                                        <button title="remove" data-bind="click: $root.removeIRRSectionScenario" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                                        <!-- ko if: $parent.availableScenarios != undefined &&  $parent.availableScenarios().length > 0 -->
                                                        <select class="form-control inline-select det-type-sel-scen" data-bind="options: $parent.availableScenarios, optionsText: 'name', optionsValue:  'id', value: scenarioTypeId,  event: {change:  function(){$root.resetRisks()}}"></select>
                                                        <!-- /ko -->
                                                        <span class="pull-right" data-bind="visible: scenarioTypeId() != 1  || ($parent.name() == 'Year 2 NII % ∆ from Year 1 Base')">
                                                            <input data-bind="checked: overrideRiskAssesment, event: {click: function () { $root.resetWait(); return true;}}" type="checkbox" />
                                                            <select class="form-control inline-select  risk-type-sel-scen" data-bind="options: $root.riskAssesmentOptions, value: riskAssesment,  optionsText: 'name', optionsValue:  'value', enable: overrideRiskAssesment"></select>
                                                        </span>

                                                    </li>
                                                </ul>
                                            </fieldset>
                                        </li>
                                    </ul>
                                    <!-- /ko -->
                                </fieldset>
                            </li>
                        </ul>
                    </fieldset>
                </div>

            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: name() == 'Cap' -->
        <div class="sectionDiv">


            <h3>
                <span><i class="fa fa-sort"></i></span>
                Capital
                <span class="headerOverride">
                    Override R/A
                    <input data-bind="checked: $root.ers().capitalRiskAssesmentOverride" type="checkbox" />
                    <select class="form-control inline-select risk-type-sel-header" data-bind="options: $root.riskAssesmentOptions, value: $root.ers().capitalRiskAssesment,  optionsText: 'name', optionsValue:  'value', enable: $root.ers().capitalRiskAssesmentOverride"></select>
                </span>
                <span class="pull-right headerOverride">
                   <input data-bind="checked: $root.ers().hideCap" type="checkbox" />Hide Section
                </span>
            </h3>

            <div class="row">
                <div class="col-md-6">
                    <fieldset class="col-sm-12">
                        <legend>
                            <button class="btn btn-xs btn-success" data-bind="click: $root.addLeftCapSection" title="Add Left Capital Section"><i class="fa fa-plus"></i></button>
                            Capital Report Sections - Left <span class="pull-right">Override R/A</span>
                        </legend>
                        <ul class="list-unstyled liq-sections" data-bind="sortable: {data: $root.sortedLeftCapSections, afterMove: $root.sortableAfterMove, connectClass: 'left-cap-sections'}">
                            <li>
                                <span><i class="fa fa-sort"></i></span>
                                <button title="remove" data-bind="click: $root.removeCapSection" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                <select class="form-control inline-select det-type-sel" data-bind="options: $root.allSectionTypes().cap, optionsText: 'name', optionsValue: 'name', value: name, event: {change:  function(){$root.resetRisks()}}"></select>
                                <span class="pull-right">
                                    <input data-bind="checked: overrideRiskAssesment, event: {click: function () { $root.resetWait(); return true;}}" type="checkbox" />
                                    <select class="form-control inline-select risk-type-sel" data-bind="options: $root.riskAssesmentOptions, value: riskAssesment,  optionsText: 'name', optionsValue:  'value', enable: overrideRiskAssesment"></select>
                                </span>
                            </li>
                        </ul>

                    </fieldset>

                </div>

                <div class="col-md-6">
                    <fieldset class="col-sm-12">
                        <legend>
                            <button class="btn btn-xs btn-success" data-bind="click: $root.addRightCapSection" title="Add Right Capital Section"><i class="fa fa-plus"></i></button>
                            Capital Report Sections - Right <span class="pull-right">Override R/A</span>
                        </legend>
                        <ul class="list-unstyled liq-sections" data-bind="sortable: {data: $root.sortedRightCapSections, afterMove: $root.sortableAfterMove, connectClass: 'right-cap-sections' }">
                            <li>
                                <span><i class="fa fa-sort"></i></span>
                                <button title="remove" data-bind="click: $root.removeCapSection" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                <select class="form-control inline-select det-type-sel" data-bind="options:  $root.allSectionTypes().cap, optionsText: 'name', optionsValue: 'name', value: name, event: {change: function(){$root.resetRisks()}}"></select>
                                <span class="pull-right">
                                    <input data-bind="checked: overrideRiskAssesment, event: {click: function () { $root.resetWait(); return true;}}" type="checkbox" />
                                    <select class="form-control inline-select risk-type-sel" data-bind="options: $root.riskAssesmentOptions, value: riskAssesment,  optionsText: 'name', optionsValue:  'value', enable: overrideRiskAssesment"></select>
                                </span>
                            </li>
                        </ul>
                    </fieldset>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>

</section>
