﻿    <form method="post" data-bind="submit: onupload">
        <label for="file1">Select file(s) to upload :</label>
        <input id="file1" name="file1" type="file" multiple="multiple" />
        <input id="button1" type="submit" value="Upload" />
    </form>
