﻿<section>
    <form role="form">
        <fieldset class="col-sm-12">
            <legend>Upload an Image</legend>
            <div class="form-group">
                <label>Select a file</label>
                <input class="" type="file" data-bind="event: { change: function() { file($element.files[0]) } }" />
            </div>

            <button class="btn btn-default" data-bind="click: upload">Upload</button>
        </fieldset>
    </form>
    <br/>
    <fieldset class="col-sm-12">
        <legend>Select an Image</legend>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <button title="add package" class="btn btn-success" data-bind="click: goToFileAdd">
                            <i class="fa fa-plus"></i>
                        </button>
                    </th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date Uploaded</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: files">
                <tr>
                    <td><button class="btn btn-default" data-bind="click: $root.addToReport">Add To Report</button></td>
                    <td data-bind="text: id"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: moment(uploadDate()).utc().format('MM/DD/YYYY, h:mm:ss a') "></td>
                    <td><img height="42" alt="X" width="42" data-bind="attr: { src: '/breeze/global/servefile/' + id() }" /></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
</section>
