﻿<style>
    .matrixTable {
        display: inline-block;
    }

        .matrixTable tr td, .legend tr td {
            height: 21px;
            width: 42px;
            font-size: 8px;
        }

    .fullBorder {
        border: 1px solid #000000;
    }

    .borderTop {
        border-top: 1px solid #000000;
    }

    .borderBottom {
        border-bottom: 1px solid #000000;
    }


    .borderLeft {
        border-left: 1px solid #000000;
    }

    .borderRight {
        border-right: 1px solid #000000;
    }


    #leftTableSVG {
        position: absolute;
    }

    canvas {
        background-color: transparent;
        position: absolute;
        z-index: 10;
        /* control height and width in code to prevent stretching */
    }

    .fund-matrix-table {
        border-collapse: separate;
        font-size: 8px;
        /*margin: 0 auto;*/
    }

        .fund-matrix-table td, .legend td {
            height: 32px;
            width: 45px;
            text-align: center;
            box-sizing: border-box;
            padding: 0;
        }

            .fund-matrix-table td.outside-border {
                height: 20px;
                width: 20px;
                background-color: rgb(124,181,236);
                border-radius: 0;
                text-align: initial;
                color: #ffffff;
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
            }

                .fund-matrix-table td.outside-border.text-right {
                    text-align: right;
                }

            .fund-matrix-table td.dotted-right {
                border-right: 2px solid #b0b0b0;
                outline-offset: .6rem;
            }

            .fund-matrix-table td.dotted-bottom {
                border-bottom: 2px solid #b0b0b0;
                outline-offset: .6rem;
            }

            .fund-matrix-table td.circle > div, .legend td.circle > div {
                border-radius: 50%;
                color: #ffffff;
                padding: 1px;
                height: 31px;
                width: 31px;
                margin: 0 auto;
            }

            .fund-matrix-table td.circle.on-diag > div, .legend td.circle.on-diag > div {
                border: 2px solid rgb(96,96,96);
            }

            .legend td.circle {
                width: 80px;
            }

        .fund-matrix-table.legend td.circle > div {
            height: 25px;
            width: 25px;
            margin: 0 auto;
        }

    .circle.on-diag.full > div {
        color: #000;
        background-color: #ffffff;
    }

    .circle.above-diag.full > div {
        border: 2px solid rgb(115,175,173);
        background-color: rgb(115,175,173);
    }

    .circle.below-diag.full > div {
        border: 2px solid rgb( 64, 99,122);
        background-color: rgb( 64, 99,122);
    }

    .title > td {
        height: 10px;
    }

    /* Vert sutff copied from stack overflow spent quite a while searching for it key was nowrap*/
    .vert-cell {
        white-space: nowrap;
        vertical-align: bottom;
    }

        .vert-cell div {
            -moz-transform: rotate(-90.0deg); /* FF3.5+ */
            -o-transform: rotate(-90.0deg); /* Opera 10.5 */
            -webkit-transform: rotate(-90.0deg); /* Saf3.1+, Chrome */
            filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083); /* IE6,IE7 */
            -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
            margin-left: -10em;
            margin-right: -10em;
            text-align: center;
            color: #ffffff;
            margin-bottom: 55px;
        }

    #liabSource0 {
        top: 280px;
    }

    #liabSource1 {
        top: 200px;
    }


    #legendBox {
        border: 2px solid rgb(220,220,220);
        border-radius: 10px;
        margin: 4px auto;
        width: 330px;
        position: relative;
    }

        #legendBox h5 {
            margin: 0px;
            margin-top: 4px;
            margin-left: 6px;
            font-size: 10px;
            font-weight: bold;
            position: absolute;
        }

        #legendBox table td {
            height: 25px;
            width: 80px;
            text-align: center;
            box-sizing: border-box;
            padding: 0;
            font-weight: bold;
        }
</style>
<section id="fm_view">
    <div class="row" style="margin-top: 3px;">
        <!--<div id="liabSource0" class=" vert col-md-1">Liability Sources</div>-->
        <div class="col-sm-6">
            <table class="fund-matrix-table" id="fundMatrix0">
                <tbody>
                    <tr>
                        <td rowspan="11" class="vert-cell outside-border" style="padding: 5px;"><div>Liabilities/Sources</div></td>
                        <td colspan="6" class="outside-border">Assets/Uses</td>
                        <td colspan='4' class="text-right chart-title outside-border" style="padding-right: 10px;">Base</td>
                    </tr>
                    <tr>
                        <td colspan='2'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="dotted-right"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag"><div></div></td>
                        <td class="circle above-diag"><div></div></td>
                        <td class="circle above-diag dotted-right"><div></div></td>
                        <td class="circle above-diag"><div></div></td>
                        <td class="circle above-diag"><div></div></td>
                        <td class="circle above-diag"><div></div></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"><div></div></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag dotted-right"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag dotted-right"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="dotted-bottom"></td>
                        <td class="circle below-diag dotted-bottom"></td>
                        <td class="circle below-diag dotted-bottom"></td>
                        <td class="circle below-diag dotted-bottom"></td>
                        <td class="circle on-diag dotted-bottom dotted-right"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td class=""></td>
                        <td class=""></td>
                        <td class="circle below-diag "></td>
                        <td class="circle below-diag "></td>
                        <td class="circle below-diag "></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <table class="fund-matrix-table pull-right" id="fundMatrix1">
                <tbody>
                    <tr>
                        <td rowspan="11" class="vert-cell outside-border" style="padding: 5px;"><div>Liabilities/Sources</div></td>
                        <td colspan="6" class="outside-border">Assets/Uses</td>
                        <td colspan='4' class="text-right chart-title outside-border" style="padding-right: 10px;">Base</td>
                    </tr>
                    <tr>
                        <td colspan='2'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="dotted-right"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag dotted-right"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag dotted-right"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag dotted-right"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="dotted-bottom"></td>
                        <td class="circle below-diag dotted-bottom"></td>
                        <td class="circle below-diag dotted-bottom"></td>
                        <td class="circle below-diag dotted-bottom"></td>
                        <td class="circle on-diag dotted-bottom dotted-right"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class=""></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                    </tr>
                </tbody>
            </table>

            <div class="div-circle"></div>
        </div>
    </div>
    <div class="row">
        <div id="legendBox">
            <h5>LEGEND</h5>
            <table style="margin: 0 auto; margin-top: 5px;" class="legend">
                <tbody>
                    <tr>
                        <td class="circle above-diag full "><div></div></td>
                        <td class="circle on-diag "><div></div></td>
                        <td class="circle below-diag full "><div></div></td>
                    </tr>
                    <tr>
                        <td class=""><nobr>Long Liabilities/Short Assets</nobr></td>
                        <td> Matched</td>
                        <td><nobr>Short Liabilities/Long Assets</nobr></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <table class="fund-matrix-table" id="fundMatrix2">
                <tbody>
                    <tr>
                        <td rowspan="11" class="vert-cell outside-border" style="padding: 5px;"><div>Liabilities/Sources</div></td>
                        <td colspan="6" class="outside-border">Assets/Uses</td>
                        <td colspan='4' class="text-right chart-title outside-border" style="padding-right: 10px;">Base</td>
                    </tr>

                    <tr>
                        <td colspan='2'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="dotted-right"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag dotted-right"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag dotted-right"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag dotted-right"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="dotted-bottom"></td>
                        <td class="circle below-diag dotted-bottom"></td>
                        <td class="circle below-diag dotted-bottom"></td>
                        <td class="circle below-diag dotted-bottom"></td>
                        <td class="circle on-diag dotted-bottom dotted-right"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                    </tr>
                </tbody>
            </table>

            <div class="div-circle"></div>
        </div>
        <div class="col-sm-6">
            <table class="pull-right fund-matrix-table" id="fundMatrix3">
                <tbody>
                    <tr>
                        <td rowspan="11" class="vert-cell outside-border" style="padding: 5px;"><div>Liabilities/Sources</div></td>
                        <td colspan="6" class="outside-border">Assets/Uses</td>
                        <td colspan='4' class="text-right chart-title outside-border" style="padding-right: 10px;">Base</td>
                    </tr>
                    <tr>
                        <td colspan='2'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td class='month-header'></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="dotted-right"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle on-diag "><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag dotted-right"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag dotted-right"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag dotted-right"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="dotted-bottom"></td>
                        <td class="circle below-diag dotted-bottom"></td>
                        <td class="circle below-diag dotted-bottom"></td>
                        <td class="circle below-diag dotted-bottom"></td>
                        <td class="circle on-diag dotted-bottom dotted-right"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class="circle above-diag"></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle below-diag"></td>
                        <td class="circle on-diag"><div></div></td>
                        <td class=""></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                        <td class=""></td>
                    </tr>
                </tbody>
            </table>

            <div class="div-circle"></div>
        </div>
    </div>
    <p class="text-right">All balances shown are in millions.</p>
</section>