﻿<section data-bind="with:fundingMatrix">
    <fieldset class="col-sm-12">
        <legend>Other</legend>
        <div class="col-md-12 form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: overrideTaxEquiv" id="ovrdTaxEquivIncome_cb"/> Override Tax Equivalent
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: taxEqivalentYields, enable: overrideTaxEquiv" id="ovrdTaxEquivYield_cb" /> Tax Equivalent Yields
                </label>
            </div>
        </div>
    </fieldset>
    <fieldset class="col-sm-12">
        <table class="table">
            <thead>
                <tr class="middle-align">
                    <th>
                        <button id="add_mtrxOffset_btn" title="Add Matrix Offset" class="btn btn-success" data-bind="click: $root.addMatrixOffset, disable: $root.sortedMatrixOffsets().length >= 4" href="#"><i id="add_mtrxOffset_icon" class="fa fa-plus"></i></button>
                    </th>
                    <th>Institution</th>
                    <th>Date Offset</th>
                    <th>Simulation</th>
                    <th>Override</th>
                    <th>Scenario</th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="sortable" data-bind="sortable: { data: $root.sortedMatrixOffsets, afterMove: $root.afterSortMove}">
                <tr class="middle-align">
                    <td>
                        <button title="remove" data-bind="click: $root.removeMatrixOffset, attr:{'id': 'rmv_mtrxOffset_' + id()}" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    </td>
                    <td><select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName, attr:{'id': 'inst_dropdown_mtrxOffset' + id()}"></select></td>
                    <td><select class="form-control" data-bind="options: asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset, attr:{'id': 'dateoffset_dropdown_mtrxOffset' + id()}"></select></td>
                   
                    <!-- ko if: simulationTypes != undefined && simulationTypes().length > 0 -->
                    <td><select class="form-control" data-bind="options: simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId, enable: overrideSimulation, attr:{'id': 'sim_dropdown_mtrxOffset' + id()}"></select></td>
                    <!-- /ko -->
                    <td><input type="checkbox" data-bind="checked: overrideSimulation, attr:{'id': 'ovrd_sim_cb_mtrxOffset' + id()}" /></td>
                    <!-- ko if: scenarioTypes != undefined && scenarioTypes().length > 0 -->
                    <td><select class="form-control" data-bind="options: scenarioTypes, optionsText: 'name', optionsValue: 'id', value: scenarioTypeId, attr:{'id': 'scen_dropdown_mtrxOffset' + id()}"></select></td>
                    <!-- /ko -->
                    <td><i class="fa fa-sort"></i></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <!--<fieldset class="col-sm-6">
        <legend>Left Chart</legend>
        <div class="col-md-12">
            <div class="form-group">
                <label>Institution</label>
                <select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName',  value: leftInstitutionDatabaseName"></select>
            </div>

            <div class="form-group">
                <label>Date offset</label>
                <select class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: leftAsOfDateOffset"></select>
            </div>

            <div class="form-group">
                <label>Simulation</label>
                <select class="form-control" data-bind="options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: leftSimulationTypeId"></select>
            </div>

            <div class="form-group">
                <label>Scenario</label>
                <select class="form-control" data-bind="options: $root.scenarioTypes, optionsText: 'name', optionsValue: 'id', value: leftScenarioTypeId"></select>
            </div>
        </div>
    </fieldset>
    <fieldset class="col-sm-6">
        <legend>Right Chart</legend>
        <div class="col-md-12">
            <div class="form-group">
                <label>Institution</label>
                <select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: rightInstitutionDatabaseName"></select>
            </div>

            <div class="form-group">
                <label>Date offset</label>
                <select class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: rightAsOfDateOffset"></select>
            </div>

            <div class="form-group">
                <label>Simulation</label>
                <select class="form-control" data-bind="options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: rightSimulationTypeId"></select>
            </div>

            <div class="form-group">
                <label>Scenario</label>
                <select class="form-control" data-bind="options: $root.scenarioTypes, optionsText: 'name', optionsValue: 'id', value: rightScenarioTypeId"></select>
            </div>
        </div>
    </fieldset>-->
</section>
