﻿<style>
    .spacer-cell {
        width: 65px !important;
    }

    .spacer-cell-alt {
        width: 1.5%;
    }

    .spacerRow {
        height: 10px;
    }

    .cellLabel {
        max-width: none;
    }

    .greyHeader {
        background-color: #EBEBEB !important;
        color: #000000 !important;
        text-align: center !important;
    }

    .spacer {
        height: 15px;
        padding-top: 10px;
    }

    small-spacer-row {
        height: 5px;
    }


    .total-cell, .total-row {
        font-weight: bold !important;
        padding-bottom: 3px !important;
    }

    th.year-section-header, th.sim-header {
        /*padding-top: 8px !important;*/
        text-align: right !important;
        vertical-align: bottom;
        border-bottom: 3px solid #e9e9e9 !important;
    }

        th.year-section-header:first-child, th.sim-header:first-child {
            text-align: left !important;
        }

    .bal_sheet_row {
        background-color: #ebebeb !important;
        font-weight: bold !important;
        padding-bottom: 10px !important;
    }


    .dcg-table thead th {
        text-transform: none !important;
    }

    .dcg-table tbody tr td {
        min-width: 50px !important;
    }
    /*Override*/
    .atlasHeader, .dcg-table thead th.atlasHeader {
        line-height: 17px;
    }

    .scenarioButton {
        padding: 0px;
    }
</style>

<section id="historicalbalancesheetnii-view" style="padding-top:5px;">
    <div class="section lightGreenBorder">
        <table class="dcg-table" style="border: 1px solid #73AFAD;">
            <thead>
                <tr><th class="atlasHeader blueGreen" data-bind="attr:{colspan: $root.totalCellsWide}">HISTORICAL BALANCE SHEET COMPARISON</th></tr>
                <!--<tr><th class="small-spacer-row"></th></tr>-->
                <tr data-bind="foreach: balSheetHeader"><th data-bind="html: aod, attr: {colspan: colspan}, css: {'spacer-cell': spacerCell && $index() > 2,'spacer-cell-alt': spacerCell && $index() == 2, 'greyHeader': !spacerCell}" style="text-align: center; "></th></tr>
                <tr valign="bottom">
                    <th></th>
                    <!-- ko foreach: lineItems[0].cells -->
                    <th data-bind="html: data, css: {'spacer-cell': spacerCell && $index() > 3, 'spacer-cell-alt': spacerCell && $index() == 3}"></th>
                    <!-- /ko -->
                </tr>
            </thead>
            <tbody data-bind="">
                <!-- ko foreach: lineItems -->
                <!-- ko if: $index() != 0 && !zeroLineItem-->
                <tr data-bind="css:{'bal_sheet_row': $index() == $root.lineItems.length - 1}">
                    <td data-bind="text: name, css: {'total-cell': isTotal}" class="cellLabel"></td><!-- ko foreach: cells -->
                    <td data-bind="html: data, css: {'spacer-cell': spacerCell && $index() > 3, 'spacer-cell-alt': spacerCell && $index() == 3, 'total-cell': totalCell, 'sim-header': $parentContext.$index() == 0 }"></td><!-- /ko -->
                </tr>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko foreach: $root.topFootnotes -->
                <tr><td class="footnote" data-bind="attr:{colspan: $root.totalCellsWide}, css:{'first-footnote': $index() == 0}"><span data-bind="text: $index() + 1 + '. '"></span><span data-bind="text: text"></span></td></tr>
                <!-- /ko -->
            </tbody>
        </table>
        <!--<div class="spacer"></div>-->

        <table class="dcg-table" style="border: 1px solid #40637a;">
            <thead>
                <tr><th class="atlasHeader darkGreen" style="border-bottom: none;" data-bind="attr:{colspan: $root.totalCellsWide}">Net Interest Income Sensitivity</th></tr>
                <!-- ko foreach: niiAODHeader -->
                <tr><th data-bind="text: name" style="border-bottom: none;"></th><!-- ko foreach: cells --><th class="spacer-cell" data-bind="attr:{colspan: colSpan}, html: data, css: {'spacer-cell': spacerCell && $index() > 1, 'spacer-cell-alt': spacerCell && $index() == 1, 'greyHeader': !spacerCell}" style="text-align: center; font-weight: bold;border-bottom: none;"></th><!-- /ko --></tr>
                <!-- /ko -->
            </thead>
            <tbody>
                <!--<tr><th class="small-spacer-row"></th></tr>-->
                <!--2nd Table - Date Header Block-->
                <!--2nd Table - Item Header Block-->
                <!-- ko foreach: niiSimHeaders -->
                <tr><th style="width: 186px;" class="bottom-align year-section-header" data-bind="text: name"></th><!-- ko foreach: cells --><th data-bind="html: data, css: {'spacer-cell': spacerCell && $index() > 2,'spacer-cell-alt': spacerCell && $index() == 2, 'total-cell': totalCell, 'sim-header': $parentContext.$index() == 0}"></th><!-- /ko --></tr>

                <!-- /ko -->
                <!-- ko foreach: niiYearOneItems -->
                <tr><td class="cellLabel"><span class="scenarioButton" data-bind="text: name,  css: $root.charting.scenarioIdLookUp(name).labelClass"></span></td><!-- ko foreach: cells --><td data-bind="html: data, css: {'spacer-cell': spacerCell && $index() > 2, 'spacer-cell-alt': spacerCell && $index() == 2, 'total-cell': totalCell }"></td><!-- /ko --></tr>
                <!-- /ko -->
                <tr>
                    <th class="year-section-header">Year 2 NII Projections</th>
                    <th class="year-section-header"></th>
                    <th class="year-section-header">% &#916; from<br /><span data-bind="text: year2CompTitle"></span></th>
                    <th class="spacer-cell-alt year-section-header"></th>
                    <th class="year-section-header" colspan="2"></th>
                    <th class="year-section-header">% &#916; from<br /><span data-bind="text: year2CompTitle"></span></th>
                    <th class="year-section-header" colspan="3"></th>
                    <!-- ko if: $root.histNiiViewData().simulationCount > 2 -->
                    <th class="year-section-header" colspan="2"></th>
                    <th class="year-section-header">% &#916; from<br /><span data-bind="text: year2CompTitle"></span></th>
                    <th class="year-section-header" colspan="3"></th>
                    <!-- /ko -->
                </tr>
                <!-- ko foreach: niiYearTwoItems -->
                <tr><td class="cellLabel"><span class="scenarioButton" data-bind="text: name,  css: $root.charting.scenarioIdLookUp(name).labelClass"></span></td><!-- ko foreach: cells --><td data-bind="html: data, css: {'spacer-cell': spacerCell && index() > 2,'spacer-cell-alt': $index() == 2, 'total-cell': totalCell}"></td><!-- /ko --></tr>
                <!-- /ko -->
                <tr>
                    <th class="year-section-header">2 Year Cumulative NII Projections</th>

                    <th class="year-section-header"></th>
                    <th class="year-section-header">% &#916; from<br /><span data-bind="text: $root.plainCompScenName"></span></th>
                    <th class="spacer-cell-alt year-section-header"></th>
                    <th colspan="2" class="year-section-header"></th>
                    <th class="year-section-header">% &#916; from<br /><span data-bind="text: $root.plainCompScenName"></span></th>
                    <th class="year-section-header" colspan="3"></th>
                    <!-- ko if: $root.histNiiViewData().simulationCount > 2 -->
                    <th class="year-section-header" colspan="2"></th>
                    <th class="year-section-header">% &#916; from<br /><span data-bind="text: $root.plainCompScenName"></span></th>
                    <th class="year-section-header" colspan="3"></th>
                    <!-- /ko -->
                </tr>

                <!-- ko foreach: niiCumItems -->
                <tr><td class="cellLabel"><span class="scenarioButton" data-bind="text: name,  css: $root.charting.scenarioIdLookUp(name).labelClass"></span></td><!-- ko foreach: cells --><td data-bind="html: data, css: {'spacer-cell': spacerCell && $index() > 2,'spacer-cell-alt': $index() == 2, 'total-cell': totalCell}"></td><!-- /ko --></tr>
                <!-- /ko -->
                <!-- ko foreach: $root.bottomFootnotes -->
                <tr><td class="footnote" data-bind="attr:{colspan: $root.totalCellsWide}, css:{'first-footnote': $index() == 0}"><span data-bind="text: $index() + 1 + '. '"></span><span data-bind="text: text"></span></td></tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>

    <!--<div class="spacer"></div>-->
    <div class="row" style="margin-left:0px; padding-right: 15px;">
        <div class="col-sm-6 col-no-pad" style="border-bottom: 1px solid #D9D900 !important; border-left: 1px solid #D9D900 !important; width: 47.5%;">
            <h4 class="atlasHeader yellow" id="left_chart_name" style="margin: 0px"></h4>
            <div id="left_chart_container" style="padding: 0; height: 160px;">
            </div>
        </div>
        <div id="middle_axis_col" class="col-sm-2 col-no-pad" style="width: 5%; border-bottom: 1px solid #D9D900;">
            <h2 id="middleTitle" class="atlasHeader yellow"></h2>
            <div style="height: 160px;">
                <svg id="middle_svg" style="height: 160px;"></svg>
            </div>

        </div>

        <div class="col-sm-6 col-no-pad" style="border-bottom: 1px solid #D9D900 !important; border-right: 1px solid #D9D900 !important; width: 47.5%">
            <h4 class="atlasHeader yellow" id="right_chart_name" style="margin: 0px"></h4>
            <div id="right_chart_container" style="padding: 0; height: 160px;">
            </div>
        </div>
    </div>
</section>