﻿<section data-bind="with:historicalBalanceSheetNII">

    <!--<fieldset>-->
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Institution</label>
                <select id="inst_dropdown" class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label>Simulations/Offsets</label>
            <table class="table">
                <thead>
                    <tr class="middle-align">
                        <th>
                            <span class="dropdown dropup">
                                <button title="Add Simulation" class="btn btn-success" data-toggle="dropdown" id="addSimulation" data-bind="click: $root.addSimulation, disable: $root.historicalBalanceSheetNII().historicalBalanceSheetNIISimulations().length ==3"><i id="addSimulation_icon" class="fa fa-plus"></i></button>
                            </span>
                        </th>
                        <th>Simulation</th>
                        <th>Override</th>
                        <th>Date Offset</th>
                        <th>Priority</th>
                    </tr>
                </thead>

                <tbody data-bind="foreach: $root.sortedSimulations">
                    <tr class="middle-align">
                        <td>
                            <button title="remove" data-bind="click: $root.removeHistoricalNiiSimulation, disable: $root.historicalBalanceSheetNII().historicalBalanceSheetNIISimulations().length ==2, attr:{'id': 'rmv_hbsnSimType' + id()}" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                        
                        <td>
                            <!-- ko if: simulationTypes -->
                            <select class="form-control" data-bind="options: simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId, enable: overrideSimulation, attr{'id': 'sim_dropdown_hbsnSimType' + id()}"></select>
                            <!-- /ko -->
                        </td>
                        <td>
                            <input type="checkbox" data-bind="checked: overrideSimulation, attr: {'id': 'ovrd_sim_cb_hbsnSimType' + id()}" />
                        </td>
                        <td>
                            <select class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset, attr:{'id': 'dateoffset_dropdown_hbsnSimType' + id()}"></select>
                        </td>

                        <td>
                            <span data-bind="text: priority"></span>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <span style="font-weight: bold;">Balance Sheet Grouping</span>
            <!--<select class="form-control" data-bind="options: $root.viewOptions, optionsText: 'title',optionsValue: 'value', value: balanceSheetAssetViewOption, optionsAfterRender: $root.setOptionDisable"></select>-->
            <select class="form-control" data-bind="foreach: $root.viewOptions, value: balanceSheetAssetViewOption" id="viewOption_dropdown">
                <optgroup data-bind="attr: {label: label}, foreach: children">
                    <option data-bind="text: title, attr: {value: value}"></option>
                </optgroup>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input id="ovrd_tax_equiv_yields_cb" type="checkbox" data-bind="checked: overrideTaxEquiv"/> Override Tax Equivalent Yields
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input id="tax_equiv_yields_cb" type="checkbox" data-bind="checked: taxEquivalent, enable: overrideTaxEquiv" /> Tax Equivalent Yields
            </label>
        </div>
    </div>
    

    <!--<div class="row">
        <div class="col-md-12">
            <span style="font-weight: bold;">Balance Sheet Footnotes</span>
            <table class="table">
                <thead>
                    <tr>
                        <td style="width: 10%">
                            <button title="add footnote" class="btn  btn-success" data-bind="click: $root.addTopFootNote, disable: $root.sortedTopFootNotes().length >= 3" id="addTopFootNoteButton"><i class="fa fa-plus"></i></button>
                        </td>
                        <td style="width: 10%"></td>
                        <td style="width: 80%"></td>
                    </tr>
                </thead>
                <tbody data-bind="sortable: { data: $root.sortedTopFootNotes, afterMove: $root.sortableAfterMove}">
                    <tr class="middle-align">
                        <td>
                            <button title="remove footnote" data-bind="click: $root.removeTopFootNote" class="btn  btn-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                        <td data-bind="text: priority"></td>
                        <td>
                            <input type="text" class="form-control" placeholder="type footnote here..." data-bind="value: text, valueUpdate: 'afterkeydown'">
                        </td>
                        <td><i class="fa fa-sort"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>-->
    <!--</fieldset>-->

    <fieldset>
        <legend>Historical NII Comparison</legend>
        <div class="row">
            <div class="col-sm-3 form-group">
                <div class="checkbox">
                    <label>
                        <input id="override_charts _tax_equiv" type="checkbox" data-bind="checked: overrideChartsTaxEquivalent" /> Override Tax Equivalent Income
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input id="charts_taxEquiv_cb" type="checkbox" data-bind="checked: chartsTaxEquivalent , enable: overrideChartsTaxEquivalent" /> Tax Equivalent Income
                    </label>
                </div>
            </div>
            <div class="col-sm-3 form-group">
                <label>Year 2 Comparatives</label>
                <select class="form-control" data-bind="value: year2Comparative" id="yr2_comp_dropdown">
                    <option value="year2year1">Yr 2 % Change from Yr 1 Base</option>
                    <option value="year2year2">Yr 2 % Change from Yr 2 Base</option>
                </select>
            </div>
        </div>
        
        <label>Scenarios</label>
        <table class="table">
            <thead>
                <tr class="middle-align">
                    <th>
                        <span class="dropdown dropup">
                            <button id="add_scen_btn" title="add scenario" class="dropdown-toggle  btn btn-success" data-bind="disable: $root.historicalBalanceSheetNII().historicalBalanceSheetNIIScenarios().length ==5" data-toggle="dropdown" href="#"><i id="add_scen_icon" class="fa fa-plus"></i></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" data-bind="foreach: $root.availableScenarioTypes" style="">
                                <!-- ko ifnot: inUse -->
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-bind="text: name, click: $root.addScenarioType"></a></li>
                                <!-- /ko -->
                                <!-- ko if: inUse -->
                                <li role="presentation"><a style="color: lightgrey" role="menuitem" tabindex="-1" data-bind="text: name, click: $root.dontAddScenarioType"></a></li>
                                <!-- /ko -->
                            </ul>
                        </span>
                    </th>
                    <th>Priority</th>
                    <th>Type</th>
                    <th>Compare</th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="sortable" data-bind="css: $root.scenarioConnectClass, sortable: { data: $root.sortedScenarioTypes, afterMove: $root.sortableAfterMove, connectClass: $root.scenarioConnectClass }">
                <tr class="middle-align">
                    <td>
                        <button title="remove" data-bind="click: $root.removeScenarioType, attr:{'id': 'rmv_scenType' + id()}" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    </td>
                    <td data-bind="text: priority"></td>
                    <td data-bind="with: scenarioType"><span data-bind="text: name"></span></td>
                    <td><input type="radio" name="compareOption" data-bind="checked: $root.historicalBalanceSheetNII().comparativeScenario, value: scenarioTypeId().toString(), attr:{'id': 'compare_rad_scenType' + id()}" /></td>
                    <td><i class="fa fa-sort"></i></td>
                </tr>
            </tbody>
        </table>
        <!--<label>NII Footnotes</label>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <td style="width: 10%">
                            <button title="add footnote" class="btn  btn-success" data-bind="click: $root.addBottomFootNote, disable: $root.sortedBottomFootNotes().length >= 3" id="addBottomFootNoteButton"><i class="fa fa-plus"></i></button>
                        </td>
                        <td style="width: 10%"></td>
                        <td style="width: 80%"></td>
                    </tr>
                </thead>
                <tbody data-bind="sortable: { data: $root.sortedBottomFootNotes, afterMove: $root.sortableAfterMove}">
                    <tr class="middle-align">
                        <td>
                            <button title="remove footnote" data-bind="click: $root.removeBottomFootNote" class="btn  btn-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                        <td data-bind="text: priority"></td>
                        <td>
                            <input type="text" class="form-control" placeholder="type footnote here..." data-bind="value: text, valueUpdate: 'afterkeydown'">
                        </td>
                        <td><i class="fa fa-sort"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>-->
        <!--<div class="col-md-6">
            <label>NIIGrouping</label>
            <div>
                <div class="form-group">
                    <select class="form-control" data-bind="foreach: $root.niiGroupings, value: nIIAssetViewOption">
                        <optgroup data-bind="attr: {label: label}, foreach: children">
                            <option data-bind="text: title, attr: {value: value}"></option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>-->
    </fieldset>
    <div class="row">
        <h5>Graph Selection</h5>
        <div class="btn-group col-md-12" data-toggle="buttons-radio">
            <label>Graph Type</label>
            <br />
            <button id="month_graph_rad" type="button" class="btn btn-default " data-toggle="button" data-bind="click: $root.histBalSheetMonthlyClick, css: { active: !$root.historicalBalanceSheetNII().isQuarterly() }">Monthly</button>
            <button id="quaterly_graph_rad" type="button" class="btn btn-default " data-toggle="button" data-bind="click: $root.histBalSheetQuarterlyClick, css: { active: $root.historicalBalanceSheetNII().isQuarterly() }">Quarterly</button>
        </div>
        <div class="col-sm-6" data-bind="compose: $root.leftChartVM"></div>
        <div class="col-sm-6" data-bind="compose: $root.rightChartVM"></div>
        
    </div>
    <!--<fieldset class="col-md-3">
        <legend>Graph Selection</legend>
        <select class="form-control" data-bind="options: $root.graphSelection, optionsText: 'name', optionsValue: 'id', value: changeAttribution"></select>
    </fieldset>-->


</section>
