﻿<style>
textarea{
    width: 750px;
    height: 500px;
}
.me{
    background-color: blue;
    color: white;
}
/*add your styles here. Try to avoid class conflicts*/
</style>

<section>
    <h3>Just change the C# hard coded html in the service...Best I could come up with at the time.</h3>
    <button type="button" data-bind="click: goToImage">Image</button>

</section>
