﻿<div class="modal-content">
    <div class="modal-header">
        <h3 data-bind="text: model.title"></h3>
    </div>
    <div class="modal-body">
        <form data-bind="submit: ok">
            <p class="message" data-bind="text: model.message"></p>
            <input data-bind="value: input, valueUpdate: 'afterkeydown'" class="form-control autofocus" />
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-cancel" data-bind="click: cancel, visible: ! model.hideCancel">Cancel</button>
        <button class="btn btn-primary" data-bind="click: ok, enable: input">Ok</button>
    </div>
</div>