﻿<section data-bind="with:interestRatePolicyGuidelines">
    <div class="row col-lg-12">
        <fieldset class="col-sm-12">
            <div class="col-md-12 form-group">
                <label>Institution</label>
                <select id="inst_dropdown" class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
            </div>
        </fieldset>

        <fieldset class="col-sm-12">
            <div class="col-md-12 form-group">
                <table class="table">
                    <thead>
                        <tr class="middle-align">
                            <th><button id="addDate_btn" title="add type" class="btn btn-success" data-bind="click: $root.addDate"><i id="addDate_icon" class="fa fa-plus"></i></button></th>
                            <th>Date Offsets</th>
                            <th>NII Simulation</th>
                            <th>EVE Simulation</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="sortable" data-bind="css: $root.connectClassDate, sortable: { data: $root.sortedDates, afterMove: $root.sortableAfterMove, connectClass: $root.connectClassDate }">
                        <tr class="middle-align">
                            <td><button title="remove" data-bind="click: $root.removeType, attr:{'id': 'rmv_date' + id()}" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
                            <td><select class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset, attr:{'id': 'dateoffset_dropdown_date' + id()}"></select></td>
                            <td><select class="form-control" data-bind="options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: nIISimulationTypeId, attr:{'id': 'nii_sim_dropdown_date' + id()}"></select></td>
                            <td><select class="form-control" data-bind="options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: eVESimulationTypeId, attr:{'id': 'eve_sim_dropdown_date' + id()}"></select></td>
                            <td><i class="fa fa-sort"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>

        <fieldset class="col-sm-12">
            <legend>NII Earnings at Risk</legend>
            <div class="col-md-12 form-group">
                <table class="table">
                    <thead>
                        <tr class="middle-align">
                            <th><button id="add_niiComp_btn" title="add type" class="btn btn-success" data-bind="click: $root.addNIIComparative"><i id="add_niiComp_icon" class="fa fa-plus"></i></button></th>
                            <th>Comparatives</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="sortable" data-bind="css: $root.connectClassNIIComparative, sortable: { data: $root.sortedNIIComparatives, afterMove: $root.sortableAfterMove, connectClass: $root.connectClassNIIComparative }">
                        <tr class="middle-align">
                            <td colspan="3">
                                <table class="table">
                                    <tbody>
                                        <tr class="middle-align">
                                            <td><button title="remove" data-bind="click: $root.removeType, attr:{'id': 'rmv_btn_niiComp' + id()}" class="btn btn-danger"><i data-bind="attr:{'id': 'rmv_icon_niiComp' + id()}" class="fa fa-trash-o"></i></button></td>
                                            <td><select class="form-control" data-bind="options: $root.nIIComparativeTypes, optionsText: 'name', optionsValue: 'key', value: type, attr:{'id': 'niiCompType_dropdown_' + id()}"></select></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="middle-align">
                                            <th>&nbsp;&nbsp;&nbsp;&nbsp;<button title="add type" class="btn btn-success" data-bind="click: addType, attr:{'id': 'add_niiScenType_niiComp' + id()}"><i class="fa fa-plus"></i></button></th>
                                            <th>Scenario Type</th>
                                            <th></th> <!-- Custom Name --> 
                                            <th></th>
                                        </tr>
                                    </tbody>
                                    <tbody class="sortable" data-bind="css: $root.connectClassNIIScenarioType, sortable: { data: sortedTypes, afterMove: $root.sortableAfterMove, connectClass: $root.connectClassNIIScenarioType }">
                                        <tr class="middle-align">
                                            <td colspan="3">
                                                <table class="table">
                                                    <tbody>
                                                        <tr class="middle-align">
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<button title="remove" data-bind="click: $root.removeType, attr:{'id': 'rmv_nii_scenType_' + id()}" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
                                                            <td><select class="form-control" data-bind="options: $root.nIIScenarioTypeLabels, optionsText: 'name', optionsValue: 'key', value: type, attr:{'id': 'niiScenType_label_dropdown' + id()}"></select></td>
                                                            <!-- ko if: type() == "custom" -->
                                                            <td><input class="form-control" data-bind="value: customName, attr:{'id': 'customName_tb' + id()}" /></td>
                                                            <!-- /ko -->
                                                            <!-- ko if: type() != "custom" -->
                                                            <td></td>
                                                            <!-- /ko -->
                                                            <td></td>
                                                        </tr>
                                                        <tr class="middle-align">
                                                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button title="add type" class="btn btn-success" data-bind="click: addType, attr:{'add_graphType_btn_' + id()}"><i class="fa fa-plus"></i></button></th>
                                                            <th>Scenario</th>
                                                            <th>Graph</th>
                                                            <th></th>
                                                        </tr>
                                                    </tbody>
                                                    <tbody class="sortable" data-bind="css: $root.connectClassNIIScenario, sortable: { data: sortedTypes, afterMove: $root.sortableAfterMove, connectClass: $root.connectClassNIIScenario }">
                                                        <tr class="middle-align">
                                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button title="remove" data-bind="click: $root.removeType, attr:{'id': 'rmv_scenGraphType_' + id()}" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
                                                            <td><select class="form-control" data-bind="options: $root.nIIScenarioTypes, optionsText: 'name', optionsValue: 'id', value: scenarioTypeId, attr:{'id': 'scenGraphType_scenId_dropdown' + id()}"></select></td>
                                                            <td><input type="checkbox" data-bind="checked: graph, attr:{'graph_cb' + id()'}" /></td>
                                                            <td><i class="fa fa-sort"></i></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td><i class="fa fa-sort"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td><i class="fa fa-sort"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>

        <fieldset class="col-sm-12">
            <legend>EVE</legend>
            <div class="col-md-12 form-group">
                <table class="table">
                    <thead>
                        <tr class="middle-align">
                            <th><button title="add type" class="btn btn-success" data-bind="click: $root.addEVEComparative" id="add_eveComp_btn"><i id="add_eveComp_icon" class="fa fa-plus"></i></button></th>
                            <th>Comparatives</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="sortable" data-bind="css: $root.connectClassEVEComparative, sortable: { data: $root.sortedEVEComparatives, afterMove: $root.sortableAfterMove, connectClass: $root.connectClassEVEComparative }">
                        <tr class="middle-align">
                            <td colspan="3">
                                <table class="table">
                                    <tbody>
                                        <tr class="middle-align">
                                            <td><button title="remove" data-bind="click: $root.removeType, attr:{'id': 'rmv_eveComp_btn'+id()}" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
                                            <td><select class="form-control" data-bind="options: $root.eVEComparativeTypes, optionsText: 'name', optionsValue: 'key', value: type, attr:{'id': 'eveCompType_dropdown' + id()}"></select></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr class="middle-align">
                                            <th>&nbsp;&nbsp;&nbsp;&nbsp;<button title="add type" class="btn btn-success" data-bind="click: addType, attr:{'id': 'add_eveCompScenType' + id()}"><i class="fa fa-plus"></i></button></th>
                                            <th>Scenario</th>
                                            <th>Graph</th>
                                            <th></th>
                                        </tr>
                                    </tbody>
                                    <tbody class="sortable" data-bind="css: $root.connectClassEVEScenario, sortable: { data: sortedTypes, afterMove: $root.sortableAfterMove, connectClass: $root.connectClassEVEScenario }">
                                        <tr class="middle-align">
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<button title="remove" data-bind="click: $root.removeType, atr:{'id': 'rmv_eveCompScenType' + id()}" class="btn btn-danger"><i class="fa fa-trash-o"></i></button></td>
                                            <td><select class="form-control" data-bind="options: $root.eVEScenarioTypes, optionsText: 'name', optionsValue: 'id', value: scenarioTypeId, attr:{'id': 'eveCompScenType_dropdown'+ id()}"></select></td>
                                            <td><input type="checkbox" data-bind="checked: graph" /></td>
                                            <td><i class="fa fa-sort"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td><i class="fa fa-sort"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
</section>
