﻿<style>
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    padding: 2px;
}
.charts>div{
    height: 250px;
}
.pageBreakBefore{
        page-break-before: always;

    }
</style>
<section id="interest-rate-view">
    <div class="row col-lg-12">
        <br />
        <fieldset class="col-sm-12">
            <legend>NII Earnings at Risk</legend>
            <div class="col-md-7 form-group">
                <table class="table">
                    <thead>
                        <tr class="middle-align">
                            <th></th>
                            <th>Policy Limit</th>
                            <!-- ko foreach: $root.chartDates -->
                            <th data-bind="text: $data"></th>
                            <!-- /ko -->
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: sortedNIIComparatives">
                        <tr class="middle-align">
                            <th data-bind="text: longName"></th>
                            <th></th>
                            <!-- ko foreach: $root.chartDates -->
                            <th></th>
                            <!-- /ko -->
                        </tr>
                        <!-- ko foreach: sortedTypes -->
                        <tr class="middle-align">
                            <!-- ko if: type == "custom" -->
                            <th>&nbsp;&nbsp;<span data-bind="text: customName" /></th>
                            <!-- /ko -->
                            <!-- ko if: type != "custom" -->
                            <th>&nbsp;&nbsp;<span data-bind="text: longName" /></th>
                            <!-- /ko -->
                            <th></th>
                            <!-- ko foreach: $root.chartDates -->
                            <th></th>
                            <!-- /ko -->
                        </tr>
                        <!-- ko foreach: sortedTypes -->
                        <!-- ko if:policyData().length > 0 -->
                        <tr class="middle-align">
                            <!-- ko with: scenarioType -->
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: name" /></td>
                            <!-- /ko -->

                            <!-- ko foreach: policyData -->
                            <!-- ko if: $index() == 0 -->
                            <td data-bind="text: (policyLimit == -999 ? '' :  numeral(policyLimit).divide(100).format('0.0%'))"></td>
                            <!-- /ko -->
                            <td data-bind="style: { backgroundColor: riskColor }, text: numeral(currentRatio).format('0.0%')"></td>
                            <!-- /ko -->
                        </tr>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>

            <div class="col-md-5 form-group charts" data-bind="foreach: sortedNIIComparatives">
                <div class="row" data-bind="attr: { id: type }"></div>
            </div>
        </fieldset>

        <fieldset class="col-sm-12 pageBreakBefore">
            <legend>EVE</legend>
            <div class="col-md-7 form-group">
                <table class="table">
                    <thead>
                        <tr class="middle-align">
                            <th></th>
                            <th>Policy Limit</th>
                            <!-- ko foreach: $root.chartDates -->
                            <th data-bind="text: $data"></th>
                            <!-- /ko -->
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: sortedEVEComparatives">
                        <tr class="middle-align">
                            <th data-bind="text: longName"></th>
                            <th></th>
                            <!-- ko foreach: $root.chartDates -->
                            <th></th>
                            <!-- /ko -->
                        </tr>
                        <!-- ko foreach: sortedTypes -->
                        <tr class="middle-align">
                            <!-- ko with: scenarioType -->
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: name" /></td>
                            <!-- /ko -->
                            <!-- ko foreach: policyData -->
                            <!-- ko if: $index() == 0 -->
                            <td data-bind="text: (policyLimit == -999 ? '' :  numeral(policyLimit).divide(100).format('0.0%'))"></td>
                            <!-- /ko -->
                            <td data-bind="style: { backgroundColor: riskColor }, text: numeral(currentRatio).format('0.0%')"></td>
                            <!-- /ko -->
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>

            <div class="col-md-5 form-group charts " data-bind="foreach: sortedEVEComparatives">
                <div class="row chart-holder" data-bind="attr: { id: type }"></div>
            </div>
        </fieldset>
    </div>
</section>
