﻿<style>
    table {
        width: 100%;
        font-size: 9px;
    }

    #report-view table tbody tr:nth-child(even) {
        background-color: rgb(232, 246, 254);
    }
</style>

<section id="report-view">
    <div class="row">
        <div class="col-md-12">
            <table>
                <thead>
                    <tr>
                        <th>Cusip</th>
                        <th>Par Value</th>
                        <th>Book Value</th>
                        <th>Book Price</th>
                        <th>Mkt Price</th>
                        <th>Intent</th>
                        <th>Yield</th>
                        <th>Coupon</th>
                        <th>Maturity Date</th>
                        <th>Coupon Type</th>
                        <th>Index</th>
                        <th>Margin</th>
                        <th>Next Reset Date</th>
                        <th>Reset Freq</th>
                        <th>Period Cap</th>
                        <th>Life Cap</th>
                        <th>Life Floor</th>
                    </tr>

                </thead>
                <tbody id="invBody"></tbody>
            </table>
        </div>

    </div>


</section>
