﻿<style>
    table{
        width: 100%;
    }
</style>

<section>
    <div class="row">
        <div class="col-md-12">
            <table class="eve-table-basic">
                <thead>
                    <tr>
                        <th></th>
                        <th>Current Par</th>
                        <th>Current Book</th>
                        <th>Market Value</th>
                        <th>Gain/(Loss)</th>

                    </tr>
                    
                </thead>
                <tbody id="invBody">

                </tbody>
            </table>
        </div>

    </div>

 
</section>
