﻿<section data-bind="with:ivp">
    <fieldset class="col-sm-12">
        <div class="col-md-12">
            <div class="form-group">
                <label>Institution</label>
                <select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
            </div>
            <div class="form-group">
                <label>Date offset</label>
                <select class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
            </div>
        </div>
    </fieldset>

</section>
