﻿<style>
    table {
        width: 100%;
        font-size: 9px;
    }

    #report-view table tbody tr:nth-child(even) {
        background-color: rgb(232, 246, 254);
    }
</style>

<section id="report-view">
    <div class="row">
        <div class="col-md-12">
            <table>
                <thead>
                    <tr>
                        <th>Cusip</th>
                        <th>Par Value</th>
                        <th>Book Value</th>
                        <th>Book Price</th>
                        <th>Mkt Price</th>
                        <th>Intent</th>
                        <th>Yield</th>
                        <th>Coupon</th>
                        <th>Asset Class</th>
                        <th>Callable</th>
                        <th>Taxable</th>
                        <th>Coll Type</th>
                        <th>Loan Age</th>
                        <th>Maturity Date</th>
                        <th>Original Term</th>
                        <th>Origination Date</th>
                        <th>Payment Freq</th>
                        <th>PPHist CPR 1 MO</th>
                        <th>PPHist CPR 3 MO</th>
                        <th>PPHist CPR Life</th>
                        <th>Security Type</th>
                        <th>WAC</th>
                        <th>WAM</th>
                        <th>Coupon Type</th>
                        <th>Index</th>
                        <th>Margin</th>
                        <th>Next Reset Date</th>
                        <th>Reset Freq</th>
                        <th>Period Cap</th>
                        <th>Life Cap</th>
                        <th>Life Floor</th>
                    </tr>

                </thead>
                <tbody id="invBody"></tbody>
            </table>
        </div>

    </div>


</section>
