﻿<style>

    #tierTable {
        border-collapse: separate;
        border-spacing: 0;
        font-size: 10px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #000000;
        table-layout: initial;
    }

    /*
        tierRow styling

    */
    .tierRow > td{
        text-transform:uppercase;
    }

    tr.tierRow td.tierLabel {
        padding-left: 10px;
        font-weight: bold;
    }

    .rightCellWithPad {
        text-align: right !important;
        padding-right: 7px !important;
        font-weight: bold;
    }

    .tierLabel{
        min-width: 200px;
    }

    /*
        Detail row styling

    */
    .detailRow > td.leftCell{
        text-align: right;
    }

    .detailRow > td.rightCell {
       padding-left: 7px;
       font-weight: bold;
    }

    .rightCell{
        text-align: right;
    }

    .spacerRow, .tierRow{
        height: 25px;
    }

    .spacerRowSmall{
        height:6px;
    }

    .spacerRowLast > td {
        border-bottom: 5px solid rgb(235,235,235);
    }

    .background-off-yellow{
        background-color: rgb(255,255,237);
    }

    .border-right-thick.border-grey {
        border-right: 5px solid rgb(235,235,235);
    }

    .border-bottom-thick.border-grey {
        border-bottom: 5px solid rgb(235,235,235);
    }

    .border-top-thick.border-grey {
        border-top: 5px solid rgb(235,235,235);
    }

    .leftCell, .rightCell{
        padding: 4px;
    }


    /*
        Chart Holder cell
    */
    #setRowSpanChart {
        width: 180px !important;
    }

    #basicSurplusChart{
    
        
    }

    #upperRightBasicSurplus {

        padding:0px !important;
        margin: 0px !important;
        position: relative;

    }

        #upperRightBasicSurplus > span {
            background-color: rgb(235,235,235);
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 5px;
            border-bottom-left-radius: 10px;
            width: 110px;
        }

    .policyRow{
        height: 14px;
    }

    .policyRow > td {
        text-align: right;
        padding-right: 7px;
        font-size: 9px;
        font-style: italic;
    }


    #setRowSpanChart{
    }

    #basicSurplusChart {
        border: 2px solid rgb(235,235,235);
    } 
    
    .min-empty {
        max-width: 5px;
    }

    #volTable, #balSheetTable {
        font-style: normal;
        color: #000;
        width: 100%;
        font-size: 10px;
        text-align: right;
    }

    table#wholesaleTable tbody {
        text-transform: uppercase;
    }

    #notesBox {
        border: 2px solid rgb(235,235,235);
        border-radius: 15px;
        min-height: 180px;
        font-size: 10px;
        padding-top:8px;
    }

    .border-top-wholesale > td {
        border-top: 2px solid rgb(235,235,235);
    }

    #secondSection{
        margin-top: 15px;
    }

    .border-top-wholesale td{
        font-weight: bold;
    }

    tr.spacerRowLast.spacerRowSmall td {
        padding-top: 20px;
    }

    #wholesaleTable{
        line-height: 20px;
    }
</style>

<section id="report-view">

    <div class="row">
        <div class="col-md-12">
            <table id="tierTable">
                <thead>
                    <tr>
                        <th colspan="2" class="empty"></th>
                        <th class="rightCellWithPad">AMOUNT</th>
                        <th class="border-right-thick border-clear rightCellWithPad">% OF <br/> ASSETS</th>
                        <th class="rightCellWithPad">CUMULATIVE <br/>AMOUNT</th>
                        <th class="border-right-thick border-grey rightCellWithPad">% OF <br /> ASSETS</th>

                        <th class="background-off-yellow border-top-thick border-grey rightCellWithPad">BASIC<br /> SURPLUS</th>
                        <th class="background-off-yellow border-top-thick border-grey rightCellWithPad">% OF <br /> ASSETS</th>
                        <th class="empty min-empty background-off-yellow border-top-thick border-grey"><!-- Slight space between row and chart--></th>
                        <th class="empty big-empty background-off-yellow border-top-thick border-grey"><!-- cell before basic surplus label--></th>
                       
                        <th id="upperRightBasicSurplus" class="empty border-top-thick border-right-thick border-grey rightCellWithPad background-off-yellow"><span>BASIC SURPLUS</span></th>
                    </tr>
                </thead>
                <tbody id="invBody">
                    <!-- adding spacer row in tbody becuase we need chart to rowspan into body -->
                    <tr class="spacerRowSmall">
                        <td colspan="4" class="" style="width: 40%;"></td>
                        <td colspan="2" class="border-right-thick border-grey"  style="width: 15%;"></td>
                        <td colspan="3" class="background-off-yellow" style="width: 15%;"></td>
                        <td colspan="1" class="background-off-yellow"></td>
                        <!-- Has id of setRowSpan becuase all based on details they have in liquidity-->
                        <td colspan="2" id="setRowSpanChart" class="border-right-thick border-grey">
                            <div id="basicSurplusChart">

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="row" id="secondSection">
        <div class="col-md-5 col-sm-5">
            <h4> AVAILABLE WHOLESALE FUNDING CAPACITY</h4>
            <table class="dcg-table" id="wholesaleTable">
                <thead>
                    <tr>
                        <th class="empty">

                        </th>
                        <th>
                            Available <br/> Funding
                        </th>
                        <th>
                            Available Funding <br/>
                            per Policy
                        </th>
                        <th>
                            Available Funding per <br />
                            Total Wholesale Policy
                        </th>
                    </tr>
                </thead>
                <tbody>


                </tbody>

            </table>
        </div>
        <div class="col-md-4 col-sm-4" id="notesBox">
            <b>NOTES:</b>
            <ol id="notesboxList">


            </ol>

        </div>
        <div class="col-md-3 col-sm-3" id="balSheetText">

        </div>
    </div>


</section>
