﻿<section>
    <nav>
        <div>
            <button class="btn btn-primary" data-bind="click: goBack">
                <i class=" fa fa-arrow-left"></i>
                Back
            </button>
            <button class="btn btn-primary" data-bind="click: doPush, disable: isPushing">
                <i class="fa fa-save"></i>
                Push
            </button>
        </div>
    </nav>
    <br />
    <fieldset class="col-sm-12">
        <legend>L360 Push</legend>

        <div class="form-group col-sm-12">
            <fieldset class="col-sm-6">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Basic Surplus</label>
                        <select class="form-control" data-bind="disable: isPushing, options: $root.basicSurplusAdmins, optionsText: 'name', optionsValue: 'id', value: basicSurplusAdminId" />
                    </div>

                    <div class="form-group">
                        <label>Simulation</label>
                        <select class="form-control" data-bind="disable: true, options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: $root.simulationTypeId" />
                    </div>

                    <div class="form-group">
                        <label>Scenario</label>
                        <select class="form-control" data-bind="disable: true, options: $root.scenarioTypes, optionsText: 'name', optionsValue: 'id', value: $root.scenarioTypeId" />
                    </div>
                </div>
            </fieldset>
            <fieldset class="col-sm-6" />
        </div>
    </fieldset>
</section>
<div class="modal fade" tabindex="-1" role="dialog" id="l360_push_dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">L360 Push</h4>
            </div>
            <div class="modal-body">
                <p>Please wait, pushing L360 data.</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->