﻿<section>
    <div class="row form-horizontal">
        <div class="row">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="atlasDatabaseSelector">Institution</label>
                <div class="col-sm-4">
                    <select class="form-control" data-bind="options: availableBanks, optionsText: 'instName', optionsValue: 'databaseName', value: profile().databaseName, event: { change: databaseChanged }, enable: !global.navBarLock()" id="atlasDatabaseSelector"></select>
                </div>
                <div class="col-sm-2">
                    <!--<button type="button" id="databaseLockButton" class="btn btn-md" data-bind="event: { click: toggleDatabase }, enable: status().atlas_lock == 'Not Locked' || global.navBarLock(), text: global.navBarLock() ? 'Log Out' : 'Log In' "></button>-->
                    <button type="button" id="databaseLockButton" class="btn btn-md" data-bind="event: { click: toggleDatabase }, enable: canLogIn, text: global.navBarLock() ? 'Log Out' : 'Log In' "></button>

                </div>
                <div class="col-sm-2">
                    <p class="bg-info" data-bind="text: status().atlas_lock"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group" id="atlas_aod_selector_fg">
                <label class="col-sm-2 control-label" for="atlasAsOfDateSelector">As Of Date</label>
                <div class="col-sm-4">
                    <select class="form-control" data-bind="options: asOfDates, optionsText: 'asOfDateDescript', optionsValue: 'asOfDateDescript', value: profile().asOfDate, event: { change: asOfDateChanged }, enable: global.navBarLock()" id="atlasAsOfDateSelector"></select>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" tabindex="-1" role="dialog" id="bad_bank_modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document" id="bad_bank_dialog">
        <div class="modal-content" id="bad_bank_content">
            <div class="modal-header" id="bad_bank_header">
                <h4 class="modal-title">Invalid Bank</h4>
            </div>
            <div class="modal-body" id="bad_bank_body">
                <p>This bank's databse model does not comply with the most recent data model.</p>
            </div>
            <div class="modal-footer" id="bad_bank_footer"> 
                <button type="button" class="btn btn-default" data-dismiss="modal" id="bad_bank_confirm">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->