﻿

<section data-bind="with:liab">
   <!-- <fieldset class="col-md-12">
        <div class="form-group">
            <label>Institution</label>
            <select id="institution" class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
        </div>
    </fieldset>-->


    <div class="row">

        <div class="col-md-12">
            <fieldset class="col-md-12">
                <div class="form-group">
                    <label>Institution</label>
                    <select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
                </div>
            </fieldset>

        </div>

        <div class="col-md-6">
            <fieldset class="col-md-12">
                <div class="form-group">
                    <label>Date offset</label>
                    <select id="dateOffset" class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
                </div>
            </fieldset>


            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: overrideSimulationTypeId" /> Override Simulation
                </label>
            </div>
            <fieldset class="col-md-12">
                <div class="form-group">
                    <label>Simulation</label>
                    <select class="form-control" data-bind="options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId, enable: overrideSimulationTypeId"></select>
                </div>
            </fieldset>

            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: overrideScenarioTypeId" /> Override Scenario
                </label>
            </div>
            <fieldset class="col-md-12">
                <div class="form-group">
                    <label>Scenario</label>
                    <select class="form-control" data-bind="options: $root.scenarioTypes, optionsText: 'name', optionsValue: 'id', value: scenarioTypeId, enable: overrideScenarioTypeId"></select>
                </div>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="col-md-12">
                <div class="form-group">
                    <label>Comparative Date offset</label>
                    <select id="compOffset" class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: comparativeDateOffset"></select>
                </div>
            </fieldset>

            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: overrideCompSimulationTypeId" /> Override Simulation
                </label>
            </div>
            <fieldset class="col-md-12">
                <div class="form-group">
                    <label>Simulation</label>
                    <select class="form-control" data-bind="options: $root.compSimulationTypes, optionsText: 'name', optionsValue: 'id', value: compSimulationTypeId, enable: overrideCompSimulationTypeId"></select>
                </div>
            </fieldset>

            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: overrideCompScenarioTypeId" /> Override Scenario
                </label>
            </div>

            <fieldset class="col-md-12">
                <div class="form-group">
                    <label>Scenario</label>
                    <select class="form-control" data-bind="options: $root.compScenarioTypes, optionsText: 'name', optionsValue: 'id', value: compScenarioTypeId, enable: overrideCompScenarioTypeId"></select>
                </div>
            </fieldset>

        </div>
    </div>


 

    <fieldset class="col-md-12">
        <label>
            <input id="mostRecnetWebRate" type="checkbox" data-bind="checked: mostRecentWebRate" /> Use Most Recent Market Rates
        </label>
        
    </fieldset>

    <fieldset class="col-sm-12">
       <div class="row">
           <div class="col-md-3">
               FHLB District
           </div>
           <div class="col-md-3" data-bind="text: $root.pricing()[0].fHLBDistrict">
           </div>
           <div class="col-md-3">
               Comp FHLB District
           </div>
           <div class="col-md-3" data-bind="text: $root.pricing()[1].fHLBDistrict">
           </div>
       </div>
        <div class="row">
            <div class="col-md-3">
                Webrates Date:
            </div>
            <div class="col-md-3" data-bind="text: (mostRecentWebRate() ? $root.mostRecentDate() : $root.pricing()[0].webRateAsOfDate)">
            </div>
            <div class="col-md-3">
                Comp Webrates Date:
            </div>
            <div class="col-md-3" data-bind="text: $root.pricing()[1].webRateAsOfDate">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                CD Rate Eff. Date
            </div>
            <div class="col-md-3" data-bind="text: moment($root.pricing()[0].depositRateAsOfDate).format('MM/DD/YYYY')">

            </div>
            <div class="col-md-3">
                Comp CD Rate Eff. Date
            </div>
            <div class="col-md-3" data-bind="text: moment($root.pricing()[1].depositRateAsOfDate).format('MM/DD/YYYY')">

            </div>
        </div>


    </fieldset>

    <fieldset class="col-sm-12">
        <legend>Deposit History</legend>
        <fieldset class="col-md-5">
            <div class="form-group">
                <label>Start Date</label>
                <select id="depStartDate" class="form-control" data-bind="options: $root.allAsOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: depHisotryStartDate"></select>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: includeRetailRepos" /> Include Retail Repos
                </label>
            </div>
        </fieldset>
        <fieldset class="col-md-5 col-md-offset-1">
            <div class="form-group">
                <label>End Date</label>
                <select id="depEndDate" class="form-control" data-bind="options: $root.allAsOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: depHistoryEndDate"></select>
            </div>
        </fieldset>
    </fieldset>

</section>
