﻿
<style>

    .fillerCell{
        width: 20px;
        border: 0px !important;
    }


    .smallerFont{
        font-size: 7px;
    }

    .vsBank{
        background-color: rgb(240,240,240) !important;
    }

    .vsBankHead{
        border-top-left-radius: 0px;
    }

    .groupHeader {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center !important;
        background-color: #EBEBEB !important;
        color: #000000 !important;
    }

    .spacerRow{
        height:15px;
    }

    .greyBorder {
        border: 4px solid #EBEBEB;
    }

    .section {
        margin: 3px 4px 0px 4px;
        padding: 0px;
    }

    .reportDivider {
        font-size: 12px;
        margin: 0px 0px 4px 0px;
        padding: 3px;
    }

    .reportDivider.lightGreen{
        background-color: rgb(115,175,173); 
        color: #fff;
    }

    .reportDivider.darkGreen {
        background-color: rgb(64,99,122);
        color: #fff;
    }

    .reportDivider.yellow {
        background-color: rgb(217,217,0);
        color: #000;
    }

    .lightGreenBorder {
       border: 1px solid rgb(115,175,173);
    }


    #depHistory, #depWaterfall {
        height: 240px;
    }

    .highcharts-waterfall-series path {
        visibility: visible;
    }
    .all-caps{
        text-transform: uppercase;
    }
</style>

<section id="liab-price-view">


        <div class="section lightGreenBorder">
                <h2 class="reportDivider lightGreen"><span class="all-caps">Short Term Rates</span> as of <span id="st-web-rates-date" data-bind="text: moment($root.liab().webDate).format('MM/DD/YYYY')"></span> & <span class="all-caps">Non-Maturity Deposit Rates</span></h2>
                <div class="row">
                    <div class="col-sm-3">
                        <table class="dcg-table">
                            <thead>
                                <tr>
                                    <th class="groupHeader grey" colspan="4">
                                        Market Rates
                                    </th>
                                </tr>
                                <tr>
                                    <th>
            
                                    </th>
                                    <th>
                                        Current
                                    </th>
                                    <th>
                                        Prior
                                    </th>
                                    <th>
                                        &Delta;
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="marketRates"></tbody>
                        </table>
                    </div>
                    <div class="col-sm-3">
                        <table class="dcg-table">
                            <thead>
                                <tr>
                                    <th class="groupHeader grey" colspan="4">
                                        NOW
                                    </th>
                                </tr>
                                <tr>
                                    <th>
            
                                    </th>
                                    <th>
                                        Current
                                    </th>
                                    <th>
                                        Prior
                                    </th>
                                    <th>
                                        &Delta;
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="nowRates"></tbody>
                        </table>
                    </div>
                    <div class="col-sm-3">
                        <table class="dcg-table">
                            <thead>
                                <tr>
                                    <th class="groupHeader grey" colspan="4">
                                        Savings
                                    </th>
            
                                </tr>
                                <tr>
                                    <th>
            
                                    </th>
                                    <th>
                                        Current
                                    </th>
                                    <th>
                                        Prior
                                    </th>
                                    <th>
                                        &Delta;
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="savRates"></tbody>
                        </table>
                    </div>
                    <div class="col-sm-3">
                        <table class="dcg-table">
                            <thead>
                                <tr>
                                    <th class="groupHeader grey" colspan="4">
                                        MMDA
                                    </th>
            
                                </tr>
                                <tr>
                                    <th>
            
                                    </th>
                                    <th>
                                        Current
                                    </th>
                                    <th>
                                        Prior
                                    </th>
                                    <th class="chgCell">
                                        &Delta;
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="mmdaRates"></tbody>
                        </table>
                    </div>
                </div>
            </div>

        <div class="section lightGreenBorder">
            <h2 class="reportDivider darkGreen"><span class="all-caps"> Term Rates</span> as of <span id="td-web-rates-date" data-bind="text: moment($root.liab().webDate).format('MM/DD/YYYY')"></span>  & <span class="all-caps">Time Deposit Rates</span></h2>
            <div class="row">
                <div class="col-md-12">
                    <table class="dcg-table">
                        <thead>
                            <tr>
                                <th colspan="4" class="groupHeader grey">Bank CD</th>
                                <th class="fillerCell"></th>
                                <th colspan="4" class="groupHeader grey">Treasury</th>
                                <th class="fillerCell"></th>
                                <th colspan="4" class="groupHeader grey">LIBOR/Swap</th>
                                <th class="fillerCell"></th>
                                <th colspan="4" class="groupHeader grey" id="fhlbDistrict"></th>
                                <th class="fillerCell"></th>
                                <th colspan="4" class="groupHeader grey">Brokered CD</th>
                            </tr>
                            <tr>
                                <th colspan="24" class="spacerRow"></th>
                            </tr>
                            <tr>
                                <th style="text-align: left;">Term</th>
                                <th>Current</th>
                                <th>Prior</th>
                                <th>&Delta;</th>
                                <th class="fillerCell"></th>

                                <th class="vsBank vsBankHead"><span class="smallerFont">Vs</span> Bank</th>
                                <th>Current</th>
                                <th>Prior</th>
                                <th>&Delta;</th>
                                <th class="fillerCell"></th>

                                <th class="vsBank vsBankHead"><span class="smallerFont">Vs</span> Bank</th>
                                <th>Current</th>
                                <th>Prior</th>
                                <th class="chgCell">&Delta;</th>
                                <th class="fillerCell"></th>

                                <th class="vsBank vsBankHead"><span class="smallerFont">Vs</span> Bank</th>
                                <th>Current</th>
                                <th>Prior</th>
                                <th>&Delta;</th>
                                <th class="fillerCell"></th>

                                <th class="vsBank vsBankHead"><span class="smallerFont">Vs</span> Bank</th>
                                <th>Current</th>
                                <th>Prior</th>
                                <th>&Delta;</th>

                            </tr>

                        </thead>


                        <tbody id="timeDep"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="section lightGreenBorder">
            <h2 class="reportDivider yellow">DEPOSIT ACTIVITY</h2>
            <div class="row">
                <div class="col-sm-6">
                    <h4 class="atlasHeader grey all-caps" style="margin: 0px">Deposit History</h4>
                    <div id="depHistory">
                        

                    </div>
                </div>
                <div class="col-sm-6">
                    <h4 class="atlasHeader grey all-caps" style="margin: 0px">Total Time Deposit Activity</h4>
                    <div id="depWaterfall">
                        
                    </div>
                </div>
            </div>
        </div>


</section>
