﻿<style>
    .shaded-row > td {
        background-color: #e9e9e9;
    }

    .net-row > td:first-child {
        font-weight: bold;
    }

    #liq-proj-view {
        font-size: 10px;
    }


    .top-left-table > thead > tr > th,
    .top-left-table > tbody > tr > td {
        text-align: right;
        padding-top: 1px !important;
        padding-bottom: 0px !important;
        }

.top-left-table > tbody > tr > td:first-child {
       text-align: left;
    }

    h5 {
        margin-top: 0;
    }

.highcharts_rect_background {
        background-color: #FCFEEB !important;
            }

    #middle_section {
        background-color: #FCFEEB !important;
        border-top: 2px solid #ffffff !important;
        margin-top: 5px !important;
    }

   .table-condensed thead tr th {
        text-align: right !important;
        font-weight: bold !important;
    
    }

/* .dcg-table tbody tr:last-child {
    border-top: 3px solid #e41f1f !important;
    font-weight: bold;
    text-transform: uppercase;
    } */

    .top-left-table tbody tr:last-child td {
        border-top: 3px solid #ebebeb !important;
        font-weight: bold;
        text-transform: uppercase;
    }

    .top-left-table tbody tr td:first-child {
        font-weight: bold;
        text-transform: uppercase;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border-top: 0px solid #ffffff !important;
    }

    .dcg-table thead th, .tableHead tr td, .dcg-table tbody .headRow td {
        text-transform: uppercase;
    }
    
    .table-condensed tr {
        border-bottom: 0px !important;
    }

    .dcg-table tbody tr td:first-child, .dcg-table thead tr th:first-child {
        text-align: left !important;
    }

    .liabilities-row {
        border-bottom: 3px solid #ebebeb;
    }

    .dcg-table {
        max-height: 200px !important;
        /*border: 1px solid #000;*/
    }

   #topRight_leftChart, #topRight_rightChart {
        height: 200px !important;
    }


    #middle_left_chart, #middle_right_chart {
        background-color: #FCFEEB !important;
    }

    .table tr td, .table tr th {
        padding: 0px;
    }

    .dcg-table tr td, .dcg-table tr th {
        padding-top: 0px;
    }

    .mid-row {
        background-color: #FCFEEB !important;
    }

    th{
        text-transform: uppercase;
    }

</style>

<section id="liq-proj-view">
    <div class="row">
        <div class="col-sm-6 col-no-pad col-pad-right" id="top_left_tbl_container" style="width: 530px;">
            <h5 class="atlasHeader grey" data-bind="text: topLeftTableSectionHeader"></h5>
            <table class="table dcg-table top-left-table">
                <thead>
                    <tr>
                        <th colspan="2" style="text-align: right !important;">TIER 2 BASIC SURPLUS</th>
                        <th style="width: 15%"><nobr>Net New Loan</nobr><br />FUNDINGS</th>
                        <th style="width: 19%;">Net Core<br />DEPOSIT FLOWS*</th>
                        <th style="width: 19%;">Non-Pledgable<br />INV CASH FLOWS</th>
                        <th style="width: 18%;">Projected<br />BASIC SURPLUS</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: liq().topLeftTable">
                    <tr data-bind="attr: {'class': classes}">
                        <td data-bind="text: name"></td>
                        <td data-bind="text: $root.blankIfNull(tier2BS)"></td>
                        <td data-bind="text: $root.blankIfNull(newLoans)"></td>
                        <td data-bind="text: $root.blankIfNull(coreDep)"></td>
                        <td data-bind="text: $root.blankIfNull(nonPledge)"></td>
                        <td data-bind="text: $root.blankIfNull(projBS)"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" data-bind="text: $root.tableFootnote()" style="text-align: right"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-sm-6" style="width: 592px;">

            <div class="row">
                <div style="border-left:2px solid #fff !important;" class="col-sm-6 col-no-pad col-pad-left">
                    <h5 class="atlasHeader grey" data-bind="text: liq().topRight_leftChartName" id="top_right_left_chart_title"></h5>
                    <div id="topRight_leftChart"></div>
                </div>
                <div style="border-left:2px solid #fff !important;" class="col-sm-6 col-no-pad">
                    <h5 class="atlasHeader grey" data-bind="text: liq().topRight_rightChartName" id="top_right_right_chart_title"></h5>
                    <div id="topRight_rightChart"></div>
                </div>
            </div>
        </div>
    </div>

    <!--<br clear="all">
    <hr style="color:#E13301; background-color:#E13301; height:0px; border:none;">-->
    <br clear="all">


    <div class="mid-row" id="middle_section">
        <h4 class="atlasHeader grey" data-bind="text: liq().middleSectionTitle" id="middle_section_title" style="margin:0px;"></h4>
        <div class="col-sm-6" id="middle_left_chart"></div>
        <div class="col-sm-6" id="middle_right_chart"></div>
    </div>

    <!--<br clear="all">
    <hr style="color:#E13301; background-color:#E13301; height:0px; border:none;">-->
    <br clear="all">
    
    <div class="row">
        <div class="col-sm-12">
            <table class="dcg-table" style="padding-top:15px;">
                <thead>
                    <tr>
                        <th>ASSETS</th>
                        <th>Q1Y1</th>
                        <th>Q2Y1</th>
                        <th>Q3Y1</th>
                        <th>Q4Y1</th>
                        <th>Q1Y2</th>
                        <th>Q2Y2</th>
                        <th>Q3Y2</th>
                        <th>Q4Y2</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: liq().bottomCFTableAssets">
                    <tr data-bind="attr: {'class': classes}">
                        <td data-bind="text: name"></td>
                        <td data-bind="text: numeral(q1Y1 / 1000).format('0,0')"></td>
                        <td data-bind="text: numeral(q2Y1 / 1000).format('0,0')"></td>
                        <td data-bind="text: numeral(q3Y1 / 1000).format('0,0')"></td>
                        <td data-bind="text: numeral(q4Y1 / 1000).format('0,0')"></td>
                        <td data-bind="text: numeral(q1Y2 / 1000).format('0,0')"></td>
                        <td data-bind="text: numeral(q2Y2 / 1000).format('0,0')"></td>
                        <td data-bind="text: numeral(q3Y2 / 1000).format('0,0')"></td>
                        <td data-bind="text: numeral(q4Y2 / 1000).format('0,0')"></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <th class="liabilities-row">LIABILITIES</th>
                        <th class="liabilities-row" colspan="8"></th>
                    </tr>
                    <!-- ko foreach: liq().bottomCFTableLiabs -->
                    <tr data-bind="attr: {'class': classes}">
                        <td data-bind="text: name"></td>
                        <td data-bind="text: numeral(q1Y1 / 1000).format('0,0')"></td>
                        <td data-bind="text: numeral(q2Y1 / 1000).format('0,0')"></td>
                        <td data-bind="text: numeral(q3Y1 / 1000).format('0,0')"></td>
                        <td data-bind="text: numeral(q4Y1 / 1000).format('0,0')"></td>
                        <td data-bind="text: numeral(q1Y2 / 1000).format('0,0')"></td>
                        <td data-bind="text: numeral(q2Y2 / 1000).format('0,0')"></td>
                        <td data-bind="text: numeral(q3Y2 / 1000).format('0,0')"></td>
                        <td data-bind="text: numeral(q4Y2 / 1000).format('0,0')"></td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
</section>
