﻿<style>
    .offset-shade-row td{
        background-color: #e9e9e9;
    }
    .offset-table > thead > tr > th.col-1{
        width: 3%;
    }
    .offset-table > thead > tr > th.col-2{
        width: 13%;
    }
    .offset-table > thead > tr > th.col-3{
        width: 6%;
    }
    .offset-table > thead > tr > th.col-4,
    .offset-table > thead > tr > th.col-5,
    .offset-table > thead > tr > th.col-6{
        width: 26%;
    }
</style>
<section data-bind="with:liq">
    <fieldset>
        <div class="row">
            <div class="col-sm-6">
                <label>Institution</label>
                <select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName, event: { change: $root.instChange }" id="inst_select"></select>
                <label>Projection Period</label>
                <select class="form-control" data-bind="options: $root.projectionOptions, optionsText: 'title', optionsValue: 'value', value: projectionPeriod" id="proj_period_select"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-condensed offset-table">
                    <thead>
                        <tr>
                            <th class="col-1" style="width: 3%">
                                <button class="btn btn-xs btn-success" data-bind="click: $root.addHistoricalDateOffSet" id="addDateOffSet" title="Add Date Offset"><i class="fa fa-plus"></i></button>
                            </th>
                            <th class="col-2"> Date Offsets</th>
                            <th class="col-3">Override</th>
                            <th class="col-4">Basic Surplus</th>
                            <th class="col-5">NII Simulation</th>
                            <th class="col-6"> Scenario</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.sortedHistoricalOffSets">
                        <tr data-bind="css: {'offset-shade-row': $index() % 2 == 0}">
                            <td>
                                <button class="btn btn-xs btn-danger" data-bind="click: $root.removeHistoricalDateOffSet, enable: $parent.liquidityProjectionDateOffsets().length > 1" id="removeDateOffsetBtn" title="Remove Date Offset"><i class="fa fa-trash-o"></i></button>
                            </td>
                            <td>
                                <select class="form-control input-sm" data-bind="options: $root.asOfDateOffsets, 
                                    optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, 
                                    optionsValue: 'index', value: curOffSet, event: {change: $root.offsetChange},
                                    attr:{'id': 'cur_offset_' + $index()}"></select>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <input style="margin: 4px 0 0;" type="checkbox" data-bind="checked: override, attr:{'id': 'override_cb_' + $index()}"/>
                                </div>
                            </td>
                            <td>
                                <select class="form-control input-sm" data-bind="options: $root.basicSurplusAdminOffsets()[0][$root.asOfDateOffsets()[curOffSet()]['asOfDateDescript']], 
                                    value: curBasicSurplusAdminId,  optionsText: 'name', optionsValue:  'id', enable: override,
                                    attr:{'id': 'cur_bs_select_' + $index()}"></select>
                            </td>
                            <td data-bind="if: curSimulationTypes() != null && curSimulationTypes() != undefined">
                                <select class="form-control input-sm" data-bind="options: curSimulationTypes, optionsText: 'name', 
                                    optionsValue: 'id', value: curNIISimulationTypeId, enable: override,
                                    attr:{'id': 'cur_nii_sim_select_' + $index()}"></select>
                            </td>
                            <td>
                                <select class="form-control input-sm" data-bind="options: curScenarioTypes, optionsText: 'name', optionsValue: 'id', 
                                    value: curScenarioTypeId, enable: override,
                                    attr:{'id': 'cur_scen_select_' + $index()}"></select>
                            </td>
                        </tr>
                        <tr data-bind="css: {'offset-shade-row': $index() % 2 == 0}">
                            <td></td>
                            <td>
                                <select class="form-control input-sm" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, 
                                    optionsValue: 'index', value: prevOffSet, event: {change: $root.offsetChange},
                                    attr:{'id': 'prev_offset_' + $index()}"></select>
                            </td>
                            <td></td>
                            <td>
                                <select class="form-control input-sm" data-bind="options: $root.basicSurplusAdminOffsets()[0][$root.asOfDateOffsets()[prevOffSet()]['asOfDateDescript']],
                                    value: prevBasicSurplusAdminId,  optionsText: 'name', optionsValue:  'id', enable: override,
                                    attr:{'id': 'prev_bs_select_' + $index()}"></select>
                            </td>
                            <td data-bind="if: prevSimulationTypes() != null && prevSimulationTypes() != undefined">
                                <select class="form-control input-sm" data-bind="options: prevSimulationTypes, optionsText: 'name',
                                    optionsValue: 'id', value: prevNIISimulationTypeId, enable: override,
                                    attr:{'id': 'prev_nii_sim_select_' + $index()}"></select>
                            </td>
                            <td>
                                <select class="form-control input-sm" data-bind="options: prevScenarioTypes, optionsText: 'name', optionsValue: 'id',
                                    value: prevScenarioTypeId, enable: override,
                                    attr:{'id': 'prev_scen_select_' + $index()}"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Deposit Projections</label>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="depProj" data-bind="checked: includePublicDep" id="incl_pubdep_cb"/> Include Public Deposits
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="depProj" data-bind="checked: includeNationalDep" id="incl_natDep_cb" /> Include National Deposits
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="depProj" data-bind="checked: includeBrokeredDep" id="incl_brokDep_cb"/> Include Brokered Deposits
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="depProj" data-bind="checked: includeBrokeredRecip " id="incl_brokRecip_cd"/> Include Brokered Reciprocal
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="depProj" data-bind="checked: includeBrokeredOneWay" id="incl_brok_oneway_cb"/> Include Brokered One-Way
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="depProj" data-bind="checked: includeSecuredRetail" id="incl_secDep_cb" /> Include Secured Retail Repos
                        </label>
                    </div>
                    <label>Non-Pledgable Inv Cash </label>
                    <select class="form-control" data-bind="options: $root.definedGroupings, value: nonPledgeGroupOption, optionsText: 'name', optionsValue: 'id'"></select>
                    <label>View By</label>
                    <select class="form-control" data-bind="foreach: $root.viewOptions, value: viewOption" id="viewOption_select">
                        <optgroup data-bind="attr: {label: label}, foreach: children">
                            <option data-bind="text: title, attr: {value: value}"></option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>
    </fieldset>
</section>
