﻿<div class="col-md-12" data-bind="with: loanCapFloor">
    <div class="form-group">
        <div class="col-md-6">
            <label>Type</label>
            <select class="form-control" data-bind="options: $root.types, optionsText: 'text', optionsValue: 'value', value: type,  event: {change: $root.updateType}"></select>
            <label>Mode</label>
            <select class="form-control" data-bind="options: $root.modes, optionsText: 'text', optionsValue: 'value', value: mode,  event: {change:$root.updateMode}"></select>
        </div>
        <div class="col-md-6">
            <label>BP Breakouts</label>
            <select class="form-control" data-bind="foreach: $root.breakouts, value: bPBreakout, event:{change: $root.updateBreakouts}">
                <option data-bind="attr: {value: value}, text: text"></option>
            </select>
        </div>
        <section>
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <table class="table">
                    <tbody>
                        <tr><td colspan="2"></td><td>Start Value</td><td></td><td style="width: 50px;">End Value</td><td>Title</td></tr>
                        <!-- ko foreach: $root.bpEndpointsObsArr -->
                        
                        <tr><td style="width: 15px;"><span data-bind="text: $data.letterTag"></span></td><td style="width:15px;">&gt;</td><td style="width: 90px; " data-bind="text: $data.startValue"></td><td style="width: 75px;">And <=</td><td><input class="form-control" style="width: 75px;" data-bind="value: $data.value, isReadonly: $parent.bPBreakout() < 3" /></td><td><span data-bind="text: parseInt($data.startValue()) +1"></span> - <span data-bind="text: $data.value"></span></td></tr>
                        <!-- /ko -->
                        <tr><td>E</td><td>&gt;</td><td data-bind="text: $root.bpBreakoutEndpoint3"></td><td colspan="2"></td><td>&gt; <span data-bind="text: $root.bpBreakoutEndpoint3"></span></td></tr>
                    </tbody>
                </table>
            </div>
        </section>
        <fieldset class ="col-md-6">
            <legend>Top</legend>
            <div data-bind="compose: $root.leftBaseSimulationLockedConfig"></div>
        </fieldset>
        <fieldset class="col-md-6">
            <legend>Bottom</legend>
            <div data-bind="compose: $root.rightBaseSimulationLockedConfig"></div>
        </fieldset>
        
    </div>
    
    
    
    
</div>
