﻿<style>
    table, .dcg-table {
        font-size: 11px;
        width: 100% !important;
        margin-top: 5px;
        padding-left:5px !important;
    }

    .regMoney{
        background-color: #e9e9e9 !important;
        color: #000;
        font-size: 11px;
        text-transform: uppercase;
        text-align: center !important;
    }

    .compMoney {
        background-color: #e9e9e9 !important;
        color: #000;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center !important;
    }

    .secondaryHeader td {
        font-weight: bold;
     }

     .secondaryHeader td:not(:first-child) {
        text-align: center;
     }

     .b-all{
         border-bottom: 1px solid #000;
         background-color: #e9e9e9 !important;
         text-transform:uppercase;
         font-weight:bold;
     }

    secondaryHeader:nth-child(2) tr > .b-all:nth-child(2) {
        border: 5px solid #e41f1f !important;
        font-weight: bold !important;
    }
    /* this part */

    .b-top {
        border-top: 0px solid #000000;
        background-color: #F1F7F7;
    }

    .b-bottom {
        border-bottom: 1px solid #000000;
        background-color: #e9e9e9;
    }

     .grey{
         background-color: #fff;
     }

     .tableHeader{
         text-align: center;
     }

     #lastTable{
         margin-bottom: 50px;
     }
     td{
         text-align: right;
     }
     td:first-child{
         text-align: left;
     }

     .totalIndex td{
         border-top: 1px solid #000000;
     }
      .pageBreakBefore{
        page-break-before: always;

    }
    .col-sm-12 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .dcg-table tr > td:first-child {
        text-align: left !important;
         }

</style>

<section id="loancapfloor-view">
    <div class="row">
        <div class="col-no-pad">
            <h4 id="topTitle" class="atlasHeader blueGreen" style="width:100% !important;"></h4>
            <table class="dcg-table" style="width: 100% !important;">
                <thead>
                    <tr>
                        <th class="empty" colspan="2"></th>
                        <th colspan="6" class="text-center regMoney">In the Money</th>
                        <th class="empty"></th>
                        <th colspan="6" class="text-center regMoney">Out of the Money</th>
                        <th class="empty"></th>
                        <th class="empty"><!--Total--></th>
                    </tr>
                </thead>
                <tbody id="topBody"></tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <table>
            <tbody data-bind="foreach: report().splitFootnotes().filter(function(a){return a.side() == 0;}).sort(function (a, b) { return a.priority() - b.priority(); })">
                <tr>
                    <td style="font-size: 75%">
                        <span data-bind="text: ($index() + 1)"></span>
                        <span>. </span>
                        <span data-bind="text: text"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    

<div class="row">
        <div class="col-no-pad">
            <h4 id="bottomTitle" class="atlasHeader darkGreen" style="width:100% !important;"></h4>
            <table class="dcg-table" style="width: 100% !important;">
                <thead style="display: table-row-group">
                    <tr>
                        <th class="empty" colspan="2"></th>
                        <th colspan="6" class="text-center regMoney">In the Money</th>
                        <th class="empty"></th>
                        <th colspan="6" class="text-center regMoney">Out of the Money</th>
                        <th class="empty"></th>
                        <th class="empty"><!--Total--></th>
                    </tr>
                </thead>
                <tbody id="bottomBody"></tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <table>
            <tbody data-bind="foreach: report().splitFootnotes().filter(function(a){return a.side() == 1;}).sort(function (a, b) { return a.priority() - b.priority(); })">
                <tr>
                    <td style="font-size: 75%">
                        <span data-bind="text: ($index() + 1)"></span>
                        <span>. </span>
                        <span data-bind="text: text"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

    <div class="row">
        <div class="col-no-pad" id="lastTable">
            <h4 id="compTitle" class="atlasHeader yellow"  style="width:100% !important;"></h4>
            <table id="real_last_table" class="dcg-table">
                <thead style="display: table-row-group">
                    <tr>
                        <th class="empty" colspan="2"></th>
                        <th colspan="6" class="text-center compMoney">In the Money</th>
                        <th class="empty"></th>
                        <th colspan="6" class="text-center compMoney">Out of the Money</th>
                        <th class="empty"></th>
                        <th class="empty"><!--Total--></th>
                    </tr>
                </thead>
                <tbody id="compBody"></tbody>
            </table>
        </div>
    </div>





</section>
