﻿<style>
    .container {
        width: 1580px;
    }

    .iptBox {
        width: 140px;
    }

    th {
        text-align: center;
        white-space: nowrap;
    }

    td {
        text-align: right;
    }

        td:first-child {
            text-align: left;
        }

    .proj, .variance {
        background-color: #cccccc;
    }

    .tb-holder {
        min-width: 55px;
    }

    .my-table td {
        padding: 5px;
        font-size: 12px;
    }

    .my-table input {
        padding: 5px;
        text-align: right;
    }

    .my-table .sub-title {
        padding-left: 20px;
    }

    .my-table td:first-child {
        white-space: nowrap;
    }
</style>
<!-- Modal -->
<div class="modal fade" id="pleaseWait" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Please Wait</h4>
            </div>
            <div class="modal-body">
                We're retrieving your lookback data.
            </div>
        </div>
    </div>
</div>
<section>
    <nav>
        <div>
            <button class="btn btn-primary" data-bind="click: goBack">
                <i class=" fa fa-arrow-left"></i>
                Back
            </button>
            <button class="btn btn-primary"
                    data-bind="click: cancel, enable: canSave">
                <i class="fa fa-undo"></i>
                Cancel
            </button>
            <button class="btn btn-primary"
                    data-bind="click: save, enable: canSave">
                <i class="fa fa-save"></i>
                Save
            </button>
            <!--<button class="btn btn-danger" data-bind="click: deleteType, disable: hasChanges">
                <i class="fa fa-trash-o"></i>
                Delete
            </button>-->
        </div>
    </nav>
    <br />

    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tabPanelGroupData" aria-controls="tabPanelColData" role="tab" data-toggle="tab">Data</a></li>
            <li role="presentation"><a href="#tabPanelConfig" aria-controls="tabPanelAdmin" role="tab" data-toggle="tab">Config</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="tabPanelConfig">
                <br />
                <fieldset class="col-sm-12">
                    <!-- ko with: lookback -->
                    <label>Name</label>
                    <input class="form-control" data-bind="value: name" />
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-bind="checked: overrideSimulationTypeId" />
                                Override Simulation
                            </label>
                        </div>
                        <label>Simulation</label>
                        <select class="form-control" data-bind="enable: overrideSimulationTypeId,options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId"></select>
                    </div>
                    <div class="col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" data-bind="checked: overrideScenarioTypeId" />
                                Override Scenario
                            </label>
                        </div>
                        <label>Scenario</label>
                        <select class="form-control" data-bind="enable: overrideScenarioTypeId, options: $root.scenarioTypes, optionsText: 'name', optionsValue: 'id', value: scenarioTypeId"></select>
                    </div>
                    <!-- /ko -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 25%">Layout</th>
                                <th style="width: 25%">Type</th>
                                <th style="width: 10%">Rate/Vol</th>
                                <th style="width: 20%">Ov'rd Tax Eq</th>
                                <th style="width: 20%">Tax Eq</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: lookback().lookbackGroups">
                            <tr>
                                <td><select class="form-control" data-bind="options: $root.layouts, optionsText: 'name', optionsValue: 'id', value: layoutId"></select></td>
                                <td><select class="form-control" data-bind="options: $root.types, optionsText: 'name', optionsValue: 'id', value: lBCustomTypeId"></select></td>
                                <td><input type="checkbox" data-bind="checked: rateVol" /></td>
                                <td><input type="checkbox" data-bind="checked: overrideTaxEquivalent" /></td>
                                <td><input type="checkbox" data-bind="enable: overrideTaxEquivalent, checked: taxEquivalent" /></td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>

            <div role="tabpanel" class="tab-pane active" id="tabPanelGroupData">
                <br />
                <h1><span data-bind="with: lookbackGroup.lBLookback"><span data-bind="text: name" /></span> Data</h1>
                <fieldset class="col-sm-12">
                    <!--<legend>Name</legend>-->
                    <table class="my-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th data-bind="attr:{colspan: $root.lookbackGroup.rateVol() ? '12' : '5'}"><span data-bind="text: moment($root.lookbackGroup.startDate()).format('MM/DD/YYYY')"></span> to <span data-bind="text: moment($root.lookbackGroup.endDate()).format('MM/DD/YYYY')"></span></th>
                            </tr>
                            <tr>
                                <th>Assets</th>
                                <th data-bind="attr:{colspan: lookbackGroup.rateVol() ? '5' : '2'}">Projections</th>
                                <th data-bind="attr:{colspan: lookbackGroup.rateVol() ? '3' : '1'}">Actuals</th>
                                <th data-bind="attr:{colspan: lookbackGroup.rateVol() ? '4' : '2'}">Variance</th>
                            </tr>
                            <tr>
                                <!-- ko if:lookbackGroup.rateVol() -->
                                <th></th>
                                <th>Avg Bal</th>
                                <th class="tb-holder">Adj</th>
                                <th>Avg Rate</th>
                                <th>Inc/Exp</th>
                                <th class="tb-holder">Adj</th>
                                <th class="tb-holder">Avg Bal</th>
                                <th>Avg Rate</th>
                                <th class="tb-holder">Inc/Exp</th>
                                <th>$ Due to<br /> Rate</th>
                                <th>$ Due to Volume</th>
                                <th>Total $</th>
                                <th>%</th>
                                <!-- /ko -->
                                <!-- ko ifnot:lookbackGroup.rateVol() -->
                                <th></th>
                                <th>Inc/Exp</th>
                                <th class="tb-holder">Adj</th>
                                <th class="tb-holder">Inc/Exp</th>
                                <th>Total $</th>
                                <th>%</th>
                                <!-- /ko -->
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.sortedLBLookbackData">
                            <!-- ko if: $index > 0 && $root.lookbackGroup.lBLookbackData()[$index-1].isAsset() && !$data.isAsset()-->
                            <tr>
                                <td>Liabilities</td>
                                <td data-bind="attr:{colspan: $root.lookbackGroup.rateVol() ? '12' : '5'}"></td>
                            </tr>
                            <!-- /ko -->

                            <tr>
                                <td data-bind="text: title, css:{'sub-title': rowType() == 1}"></td>

                                <!-- ko if: rowType() == 0 -->
                                <td class="proj" data-bind="attr:{colspan: $root.lookbackGroup.rateVol() ? '5' : '2'}"></td>
                                <td data-bind="attr:{colspan: $root.lookbackGroup.rateVol() ? '3' : '1'}"></td>
                                <td class="proj" data-bind="attr:{colspan: $root.lookbackGroup.rateVol() ? '4' : '2'}"></td>
                                <!-- /ko -->
                                <!--ko if: rowType() > 0-->
                                <td class="proj" data-bind="formatBalance: proj_AvgBal, visible: $root.lookbackGroup.rateVol()"></td>
                                <!--<td class="proj" data-bind="formatBalance: proj_AvgBal_Adj, visible: $root.lookbackGroup.rateVol()"></td>-->
                                <td class="proj iptBox" data-bind="visible: $root.lookbackGroup.rateVol()"><input class="form-control input-sm" type="text" data-bind="formatBalance: proj_AvgBal_Adj, event:{change: function(){$root.updateGrid($data)}}" /></td>
                                <td class="proj" data-bind="text: numeral(proj_AvgRate()).format('0.00'), visible: $root.lookbackGroup.rateVol()"></td>
                                <td class="proj" data-bind="formatBalance: proj_IncExp"></td>
                                <td class="proj iptBox"><input class="form-control input-sm" type="text" data-bind="formatBalance: proj_IncExp_Adj, event: {change: function(){$root.updateGrid($data)}}" /></td>
                                <td class="iptBox" data-bind="visible: $root.lookbackGroup.rateVol()"><input class="form-control input-sm" data-bind="formatBalance: actual_AvgBal, event: {change: function(){$root.updateGrid($data)}}" /></td>
                                <td data-bind="text: numeral(actual_AvgRate()).format('0.00'), visible: $root.lookbackGroup.rateVol()"></td>
                                <td class="iptBox"><input class="form-control input-sm" data-bind="formatBalance: actual_IncExp, event: {change: function(){$root.updateGrid($data)}}" /></td>
                                <td class="variance" data-bind="formatBalance: variance_ValDueToRate, visible: $root.lookbackGroup.rateVol()"></td>
                                <td class="variance" data-bind="formatBalance: variance_ValDueToVol, visible: $root.lookbackGroup.rateVol()"></td>
                                <td class="variance" data-bind="formatBalance: variance_Val"></td>
                                <td class="variance" data-bind="text: numeral(variance_Perc()).format('0.00')"></td>
                                <!--/ko-->
                                <!--ko if: rowType() < 0-->
                                <td class="proj" data-bind="formatBalance: proj_AvgBal, visible: $root.lookbackGroup.rateVol()"></td>

                                <!--ko if: hideFromAdmin-->
                                <td class="proj" data-bind="visible: $root.lookbackGroup.rateVol()"></td>
                                <!--/ko-->
                                <!--ko ifnot: hideFromAdmin-->
                                <td class="proj" data-bind="formatBalance: proj_AvgBal_Adj, visible: $root.lookbackGroup.rateVol()"></td>
                                <!--/ko-->


                                <td class="proj" data-bind="text: numeral(proj_AvgRate()).format('0.00'), visible: $root.lookbackGroup.rateVol()"></td>
                                <td class="proj" data-bind="formatBalance: proj_IncExp"></td>

                                <!--ko if: hideFromAdmin-->
                                <td class="proj"></td>
                                <!--/ko-->
                                <!--ko ifnot: hideFromAdmin-->
                                <td class="proj" data-bind="formatBalance: proj_IncExp_Adj"></td>
                                <!--/ko-->

                                <td data-bind="formatBalance: actual_AvgBal, visible: $root.lookbackGroup.rateVol()"></td>
                                <td data-bind="text: numeral(actual_AvgRate()).format('0.00'), visible: $root.lookbackGroup.rateVol()"></td>
                                <td data-bind="formatBalance: actual_IncExp"></td>
                                <td class="variance" data-bind="formatBalance: variance_ValDueToRate, visible: $root.lookbackGroup.rateVol()"></td>
                                <td class="variance" data-bind="formatBalance: variance_ValDueToVol, visible: $root.lookbackGroup.rateVol()"></td>
                                <td class="variance" data-bind="formatBalance: variance_Val"></td>
                                <td class="variance" data-bind="text: numeral(variance_Perc()).format('0.00')"></td>
                                <!--/ko-->


                            </tr>

                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
</section>
