﻿<table class="table">
    <thead>
        <tr class="middle-align">
            <th>
                <button title="add row item" class="btn btn-success" data-bind="click: addRowItem"><i class="fa fa-plus"></i></button>
            </th>
            <th>Row Type</th>
            <th>Title</th>
            <th colspan="2">Classifications</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="sortable" data-bind="sortable: { data: sortedRowItems, beforeMove: sortableBeforeMove, afterMove: $root.sortableAfterMove }">
        <tr class="middle-align">
            <td>
                <button title="remove" data-bind="click: $root.removeRowItem" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
            </td>
            <td><select class="form-control" data-bind="options: $root.layoutVm.reportTypes, value: _rowItem.rowType, event:{change: $root.changeRowType}"></select></td>
            <td><input class="form-control" data-bind="value: _rowItem.title" /></td>
            <td class="classification-list" data-bind="foreach: _rowItem.lBCustomLayoutClassifications()">

                <span data-bind="visible: $index() > 0">,</span>
                <span data-bind="text: name"></span>
            </td>
            <td>
                <span class="dropdown" data-bind="visible: _rowItem.rowType() != 'Section Header'">
                    <button title="add classification" class="dropdown-toggle btn btn-success btn-xs" data-toggle="dropdown"><i class="fa fa-plus"></i></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" data-bind="foreach: availableClassifications">
                        <li role="presentation" data-bind="visible: !inUseElseWhere"><a role="menuitem" tabindex="-1" href="#" data-bind="text: name, click: function(){$parent.changeClassificationStatus($data, $parentContext)},clickBubble: false, css:{inUse: inUse}"></a></li>
                    </ul>
                </span>
            </td>
            <td><i class="fa fa-sort"></i></td>
        </tr>
    </tbody>
</table>