﻿<style>
    .dropdown-menu {
        max-height: 400px;
        overflow-y: auto;
    }

    .inUse {
        background-color: #ccc;
    }

    .tooltip {
        max-width: 230px;
    }

    .classification-list {
        width: 230px;
        max-width: 230px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
    }
    
</style>
<section id="loancapfloor-view">
    <nav>
        <div>
            <button class="btn btn-primary" data-bind="click: goBack">
                <i class=" fa fa-arrow-left"></i>
                Back
            </button>
            <button class="btn btn-primary"
                    data-bind="click: cancel, enable: canSave">
                <i class="fa fa-undo"></i>
                Cancel
            </button>
            <button class="btn btn-primary"
                    data-bind="click: save, enable: canSave">
                <i class="fa fa-save"></i>
                Save
            </button>
        </div>
    </nav>
    <br />
    <h5 class="text-danger">Warning: Changing a layout will result in the loss of adjustments in all Lookbacks that use this layout. Please note any adjustments before proceding.</h5>
    <fieldset class="col-sm-12">
        <legend>Name</legend>
        <input class="form-control" data-bind="value: layout().name" />
    </fieldset>
    <fieldset class="col-sm-12">
        <legend>Assets</legend>
        <div data-bind="compose: $root.assetRowItems">
        </div>
    </fieldset>
    <fieldset class="col-sm-12">
        <legend>Liabilities</legend>
        <div data-bind="compose: $root.liabRowItems">
        </div>
    </fieldset>
</section>
