﻿<style>
    .bg-danger {
        padding: 4px;
        background-color: #f2dede;
        border-radius: 4px;
    }

    .layout-table th.button-col,
    .type-table th.button-col,
    .lookback-main-table th.button-col {
        width: 11.25%;
    }

    .layout-table th.name-col,
    .type-table th.name-col,
    .lookback-main-table th.name-col {
        width: 55%;
    }

    .layout-table th.type-col {
        width: 30%;
    }

    .layout-table th.sort-col {
        width: 3.75%;
    }

    .type-table th.st-dt-col,
    .type-table th.end-dt-col {
        width: 16.875%;
    }

    .lookback-main-table th.type-col,
    .lookback-main-table th.priority-col,
    .lookback-main-table th.sort-col {
        width: 11.25%;
    }
</style>

<section>
    <nav>
        <div>
            <button class="btn btn-primary" data-bind="click: goBack">
                <i class=" fa fa-arrow-left"></i>
                Back
            </button>
            <!--<button class="btn btn-primary"
                    data-bind="click: cancel, enable: canSave">
                <i class="fa fa-undo"></i>
                Cancel
            </button>-->
            <button class="btn btn-primary"
                    data-bind="click: save, enable: canSave">
                <i class="fa fa-save"></i>
                Save
            </button>
        </div>
    </nav>
    <br />
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#lookbacks" aria-controls="lookbacks" role="tab" data-toggle="tab">Lookbacks</a></li>
            <li role="presentation"><a href="#layouts" aria-controls="layouts" role="tab" data-toggle="tab">Custom Layout</a></li>
            <li role="presentation"><a href="#types" aria-controls="types" role="tab" data-toggle="tab">Custom Types</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="lookbacks">
                <table class="table lookback-main-table">
                    <thead>
                        <tr class="middle-align">
                            <th class="button-col">
                                <button title="Add Lookback" class="btn  btn-success" href="#" data-bind="click: $root.addLookback"><i class="fa fa-plus"></i></button>
                            </th>
                            <th class="name-col">Name</th>
                            <th class="type-col">Type</th>
                            <th class="priority-col">Priority</th>
                            <th class="sort-col">Sort</th>
                        </tr>
                    </thead>
                    <tbody class="lookback-table" data-bind=" sortable: { data: $root.lookbacks, beforeMove: lookbackBeforeMove, afterMove: lookbackAfterMove, connectClass: 'lookback-table' }">
                        <tr class="middle-align">
                            <td>
                                <button title="edit" class="btn btn-primary" data-bind="click: $parent.goToLookbackConfig"><i class="fa fa-edit"></i></button>
                                <button title="remove" data-bind="click: $root.deleteLookback" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                            </td>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: entityType.shortName"></td>
                            <td data-bind="text: priority"></td>
                            <td><i class="fa fa-sort"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="layouts">
                <table class="table layout-table">
                    <thead>
                        <tr class="middle-align">
                            <th class="button-col">
                                <button title="add custom layout" class="btn  btn-success" href="#" data-bind="click: $root.addLayout"><i class="fa fa-plus"></i></button>
                            </th>

                            <th class="name-col">Name</th>
                            <th class="type-col">Type</th>
                            <th class="sort-col"></th>
                        </tr>
                    </thead>
                    <tbody class="layout-table" data-bind=" sortable: { data: $root.layouts, beforeMove: layoutBeforeMove, afterMove: layoutAfterMove, connectClass: 'layout-table' }  ">
                        <!-- ko if: userAdded -->
                        <tr class="middle-align">
                            <td>
                                <button title="edit" class="btn btn-primary" data-bind="click: $root.goToLayoutConfig"><i class="fa fa-edit"></i></button>
                                <button title="remove" data-bind="click: $root.deleteLayout" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                            </td>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: entityType.shortName"></td>
                            <td><i class="fa fa-sort"></i></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="types">
                <div>
                    <span class="bg-danger" data-bind="visible: !$root.passesDateOffsetCheck()"> All start date offsets must be greater than end date offsets.</span>
                </div>
                <table class="table type-table">
                    <thead>
                        <tr class="middle-align">
                            <th class="button-col"><button title="add custom layout" class="btn  btn-success" href="#" data-bind="click: $root.addType"><i class="fa fa-plus"></i></button></th>
                            <th class="name-col">Name</th>
                            <th class="st-dt-col">Start Date (Offset 1)</th>
                            <th class="end-dt-col">End Date (Offset 2)</th>
                        </tr>
                    </thead>
                    <tbody class="type-table" data-bind=" sortable: { data: $root.types, beforeMove: typeBeforeMove, afterMove: typeAfterMove, connectClass: 'type-table' } ">
                        <!-- ko if: userAdded -->
                        <tr class="middle-align">
                            <td>
                                <button title="remove" data-bind="click: $root.deleteType" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                            </td>
                            <td>
                                <input class="form-control" data-bind="value: name" />
                            </td>
                            <td><select class="form-control" data-bind="value: startDateOffset, options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index'"></select></td>
                            <td><select class="form-control" data-bind="value: endDateOffset, options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index'"></select></td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
