﻿
<style>
    table {
        width: 100%;
        margin-top: 20px;
    }

    .my-table td {
        padding: 5px;
    }
    
    thead > tr.head-row-1 > th,
    thead > tr.head-row-2 > td{
        text-align: center;
    }
    thead > tr.head-row-3 >td{
        text-align: right;
    }
    thead > tr:first-child > td {
        border-bottom: 1px solid black;
    }

        thead > tr:first-child > td:first-child {
            border-bottom: none;
        }

    thead > tr > td {
        font-weight: bold;
    }

    tbody > tr > td
    {
        text-align: right;
        max-width: 60px;
    }

        tbody > tr > td:first-child {
            text-align: left;
            max-width: none;
        }
    #lookback-report-view{
        padding-top: 10px;
    }
    #lookback-report-view tbody > tr > td.shaded-cell {
        background-color: #e9e9e9;
    }

    tr.sub > td:first-child {
        padding-left: 16px;
    }

    tr.total-row > td {
        font-weight: bold;
    }
    tr.last-row > td{
        background-color: #D4E6F9;
    }

    .atlasHeader {
        margin:0;
    }

    /*.section-wrapper{
        margin: 0 auto;
    }*/
    .section-wrapper.blueGreen{
        border: 1px solid #73AFAD;
    }
    td.blueGreen {
        background-color: #73AFAD;
    }
    
    .section-wrapper.darkGreen{
        border: 1px solid #40637A;
    }
    td.darkGreen {
        background-color: #40637A;
    }
    .section-wrapper.yellow{
        border: 1px solid #D9D900;
    }
    td.yellow {
        background-color: #D9D900;
    }
    .alt-blueGreen{
        background-color: #F1F7F7;
    }
    .alt-darkGreen{
        background-color: #ECF0F2;
    }
    .alt-yellow{
        background-color: #FBFBE6;
    }
    .rate-vol-head{
        padding-left: 2px;
        padding-right: 2px;
    }
    .rate-vol-head.light-red{
        padding-left: 0px;
    }
    .rate-vol-head.black{
        padding-right: 0px;
    }
    
    .rate-vol-head > span{
        display: inline-block;
        width: 100%;
    }
    
    td.rate-vol-head.light-red > span
    {
        background-color: #8B655B;
        color: #FFFFFF;
    }
    td.rate-vol-head.brown > span
    {
        background-color: #A68D27;
        color: #FFFFFF;
    }
    td.rate-vol-head.black > span
    {
        background-color: #000000;
        color: #FFFFFF;
    }
    /*.wrapper-4{
        width: 85%;
    }*/
    .section-divider {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e0e7ea+50,ffffff+100 */
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(left, #ffffff 0%, #e0e7ea 50%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #ffffff 0%,#e0e7ea 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #ffffff 0%,#e0e7ea 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        height: 10px;
        margin-top: 20px;
        margin-bottom: 20px
    }
    .dcg-table{
        text-transform: uppercase;
    }
    thead > tr .lb-date-header {
        text-align: center;
        background-color: #EBEBEB;
        padding: 4px 8px 4px 8px;
    }
    
    .variance-title-cell {
        font-size: 8px;
        color: #808080;
        text-align: left;
        text-transform: lowercase;
    }

    /*table cell widths to make things consisten*/
    
    thead > .head-row-3 > td{
        width: 5.3125%;
    }
        thead > .head-row-3 > td.spacer-cell,
        .lb-table-20 > thead > .head-row-3 > td.spacer-cell {
            width: 0.5%;
        }

    thead > .head-row-3 >td:first-child{
        width: 14.5%;
    }
    /*Non rateVol layout*/
    .lb-table-16 > thead > .head-row-3 > .filler-cell {
        width: 0%;
    }
    .lb-table-12 > thead > .head-row-3 > .filler-cell {
        width: 20.75%;
    }
    .lb-table-8 > thead > .head-row-3 > .filler-cell{
        width: 42.5%;
    }
    .lb-table-4 > thead > .head-row-3 > .filler-cell{
        width: 64.25%;
    }
    /*RateVol Layout*/
    .lb-table-20{
        font-size: 8px;
    }
    .lb-table-20 > thead > .head-row-3 > td{
        width: 4.31%
    }
    
    .lb-table-20 > thead > .head-row-3 > td:first-child {
        width: 13.3%;
    }
    .lb-table-20 > thead > head-row-3 > .filler-cell {
        width: 0%;
    }
    .lb-table-10 > thead > head-row-3 > .filler-cell{
        width: 32.375%;
    }
    
</style>
<section id="lookback-report-view"></section>
