﻿<style>
    .lookback-type-table > thead > tr > th {
        width: 45%;
    }

        .lookback-type-table > thead > tr > th:first-child,
        .section-table > thead > tr > th {
            width: 10%;
        }

            .section-table > thead > tr > th:nth-child(2) {
                width: 80%;
            }
</style>
<section data-bind="with:lb">
    <fieldset class="col-sm-12">
        <div class="col-md-12">
            <div class="form-group">
                <label>Institution</label>
                <select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
            </div>
            <!--<div class="form-group">
                <label>Date Offset</label>
                <select class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
            </div>-->
        </div>
    </fieldset>


    <fieldset class="col-sm-12">
        <legend>Scenarios</legend>
        <div class="form-group col-sm-12">
            <label>Sections</label>
            <table class="table section-table">
                <thead>
                    <tr class="middle-align">
                        <th style="width: 5%;">
                            <span class="dropdown dropup">
                                <button title="add shock scenario" type="button" class="btn btn-success" id="addScenarioButton" data-bind="click: $root.addSection"><i class="fa fa-plus"></i></button>
                            </span>
                        </th>
                        <th style="width: 30%;">Sections and Layouts</th>
                        <th style="width: 30%;">Layout Type</th>
                        <th style="width: 30%;">Priority</th>
                        <th style="width: 5%;"></th>
                    </tr>
                </thead>
                <tbody class="sortable section-container" data-bind="sortable: { data: $root.sortedSections, afterMove: $root.sectionAfterMove, connectClass: 'section-container' }">
                    <tr data-bind="visible: hasRateVolConflict">
                        <td style="background-color: #aa3311; color: #ffffff; font-size: 15px;" colspan="5">You have selected Lookbacks that have conflicting rate/vol configurations. This WILL cause undesirable effects on data. Please change your selections.</td>
                    </tr>
                    <tr class="middle-align" data-bind="css: {'bg-danger': hasRateVolConflict}">
                        <td colspan="5">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td style="width: 5%;">
                                            <button title="remove" data-bind="click: $root.removeSection" type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                        </td>
                                        <td style="width: 30%;"><input class="form-control" data-bind="textInput: name" /></td>
                                        <td style="width: 30%;"><select class="form-control" data-bind="options: $root.layouts, optionsText: 'name', optionsValue: 'id', value: lBLookbackLayoutId"></select></td>
                                        <td style="width: 30%;" data-bind="text: priority"></td>
                                        <td style="width: 5%;"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <table class="table lookback-type-table">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 5%;">
                                                            <span class="dropdown dropup">
                                                                <button title="add Lookback" type="button" class="btn btn-success" id="addLookbackButton" data-bind="click: $root.addLookbackToSection"><i class="fa fa-plus"></i></button>
                                                            </span>
                                                        </th>
                                                        <th>Date Offset</th>
                                                        <th>Lookbacks</th>
                                                    </tr>
                                                </thead>
                                                <tbody data-bind="attr:{class: 'lb-container-'+$index()},sortable:{data: sortedLookbackTypes, afterMove: $root.lbTypeAfterMove, connectClass: 'lb-container-'+$index()}">
                                                    <tr>
                                                        <td>
                                                            <button title="remove" type="button" data-bind="click: $root.removeLookbackType" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                                        </td>
                                                        <td>
                                                            <select class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
                                                        </td>
                                                        <td>
                                                            <select class="form-control" data-bind="options: availLookbacks, optionsText: 'name', optionsValue: 'id', value: lBLookbackId"></select>
                                                        </td>
                                                        
                                                        <td><i class="fa fa-sort"></i></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td><i class="fa fa-sort"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>

</section>
