﻿<style>
    textarea {
        display: block;
        width: 100%;
    }

    #content > li {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    h1, h2{
        text-align: center;
    }

    .mcf-matrix{
        width: 65%;
        margin: 0 auto;
    }
    .mcf-matrix>thead>tr>td:first-child{
        width: 15%;
        border: none;
    }
    .mcf-matrix td{
        text-align: center;
    }
   
    
    .mcf-matrix>tbody>tr:first-child>td:first-child{
        text-align: center;
        border: none;
        vertical-align: middle;
        padding-left: 15px;
        padding-right: 15px;
    }
    .bal-container, .curRate-container{
        text-align: left;
    }
    .bal, .curRate{
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 8px;
        padding-right: 8px;
    }
</style>
<section data-bind="with:mcf">
    <h1>Marginal Cost of Funds Analysis</h1>
    <h2 data-bind="text: mcf.accountName"></h2>
    
    <!-- ko if: mcf.isReduction -->
    <p>The matrix below identifies the effective marginal cost of foregoing rate reductions in an effort to protect various levels of expected runoff in the <span data-bind="text: bankType"></span>'s <span data-bind="text: mcf.accountName"></span> account balances.</p>
    <p>For example, the incremental cost of foregoing a <span data-bind="text: numeral($root._rateChanges[0]).format('0.00')"></span>% rate <span data-bind="text: $root.reducInc"></span> is <span data-bind="text: numeral(matrixValues[0][0]).format('0.00')"></span>% on the most volatile <span data-bind="text: numeral($root._runoffs[0]).format('0.00')"></span>% of the balances.</p>
    <!-- /ko -->
    <!-- ko ifnot: mcf.isReduction -->
    <p>The matrix below identifies the effective marginal cost associated with increasing rates in an effort to protect various levels of expected runoff in the <span data-bind="text: bankType"></span>'s <span data-bind="text: mcf.accountName"></span> account balances.</p>
    <p>For example, the incremental cost of increasing the <span data-bind="text: mcf.accountName"></span> rate <span data-bind="text: numeral($root._rateChanges[0]).format('0.00')"></span>% to protect the most volatile <span data-bind="text: numeral($root._runoffs[0]).format('0.00')"></span>% of the balances is <span data-bind="text: numeral(matrixValues[0][0]).format('0.00')"></span>%.</p>
    <!-- /ko -->

    

    <p>The effective cost of protecting these balances should be compared to the incremental cost of alternative funding sources.</p>

    <div class="bal-container">
        <label>Balance: </label>
        <span class="bal" data-bind="text: numeral(mcf.balance()).format('0,00')"></span>
    </div>
    <div class="curRate-container">
        <label>Current Rate: </label>
        <span class="curRate" data-bind="text: numeral(mcf.rate()).format('0.00') + '%'"></span>
    </div>

    <table class="table dcg-table" style="color:#fff !important; font-weight:bold; width:100%; font-size:inherit;">
        <thead>
            <tr>
                <th colspan="2" style="border-bottom: 0px;"></th>
                <th style="text-align: center; background-color: #40637a; color:#fff !important;" data-bind="attr: {colspan: $root._rateChanges.length}"> Rate <span class="text-cap" data-bind="text: $root.reducInc"></span></th>
            </tr>
            <tr>
                <th width="140" style="border-bottom: 0px; border-top:0px;"></th>
                <th width="140" style="border-bottom: 0px; border-top:0px;"></th>
                <!-- ko foreach: $root._rateChanges -->
                <th style="background-color:#e9e9e9"><span data-bind="text: numeral($data).format('0.00')"></span>%</th>
                <!-- /ko -->
            </tr>
        </thead>
        <tbody>

            <!-- ko foreach: $root._runoffs -->
            <tr>
                <!-- ko if: $index() == 0 -->
                <td width="100" style="border-top: 0px; background-color:#73afad; color:#fff !important;" data-bind="attr:{rowspan: $root._runoffs.length}">RUNOFF<br />PROTECTED</td>
                <!-- /ko -->
                <td style="background-color:#e9e9e9;"><span data-bind="text: numeral($data).format('0.00')"></span>%</td>
                <!-- ko foreach: $root._rateChanges -->
                <td style="background-color:#fff;"><span data-bind="text: numeral($root.mcf().matrixValues[$parentContext.$index()][$index()]).format('0.00')"></span>%</td>
                <!-- /ko -->
            </tr>
            <!-- /ko -->



        </tbody>
    </table>
</section>
