﻿<style>
    .marginal-cost-view{
        min-height: 500px;
    }
    .data-list{
        list-style: none;
    }
    .data-list>li{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .marginal-cost-view .form-control{
        width: 80%;
        display: inline-block;
    }
    .marginal-cost-view legend{
        display: block;
    }
    .form-control.half-size{
        width: 50%;
        clear: right;
    }
    input[type="checkbox"]{
        margin-left: 8px;
    }
</style>
<section class="marginal-cost-view">
    <fieldset class="col-sm-12">
        <label>Account Name</label><br />
        <input class="form-control half-size" data-bind="textInput: mcf().accountName" type="text" /><br />
        <label>Balance (In Full)</label><br />
        <input class="form-control half-size" data-bind="formatBalance: mcf().balance" type="text" /><br />
        <label>Current Rate</label><br />
        <input class="form-control half-size" type="text" data-bind="value: mcf().rate"/><br />
        <label>Reduction/Increase</label><input type="checkbox" data-bind="checked: mcf().isReduction" />
    </fieldset>
    
    <fieldset class="col-sm-6">
        <legend>Runoffs</legend>
        <button title="Add Runoff" class="btn btn-success" id="addRunoff" data-bind="click: addRunoff, disable: _runoffs().length >= 3"><i class="fa fa-plus"></i></button>
        <ul class="data-list" data-bind="foreach: _runoffs">
            <li>
                <button title="Remove Runoff" class="btn btn-danger" id="removeRunoff" data-bind="click: function(){$root.removeRunoff($index())}"><i class="fa fa-trash-o"></i></button>
                <input class="form-control" data-bind="value: $rawData" />
            </li>
        </ul>
    </fieldset>
    <fieldset class="col-sm-6">
        <legend>Rate <span data-bind="text: changeTitle"></span></legend>
        <button title="Add RateChange" class="btn btn-success" id="addRateChange" data-bind="click: addRateChange, disable: _rateChanges().length >= 3"><i class="fa fa-plus"></i></button>
        <ul class="data-list" data-bind="foreach: _rateChanges">
            <li>
                <button title="Remove RateChange" class="btn btn-danger" id="removeRateChange" data-bind="click: $root.removeRateChange"><i class="fa fa-trash-o"></i></button>
                <input class="form-control" data-bind="value: $rawData" />
            </li>
        </ul>
    </fieldset>

</section>
