﻿
<section>
    <nav>
        <div>
            <button class="btn btn-primary" data-bind="click: goBack">
                <i class=" fa fa-arrow-left"></i>
                Back
            </button>
            <button class="btn btn-primary"
                    data-bind="click: cancel, enable: canSave">
                <i class="fa fa-undo"></i>
                Cancel
            </button>
            <button class="btn btn-primary"
                    data-bind="click: save, enable: canSave">
                <i class="fa fa-save"></i>
                Save
            </button>
        </div>
    </nav>
    <br />
    <form role="form" data-bind="with: modelsetup">
        <fieldset class="col-sm-12">
            <legend class="col-md-12">Model Setup</legend>
            <!--<div class="row">
                <div class="form-inline col-sm-4">
                    <div class="form-group">
                        <label>Net New Loans</label>
                        <input type="text" data-bind="value: netNewLoans" class="form-control input-sm" id="netNewLoans"/>
                    </div>
                </div>
                <div class="col-sm-8">
                    <label>Previous Net New Loans</label>
                    <span data-bind="text: $root.historicmodel() != undefined ? $root.historicmodel().netNewLoans() : 'N/A' "></span>
                </div>
            </div>
            <div class="row">f
                <div class="form-inline col-sm-4" style="margin-top: 10px;">
                    <div class="form-group">
                        <label>Net New Deposits</label>
                        <input type="text" data-bind="value: netNewDeposits" class="form-control input-sm" id="netNewDeposits" />
                    </div>
                </div>
                <div class="col-sm-8" style="margin-top: 10px;">
                    <label>Previous Net New Deposits</label>
                    <span data-bind="text: $root.historicmodel() != undefined ? $root.historicmodel().netNewDeposits() : 'N/A' "></span>
                </div>
            </div>-->

            <div class="row">
                <div class="form-group col-md-4">
                    <label>Mortgage Prepayment Type</label>
                    <select class="form-control input-sm" data-bind="options: $root.mortPrepayType, value: prepaymentType" id="mortgagePrepaymentType"></select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Other Loan Prepayment Type</label>
                    <select class="form-control input-sm" data-bind="options: $root.otherPrepayType, value: otherLoanPrepaymentType" id="otherLoanPrepayment"></select>
                </div>
            </div>
                <!--<div class="form-group">
        <label>Loan Rates As of Date</label>
        <input type="text" class="form-control input-sm" data-bind="datepicker: loanRatesDate, datepickerOptions: {startView: 1, autoclose: true, format: 'mm/dd/yyyy', autoclose: true}" id="loanRateDate">
    </div>-->
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Investment Type</label>
                    <select class="form-control input-sm" data-bind="options: $root.investmentType, value: investmentType" id="investmentType"></select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label>Report Tax Equivalent Income</label>
                    <select class="form-control input-sm" data-bind="options: $root.taxEquiv, optionsText: 'name', optionsValue: 'value', value: reportTaxEquivalent" id="taxEquivIncome"></select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label>Report Tax Equivalent Yield</label>
                    <select class="form-control input-sm" data-bind="options: $root.taxEquiv, optionsText: 'name', optionsValue: 'value', value: reportTaxEquivalentYield" id="taxEquivYield"></select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label>Include Off Balance Sheet Items in Balance Sheet Spread Calculations</label>
                    <select class="form-control input-sm" data-bind="options: $root.offSheet, optionsText: 'name', optionsValue: 'value', value: includeOffBalanceSheet" id="offBalanceSheet"></select>
                </div>
            </div>

            <!--<div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>EVE/NEV NMD Avg Life Assumption</label>
                <select id="eveNevAvgLife" class="form-control input-sm" data-bind="options: $root.avgLifeAssumption, value: avgLifeAssumption, event: {change: $root.UpdateAverageLife}"></select>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="col-sm-12">Average Life Value</label>
                <input id="avgLifeValue" class="form-control input-sm" type="text" data-bind="value: avgLifeYears, enable: avgLifeAssumption() == 'Other'" />
            </div>

        </div>
        <div class="col-sm-4">
            <label class="col-sm-12">Average Life text</label>
            <textarea id="avgLifeMessage" rows="8" cols="40" data-bind="value: avgLifeMessage, enable: avgLifeAssumption() == 'Other'"></textarea>
        </div>
    </div>-->
</fieldset>

    </form>
</section>



