﻿<section data-bind="with:netcashflow">
    <fieldset class="col-sm-6">
        <legend>Defined Grouping</legend>
        <select class="form-control" data-bind="options: $root.definedGroupings, optionsText: 'name', optionsValue: 'intId', value: definedGrouping"></select>
    </fieldset>    
    <fieldset class="col-sm-6">
        <legend>Prepayments</legend>
        <div class="col-sm-12"><input type="checkbox" data-bind="checked: excludePrepayments" />Exclude Prepayments</div>
    </fieldset>  
        <fieldset class="col-sm-12">
            <legend>Simulations/Scenario/Offsets</legend>
            <div class="form-group col-sm-12">
                <table class="table">
                    <thead>
                        <tr class="middle-align">
                            <th>
                                <span class="dropdown dropup">
                                    <button title="add shock scenario" class="btn btn-success" data-toggle="dropdown" id="addSimulationScenario" data-bind="click: $root.addSimulationscenario, disable: $root.sortedSimulations().length >= 3"><i class="fa fa-plus"></i></button>
                                </span>
                            </th>
                            <th>Simulation</th>
                            <th>Scenario</th>
                            <th>Date Offset</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: $root.sortedSimulations">
                        <tr class="middle-align">
                            <td>
                                <button title="remove" data-bind="click: $root.removeNetCashflowSimulationScenario" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                            </td>
                            <td>
                                <select class="form-control" data-bind="options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId"></select>
                            </td>
                            <td>
                                <select class="form-control" data-bind="options: $root.scenarioTypes, optionsText: 'name', optionsValue: 'id', value: scenarioTypeId"></select>
                            </td>
                            <td>
                                <select class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </fieldset>
</section>
