﻿<style>
    table {
       
        font-size: 12px;
    }

    .topTable{
         width: 100%;
    }

    .cashflowChart {
        height: 200px;
    }

    .tableHeader {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }

    .neg-val {
        color: #b20000;
    }

    #cashflowDetail > tr.body-lt-blue > td,
    #cumulativeCashflowDetail > tr.body-lt-blue > td{
        background-color: #d3edfc;
    }


    .cellName{
        width: 91px;
    }

    .cellName2{
        width: 120px;
    }

    .balanceBucket{
        width: 75px;
    }
    .cf-chart{
        height: 252px;
    }
    .y-axis-label{
        font-weight: bold;
    }
</style>

<section id="netcashflow-view">
    <div id="assetChart" class="row cf-chart"></div>
    <div id="liabChart" class="row cf-chart"></div>
    <div id="netChart" class="row cf-chart"></div>
</section>
