﻿<style>
    #oneChart{
        margin: 0 auto;
        width: 80%;
    }
</style>    


<section id="onechart-view">
<h2 id="oneChartTitle" class="atlasHeader grey" data-bind="text: $root.oneChart().chart().name()"></h2>
<div class="row">
        <div class="">
            <div id="oneChart"></div>
        </div>
    </div>
    <div style="margin-top: 30px; margin: 0 auto; width: 80%;" class="row">
        <div data-bind="css: {'col-sm-6' : $root.oneChart().chart().percentChange() != 0, 'col-sm-12': $root.oneChart().chart().percentChange() != 0}">
            <!--<table style="table-layout: fixed;" class="table table-condensed small-font" id="oneChartTable">
                <thead>
                    <tr></tr>
                </thead>
                <tbody></tbody>
            </table>-->
            <h4 class="atlasHeader blue"><span data-bind="text: $root.oneChart().niiOption().toUpperCase()"></span> RESULTS </h4>
            <table class="dcg-table" id="oneChartTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>YEAR 1</th>
                        <th>YEAR 2</th>

                        <!-- ko if: $root.oneChart().chart().isQuarterly() -->
                        <th>YEAR 3</th>
                        <th>YEAR 4</th>
                        <th>YEAR 5</th>
                        <!-- /ko -->
                    </tr>
                </thead>
                <tbody data-bind="foreach: oneChartViewData().niiTable">
                    <tr data-bind="css: $root.charting.scenarioIdLookUp(scenario).rowClass">
                        <td class="cellLabel"> <span class="scenarioButton" data-bind="text: scenario, css: $root.charting.scenarioIdLookUp(scenario).labelClass"></span></td>
                        <td data-bind="text: $root.formatNumber(y1_nii, 0)"></td>
                        <td data-bind="text: $root.formatNumber(y2_nii, 0)"></td>
                        <!-- ko if: $root.oneChart().chart().isQuarterly() -->
                        <td data-bind="text: $root.formatNumber(y3_nii, 0)"></td>
                        <td data-bind="text: $root.formatNumber(y4_nii, 0)"></td>
                        <td data-bind="text: $root.formatNumber(y5_nii, 0)"></td>
                        <!-- /ko -->
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- ko if: $root.oneChart().chart().percentChange() == 1 -->
        <div class="col-sm-6">
            <h4 class="atlasHeader blue" data-bind="text: $root.percChangeLabel"></h4>
            <table class="dcg-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>YEAR 1</th>
                        <th data-bind="text: yr2ColLabel"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: $root.oneChartViewData().compareTable">
                    <tr data-bind="css: $root.charting.scenarioIdLookUp(scenario).rowClass">
                        <td class="cellLabel"><span class="scenarioButton" data-bind="text: scenario, css: $root.charting.scenarioIdLookUp(scenario).labelClass"></span></td>
                        <td data-bind="text: $root.formatNumber(year1, 1)"></td>
                        <td data-bind="text: $root.formatNumber(year2, 1)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /ko -->
        <!-- ko if: $root.oneChart().chart().percentChange() == 2 -->
        <div class="col-sm-6">
            <h4 class="atlasHeader blue" data-bind="text: $root.percChangeLabel"></h4>
            <table class="dcg-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>POLICY</th>
                        <th>YEAR 1</th>
                        <th>POLICY</th>
                        <th data-bind="text: yr2ColLabel"></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: $root.oneChartViewData().compareTable">
                    <tr data-bind="css: $root.charting.scenarioIdLookUp(scenario).rowClass">
                        <td class="cellLabel"><span class="scenarioButton" data-bind="text: scenario, css: $root.charting.scenarioIdLookUp(scenario).labelClass"></span></td>
                        <td data-bind="text: $root.formatNumber(policy1, 2)"></td>
                        <td data-bind="text: $root.formatNumber(year1, 1)"></td>
                        <td data-bind="text: $root.formatNumber(policy2, 2)"></td>
                        <td data-bind="text: $root.formatNumber(year2, 1)"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /ko -->
    </div>
</section>
