﻿<fieldset class="col-sm-12">
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="taxEquivCheckbox" data-bind="checked: oneChart().overrideTaxEquiv" /> Override Tax Equivalent Income
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="taxEquivCheckbox" data-bind="checked: oneChart().taxEquivalentIncome, enable: oneChart().overrideTaxEquiv" /> Tax Equivalent Income
            </label>
        </div>
    </div>
    <legend>Chart</legend>
    <div id="oneChartControls" data-bind="compose: chartVm" class="col-sm-6"></div>

  
</fieldset>
