﻿<style>
    .dropdown-menu {
        max-height: 400px;
        overflow-y: auto;
    }

    .report-sub-list {
        list-style: none;
        padding-left: 20px;
    }

    .report-header-1 {
        padding-left: 10px;
        text-decoration: underline;
    }

    .report-list > li {
        font-weight: normal;
    }
</style>
<section>
    <nav>
        <div>
            <button class="btn btn-primary" data-bind="click: goBack" id="packages">
                <i class=" fa fa-arrow-left"></i>
                Packages
            </button>
            <button class="btn btn-primary" id="view"
                    data-bind="click: goToFirstReportView">
                <i class=" fa fa-search"></i>
                View
            </button>
            <button class="btn btn-primary" id="PDF"
                    data-bind="click: goToPdf">
                <i class=" fa fa-file"></i>
                PDF
            </button>
            <button class="btn btn-primary" id="cancelChanges"
                    data-bind="click: cancel, enable: canSave">
                <i class="fa fa-undo"></i>
                Cancel
            </button>
            <button class="btn btn-primary" id="saveChanges"
                    data-bind="click: save, enable: canSave">
                <i class="fa fa-save"></i>
                Save
            </button>
            <!--<button class="btn btn-danger" data-bind="click: deletePackage, disable: hasChanges">
                <i class="fa fa-trash-o"></i>
                Delete
            </button>-->
            <button class="btn btn-danger" data-bind="click: newDeletePackage, disable: hasChanges" id="delete">
                <i class="fa fa-trash-o"></i>
                Delete
            </button>
        </div>
    </nav>
    <br />
    <form data-bind="with: thePackage" role="form">
        <fieldset>
            <legend>Package</legend>
            <div class=" row col-sm-12">
                <div class="form-group col-sm-5">
                    <label>Package Name</label>
                    <input type="text" class="form-control" data-bind="value: name, valueUpdate: 'afterkeydown'" id="packageName">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Reports</label>
                    <table class="table" id="reportsTable">
                        <thead>
                            <tr class="middle-align">
                                <th>
                                    <span class="dropdown" id="dropdown_parent">
                                        <button title="add report" class="dropdown-toggle  btn  btn-success" data-toggle="dropdown" data-bind="click: $root.clearFilter" href="#"><i class="fa fa-plus"></i></button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="width: 500px;">
                                            <li>
                                                <div class="input-group" id="inputGroupFilter" data-bind="click: $root.cancelEvent">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                                    <input autofocus class="form-control multiselect-search" type="text" id="searchReport" placeholder="Filter" data-bind="value: $root.filter, valueUpdate: 'afterkeydown'" autocomplete="off">
                                                </div>
                                            </li>
                                            <li>
                                                <ul class="report-sub-list" aria-labelledby="dLabel" data-bind="foreach: $root.reportNames" style="width: 480px;">
                                                    <li role="presentation">
                                                        <span class="report-header-1" data-bind="text: name"></span>
                                                        <ul class="report-sub-list" data-bind="foreach: subSections">
                                                            <li>
                                                                <span data-bind="text: name"></span>
                                                                <ul class="report-sub-list report-list" data-bind="foreach: reports">
                                                                    <li role="presentation"><a role="menuitem" style="color: #333333;" tabindex="-1" href="#" data-bind="text: dispName , value: name,  click: $root.add"></a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </span>
                                </th>
                                <th>Priority</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="sortable" data-bind="sortable: { data: $root.sortedReports, afterMove: $root.fixupReportPriority, beforeMove: $root.dontMove } ">
                            <tr class="middle-align">
                                <td>
                                    <button title="edit" class="btn btn-primary" data-bind="click: $root.config"><i class="fa fa-edit"></i></button>
                                    <button title="view" class="btn btn-primary" data-bind="click: $root.goToView, disable: shortName() == 'NIIRecon'"><i class="fa fa-search"></i></button>
                                    <!--<button title="delete" class="btn btn-danger" data-bind="click: $root.deleteReport"><i class="fa fa-trash-o"></i></button>-->
                                    <button title="Delete" class="btn btn-danger" data-bind="click: $root.deleteReportingItem"><i class="fa fa-trash-o"></i></button>
                                </td>
                                <td data-bind="text: priority"></td>
                                <td data-bind="text: name"></td>
                                <td data-bind="text: displayName"></td>
                                <td><i class="fa fa-sort"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>
    </form>
</section>
<div class="modal fade" tabindex="-1" role="dialog" id="deleting_dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deleting Package</h4>
            </div>
            <div class="modal-body">
                <p>Please wait, deleting package.</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
