﻿<section id="oneincomegraph-view">
    <h3 data-bind="text: title + ' For ' + profile().asOfDate"></h3>
    <div>
        <button class="btn btn-primary"
                data-bind="click: cancel, enable: canSave" id="cancelPackageChanges">
            <i class="fa fa-undo"></i>
            Cancel
        </button>
        <button class="btn btn-primary"
                data-bind="click: save, enable: canSave" id="savePackage">
            <i class="fa fa-save"></i>
            Save
        </button>
    </div>
    <br />

    <form data-bind="with: thePackage" role="form">
        <fieldset>
            <legend>Package</legend>



            <div class="row">
                <div class="form-group col-sm-12">
                    <label>Package Name</label>
                    <input type="text" class="form-control" data-bind="value: name, valueUpdate: 'afterkeydown'" id="packageName">
                </div>
            </div>
            <div class="row" data-bind="visible: $root.isTemplateBank">
                <div class="form-group col-sm-12">
                    <label><input type="checkbox" data-bind="checkedValue: $root.copyTemplate, checked: $root.copyTemplate" id="useTemplateCheckbox" /><span>Use Template</span></label>
                    <select class="form-control" data-bind="options: $root.atlasTemplates, optionsText: 'name', optionsValue: 'id',value: $root.sourceTemplateId, enable: $root.copyTemplate" id="atlasTemplateSelector"></select>
                </div>
            </div>
        </fieldset>
    </form>
</section>
<div class="modal fade" tabindex="-1" role="dialog" id="create_pkg_dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Creating Package</h4>
            </div>
            <div class="modal-body">
                <p>Please wait, creating package.</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->