﻿<section>
    <h3 data-bind="text: 'Copy ' + profile().asOfDate + '-' + thePackage().name()"></h3>
    <div>
        <button class="btn btn-primary"
                data-bind="click: cancel">
            <i class="fa fa-undo"></i>
            Cancel
        </button>
        <button class="btn btn-primary"
                data-bind="click: copy">
            <i class="fa fa-save"></i>
            Copy
        </button>
        <button class="btn btn-primary"
                data-bind="click: newCopy">
            <i class="fa fa-save"></i>
            New Copy
        </button>
    </div>
    <br />

    <form data-bind="with: thePackage" role="form">
        <fieldset>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label>As Of Date</label>
                    <select class="form-control" data-bind="options: $root.asOfDates, optionsText: 'asOfDateDescript', optionsValue: 'asOfDateDescript',value: $root.asOfDate" id="atlasAsOfDateSelector"></select>
                </div>
            </div>
        </fieldset>
    </form>
</section>
