﻿<section >
    <h3> Packages </h3>
    <br />
    <form role="form">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        <button id="addPackage" title="add package" class="btn btn-success" data-bind="click: add">
                            <i class="fa fa-plus" id="addPackage_icon"></i>
                        </button>
                    </th>
                    <th>Package Name</th>
                    <th>Date Modified</th>
                    <th>Modified By</th>

                </tr>
            </thead>
            <tbody data-bind="foreach: packages">
                <tr data-bind="attr: {'id': 'packageRow' + id()}">
                    <td>
                        <button title="edit" class="editPackage btn btn-primary" data-bind="click: $root.goToDetail,attr: {'id': 'editPackage' + id()}" id="edit_package_btn"><i id="edit_package_icon" class="fa fa-edit"></i></button>
                        <button title="copy" class="copyPackage btn btn-primary" data-bind="click: $root.copy,attr: {'id': 'editPackage' + id()}" id="copy_package_btn"><i id="copy_package_icon" class="fa fa-copy"></i></button>
                        <button title="view" class="viewPackage btn btn-primary" data-bind="click: $root.goToFirstReportView,attr: {'id': 'editPackage' + id()}" id="view_package_btn"><i id="view_package_icon" class="fa fa-search"></i></button>
                    </td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: moment(dateModified()).utc().format('MM/DD/YYYY, h:mm:ss a')"></td>
                    <td data-bind="text: modifiedBy"></td>

                </tr>
            </tbody>
        </table>
    </form>
</section>
