﻿<style>
    table > tbody > tr > td {
        padding: 2px;
        border: 1px solid #000000;
    }

    table > thead > tr > th {
        border: 1px solid #000000;
    }

    table {
        font-size: 13px;
    }

    .childCell {
        padding-left: 15px;
    }

    .header1 > th {
        background-color: rgb(118,146,60);
        font-size: 14px;
        color: #ffffff;
        padding-left: 4px;
    }

    .header2 > th {
        color: #000000;
        background-color: rgb(214,227,188);
    }

    .parentNII {
        color: #000000;
        background-color: rgb(214,227,188);
    }

    .wellCap{
        width: 100px;
    }

    .wellCap input{
        width: 100px;
    }

    .polLimit {
        width: 100px;
    }

    .polLimit input {
        width: 100px;
    }

    .header2 > th {
        text-align: center;
    }

    .bodyHeader td {
        background-color: rgb(218,238,243);
    }

    .disabled {
        background-color: rgb(168,168,168);
    }

    .viewData {
        background-color: rgb(191,191,191);
        text-align: center;
    }
</style>

<section>
    <nav>
        <div>
            <button class="btn btn-primary" data-bind="click: goBack" id="backButton">
                <i class=" fa fa-arrow-left"></i>
                Back
            </button>
            <button class="btn btn-primary" id="cancelButton"
                    data-bind="click: cancel, enable: canSave">
                <i class="fa fa-undo"></i>
                Cancel
            </button>
            <button class="btn btn-primary" id="saveButton"
                    data-bind="click: save, enable: canSave">
                <i class="fa fa-save"></i>
                Save
            </button>
        </div>
    </nav>
    <br />
    <fieldset data-bind="with:eve" class="col-sm-12">
        <div class="row">
            <div class="col-md-6">
                <table id="policySim">
                    <tr>
                        <td>
                            As Of Date
                        </td>
                        <td data-bind="text: moment($root.profile().asOfDate).format('MM/DD/YYYY')"></td>
                    </tr>
                    <tr>
                        <td>
                            Meeting Date
                        </td>
                        <td>
                            <input type="text" class="form-control" data-bind="datepicker: meetingDate, datepickerOptions: {autoclose: true, minViewMode: 0, format: 'mm/dd/yyyy', autoclose: true}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            NII Simulation
                        </td>
                        <td>
                            <select class="form-control" data-bind="options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: nIISimulationTypeId, event: {change: $root.refresh}"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EVE Simulation
                        </td>
                        <td>
                            <select class="form-control" data-bind="options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: eveSimulationTypeId, event: {change: $root.refresh}"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Basic Surplus
                        </td>
                        <td>
                            <select class="form-control" data-bind="options: $root.basicSurplusAdmins, optionsText: 'name', optionsValue: 'id', value: basicSurplusAdminId"></select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table id="riskAssess">
                    <thead>
                        <tr>
                            <th colspan="5">Risk Assesment</th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Current</th>
                            <th data-bind="text: $root.historicHash.length > 0 ?  moment($root.historicHash[0].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                            <th data-bind="text: $root.historicHash.length > 1 ?  moment($root.historicHash[1].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                            <th data-bind="text: $root.historicHash.length > 2 ?  moment($root.historicHash[2].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Liquidity</td>
                            <td>
                                <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: liquidityRiskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                            </td>
                            <td  data-bind="text: $root.historicHash.length > 0 ?  $root.historicHash[0].liquidityRiskAssessment: 'N/A'">

                            </td>
                            <td data-bind="text: $root.historicHash.length > 1 ?  $root.historicHash[1].liquidityRiskAssessment: 'N/A'">

                            </td>
                            <td  data-bind="text: $root.historicHash.length > 2 ?  $root.historicHash[2].liquidityRiskAssessment : 'N/A'">

                            </td>
                        </tr>
                        <tr>
                            <td>NII</td>
                            <td>
                                <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: nIIRiskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                            </td>
                            <td data-bind="text: $root.historicHash.length > 0 ?  $root.historicHash[0].nIIRiskAssessment: 'N/A'"></td>
                            <td data-bind="text: $root.historicHash.length > 1 ?  $root.historicHash[1].nIIRiskAssessment: 'N/A'"></td>
                            <td data-bind="text: $root.historicHash.length > 2 ?  $root.historicHash[2].nIIRiskAssessment : 'N/A'"></td>
                        </tr>
                        <tr>
                            <td>Capital</td>
                            <td>
                                <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: capitalRiskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                            </td>
                            <td data-bind="text: $root.historicHash.length > 0 ?  $root.historicHash[0].capitalRiskAssessment: 'N/A'"></td>
                            <td data-bind="text: $root.historicHash.length > 1 ?  $root.historicHash[1].capitalRiskAssessment: 'N/A'"></td>
                            <td data-bind="text: $root.historicHash.length > 2 ?  $root.historicHash[2].capitalRiskAssessment : 'N/A'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      

        <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#liquidity" aria-controls="liquidity" role="tab" data-toggle="tab">Liquidity</a></li>
                <li role="presentation"><a href="#niiAtRisk" aria-controls="niiAtRisk" role="tab" data-toggle="tab">NII At Risk</a></li>
                <li role="presentation"><a href="#coreFunding" aria-controls="coreFunding" role="tab" data-toggle="tab">Core Funding</a></li>
                <li role="presentation"><a href="#evenev" aria-controls="evenev" id="eveTab" role="tab" data-toggle="tab">EVE/NEV</a></li>
                <li role="presentation"><a href="#capital" aria-controls="capital" role="tab" data-toggle="tab">Capital</a></li>
                <li role="presentation"><a href="#other" aria-controls="other" role="tab" data-toggle="tab">Other</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="liquidity">
                    <table>
                        <thead>
                            <tr class="header1">
                                <th colspan="11">
                                    <button title="Add Policy" class="dropdown-toggle  btn btn-success" data-bind="event:{click: $root.addLiquidityPolicy.bind(1, 1)}"><i class="fa fa-plus"></i></button>
                                    Liquidity
                                </th>
                            </tr>
                            <tr class="header2">
                                <th colspan="5"></th>

                                <th id="histMonth1" colspan="2" data-bind="text: $root.historicHash.length > 0 ?  moment($root.historicHash[0].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                                <th id="histMonth2" colspan="2" data-bind="text: $root.historicHash.length > 1 ?  moment($root.historicHash[1].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                                <th id="histMonth3" colspan="2" data-bind="text: $root.historicHash.length > 2 ?  moment($root.historicHash[2].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                            </tr>
                            <tr class="middle-align header2">
                                <th></th>
                                <th class="polLimit">Policy <br /> Limit</th>
                                <th class="wellCap">< Well <br />  Cap</th>
                                <th>R/A</th>
                                <th>Curr</th>
                                <th>Ratio</th>
                                <th>R/A</th>
                                <th>Ratio</th>
                                <th>R/A</th>
                                <th>Ratio</th>
                                <th>R/A</th>
                            </tr>
                        </thead>

                        <!-- Basic Divider-->
                        <tbody data-bind="foreach: $root.sortedLiqPolicies">

                            <!-- ko if: shortName() == 'fhlbAssets' -->
                            <tr class="bodyHeader">
                                <td colspan="11"><button title="Add Policy" class="dropdown-toggle  btn btn-success" data-bind="click: $root.addLiquidityPolicy.bind(5, 5)"><i class="fa fa-plus"></i></button>FHLB Borrowings</td>

                            </tr>
                            <!-- /ko -->


                            <!-- ko if: shortName() == 'borrowAsset' -->
                            <tr class="bodyHeader">
                                <td colspan="11"><button title="Add Policy" class="dropdown-toggle  btn btn-success" data-bind="click: $root.addLiquidityPolicy.bind(2, 2)"><i class="fa fa-plus"></i></button>Borrowings</td>

                            </tr>
                            <!-- /ko -->
                            <!-- ko if: shortName() == 'brokeredAsset' -->
                            <tr class="bodyHeader">
                                <td colspan="11"><button title="Add Policy" class="dropdown-toggle  btn btn-success" data-bind="click: $root.addLiquidityPolicy.bind(3, 3)"><i class="fa fa-plus"></i></button>Brokered Deposits</td>

                            </tr>
                            <!-- /ko -->
                            <!-- ko if: shortName() == 'wholeAsset' -->
                            <tr class="bodyHeader">
                                <td colspan="11"><button title="Add Policy" class="dropdown-toggle  btn btn-success" data-bind="click: $root.addLiquidityPolicy.bind(4, 4)"><i class="fa fa-plus"></i></button>Wholesale Funds</td>
                            </tr>
                            <!-- /ko -->

                            <tr data-bind="attr: { id: shortName }">
                                <!-- ko if: shortName().indexOf('custom') >=  0-->
                                <td class="firstCell">
                                    <div class="input-group"> 
                                        <div class="input-group-btn">
                                            <button title="Remove Policy" class="btn btn-danger" data-bind="click: $root.removePolicy"><i class="fa fa-trash-o"></i></button>
                                        </div>
                                        <input type="text" class="form-control" data-bind="value: name" aria-label="Text input with dropdown button">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span data-bind="text: formatType"></span> <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li data-bind="click: $root.updateFormatType.bind($data, '$')"><a>$</a></li>
                                                <li data-bind="click: $root.updateFormatType.bind($data, '#')"><a>#</a></li>
                                                <li data-bind="click: $root.updateFormatType.bind($data, '%')"><a>%</a></li>
                                            </ul>
                                        </div><!-- /btn-group -->
                                    </div><!-- /input-group -->
                                </td>
                                <!-- /ko -->
                                <!-- ko if: shortName().indexOf('custom') ==  -1-->
                                <td class="firstCell" data-bind="text: name() "></td>
                                <!-- /ko -->
                                <!-- ko if: shortName().indexOf('custom') >=  0-->
                                <!-- ko if: formatType() == '$' -->
                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatBPChange: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">$</span>
                                    </div>
                                </td>

                                <td class="wellCap disabled"></td>

                                <td>
                                    <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                </td>

                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatBPChange: currentRatio, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">$</span>
                                    </div>
                                </td>
                                <!-- /ko -->
                                <!-- ko if: formatType() == '%' -->
                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatPolicy: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                    </div>
                                </td>

                                <td class="wellCap disabled"></td>

                                <td>
                                    <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                </td>

                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatCurrentRatio: currentRatio, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                    </div>
                                </td>
                                <!-- /ko -->
                                <!-- ko if: formatType() == '#' -->
                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatBPChange: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                    </div>
                                </td>

                                <td class="wellCap disabled"></td>

                                <td>
                                    <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                </td>


                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatBPChange: currentRatio, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                    </div>
                                </td>
                                <!-- /ko -->

                                <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].liquidity[name()] ?  numeral( $root.historicHash[0].liquidity[name()].currentRatio).format((formatType() == '#' ? '0,0' : (formatType() == '$' ? '$0,0' : '0.00%'  ))) : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].liquidity[name()] ?   $root.historicHash[0].liquidity[name()].riskAssesment : 'N/A'"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].liquidity[name()] ?  numeral($root.historicHash[1].liquidity[name()].currentRatio).format((formatType() == '#' ? '0,0' : (formatType() == '$' ? '$0,0' : '0.00%'  ))) : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].liquidity[name()] ?   $root.historicHash[1].liquidity[name()].riskAssesment : 'N/A'"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].liquidity[name()] ?  numeral($root.historicHash[2].liquidity[name()].currentRatio).format((formatType() == '#' ? '0,0' : (formatType() == '$' ? '$0,0' : '0.00%'  ))) : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].liquidity[name()] ?   $root.historicHash[2].liquidity[name()].riskAssesment : 'N/A'"></td>

                                <!-- /ko -->
                                <!-- ko if: shortName().indexOf('custom') ==  -1-->
                                <!-- ko if: name().indexOf('Maximum') != -1 -->
                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatBPChange: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">$</span>
                                    </div>
                                </td>
                                <!-- /ko -->
                                <!-- ko if: name().indexOf('Maximum') == -1 -->
                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatPolicy: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                    </div>
                                </td>
                                <!-- /ko -->

                                <!-- ko if: $index() <= 2 -->
                                <td class="wellCap">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatPolicy: wellCap, attr:{ 'aria-describedby': 'waddon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'waddon' + $index()}">%</span>
                                    </div>
                                </td>
                                <!-- /ko -->
                                <!-- ko if: $index() > 2 -->
                                <td class="wellCap disabled"></td>
                                <!-- /ko -->

                                <td>
                                    <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                </td>

                                <!-- ko if: shortName().indexOf('Max') != -1 -->
                                <td class="viewData" data-bind="text: numeral(currentRatio() / 1000).format('$0,0')"></td>
                                <!-- /ko -->
                                <!-- ko if: shortName().indexOf('Max') == -1 -->
                                

                                    <!-- ko if: shortName() == 'bsminOnBalance' -->
                                    <td class="polLimit">
                                        <div class="input-group input-group-sm">
                                            <input data-bind="formatPolicy: currentRatio, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                            <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                        </div>
                                    </td>
                                    <!-- /ko -->
                                    <!-- ko if: shortName() != 'bsminOnBalance' -->
                                    <td class="viewData" data-bind="text: numeral(currentRatio()).format('0.00%')"></td>
                                    <!-- /ko -->
                                <!-- /ko -->
                                <!-- Historic Values Now-->
                                <!-- ko if: shortName().indexOf('Max') != -1 -->
                                <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].liquidity[name()] != undefined ?  numeral($root.historicHash[0].liquidity[name()].currentRatio / 1000).format('$0,0') : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].liquidity[name()] != undefined ?  $root.historicHash[0].liquidity[name()].riskAssesment : 'N/A'"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].liquidity[name()] != undefined ?  numeral($root.historicHash[1].liquidity[name()].currentRatio / 1000).format('$0,0') : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].liquidity[name()] != undefined ?  $root.historicHash[1].liquidity[name()].riskAssesment : 'N/A'"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].liquidity[name()] != undefined ?  numeral($root.historicHash[2].liquidity[name()].currentRatio / 1000).format('$0,0') : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].liquidity[name()] != undefined ?  $root.historicHash[2].liquidity[name()].riskAssesment : 'N/A'"></td>
                                <!-- /ko -->
                                <!-- ko if: shortName().indexOf('Max') == -1 -->
                                <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].liquidity[name()] != undefined ?  numeral($root.historicHash[0].liquidity[name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].liquidity[name()] != undefined ?  $root.historicHash[0].liquidity[name()].riskAssesment : 'N/A'"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].liquidity[name()] != undefined ?  numeral($root.historicHash[1].liquidity[name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].liquidity[name()] != undefined ?  $root.historicHash[1].liquidity[name()].riskAssesment : 'N/A'"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].liquidity[name()] != undefined ?  numeral($root.historicHash[2].liquidity[name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].liquidity[name()] != undefined ?  $root.historicHash[2].liquidity[name()].riskAssesment : 'N/A'"></td>
                                <!-- /ko -->
                                <!-- /ko -->
                            </tr>

                            <!-- ko foreach: liquidityPolicySettings -->
                            <tr>
                                <td class="firstCell childCell" data-bind="text: name"></td>
                                <td class="polLimit"><input type="checkbox" data-bind="checked: include" /></td>
                                <td colspan="9" class="disabled"></td>

                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>

                <div role="tabpanel" class="tab-pane" id="niiAtRisk">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <!-- ko foreach: nIIPolicyParents -->
                            <!-- ko if: $index() > 0 -->
                            <li role="presentation"><a role="tab" data-toggle="tab" data-bind="attr: { href: '#niiPolicy' + ($index() - 1), ariaControls: 'niiPolicy' + ($index() - 1) }, text: deltaName()"></a></li>
                            <!-- /ko -->
                            <!-- /ko -->
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Need to combine first and second policies, so do this ugly crap for policy0 then do the rest after -->
                            <div role="tabpanel" class="tab-pane" data-bind="attr: { id: 'niiPolicy0' }">
                                <table>
                                    <thead>
                                        <tr class="header1">
                                            <th colspan="11">
                                                Interest Rate Risk
                                            </th>
                                        </tr>
                                        <tr class="header2">
                                            <th colspan="4"></th>
                                            <th id="histMonth1" colspan="2" data-bind="text: $root.historicHash.length > 0 ?  moment($root.historicHash[0].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                                            <th id="histMonth2" colspan="2" data-bind="text: $root.historicHash.length > 1 ?  moment($root.historicHash[1].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                                            <th id="histMonth3" colspan="2" data-bind="text: $root.historicHash.length > 2 ?  moment($root.historicHash[2].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                                        </tr>
                                        <tr class="middle-align header2">
                                            <th>Name</th>
                                            <th class="polLimit">Policy <br /> Limit</th>
                                            <th>R/A</th>
                                            <th>Curr</th>
                                            <th>Ratio</th>
                                            <th>R/A</th>
                                            <th>Ratio</th>
                                            <th>R/A</th>
                                            <th>Ratio</th>
                                            <th>R/A</th>
                                        </tr>
                                    </thead>

                                    <!-- ko foreach: nIIPolicyParents -->
                                    <!-- ko if: $index() < 2 -->
                                    <tbody>
                                        <!-- <tr class="bodyHeader">
                                            <td class="firstCell" data-bind="text: name() "></td>
                                            <td class="polLimit">
                                                <div class="input-group input-group-sm">
                                                    <input data-bind="formatPolicy: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }, event: {change: $root.updateNIIChildren}" class="form-control" type="text">
                                                    <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                                </div>
                                            </td>
                                            <td>
                                                <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                            </td>
                                            <td class="viewData" data-bind="text: numeral(currentRatio()).format('0.00%')"></td>

                                            <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].nii[name()] != undefined ?  numeral($root.historicHash[0].nii[name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].nii[name()] != undefined  ?  $root.historicHash[0].nii[name()].riskAssesment : 'N/A'"></td>

                                            <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].nii[name()] != undefined ?  numeral($root.historicHash[1].nii[name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].nii[name()] != undefined ?  $root.historicHash[1].nii[name()].riskAssesment : 'N/A'"></td>

                                            <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].nii[name()] != undefined ?  numeral($root.historicHash[2].nii[name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].nii[name()] != undefined ?  $root.historicHash[2].nii[name()].riskAssesment : 'N/A'"></td>
                                        </tr>-->

                                        <!-- ko foreach: nIIPolicies -->
                                        <!-- ko if: currentRatio() != 0 -->
                                        <tr>
                                            <td class="firstCell childCell" data-bind="text: scenarioType().name()"></td>
                                            <td class="polLimit">
                                                <div class="input-group input-group-sm">
                                                    <input data-bind="formatPolicy: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                                    <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                                </div>
                                            </td>
                                            <td>
                                                <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                            </td>
                                            <td class="viewData" data-bind="text: numeral(currentRatio()).format('0.00%')"></td>
                                            <td class="viewData" data-bind="text:  $root.historicHash[0] != undefined && $root.historicHash[0].nii[$parent.name()].niis[scenarioType().name()] != undefined ?  numeral($root.historicHash[0].nii[$parent.name()].niis[scenarioType().name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].nii[$parent.name()].niis[scenarioType().name()] ?  $root.historicHash[0].nii[$parent.name()].niis[scenarioType().name()].riskAssesment : 'N/A'"></td>

                                            <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].nii[$parent.name()].niis[scenarioType().name()]  ?  numeral($root.historicHash[1].nii[$parent.name()].niis[scenarioType().name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].nii[$parent.name()].niis[scenarioType().name()]  ?   $root.historicHash[1].nii[$parent.name()].niis[scenarioType().name()].riskAssesment : 'N/A'"></td>

                                            <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].nii[$parent.name()].niis[scenarioType().name()] ?  numeral( $root.historicHash[2].nii[$parent.name()].niis[scenarioType().name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].nii[$parent.name()].niis[scenarioType().name()] ?   $root.historicHash[2].nii[$parent.name()].niis[scenarioType().name()].riskAssesment : 'N/A'"></td>
                                        </tr>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </tbody>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                </table>
                            </div>

                            <!-- ko foreach: nIIPolicyParents -->
                            <!-- ko if: $index() > 1 -->
                            <div role="tabpanel" class="tab-pane" data-bind="attr: { id: 'niiPolicy' + ($index() - 1) }">
                                <table>
                                    <thead>
                                        <tr class="header1">
                                            <th colspan="11">
                                                Interest Rate Risk
                                            </th>
                                        </tr>
                                        <tr class="header2">
                                            <th colspan="4"></th>
                                            <th id="histMonth1" colspan="2" data-bind="text: $root.historicHash.length > 0 ?  moment($root.historicHash[0].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                                            <th id="histMonth2" colspan="2" data-bind="text: $root.historicHash.length > 1 ?  moment($root.historicHash[1].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                                            <th id="histMonth3" colspan="2" data-bind="text: $root.historicHash.length > 2 ?  moment($root.historicHash[2].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                                        </tr>
                                        <tr class="middle-align header2">
                                            <th>Name</th>
                                            <th class="polLimit">Policy <br /> Limit</th>
                                            <th>R/A</th>
                                            <th>Curr</th>
                                            <th>Ratio</th>
                                            <th>R/A</th>
                                            <th>Ratio</th>
                                            <th>R/A</th>
                                            <th>Ratio</th>
                                            <th>R/A</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <!--<tr class="bodyHeader">
                                            <td class="firstCell" data-bind="text: name() "></td>
                                            <td class="polLimit">
                                                <div class="input-group input-group-sm">
                                                    <input data-bind="formatPolicy: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }, event: {change: $root.updateNIIChildren}" class="form-control" type="text">
                                                    <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                                </div>
                                            </td>
                                            <td>
                                                <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                            </td>
                                            <td class="viewData" data-bind="text: numeral(currentRatio()).format('0.00%')"></td>

                                            <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].nii[name()] != undefined ?  numeral($root.historicHash[0].nii[name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].nii[name()] != undefined  ?  $root.historicHash[0].nii[name()].riskAssesment : 'N/A'"></td>

                                            <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].nii[name()] != undefined ?  numeral($root.historicHash[1].nii[name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].nii[name()] != undefined ?  $root.historicHash[1].nii[name()].riskAssesment : 'N/A'"></td>

                                            <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].nii[name()] != undefined ?  numeral($root.historicHash[2].nii[name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].nii[name()] != undefined ?  $root.historicHash[2].nii[name()].riskAssesment : 'N/A'"></td>
                                        </tr>-->

                                        <!-- ko foreach: nIIPolicies -->
                                        <!-- ko if: currentRatio() != 0 -->
                                        <tr>
                                            <td class="firstCell childCell" data-bind="text: scenarioType().name()"></td>
                                            <td class="polLimit">
                                                <div class="input-group input-group-sm">
                                                    <input data-bind="formatPolicy: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                                    <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                                </div>
                                            </td>
                                            <td>
                                                <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                            </td>
                                            <td class="viewData" data-bind="text: numeral(currentRatio()).format('0.00%')"></td>
                                            <td class="viewData" data-bind="text:  $root.historicHash[0] != undefined && $root.historicHash[0].nii[$parent.name()].niis[scenarioType().name()] != undefined ?  numeral($root.historicHash[0].nii[$parent.name()].niis[scenarioType().name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].nii[$parent.name()].niis[scenarioType().name()] ?  $root.historicHash[0].nii[$parent.name()].niis[scenarioType().name()].riskAssesment : 'N/A'"></td>

                                            <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].nii[$parent.name()].niis[scenarioType().name()]  ?  numeral($root.historicHash[1].nii[$parent.name()].niis[scenarioType().name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].nii[$parent.name()].niis[scenarioType().name()]  ?   $root.historicHash[1].nii[$parent.name()].niis[scenarioType().name()].riskAssesment : 'N/A'"></td>

                                            <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].nii[$parent.name()].niis[scenarioType().name()] ?  numeral( $root.historicHash[2].nii[$parent.name()].niis[scenarioType().name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].nii[$parent.name()].niis[scenarioType().name()] ?   $root.historicHash[2].nii[$parent.name()].niis[scenarioType().name()].riskAssesment : 'N/A'"></td>
                                        </tr>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </tbody>
                                </table>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="coreFunding">
                    <table>
                        <thead>
                            <tr class="header1">
                                <th colspan="11">
                                    Core Funding
                                </th>
                            </tr>
                            <tr class="header2">
                                <th colspan="4"></th>
                                <th id="histMonth1" colspan="2" data-bind="text: $root.historicHash.length > 0 ?  moment($root.historicHash[0].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                                <th id="histMonth2" colspan="2" data-bind="text: $root.historicHash.length > 1 ?  moment($root.historicHash[1].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                                <th id="histMonth3" colspan="2" data-bind="text: $root.historicHash.length > 2 ?  moment($root.historicHash[2].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                            </tr>
                            <tr class="middle-align header2">
                                <th>Name</th>
                                <th class="polLimit">Policy <br /> Limit</th>
                                <th>R/A</th>
                                <th>Curr</th>
                                <th>Ratio</th>
                                <th>R/A</th>
                                <th>Ratio</th>
                                <th>R/A</th>
                                <th>Ratio</th>
                                <th>R/A</th>
                            </tr>
                        </thead>

                        <tbody data-bind="foreach: coreFundParents">

                          <!--  <tr class="bodyHeader">
                                <td class="firstCell" data-bind="text: name() "></td>
                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatPolicy: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                    </div>
                                </td>
                                <td class="disabled"></td>
                                <td class="viewData" data-bind="text: numeral(currentRatio()).format('0.00%')"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].coreFund[name()] ? numeral($root.historicHash[0].coreFund[name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                <td class="disabled"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].coreFund[name()] ? numeral($root.historicHash[1].coreFund[name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                <td class="disabled"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].coreFund[name()] ? numeral($root.historicHash[1].coreFund[name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                <td class="disabled"></td>
                            </tr>-->

                            <!-- ko foreach: coreFundPolicies -->
                            <!-- ko if: currentRatio() != 0 -->
                            <tr>
                                <td class="firstCell childCell" data-bind="text: scenarioType().name()"></td>
                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatPolicy: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                </td>
                                <td class="viewData" data-bind="text: numeral(currentRatio()).format('0.00%')"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].coreFund[$parent.name()].cfs[scenarioType().name()] != undefined ?  numeral($root.historicHash[0].coreFund[$parent.name()].cfs[scenarioType().name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].coreFund[$parent.name()].cfs[scenarioType().name()] != undefined ?  $root.historicHash[0].coreFund[$parent.name()].cfs[scenarioType().name()].riskAssesment : 'N/A'"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].coreFund[$parent.name()].cfs[scenarioType().name()] != undefined ?  numeral($root.historicHash[1].coreFund[$parent.name()].cfs[scenarioType().name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].coreFund[$parent.name()].cfs[scenarioType().name()] != undefined ?  $root.historicHash[1].coreFund[$parent.name()].cfs[scenarioType().name()].riskAssesment : 'N/A'"></td>

                                <td class="viewData" data-bind="text:  $root.historicHash[2] != undefined && $root.historicHash[2].coreFund[$parent.name()].cfs[scenarioType().name()] != undefined ?  numeral($root.historicHash[2].coreFund[$parent.name()].cfs[scenarioType().name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                <td class="viewData" data-bind="text:  $root.historicHash[2] != undefined && $root.historicHash[2].coreFund[$parent.name()].cfs[scenarioType().name()] != undefined ?  $root.historicHash[2].coreFund[$parent.name()].cfs[scenarioType().name()].riskAssesment : 'N/A'"></td>
                            </tr>
                            <!-- /ko -->
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>

                <div role="tabpanel" class="tab-pane" id="evenev">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" id="eveTabList">
                            <!-- ko foreach: evePolicyParents -->
                            <li role="presentation" data-bind="css: { active: $index() == 0}"><a role="tab" data-toggle="tab" data-bind="attr: { href: '#evePolicy' + ($index() - 1), ariaControls: 'evePolicy' + ($index() - 1) }, text: deltaName()"></a></li>
                            <!-- /ko -->
                            <li role="presentation"><a href="#eveAvgLife" aria-controls="eveAvgLife" role="tab" data-toggle="tab">EVE/NEV Average Life Assumptions</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Need to combine first and second policies, so do this ugly crap for policy0 then do the rest after -->
                            <!-- ko foreach: evePolicyParents -->

                            <div role="tabpanel" class="tab-pane" data-bind="attr: { id: 'evePolicy' + ($index() - 1) }, css: { active: $index() == 0}">
                                <table>
                                    <thead>
                                        <tr class="header1">
                                            <th colspan="11">
                                                EVE/NEV
                                            </th>
                                        </tr>
                                        <tr class="header2">
                                            <th colspan="4"></th>

                                            <th id="histMonth1" colspan="2" data-bind="text: $root.historicHash.length > 0 ?  moment($root.historicHash[0].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                                            <th id="histMonth2" colspan="2" data-bind="text: $root.historicHash.length > 1 ?  moment($root.historicHash[1].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                                            <th id="histMonth3" colspan="2" data-bind="text: $root.historicHash.length > 2 ?  moment($root.historicHash[2].asOfDate).zone('+0400').format('L'): 'N/A'"></th>

                                        </tr>
                                        <tr class="middle-align header2">
                                            <th>Name</th>
                                            <th class="polLimit">Policy <br /> Limit</th>
                                            <th>R/A</th>
                                            <th>Curr</th>
                                            <th>Ratio</th>
                                            <th>R/A</th>
                                            <th>Ratio</th>
                                            <th>R/A</th>
                                            <th>Ratio</th>
                                            <th>R/A</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                      <!--  <tr class="bodyHeader">
                                            <td class="firstCell" data-bind="text: name() "></td>
                                            <td class="polLimit disabled"></td>
                                            <td class="disabled"></td>
                                            <td class="disabled"></td>
                                            <td class="disabled"></td>
                                            <td class="disabled"></td>
                                            <td class="disabled"></td>
                                            <td class="disabled"></td>
                                            <td class="disabled"></td>
                                            <td class="disabled"></td>
                                        </tr>-->

                                        <!-- ko foreach: evePolicies -->
                                        <!-- ko if: currentRatio() != 0 -->
                                        <!-- ko if: $root.eve().evePolicyParents()[$parentContext.$index()].shortName() == 'bpChange' -->
                                        <tr data-tabindex="css: { my-class: someValue }">
                                            <td class="firstCell childCell" data-bind="text: scenarioType().name()"></td>
                                            <td class="polLimit">
                                                <div class="input-group input-group-sm">
                                                    <input data-bind="formatBPChange: policyLimit, attr:{ 'aria-describedby': 'addon' + $index()} " class="form-control updateOnChange" type="text">
                                                    <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">BP</span>
                                                </div>
                                            </td>
                                            <td>
                                                <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                            </td>
                                            <td class="viewData" data-bind="text: numeral(currentRatio() * 10000).format('0') + 'BP'"></td>

                                            <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].eve[$parent.name()].eves[scenarioType().name()] ?  numeral($root.historicHash[0].eve[$parent.name()].eves[scenarioType().name()].currentRatio * 10000).format('0') + 'BP' : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].eve[$parent.name()].eves[scenarioType().name()] ?  $root.historicHash[0].eve[$parent.name()].eves[scenarioType().name()].riskAssesment : 'N/A'"></td>

                                            <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].eve[$parent.name()].eves[scenarioType().name()] ?  numeral($root.historicHash[1].eve[$parent.name()].eves[scenarioType().name()].currentRatio * 10000).format('0') + 'BP' : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].eve[$parent.name()].eves[scenarioType().name()] ?  $root.historicHash[1].eve[$parent.name()].eves[scenarioType().name()].riskAssesment : 'N/A'"></td>

                                            <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].eve[$parent.name()].eves[scenarioType().name()] ?  numeral($root.historicHash[2].eve[$parent.name()].eves[scenarioType().name()].currentRatio * 10000).format('0') + 'BP' : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].eve[$parent.name()].eves[scenarioType().name()] ?  $root.historicHash[2].eve[$parent.name()].eves[scenarioType().name()].riskAssesment : 'N/A'"></td>

                                        </tr>
                                        <!-- /ko -->
                                        <!-- ko if: $root.eve().evePolicyParents()[$parentContext.$index()].shortName() != 'bpChange' -->
                                        <tr>
                                            <td class="firstCell childCell" data-bind="text: scenarioType().name()"></td>
                                            <td class="polLimit">
                                                <div class="input-group input-group-sm">
                                                    <input data-bind="formatPolicy: policyLimit, attr:{ 'aria-describedby': 'addon' + $index()}" class="form-control updateOnChange" type="text">
                                                    <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                                </div>
                                            </td>
                                            <td>
                                                <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                            </td>
                                            <td class="viewData" data-bind="text: numeral(currentRatio()).format('%0.00')"></td>

                                            <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].eve[$parent.name()].eves[scenarioType().name()] ?  numeral($root.historicHash[0].eve[$parent.name()].eves[scenarioType().name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].eve[$parent.name()].eves[scenarioType().name()] ?  $root.historicHash[0].eve[$parent.name()].eves[scenarioType().name()].riskAssesment : 'N/A'"></td>

                                            <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].eve[$parent.name()].eves[scenarioType().name()]?  numeral($root.historicHash[1].eve[$parent.name()].eves[scenarioType().name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].eve[$parent.name()].eves[scenarioType().name()] ?  $root.historicHash[1].eve[$parent.name()].eves[scenarioType().name()].riskAssesment : 'N/A'"></td>

                                            <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].eve[$parent.name()].eves[scenarioType().name()] ?  numeral($root.historicHash[2].eve[$parent.name()].eves[scenarioType().name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                            <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].eve[$parent.name()].eves[scenarioType().name()] ?  $root.historicHash[2].eve[$parent.name()].eves[scenarioType().name()].riskAssesment : 'N/A'"></td>

                                        </tr>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                        <!-- /ko -->
                                    </tbody>
                                </table>
                            </div>
                            <!-- /ko -->
                            <div role="tabpanel" class="tab-pane" id="eveAvgLife">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>EVE/NEV NMD Avg Life Assumption</label>
                                            <select id="eveNevAvgLife" class="form-control input-sm" data-bind="options: $root.avgLifeAssumption, value: $root.modelSetup().avgLifeAssumption, event: {change: $root.UpdateAverageLife}"></select>
                                        </div>

                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="col-sm-12">Average Life Value</label>
                                            <input id="avgLifeValue" class="form-control input-sm" type="text" data-bind="value: $root.modelSetup().avgLifeYears, enable: $root.modelSetup().avgLifeAssumption() == 'Other'" />
                                        </div>

                                    </div>
                                    <div class="col-sm-4">
                                        <label class="col-sm-12">Average Life text</label>
                                        <textarea id="avgLifeMessage" rows="8" cols="40" data-bind="value: $root.modelSetup().avgLifeMessage, enable: $root.modelSetup().avgLifeAssumption() == 'Other'"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="capital">
                    <table>
                        <thead>
                            <tr class="header1">
                                <th colspan="11">
                                    <button title="add shock scenario" class="dropdown-toggle  btn btn-success" data-bind="click: $root.addCapitalPolicy"><i class="fa fa-plus"></i></button>
                                    Capital
                                </th>
                            </tr>
                            <tr class="header2">
                                <th colspan="5"></th>
                                <th id="histMonth1" colspan="2" data-bind="text: $root.historicHash.length > 0 ?  moment($root.historicHash[0].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                                <th id="histMonth2" colspan="2" data-bind="text: $root.historicHash.length > 1 ?  moment($root.historicHash[1].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                                <th id="histMonth3" colspan="2" data-bind="text: $root.historicHash.length > 2 ?  moment($root.historicHash[2].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                            </tr>
                            <tr class="middle-align header2">
                                <th></th>
                                <th class="polLimit">Policy <br /> Limit</th>
                                <th class="wellCap">Well <br />  Capitalized</th>
                                <th>R/A</th>
                                <th>Curr</th>
                                <th>Ratio</th>
                                <th>R/A</th>
                                <th>Ratio</th>
                                <th>R/A</th>
                                <th>Ratio</th>
                                <th>R/A</th>
                            </tr>
                        </thead>
                        <!-- Basic Divider-->
                        <tbody data-bind="foreach: capitalPolicies">
                            <tr data-bind="attr: { id: shortName }">
                                <!-- ko if: shortName().indexOf('custom') >=  0-->
                                <td class="firstCell">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button title="Remove Policy" class="btn btn-danger" data-bind="click: $root.removePolicy"><i class="fa fa-trash-o"></i></button>
                                        </div>
                                        <input type="text" class="form-control" data-bind="value: name" aria-label="Text input with dropdown button">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span data-bind="text: formatType"></span> <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li data-bind="click: $root.updateFormatType.bind($data, '$')"><a>$</a></li>
                                                <li data-bind="click: $root.updateFormatType.bind($data, '#')"><a>#</a></li>
                                                <li data-bind="click: $root.updateFormatType.bind($data, '%')"><a>%</a></li>
                                            </ul>
                                        </div><!-- /btn-group -->
                                    </div><!-- /input-group -->
                                </td>
                                <!-- /ko -->
                                <!-- ko if: shortName().indexOf('custom') ==  -1-->
                                <td class="firstCell" data-bind="text: name() "></td>
                                <!-- /ko -->
                                <!-- ko if: shortName().indexOf('custom') !=  -1-->
                                <!-- ko if: formatType() == '$' -->
                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatBPChange: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">$</span>
                                    </div>
                                </td>

                                <td class="wellCap">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatPolicy: wellCap, attr:{ 'aria-describedby': 'waddon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'waddon' + $index()}">%</span>
                                    </div>
                                </td>
                                
                                <td>
                                    <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                </td>

                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatBPChange: currentRatio, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">$</span>
                                    </div>
                                </td>
                                <!-- /ko -->
                                <!-- ko if: formatType() == '%' -->
                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatPolicy: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                    </div>
                                </td>

                                <td class="wellCap">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatPolicy: wellCap, attr:{ 'aria-describedby': 'waddon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'waddon' + $index()}">%</span>
                                    </div>
                                </td>

                                <td>
                                    <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                </td>

                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatCurrentRatio: currentRatio, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                    </div>
                                </td>
                                <!-- /ko -->
                                <!-- ko if: formatType() == '#' -->
                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatBPChange: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                    </div>
                                </td>

                                <td class="wellCap">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatPolicy: wellCap, attr:{ 'aria-describedby': 'waddon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'waddon' + $index()}">%</span>
                                    </div>
                                </td>

                                <td>
                                    <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                </td>


                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatBPChange: currentRatio, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                    </div>
                                </td>
                                <!-- /ko -->
                                <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].capital[name()] ?  numeral($root.historicHash[0].capital[name()].currentRatio).format((formatType() == '#' ? '0,0' : (formatType() == '$' ? '$0,0' : '0.00%'  ))) : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].capital[name()] ?  $root.historicHash[0].capital[name()].riskAssesment : 'N/A'"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].capital[name()] ?  numeral($root.historicHash[1].capital[name()].currentRatio).format((formatType() == '#' ? '0,0' : (formatType() == '$' ? '$0,0' : '0.00%'  ))) : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].capital[name()] ?  $root.historicEves()[1].capitalPolicies()[$index()].riskAssesment : 'N/A'"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].capital[name()] ?  numeral($root.historicHash[2].capital[name()].currentRatio).format((formatType() == '#' ? '0,0' : (formatType() == '$' ? '$0,0' : '0.00%'  ))) : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].capital[name()] ?  $root.historicHash[2].capital[name()].riskAssesment : 'N/A'"></td>
                                <!-- /ko -->
                                <!-- ko if: shortName().indexOf('custom') ==  -1-->
                                <!-- ko if: currentRatioFormat() == 'perc'-->
                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatPolicy: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                    </div>
                                </td>

                                <td class="wellCap">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatPolicy: wellCap, attr:{ 'aria-describedby': 'waddon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'waddon' + $index()}">%</span>
                                    </div>
                                </td>

                                <td>
                                    <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                </td>
                                <td data-bind="text: numeral(currentRatio()).format('0.00%')"></td>
                                <!-- /ko -->
                                <!-- ko if: currentRatioFormat() == 'balance'-->
                                <td class="poLimit disabled"></td>
                                <td class="wellCap disabled"></td>
                                <td class="disabled"></td>
                                <td class="">
                                    <input data-bind="formatBalance: currentRatio, event: {change: $root.capitalCalculation}" type="text" />
                                </td>
                                <!-- /ko -->
                                <!-- ko if: currentRatioFormat() == 'perc'-->
                                <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].capital[name()] ?  numeral($root.historicHash[0].capital[name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].capital[name()] ?  $root.historicHash[0].capital[name()].riskAssesment : 'N/A'"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].capital[name()] ?  numeral($root.historicHash[1].capital[name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].capital[name()] ?  $root.historicEves()[1].capitalPolicies()[$index()].riskAssesment : 'N/A'"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].capital[name()] ?  numeral($root.historicHash[2].capital[name()].currentRatio).format('0.00%') : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].capital[name()] ?  $root.historicHash[2].capital[name()].riskAssesment : 'N/A'"></td>
                                <!-- /ko -->
                                <!-- ko if: currentRatioFormat() == 'balance'-->
                                <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].capital[name()] ?  numeral($root.historicHash[0].capital[name()].currentRatio).format('$0,0') : 'N/A'"></td>
                                <td class="viewData"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].capital[name()] ?  numeral($root.historicHash[1].capital[name()].currentRatio).format('$0,0') : 'N/A'"></td>
                                <td class="viewData"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].capital[name()] ?  numeral($root.historicHash[2].capital[name()].currentRatio).format('$0,0') : 'N/A'"></td>
                                <td class="viewData"></td>
                                <!-- /ko -->
                                <!-- /ko -->
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div role="tabpanel" class="tab-pane" id="other">
                    <table>
                        <thead>
                            <tr class="header1">
                                <th colspan="11">
                                    <button title="add shock scenario" class="dropdown-toggle  btn btn-success" data-bind="click: $root.addOtherPolicy"><i class="fa fa-plus"></i></button>
                                    Other
                                </th>
                            </tr>
                            <tr class="header2">
                                <th colspan="4"></th>
                                <th id="histMonth1" colspan="2" data-bind="text: $root.historicHash.length > 0 ?  moment($root.historicHash[0].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                                <th id="histMonth2" colspan="2" data-bind="text: $root.historicHash.length > 1 ?  moment($root.historicHash[1].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                                <th id="histMonth3" colspan="2" data-bind="text: $root.historicHash.length > 2 ?  moment($root.historicHash[2].asOfDate).zone('+0400').format('L'): 'N/A'"></th>
                            </tr>
                            <tr class="middle-align header2">
                                <th>Name</th>
                                <th class="polLimit">Policy <br /> Limit</th>
                                <th>R/A</th>
                                <th>Curr</th>
                                <th>Ratio</th>
                                <th>R/A</th>
                                <th>Ratio</th>
                                <th>R/A</th>
                                <th>Ratio</th>
                                <th>R/A</th>
                            </tr>
                        </thead>

                        <tbody data-bind="foreach: otherPolicies">
                            <tr class="">
                                <!-- ko if: shortName().indexOf('custom') >=  0-->
                                <td class="firstCell">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button title="Remove Policy" class="btn btn-danger" data-bind="click: $root.removePolicy"><i class="fa fa-trash-o"></i></button>
                                        </div>
                                        <input type="text" class="form-control" data-bind="value: name" aria-label="Text input with dropdown button">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span data-bind="text: formatType"></span> <span class="caret"></span></button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li data-bind="click: $root.updateFormatType.bind($data, '$')"><a>$</a></li>
                                                <li data-bind="click: $root.updateFormatType.bind($data, '#')"><a>#</a></li>
                                                <li data-bind="click: $root.updateFormatType.bind($data, '%')"><a>%</a></li>
                                            </ul>
                                        </div><!-- /btn-group -->
                                    </div><!-- /input-group -->
                                </td>
                                <!-- /ko -->
                                <!-- ko if: shortName().indexOf('custom') ==  -1-->
                                <td class="firstCell" data-bind="text: name() "></td>
                                <!-- /ko -->
                                <!-- ko if: shortName().indexOf('custom') >=  0-->
                                <!-- ko if: formatType() == '$' -->
                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatBPChange: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">$</span>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                </td>

                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatBPChange: currentRatio, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">$</span>
                                    </div>
                                </td>
                                <!-- /ko -->
                                <!-- ko if: formatType() == '%' -->
                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatPolicy: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                </td>

                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatCurrentRatio: currentRatio, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                    </div>
                                </td>
                                <!-- /ko -->
                                <!-- ko if: formatType() == '#' -->
                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatBPChange: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                    </div>
                                </td>
                                <td>
                                    <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                </td>

                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatBPChange: currentRatio, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                    </div>
                                </td>
                                <!-- /ko -->
                                <!-- /ko -->
                                <!-- ko if: shortName().indexOf('custom') ==  -1-->

                                <!-- ko if: currentRatioFormat() == 'perc' -->
                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatPolicy: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">%</span>
                                    </div>
                                </td>
                                <!-- /ko -->
                                <!-- ko if: currentRatioFormat() == 'balance' -->

                                <td class="polLimit">
                                    <div class="input-group input-group-sm">
                                        <input data-bind="formatBPChange: policyLimit, attr:{ 'aria-describedby': 'addon' + $index() }" class="form-control" type="text">
                                        <span class="input-group-addon" data-bind="attr: {id: 'addon' + $index()}">$</span>
                                    </div>
                                </td>

                                <!-- /ko -->

                               

                                
                                <td>
                                    <select class="form-control" data-bind="options: $root.riskAssesmentOptions, value: riskAssessment,  optionsText: 'name', optionsValue:  'value'"></select>
                                </td>


                                <!-- ko if: currentRatioFormat() == 'perc' -->

                                    <td class="viewData" data-bind="text: numeral(currentRatio()).format('0.00%')"></td>

                                    <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].other[shortName()] ?  numeral($root.historicHash[0].other[shortName()].currentRatio).format('0.00%') : 'N/A'"></td>
                                    <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].other[shortName()] ?  $root.historicHash[0].other[shortName()].riskAssesment : 'N/A'"></td>

                                    <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].other[shortName()] ?  numeral($root.historicHash[1].other[shortName()].currentRatio).format('0.00%') : 'N/A'"></td>
                                    <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].other[shortName()] ?  $root.historicHash[1].other[shortName()].riskAssesment : 'N/A'"></td>

                                    <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].other[shortName()] ?  numeral($root.historicHash[2].other[shortName()].currentRatio).format('0.00%') : 'N/A'"></td>
                                    <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].other[shortName()] ?  $root.historicHash[2].other[shortName()].riskAssesment : 'N/A'"></td>
                                <!-- /ko -->
                                <!-- ko if: currentRatioFormat() == 'balance' -->

                                    <td class="viewData" data-bind="text: numeral(currentRatio() / 1000).format('$0,0')"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].other[shortName()] ?  numeral($root.historicHash[0].other[shortName()].currentRatio / 1000).format('$0,0') : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[0] != undefined && $root.historicHash[0].other[shortName()] ?  $root.historicHash[0].other[shortName()].riskAssesment : 'N/A'"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].other[shortName()] ?  numeral($root.historicHash[1].other[shortName()].currentRatio / 1000).format('$0,0') : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[1] != undefined && $root.historicHash[1].other[shortName()] ?  $root.historicHash[1].other[shortName()].riskAssesment : 'N/A'"></td>

                                <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].other[shortName()] ?  numeral($root.historicHash[2].other[shortName()].currentRatio / 1000).format('$0,0') : 'N/A'"></td>
                                <td class="viewData" data-bind="text: $root.historicHash[2] != undefined && $root.historicHash[2].other[shortName()] ?  $root.historicHash[2].other[shortName()].riskAssesment : 'N/A'"></td>
                                <!-- /ko -->

                                <!-- /ko -->


                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </fieldset>
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="linkedSimulation">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Linked Simulations</h4>
            </div>
            <div class="modal-body">
                <div class="loader active" style="float: left;"><i class="fa fa-gear fa-2x fa-spin"></i></div>
                <p style="margin: 10px 0px; line-height: 14px;">Updating simulations ...</p>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
