﻿<style>

    @import url('https://fonts.googleapis.com/css?family=Open+Sans');


    .simulation-summary-table > thead > tr > th,
    .simulation-summary-table > thead > tr > td,
    .simulation-summary-table > tbody > tr > td,
    .simulation-summary-table > tbody > tr > th {
        padding: 1px;
        font-size: 7.5px;
        font-family: "Open Sans", Arial, Verdana, sans-serif;
    }

    .nowrap {
        white-space: nowrap;
    }

    .table > tbody > tr > td.indent {
        padding-left: 25px;
    }

    .bold-text {
        font-weight: 700;
    }

    h1, h2, h3 {
        text-transform: uppercase;
    }

    .prepayment-details-coverpage {
        text-align: center;
        padding-bottom: 20px;
        page-break-after:always;
    }

    thead {
        display: table-header-group;
    }

    table {
        font-size:8px;
    }

    .report-std-table > thead > tr.body-lt-blue > th,
    .report-std-table > thead > tr.body-lt-blue > td,
    .report-std-table > tbody > tr:nth-child(odd) > td,
    .report-std-table > tbody > tr:nth-child(odd) > th {
        background-color: #fff;
        text-transform:uppercase;
    }

    .report-std-table > thead > tr.body-lt-blue > th,
    .report-std-table > thead > tr.body-lt-blue > td,
    .report-std-table > tbody > tr.body-lt-blue > td,
    .report-std-table > tbody > tr.body-lt-blue > th {
        background-color: #E9E9E9;
    }

    .report-std-table tr:hover td {
        background-color: #428BCA !important;
        color: #ffffff;
        font-weight: normal;
    }


</style>
<section id="prepaymentdetails-view">
    <h3 class="report-title"></h3>
    <div id="table_container"></div>
</section>
