﻿
<div data-bind="with: prepayDet">

    <fieldset class="col-sm-12">
        <div class="form-group">
            <label>Institution</label>
            <select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
        </div>

        <div class="form-group">
            <label>Date offset</label>
            <select class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
        </div>
        <div class="form-group">
            <label>Simulation</label>
            <select class="form-control" data-bind="options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId"></select>
        </div>
    </fieldset>
    <div class="row"></div>
    <fieldset class="col-sm-12">
        <legend>Scenarios</legend>
        <div class="form-group col-sm-12">
            <table class="table">
                <thead>
                    <tr class="middle-align">
                        <th>
                            <span class="dropdown dropup">
                                <button title="add shock scenario" class="dropdown-toggle  btn btn-success" data-toggle="dropdown"><i class="fa fa-plus"></i></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" data-bind="foreach: $root.availableScenarioTypes">
                                    <!-- ko ifnot: inUse -->
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-bind="text: name, click: $root.addScenarioType"></a></li>
                                    <!-- /ko -->
                                    <!-- ko if: inUse -->
                                    <li role="presentation"><a style="color: lightgrey" role="menuitem" tabindex="-1" data-bind="text: name, click: $root.dontAddScenarioType"></a></li>
                                    <!-- /ko -->
                                </ul>
                            </span>
                        </th>
                        <th>Priority</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody class="sortable" data-bind="sortable: { data: $root.sortedPrepayDetScenarioTypes, afterMove: $root.sortableAfterMove }">
                    <tr class="middle-align">
                        <td>
                            <button title="remove" data-bind="click: $root.removeScenarioType" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                        <td data-bind="text: priority"></td>
                        <td style="width: 10%" data-bind="with: scenarioType"><span data-bind="text: name"></span></td>
                        <td><i class="fa fa-sort"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>
