﻿<section>
    <nav>
        <div>
            <button class="btn btn-primary" data-bind="click: goBack">
                <i class=" fa fa-arrow-left"></i>
                Back
            </button>
        </div>
    </nav>
    <br />
    <fieldset class="col-sm-6">
        <legend>Push Log</legend>
        <div class="col-md-12">
            <div class="form-group">
                <label>As Of Date</label>
                <select class="form-control" data-bind="options: asOfDates, optionsText: 'asOfDateDescript', optionsValue: 'asOfDateDescript', value: asOfDate" />
            </div>

            <div class="form-group">
                <input type="checkbox" data-bind="checked: showScenUserIds" />
                <span>Show Per-Scenario User IDs</span>
            </div>
        </div>
    </fieldset>
    <fieldset class="col-lg-12">
        <div class="form-group col-lg-12">
            <table class="table">
                <thead>
                    <tr class="middle-align">
                        <th>Simulations</th>
                        <!-- ko foreach: simulations -->
                        <th data-bind="text: name"></th>
                        <!-- /ko -->
                    </tr>
                    <tr class="middle-align">
                        <th>Last Push</th>
                        <!-- ko foreach: simulations -->
                        <th data-bind="text: lastPush"></th>
                        <!-- /ko -->
                    </tr>
                    <tr class="middle-align">
                        <th>User ID</th>
                        <!-- ko foreach: simulations -->
                        <th data-bind="text: pushId"></th>
                        <!-- /ko -->
                    </tr>
                </thead>
                <tbody>
                    <tr class="middle-align">
                        <th>Scenarios</th>
                        <!-- ko foreach: simulations -->
                        <th></th>
                        <!-- /ko -->
                    </tr>
                    <!-- ko foreach: scenarios -->
                    <tr class="middle-align">
                        <td data-bind="text: name"></td>
                        <!-- ko foreach: pushArray -->
                        <td data-bind="style: { color: pushColor }, text: lastPush"></td>
                        <!-- /ko -->
                    </tr>
                    <!-- ko if: $root.showScenUserIds -->
                    <tr class="middle-align">
                        <td></td>
                        <!-- ko foreach: pushArray -->
                        <td data-bind="style: { color: pushColor }, text: pushId"></td>
                        <!-- /ko -->
                    </tr>
                    <!-- /ko -->
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
    </fieldset>
</section>
