﻿<section id="ratechange-view">
    <div class="row">
        <div class="col-md-12">
            <table class="eve-table-basic">
                <thead id="rateHeader">

                </thead>
                <tbody id="rateBody"></tbody>

                <thead id="floorHeader">

                </thead>

                <tbody id="floorBody"></tbody>
            </table>
        </div>

    </div>


</section>