﻿<style>
    #toast-container div{
        color: #ffffff;
    }

    section.report-wrapper img {
        max-width: 1120px;
    }
</style>
<div class="row" data-bind="visible: !window.hiqPdfInfo" style="border-bottom: 2px solid grey">
    <nav class="col-sm-5">
        <button class="btn btn-primary" data-bind="click: goToPackageConfig" id="packageConfig">
            <i class=" fa fa-arrow-left"></i>
            Package
        </button>
        <button class="btn btn-primary" data-bind="click: goToReportConfig" id="reportConfig">
            <i class="fa fa-gear"></i>
            Config
        </button>
        <button class="btn btn-primary" id="pdf"
                data-bind="click: goToPdf">
            <i class=" fa fa-file"></i>
            PDF
        </button>
        <div class="btn-group">
            <button class="btn btn-primary" data-bind="click: prev, enable: (previousReport().repId > -99 && !global.loadingReport() ? true : false)" id="prevReport">
                <i class="fa fa-chevron-left"></i>
            </button>
            <button class="btn btn-primary" data-bind="click: next, enable: (nextReport().repId > -99 && !global.loadingReport() ? true : false)" id="nextReport">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </nav>
    <h4 data-bind="with:thisReport(), visible: thisReport().shortName() != 'CoverPage'" class="col-sm-7" style="text-align: right">
        <span data-bind="text: name" id="reportName"></span>
        <span> - </span>
        <span style="text-align: right" data-bind="text: moment(package().asOfDate()).zone('+0400').format('L')"></span>
    </h4>
</div>

<section class="report-wrapper" style="min-height: 8.2in; width:11.4in; margin: 0 auto; position: relative;">
    <div data-bind="compose: thisReportView" style="padding-bottom: 5px;" class="report-view"></div>
    <div class="row">
        <div data-bind="with: thisReport" style="position: relative; left: 0px; bottom: 0%;" id="footnoteContainer">
            <table>
                <tbody data-bind="foreach: footnotes().sort(function (a, b) { return a.priority() - b.priority(); })">
                    <tr>
                        <td style="font-size: 10px">
                            <span data-bind="text: ($index() + 1) + '.'"></span>
                            <span data-bind="text: text"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</section>
<div class="row" data-bind="visible: !window.hiqPdfInfo && thisReport().shortName() != 'CoverPage'" style="border-top: 2px solid grey">
    <h4 data-bind="with: thisReport" class="col-sm-12" style="text-align: right">
        <span style="text-align: right" data-bind="text: $parent.profile().regulatoryBankName"></span>
    </h4>
</div>