﻿<div class="row">
    <nav style="padding-bottom: 15px" class="col-sm-7">
        <button class="btn btn-primary" data-bind="click: cancel, enable: canSave" id="cancelChanges">
            <i class="fa fa-undo"></i>
            Cancel
        </button>
        <button class="btn btn-primary save-button" data-bind="click: saveThenGoToConfig, enable: canSave" id="save">
            <i class="fa fa-save"></i>
            Save
        </button>
        <button class="btn btn-primary save-button" data-bind="click: saveThenGoToView, enable: canSave" id="saveAndView">
            <i class="fa fa-save"></i>
            Save and View
        </button>
    </nav>
</div>

<div class="row>">
    <ol class=" breadcrumb">
        <li data-bind="text: profile().asOfDate"></li>
        <li data-bind="text: moment(profile().asOfDate).format('MM/DD/YYYY')"></li>
        <li data-bind="text: thePackage().name"></li>
    </ol>
</div>
<div class="checkbox" data-bind="with: thisReport">
    <label>
        <input type="checkbox" data-bind="checked: staticDates" /> Lock As of Date on Roll Forward
    </label>
</div>
<form role="form">
    <fieldset class="col-sm-12">
        <legend data-bind="text: reportName() + ' Report' "></legend>
        <div class="form-group" data-bind=" with: thisReport, visible: showName" id="reportName">
            <label>Name</label>
            <input type="text" class="form-control name-tb" placeholder="Name" data-bind="value: name" id="reportNameField">
        </div>
    </fieldset>

    <div data-bind="compose: { model: thisConcreteReportVm }"></div>
    <fieldset class="col-sm-6" data-bind="visible: $root.hasSplitFootnotes">
        <legend>Footnotes</legend>
        <div class="col-md-12">
            <table class="table" id="footnotes">
                <thead>
                    <tr>
                        <td style="width: 10%">
                            <button id="addFootnotes" title="add footnote" class="btn  btn-success" data-bind="click: function(data, event){addSplitFootnote(0)}"><i class="fa fa-plus"></i></button>
                        </td>
                        <td style="width: 10%"></td>
                        <td style="width: 80%"></td>
                    </tr>
                </thead>
                <tbody data-bind="sortable: { data: $root.sortedLeftSplitFootnotes, afterMove: fixupFootnotePriority}">
                    <tr class="middle-align">
                        <td>
                            <button title="remove footnote" data-bind="click: $root.removeFootnote" class="btn  btn-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                        <td data-bind="text: priority"></td>
                        <td>
                            <input type="text" class="form-control" placeholder="type footnote here..." data-bind="value: text, valueUpdate: 'afterkeydown'">
                        </td>
                        <td><i class="fa fa-sort"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <fieldset class="col-sm-6" data-bind="visible: $root.hasSplitFootnotes">
        <legend>Footnotes</legend>
        <div class="col-md-12">
            <table class="table" id="splitFootnotes">
                <thead>
                    <tr>
                        <td style="width: 10%">
                            <button id="addSplitFootnote" title="add footnote" class="btn  btn-success" data-bind="click: function(data, event){addSplitFootnote(1)}"><i class="fa fa-plus"></i></button>
                        </td>
                        <td style="width: 10%"></td>
                        <td style="width: 80%"></td>
                    </tr>
                </thead>
                <tbody data-bind="sortable: { data: $root.sortedRightSplitFootnotes, afterMove: fixupFootnotePriority}">
                    <tr class="middle-align">
                        <td>
                            <button title="remove footnote" data-bind="click: $root.removeFootnote" class="btn  btn-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                        <td data-bind="text: priority"></td>
                        <td>
                            <input type="text" class="form-control" placeholder="type footnote here..." data-bind="value: text, valueUpdate: 'afterkeydown'">
                        </td>
                        <td><i class="fa fa-sort"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <fieldset class="col-sm-12" id="footnotes">
        <legend>Footnotes</legend>
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <td style="width: 10%">
                            <button type="button" title="add footnote" class="btn  btn-success" data-bind="click: addFootnote, visible: canAddFootnotes"><i class="fa fa-plus"></i></button>
                        </td>
                        <td style="width: 10%"></td>
                        <td style="width: 80%"></td>
                    </tr>
                </thead>
                <tbody data-bind="sortable: { data: sortedFootnotes, afterMove: fixupFootnotePriority}">
                    <tr class="middle-align">
                        <td>
                            <button title="remove footnote" data-bind="click: $root.removeFootnote, disable: $root.hasSplitFootnotes" class="btn  btn-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                        <td data-bind="text: priority"></td>
                        <td>
                            <input type="text" class="form-control" placeholder="type footnote here..." data-bind="value: text, valueUpdate: 'afterkeydown', isReadonly: $root.hasSplitFootnotes, attr: {'id': 'footnote_tb_' + id()}" />
                        </td>
                        <td><i class="fa fa-sort"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </fieldset>
</form>
