﻿<div class="row">
    <nav class="col-sm-12" data-bind="style: { display: window.hiqPdfInfo ? 'none' : 'inherit' }">

        <button class="btn btn-primary " data-bind="click: goToPackageConfig" id="backToPackage">
            <i class=" fa fa-arrow-left"></i>
            Package
        </button>
        <button class="btn btn-primary "
                data-bind="click: goToView, enable: thisReport().shortName() != 'NIIRecon'" id="viewReport">
            <i class=" fa fa-search"></i>
            View
        </button>
        <button id="pdfReport" class="btn btn-primary "
                data-bind="click: goToPdf">
            <i class=" fa fa-file"></i>
            <span data-bind="text: thisReport().shortName() == 'NIIRecon' ? 'XLS' : 'PDF' "></span>
        </button>
        <!--<button class="btn  btn-primary"
            data-bind="click: goToImage">
                <i class=" fa fa-file"></i>
                <span data-bind="text: thisReport().shortName() == 'NIIRecon' ? 'XLS' : 'IMG' "></span>
        </button>-->
        <button class="btn  btn-primary "
                data-bind="click: cancel, enable: canSave" id="cancelReportChanges">
            <i class="fa fa-undo"></i>
            Cancel
        </button>
        <button class="btn  btn-primary " id="save"
                data-bind="click: save, enable: canSave">
            <i class="fa fa-save"></i>
            Save
        </button>
        <button id="saveAndView" class="btn  btn-primary "
                data-bind="click: saveThenGoToView, enable: canSave">
            <i class="fa fa-save"></i>
            Save and View
        </button>
        <button class="btn  btn-danger " data-bind="click: deleteReport, disable: hasChanges" id="deleteReport">
            <i class="fa fa-trash-o"></i>
            Delete
        </button>
        <div class="btn-group">
            <button class="btn  btn-primary " data-bind="click: prev, enable: (previousReport().repId > -99 && !global.loadingReport() ? true : false)" id="previousReport">
                <i class="fa fa-chevron-left"></i>
            </button>
            <button class="btn  btn-primary " data-bind="click: next, enable: (nextReport().repId > -99 && !global.loadingReport() ? true : false)" id="nextReport">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </nav>
</div>
<div data-bind="with: thisReport().package()" class="row>">
    <ol class=" breadcrumb">
        <li data-bind="text: $root.profile().atlasBankName"></li>
        <li data-bind="text: moment($root.profile().asOfDate).format('MM/DD/YYYY')"></li>
        <li data-bind="text: name"></li>
    </ol>
</div>

<div class="form-group checkbox " data-bind=" with: thisReport, visible: thisReport().sourceReportId && $root.bankName != 'DDW_Atlas_Templates'">
    <label>
        <input type="checkbox" data-bind="checked: $root.defaultProt, event: {change: $root.resetDefaults}" id="defaultsCheckbox" />
        Defaults
    </label>
</div>
<div class="checkbox" data-bind="with: thisReport">
    <label>
        <input type="checkbox" data-bind="checked: staticDates" id="staticDates"/> Lock As of Date on Roll Forward
    </label>
</div>
<form role="form">
        <fieldset class="col-sm-6">
            <legend class="col-md-12" data-bind="text: thisReport().displayName() + ' Report' "></legend>
            <div class="form-group" data-bind=" with: thisReport, visible: $root.showName">
                <label>Name</label>
                <input type="text" class="form-control name-tb " placeholder="Name" data-bind="value: name, valueUpdate: 'afterkeydown', disable: defaults() && $root.profile().databaseName.toUpperCase() != 'DDW_ATLAS_TEMPLATES'" id="reportName">
            </div>
        </fieldset>
        <div class="row"></div>
    <!-- Adding one Big Field Set-->
    <fieldset data-bind="disable: thisReport().defaults() && profile().databaseName.toUpperCase() != 'DDW_ATLAS_TEMPLATES'">
        <div data-bind="compose: { model: thisConcreteReportVm }"></div>
    </fieldset>
        <fieldset class="col-sm-6" data-bind="visible: $root.hasSplitFootnotes">
            <legend>Footnotes</legend>
            <div class="col-md-12">
                <table class="table" id="footnotes">
                    <thead>
                        <tr>
                            <td style="width: 10%">
                                <button id="addFootnote" type="button" title="add footnote" class="btn  btn-success " data-bind="click: function(data, event){addSplitFootnote(0)}"><i class="fa fa-plus"></i></button>
                            </td>
                            <td style="width: 10%"></td>
                            <td style="width: 80%"></td>
                        </tr>
                    </thead>
                    <tbody data-bind="sortable: { data: $root.sortedLeftSplitFootnotes, afterMove: fixupFootnotePriority}">
                        <tr class="middle-align">
                            <td>
                                <button title="remove footnote" data-bind="click: $root.removeFootnote" class="btn  btn-danger "><i class="fa fa-trash-o"></i></button>
                            </td>
                            <td data-bind="text: priority"></td>
                            <td>
                                <input type="text" class="form-control " placeholder="type footnote here..." data-bind="value: text, valueUpdate: 'afterkeydown'">
                            </td>
                            <td><i class="fa fa-sort"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <fieldset class="col-sm-6" data-bind="visible: $root.hasSplitFootnotes">
            <legend>Footnotes</legend>
            <div class="col-md-12">
                <table class="table" id="splitFootnotes">
                    <thead>
                        <tr>
                            <td style="width: 10%">
                                <button id="addSplitFootnote" title="add footnote" class="btn  btn-success " data-bind="click: function(data, event){addSplitFootnote(1)}" type="button"><i class="fa fa-plus"></i></button>
                            </td>
                            <td style="width: 10%"></td>
                            <td style="width: 80%"></td>
                        </tr>
                    </thead>
                    <tbody data-bind="sortable: { data: $root.sortedRightSplitFootnotes, afterMove: fixupFootnotePriority}">
                        <tr class="middle-align">
                            <td>
                                <button title="remove footnote" data-bind="click: $root.removeFootnote" class="btn  btn-danger "><i class="fa fa-trash-o"></i></button>
                            </td>
                            <td data-bind="text: priority"></td>
                            <td>
                                <input type="text" class="form-control " placeholder="type footnote here..." data-bind="value: text, valueUpdate: 'afterkeydown'">
                            </td>
                            <td><i class="fa fa-sort"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <fieldset class="col-sm-12" id="footnotes">
            <legend>Footnotes</legend>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <td style="width: 10%">
                                <button type="button" title="add footnote" class="btn  btn-success " data-bind="click: addFootnote, visible: canAddFootnotes"><i class="fa fa-plus"></i></button>
                            </td>
                            <td style="width: 10%"></td>
                            <td style="width: 80%"></td>
                        </tr>
                    </thead>
                    <tbody data-bind="sortable: { data: sortedFootnotes, afterMove: fixupFootnotePriority}">
                        <tr class="middle-align">
                            <td>
                                <button title="remove footnote" data-bind="click: $root.removeFootnote, disable: $root.hasSplitFootnotes" class="btn  btn-danger "><i class="fa fa-trash-o"></i></button>
                            </td>
                            <td data-bind="text: priority"></td>
                            <td>
                                <input type="text" class="form-control " placeholder="type footnote here..." data-bind="value: text, valueUpdate: 'afterkeydown', isReadonly: $root.hasSplitFootnotes, attr: {'id': 'footnote_tb_' + id()}">
                            </td>
                            <td><i class="fa fa-sort"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </fieldset>



</form>
<div class="modal fade" tabindex="-1" role="dialog" id="default_dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Restoring Defaults</h4>
            </div>
            <div class="modal-body">
                <p>Please wait, restoring defaults.</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
