﻿<section>
    <h3 data-bind="text: 'Roll ' + profile().asOfDate"></h3>
    <div>
        <button class="btn btn-primary"
                data-bind="click: cancel">
            <i class="fa fa-undo"></i>
            Cancel
        </button>
        <button class="btn btn-primary"
                data-bind="click: roll">
            <i class="fa fa-save"></i>
            Roll
        </button>
    </div>
    <br />

    <form role="form">
        <fieldset>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label>As Of Date</label>
                    <select class="form-control" data-bind="options: $root.asOfDates, optionsText: 'asOfDateDescript', optionsValue: 'asOfDateDescript',value: $root.asOfDate, event: {change: dateChange}" id="atlasAsOfDateSelector"></select>
                </div>
            </div>
        </fieldset>
    </form>
</section>
