﻿

<style>

    #footnotes{
        display: none;
    }
</style>

<section data-bind="with:sectionPage">
    <div class="row form-group">
        <div class="col-md-2">
            <label>Appendix</label>
        </div>
        <div class="col-md-6">
            <input type="checkbox" data-bind="checked: appendix" />
        </div>
    </div>

</section>
