﻿<style>
 #sectionHeader{
      padding-top: 350px;
      margin: 0 auto;
      width: 100%;
      text-align: center;
 }
</style>

<section id="sectionpage-view" >  
    <h1 id="sectionHeader" data-bind=" text: sectionName"></h1>
</section>