﻿<div id="shell_wrapper">
    <link href="../../Content/branding.css" rel="stylesheet" />

    <div data-bind="visible: !window.hiqPdfInfo" id="header-container" class="bottom-shadow">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNavBar" aria-expanded="false">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <!--<i class="fa fa-home"></i>-->
                        <span>Atlas One</span>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="mainNavBar">
                    <ul class="nav navbar-nav">
                        <!-- ko if: global.navBarLock() -->
                        <li><a href="#/packages/" id="reporting_menu_item">Reporting</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuration <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/policyconfig/" id="policies_menu_item">Policies & Risk Assessment</a></li>
                                <li><a href="#/basicsurpluses/" id="basic_surplus_menu_item">Basic Surplus</a></li>
                                <li><a href="#/liabilitypricingconfig/" id="liability_pricing_menu_item">Deposits and Loans</a></li>
                                <li><a href="#/lookbackadminconfig/" id="lookback_menu_item">Lookback</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/modelsetupconfig/" id="model_setup_menu_item">Model Setup</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data Migration <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/l360push/" id="l360_push_menu_item">L360 Push</a></li>
                                <li><a href="#/rollforward/" id="roll_forward_menu_item">Roll Forward</a></li>
                            </ul>
                        </li>
                        <!-- ko if: global.navBarShowAtlasTemplatesOptions() -->
                        <li><a href="#/definedgroupings/" id="defined_grouping_menu_item">Defined Groupings</a></li>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko ifnot: global.navBarLock() -->
                        <li class="disabled"><a>Reporting</a></li>
                        <li class="disabled">
                            <a>Configuration <span class="caret"></span></a>
                        </li>
                        <li class="disabled">
                            <a>Data Migration <span class="caret"></span></a>
                        </li>
                        <!-- ko if: global.navBarShowAtlasTemplatesOptions() -->
                        <li class="disabled"><a>Defined Groupings</a></li>
                        <!-- /ko -->
                        <!-- /ko -->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="loader pull-right" data-bind="css: { active: router.isNavigating() || model.isLoading() }">
                            <i class="fa fa-gear fa-2x fa-spin"></i>
                        </li>
                        <li>
                            <span id="database" style="text-align:right" /><br />
                            <span id="asOfDate" style="text-align:right" />
                        </li>
                        <li><a href="#/pushLog/" class="navbar-brand"><i class="fa fa-info-circle"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- TODO this is eventually mozying on over to PackageConfig / ReportConfig -->
        <div id="package" style="text-align:right"></div>
        <div id="packageTemplate" style="text-align:right"></div>
    </div>

    <div class="container" id="mainContainer">
        <!--ko router: window.hiqPdfInfo ? {} : { transition:'entrance'}-->
        <!--/ko-->
        <!--<div style="position: fixed; bottom: 0; right: 0;" data-bind=" text: version, visible: !window.hiqPdfInfo"></div>-->
        <div style="position: fixed; bottom: 0; right: 0;" data-bind=" text: global.buildNumber, visible: !window.hiqPdfInfo && global.isTesting"></div>
    </div>

    <div id="reportLoaded" style="display: none;">
        0
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="pdfExporter" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Exporting</h4>
                </div>

                <div class="modal-body">
                    <!-- here is gif-->
                    <div class="lds-css ng-scope" style="width: 200px; height: 200px; margin: 0 auto;">
                        <div style="width:100%;height:100%" class="lds-pacman"><div><div></div><div></div><div></div></div><div><div></div><div></div></div></div>
                    </div>

                    <h6 id="exportStatus">Starting PDF Machine</h6>
                    <div class="modal-footer">
                        <div id="pdfExportProgress" class="progress-bar-container" style="display:none;"><div class="progress-bar"></div></div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>
