﻿<style>
    /*
        Custom Border Styling for differences and comparatives
    */

    .spacerRow {
        height: 20px;
    }

    .atlasHeader, .dcg-table thead th.atlasHeader gray {
        padding-left: 0px !important;
        margin: 0px !important;
        text-indent: 3px !important;
    }

    .spacerCell {
        width: 3px;
        border-bottom: 0px solid #fff !important;
    }

        .spacerCell.borderLeft {
            border-left: 3px solid #0067A7;
        }

        .spacerCell.borderRight {
            border-right: 3px solid #0067A7 !important;
        }

    .differenceLabel {
        border-left: 1px solid #0067A7;
        border-right: 1px solid #0067A7;
        border-bottom: 1px solid #0067A7;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        background-color: #0067A7;
        text-align: center !important;
        color: #ffffff !important;
        font-weight: bold;
        font-size: 12px;
    }

    .cellLabel{
        width: 120px !important;
    }
</style>

<section id="simcompare-view">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td>
                <div class="row">
                    <div class="col-sm-6" style="width: 47.5%">
                        <h2 id="leftChartTitle" class="atlasHeader grey" data-bind="text: $root.simCompare().leftGraphName()"></h2>
                        <div id="leftChart"></div>
                    </div>
                    <div id="middle_axis_col" class="col-sm-2 col-no-pad" style="width: 5%; ">
                        <h2 id="middleTitle"></h2>
                        <svg id="middle_svg" style="height: 400px;"></svg>
                    </div>
                    <div class="col-sm-6" style="width: 47.5%">
                        <h2 id="rightChartTitle" class="atlasHeader grey" data-bind="text: $root.simCompare().rightGraphName()"></h2>
                        <div id="rightChart"></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div class="row">
        <div class="col-sm-12">
            <table class="dcg-table">

                <thead>
                    <tr>
                        <th class="atlasHeader blue" data-bind="attr: {'colspan':$root.simCompare().isQuarterly() ? 21 : ($root.simCompare().details() ? 26 : ($root.simCompare().percentChange() == 2 ? 16: 12) )}">
                        <span data-bind="text: $root.simCompare().niiOption().toUpperCase()"></span> RESULTS
                        </th>
                    </tr>
                    <!-- ko if: $root.simCompare().isQuarterly() -->
                    <tr>
                        <th></th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}" style="width: 48px">Y1</th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}" style="width: 48px">Y2</th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}" style="width: 48px">Y3</th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}" style="width: 48px">Y4</th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}" style="width: 48px">Y5</th>
                        <th class="spacerCell"></th>
                        <th class="spacerCell borderLeft"></th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}" style="width: 48px">Y1</th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}" style="width: 48px">Y2</th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}" style="width: 48px">Y3</th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}" style="width: 48px">Y4</th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}" style="width: 48px">Y5</th>
                        <th class="spacerCell borderRight"></th>
                        <th class="spacerCell"></th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}" style="width: 48px">Y1</th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}" style="width: 48px">Y2</th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}" style="width: 48px">Y3</th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}" style="width: 48px">Y4</th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}" style="width: 48px">Y5</th>
                        <th class="cellLabel"></th>
                    </tr>
                    <!-- /ko -->
                    <!-- ko if: !$root.simCompare().isQuarterly() -->
                    <tr>
                        <th></th>
                        <th data-bind="attr: {'colspan': $root.simCompare().details() ? 3 : ($root.simCompare().percentChange() == 2 ? 2: 1)},style: {'textAlign': $root.simCompare().details() ? 'center' : '', width: !$root.simCompare().details() ? '150px' : ''}">Y1</th>
                        <th data-bind="attr: {'colspan': $root.simCompare().details() ? 3 : ($root.simCompare().percentChange() ==2 ? 2: 1)},style: {'textAlign': $root.simCompare().details() ? 'center' : '', width: !$root.simCompare().details() ? '150px' : ''}">Y2</th>
                        <!-- ko if: $root.simCompare().details() -->
                        <th colspan="3" style="text-align: center;">2Y CML</th>
                        <!-- /ko -->
                        <th class="spacerCell"></th>
                        <th class="spacerCell borderLeft"></th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : '', width: !$root.simCompare().details() ? '150px' : ''}, text: $root.simCompare().details() ? '': 'Y1'"></th>
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : '', width: !$root.simCompare().details() ? '150px' : ''}, text: $root.simCompare().details() ? '': 'Y2'"></th>
                        <!-- ko if: $root.simCompare().details() -->
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}, text: $root.simCompare().details() ? '': '2Y CML'"></th>
                        <!-- /ko -->
                        <th class="spacerCell borderRight"></th>
                        <th class="spacerCell"></th>

                        <th data-bind="attr: {'colspan': $root.simCompare().details() ? 3 : ($root.simCompare().percentChange() == 2 ? 2: 1)},style: {'textAlign': $root.simCompare().details() ? 'center' : '', width: !$root.simCompare().details() ? '150px' : ''}">Y1</th>
                        <th data-bind="attr: {'colspan': $root.simCompare().details() ? 3 : ($root.simCompare().percentChange() == 2 ? 2: 1)},style: {'textAlign': $root.simCompare().details() ? 'center' : '', width: !$root.simCompare().details() ? '150px' : ''}">Y2</th>
                        <!-- ko if: $root.simCompare().details() -->
                        <th data-bind="style: {'textAlign': $root.simCompare().details() ? 'center' : ''}" colspan="3">2Y CML</th>
                        <!-- /ko -->
                        <!-- ko if: !$root.simCompare().details() -->
                        <th class="cellLabel"></th>
                        <!-- /ko -->
                    </tr>
                    <!-- ko if: $root.simCompare().details() -->
                    <tr>
                        <th></th>
                        <th data-bind="text: $root.simCompare().niiOption().toUpperCase()"></th>
                        <th><span>$</span><span>&#916;</span></th>
                        <th><span>%</span><span>&#916;</span></th>
                        <th data-bind="text: $root.simCompare().niiOption().toUpperCase()"></th>
                        <th><span>$</span><span>&#916;</span></th>
                        <th><span>%</span><span>&#916;</span></th>
                        <th data-bind="text: $root.simCompare().niiOption().toUpperCase()"></th>
                        <th><span>$</span><span>&#916;</span></th>
                        <th><span>%</span><span>&#916;</span></th>
                        <th class="spacerCell"></th>
                        <th class="spacerCell borderLeft"></th>
                        <th>Y1</th>
                        <th>Y2</th>
                        <th>2Y CML</th>
                        <th class="spacerCell borderRight"></th>
                        <th class="spacerCell"></th>
                        <th data-bind="text: $root.simCompare().niiOption().toUpperCase()"></th>
                        <th><span>$</span><span>&#916;</span></th>
                        <th><span>%</span><span>&#916;</span></th>
                        <th data-bind="text: $root.simCompare().niiOption().toUpperCase()"></th>
                        <th><span>$</span><span>&#916;</span></th>
                        <th><span>%</span><span>&#916;</span></th>
                        <th data-bind="text: $root.simCompare().niiOption().toUpperCase()"></th>
                        <th><span>$</span><span>&#916;</span></th>
                        <th><span>%</span><span>&#916;</span></th>
                    </tr>
                    <!-- /ko -->
                    <!-- /ko -->
                </thead>

                <tbody data-bind="foreach: $root.simCompareViewData().fullDiffTable">
                    <tr data-bind="css: $root.charting.scenarioIdLookUp(scenario).rowClass">
                        <td class="cellLabel"> <span class="scenarioButton" data-bind="text: scenario, css: $root.charting.scenarioIdLookUp(scenario).labelClass"></span></td>
                        <!-- ko if: $root.simCompare().isQuarterly() -->
                        <td data-bind="text: $root.formatNumber(left_Y1_nii, 0)"></td>
                        <td data-bind="text: $root.formatNumber(left_Y2_nii, 0)"></td>
                        <td data-bind="text: $root.formatNumber(left_Y3_nii,0)"></td>
                        <td data-bind="text: $root.formatNumber(left_Y4_nii,0)"></td>
                        <td data-bind="text: $root.formatNumber(left_Y5_nii,0)"></td>

                        <td class="spacerCell"></td>
                        <td class="spacerCell borderLeft"></td>
                        <td class="left-border" data-bind="text: $root.formatNumber(diff_Y1_nii,0)"></td>
                        <td data-bind="text: $root.formatNumber(diff_Y2_nii,0)"></td>
                        <td data-bind="text: $root.formatNumber(diff_Y3_nii,0)"></td>
                        <td data-bind="text: $root.formatNumber(diff_Y4_nii,0)"></td>
                        <td class="right-border" data-bind="text: $root.formatNumber(diff_Y5_nii,0)"></td>
                        <td class="spacerCell borderRight"></td>
                        <td class="spacerCell"></td>
                        <td data-bind="text: $root.formatNumber(right_Y1_nii,0)"></td>
                        <td data-bind="text: $root.formatNumber(right_Y2_nii,0)"></td>
                        <td data-bind="text: $root.formatNumber(right_Y3_nii,0)"></td>
                        <td data-bind="text: $root.formatNumber(right_Y4_nii,0)"></td>
                        <td data-bind="text: $root.formatNumber(right_Y5_nii,0)"></td>
                        <!-- /ko -->
                        <!-- ko if: !$root.simCompare().isQuarterly() -->
                        <td data-bind="text: $root.formatNumber(left_Y1_nii, 0), attr: {'colspan': $root.simCompare().details() ? 1 : ($root.simCompare().percentChange() ==2 ? 2: 1)}"></td>

                        <!-- ko if: $root.simCompare().details() -->
                        <td data-bind="text: $root.formatNumber(left_Y1_dollar_delta, 0)"></td>
                        <td data-bind="text: $root.formatNumber(left_Y1_perc_delta, 1)"></td>
                        <!-- /ko -->

                        <td data-bind="text: $root.formatNumber(left_Y2_nii, 0), attr: {'colspan': $root.simCompare().details() ? 1 : ($root.simCompare().percentChange() ==2 ? 2: 1)}"></td>
                        <!-- ko if: $root.simCompare().details() -->
                        <td data-bind="text: $root.formatNumber(left_Y2_dollar_delta,0)"></td>
                        <td data-bind="text: $root.formatNumber(left_Y2_perc_delta, 1)"></td>

                        <td data-bind="text: $root.formatNumber(left_Y2_cum_nii, 0)"></td>
                        <td data-bind="text:$root.formatNumber(left_Y2_cum_dollar_delta, 0)"></td>
                        <td data-bind="text: $root.formatNumber(left_Y2_cum_perc_delta, 1)"></td>
                        <!-- /ko -->
                        <td class="spacerCell"></td>
                        <td class="spacerCell borderLeft"></td>
                        <td class="left-border" data-bind="text: $root.formatNumber(diff_Y1_nii, 0)"></td>
                        <td data-bind="text: $root.formatNumber(diff_Y2_nii, 0), css: {'right-border': !$root.simCompare().details()}"></td>
                        <!-- ko if: $root.simCompare().details() -->
                        <td class="right-border" data-bind="text: $root.formatNumber(diff_Y2_cum_nii, 0)"></td>
                        <!-- /ko -->
                        <td class="spacerCell borderRight"></td>
                        <td class="spacerCell"></td>

                        <td data-bind="text: $root.formatNumber(right_Y1_nii, 0), attr: {'colspan': $root.simCompare().details() ? 1 : ($root.simCompare().percentChange() == 2 ? 2: 1)}"></td>

                        <!-- ko if: $root.simCompare().details() -->
                        <td data-bind="text:$root.formatNumber(right_Y1_dollar_delta, 0)"></td>
                        <td data-bind="text: $root.formatNumber(right_Y1_perc_delta, 1)"></td>
                        <!-- /ko -->

                        <td data-bind="text: $root.formatNumber(right_Y2_nii,0), attr: {'colspan': $root.simCompare().details() ? 1 : ($root.simCompare().percentChange() == 2 ? 2: 1)}"></td>
                        <!-- ko if: $root.simCompare().details() -->
                        <td data-bind="text: $root.formatNumber(right_Y2_dollar_delta, 0)"></td>
                        <td data-bind="text: $root.formatNumber(right_Y2_perc_delta, 1)"></td>

                        <td data-bind="text: $root.formatNumber(right_Y2_cum_nii, 0)"></td>
                        <td data-bind="text:$root.formatNumber(right_Y2_cum_dollar_delta, 0)"></td>
                        <td data-bind="text:$root.formatNumber(right_Y2_cum_perc_delta, 1)"></td>
                        <!-- /ko -->
                        <!-- /ko -->
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <!-- ko if: $root.simCompare().isQuarterly() -->
                        <td colspan="6"></td>
                        <td class="spacerCell"></td>
                        <td class="differenceLabel" colspan="7">DIFFERENCE</td>
                        <td class="spacerCell"></td>
                        <!-- /ko -->
                        <!-- ko if: !$root.simCompare().isQuarterly() -->
                        <!-- ko if: $root.simCompare().details() -->
                        <td colspan="10"></td>
                        <td class="spacerCell"></td>
                        <td class="differenceLabel" colspan="5">DIFFERENCE</td>
                        <td class="spacerCell"></td>
                        <!-- /ko -->
                        <!-- ko if: !$root.simCompare().details() -->
                        <td data-bind="attr: {'colspan': $root.simCompare().percentChange() == 2 ? 5: 3}"></td>
                        <td class="spacerCell"></td>
                        <td class="differenceLabel" colspan="4">DIFFERENCE</td>
                        <td class="spacerCell"></td>
                        <!-- /ko -->
                        <!-- /ko -->
                    </tr>
                </tbody>
                <tbody data-bind="if: $root.simCompare().percentChange() > 0">
                    <tr>
                        <td class="spacerRow" data-bind="attr: {'colspan':$root.simCompare().isQuarterly() ? 21 : ($root.simCompare().details() ? 26 : ($root.simCompare().percentChange() == 2 ? 16: 12) )}"></td>
                    </tr>
                </tbody>
                <tbody class="tableHead" data-bind="if: $root.simCompare().percentChange() > 0">
                    <tr>
                        <td class="atlasHeader blue" data-bind="attr:  {'colspan':$root.simCompare().isQuarterly() ? 21 : ($root.simCompare().details() ? 26 : ($root.simCompare().percentChange() == 2 ? 16: 12) )},text: $root.percChangeComparatorTitle()"></td>
                    </tr>
                    <tr>
                        <!-- becuase this is all fancy in knockout bindings it is a nighjtmare to have conditionals!-->
                        <!-- ko if: $root.simCompare().isQuarterly() -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;"></td>
                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;">POLICY</td>
                        <!-- /ko -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;" data-bind="attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 1 : 2}">Y1</td>
                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;">POLICY</td>
                        <!-- /ko -->
                        <td data-bind="text: $root.yr2ColLabel, attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 1 : 2}"></td>


                        <td style="border-bottom: 3px solid #e9e9e9 !important;" class="spacerCell"></td>
                        <td class="spacerCell"></td>
                        <td class="spacerCell borderLeft"></td>
                        <td style="border-bottom: 3px solid #e9e9e9 !important;" class="spacerCell"></td>
                        <td style="border-bottom: 3px solid #e9e9e9 !important;">Y1</td>




                        <!-- ko if: $root.yr2ColLabel() == '24M CML' -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;" data-bind="text: $root.yr2ColLabel" colspan="2"></td>
                        <!-- /ko -->
                        <!-- ko if: $root.yr2ColLabel() != '24M CML' -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;"></td>
                        <td data-bind="text: $root.yr2ColLabel"></td>
                        <!-- /ko -->


                        <td style="border-bottom: 3px solid #e9e9e9 !important;" class="spacerCell"></td>
                        <td class="spacerCell borderRight"></td>
                        <td class="spacerCell"></td>
                        <td style="border-bottom: 3px solid #e9e9e9 !important;" class="spacerCell"></td>


                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;">POLICY</td>
                        <!-- /ko -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;" data-bind="attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 1 : 2}">Y1</td>
                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;">POLICY</td>
                        <!-- /ko -->
                        <td  style="border-bottom: 3px solid #e9e9e9 !important;" data-bind="text: $root.yr2ColLabel, attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 1 : 2}"></td>
                        <!-- /ko --> <!-- ENDS QUARTERY CHECK-->
                        <!-- ko if: !$root.simCompare().isQuarterly() && $root.simCompare().details()  -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;" ></td>
                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;" colspan="2">POLICY</td>
                        <!-- /ko -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;" data-bind="attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 2 : 4}">Y1</td>
                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;" colspan="2">POLICY</td>
                        <!-- /ko -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;" data-bind="text: $root.yr2ColLabel, attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 2 : 4}"></td>


                        <td style="border-bottom: 3px solid #e9e9e9 !important;" class="spacerCell"></td>
                        <td class="spacerCell"></td>
                        <td class="spacerCell borderLeft"></td>
                        <td style="border-bottom: 3px solid #e9e9e9 !important;" class="spacerCell"></td>
                        <td style="border-bottom: 3px solid #e9e9e9 !important;">Y1</td>
                        <td style="border-bottom: 3px solid #e9e9e9 !important;" data-bind="text: $root.yr2ColLabel"></td>

                        <td class="spacerCell borderRight"></td>
                        <td class="spacerCell"></td>



                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;" colspan="2">POLICY</td>
                        <!-- /ko -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;" data-bind="attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 2 : 4}">Y1</td>
                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;" colspan="2">POLICY</td>
                        <!-- /ko -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;"  data-bind="text: $root.yr2ColLabel, attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 2 : 4}"></td>
                        <td style="border-bottom: 3px solid #e9e9e9 !important;"></td>
                        <!-- /ko --> <!-- Ends Monthly Details-->
                        <!-- ko if: !$root.simCompare().isQuarterly() && !$root.simCompare().details()  -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;"></td>
                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;">POLICY</td>
                        <!-- /ko -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;">Y1</td>
                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;">POLICY</td>
                        <!-- /ko -->
                        <td style="border-bottom: 3px solid #e9e9e9 !important;" data-bind="text: $root.yr2ColLabel"></td>


                        <td class="spacerCell"></td>
                        <td class="spacerCell borderLeft"></td>
                        <td>Y1</td>
                        <td data-bind="text: $root.yr2ColLabel"></td>
                        <td class="spacerCell borderRight"></td>
                        <td class="spacerCell"></td>



                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td>POLICY</td>
                        <!-- /ko -->
                        <td>Y1</td>
                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td>POLICY</td>
                        <!-- /ko -->
                        <td data-bind="text: $root.yr2ColLabel, attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 1 : 1}"></td>
                        <td></td>
                        <!-- /ko -->
                        <!-- ko if: !$root.simCompare().details() -->
                        <th class="cellLabel"></th>
                        <!-- /ko -->


                    </tr>
                </tbody>
                <tbody data-bind="foreach: $root.simCompareViewData().fullPolicyCompareTable">
                    <tr data-bind="css: $root.charting.scenarioIdLookUp(scenario).rowClass, if: $root.simCompare().percentChange() > 0">
                        <td class="cellLabel">
                            <span class="scenarioButton" data-bind="text: scenario, css: $root.charting.scenarioIdLookUp(scenario).labelClass"></span>
                        </td>
                        <!-- ko if: $root.simCompare().isQuarterly() -->
                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td data-bind="text: $root.formatNumber(left_policy1, 2)"></td>
                        <!-- /ko -->

                        <td data-bind="text: $root.formatNumber(left_Y1, 1), attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 1 : 2}"></td>

                        <!-- ko if: $root.simCompare().percentChange() == 2  -->
                        <td data-bind="text: $root.formatNumber(left_policy2, 2)"></td>
                        <!-- /ko -->

                        <td data-bind="text: $root.formatNumber(left_Y2, 1), attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 1 : 2}"></td>

                        <td class="spacerCell"></td>
                        <td class="spacerCell"></td>
                        <td class="spacerCell borderLeft"></td>
                        <td class="spacerCell"></td>

                        <td data-bind="text: $root.formatNumber(diff_Y1, 1)"></td>
                        <td></td>
                        <td data-bind="text: $root.formatNumber(diff_Y2, 1)"></td>

                        <td class="spacerCell"></td>
                        <td class="spacerCell borderRight"></td>
                        <td class="spacerCell"></td>
                        <td class="spacerCell"></td>

                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td data-bind="text: $root.formatNumber(right_policy1, 2)"></td>
                        <!-- /ko -->

                        <td data-bind="text: $root.formatNumber(right_Y1, 1), attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 1 : 2}"></td>

                        <!-- ko if: $root.simCompare().percentChange() == 2-->
                        <td data-bind="text: $root.formatNumber(right_policy2, 2)"></td>
                        <!-- /ko -->

                        <td data-bind="text: $root.formatNumber(right_Y2, 1), attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 1 : 2}"></td>
                        <!-- /ko -->
                        <!-- ko if: !$root.simCompare().isQuarterly() && $root.simCompare().details() -->
                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td data-bind="text: $root.formatNumber(left_policy1, 2)" colspan="2"></td>
                        <!-- /ko -->

                        <td data-bind="text: $root.formatNumber(left_Y1, 1), attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 2 : 4}"></td>

                        <!-- ko if: $root.simCompare().percentChange() == 2  -->
                        <td colspan="2" data-bind="text: $root.formatNumber(left_policy2, 2)"></td>
                        <!-- /ko -->

                        <td data-bind="text: $root.formatNumber(left_Y2, 1), attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 2 : 4}"></td>

                        <td class="spacerCell"></td>
                        <td class="spacerCell"></td>
                        <td class="spacerCell borderLeft"></td>
                        <td class="spacerCell"></td>

                        <td data-bind="text: $root.formatNumber(diff_Y1, 1)"></td>

                        <td data-bind="text: $root.formatNumber(diff_Y2, 1)"></td>

                        <td class="spacerCell borderRight"></td>
                        <td class="spacerCell"></td>


                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td colspan="2" data-bind="text: $root.formatNumber(right_policy1, 2)"></td>
                        <!-- /ko -->

                        <td data-bind="text: $root.formatNumber(right_Y1, 1), attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 2 : 4}"></td>

                        <!-- ko if: $root.simCompare().percentChange() == 2-->
                        <td colspan="2" data-bind="text: $root.formatNumber(right_policy2, 2)"></td>
                        <!-- /ko -->

                        <td data-bind="text: $root.formatNumber(right_Y2, 1), attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 2 : 4}"></td>
                        <td></td>
                        <!-- /ko -->
                        <!-- ko if: !$root.simCompare().isQuarterly() && !$root.simCompare().details()   -->
                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td data-bind="text: $root.formatNumber(left_policy1, 2)"></td>
                        <!-- /ko -->

                        <td data-bind="text: $root.formatNumber(left_Y1, 1), attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 1 : 1}"></td>

                        <!-- ko if: $root.simCompare().percentChange() == 2  -->
                        <td data-bind="text: $root.formatNumber(left_policy2, 2)"></td>
                        <!-- /ko -->

                        <td data-bind="text: $root.formatNumber(left_Y2, 1), attr:{'colSpan': $root.simCompare().percentChange() == 2 ? 1 : 1}"></td>

                        <td class="spacerCell"></td>
                        <td class="spacerCell borderLeft"></td>
                        <td data-bind="text: $root.formatNumber(diff_Y1, 1)"></td>

                        <td data-bind="text: $root.formatNumber(diff_Y2, 1)"></td>
                        <td class="spacerCell borderRight"></td>
                        <td class="spacerCell"></td>


                        <!-- ko if: $root.simCompare().percentChange() == 2 -->
                        <td data-bind="text: $root.formatNumber(right_policy1, 2)"></td>
                        <!-- /ko -->

                        <td data-bind="text: $root.formatNumber(right_Y1, 1)"></td>

                        <!-- ko if: $root.simCompare().percentChange() == 2-->
                        <td data-bind="text: $root.formatNumber(right_policy2, 2)"></td>
                        <!-- /ko -->

                        <td data-bind="text: $root.formatNumber(right_Y2, 1)"></td>
                        <td></td>
                        <!-- /ko -->
                    </tr>
                </tbody>
                <tbody data-bind="if: $root.simCompare().percentChange() > 0">
                    <tr>
                        <!-- ko if: $root.simCompare().isQuarterly() -->
                        <td colspan="6"></td>
                        <td class="spacerCell"></td>
                        <td class="differenceLabel" colspan="7">DIFFERENCE</td>
                        <td class="spacerCell"></td>
                        <!-- /ko -->
                        <!-- ko if: !$root.simCompare().isQuarterly() -->
                        <!-- ko if: $root.simCompare().details() -->
                        <td colspan="10"></td>
                        <td class="spacerCell"></td>
                        <td class="differenceLabel" colspan="5">DIFFERENCE</td>
                        <td class="spacerCell"></td>
                        <!-- /ko -->
                        <!-- ko if: !$root.simCompare().details() -->
                        <td data-bind="attr: {'colspan': $root.simCompare().percentChange() == 2 ? 5: 3}"></td>
                        <td class="spacerCell"></td>
                        <td class="differenceLabel" colspan="4">DIFFERENCE</td>
                        <td class="spacerCell"></td>
                        <!-- /ko -->
                        <!-- /ko -->
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

</section>
