﻿<div>
    <div class="form-group">
        <label>Institution</label>
        <select class="form-control " data-bind="options: institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
    </div>
    <div class="form-group">
        <label>Date offset</label>
        <select class="form-control " data-bind="options: asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
    </div>
    <div class="form-group">
        <label>Simulation</label>
        <!-- ko if: simulationTypes().length > 0 -->
        <select class="form-control " data-bind="options: simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId"></select>
        <!-- /ko -->
    </div>
</div>
