﻿<style>
    tr.parent > td {
        background-color: #dddddd;
    }

    input[type="checkbox"].details-cb {
        margin-left: 20px;
    }

    label {
        vertical-align: middle;
    }
    .simulation-table > tbody > tr.parent-row > td{
        background-color: #e9e9e9;
    }
</style>
<div data-bind="with: simCompare">
    <div class="row">
        <fieldset class="col-sm-6">
            <legend>Left Chart</legend>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control " placeholder="Name" data-bind="value: leftGraphName, enable: leftNameOverride">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" data-bind="checked: leftNameOverride" /> Override Name</label>
                    </div>
                    <div class="form-group">
                        <label>Institution</label>
                        <select class="form-control " data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: leftInstitutionDatabaseName"></select>
                    </div>
                    <h3>Simulations</h3>
                    <div class="row">
                        <div class="col-sm-2">
                            <button type="button" title="add simulation" class="btn btn-success " data-bind="click: function(){$root.addSimCompSimulationType(0);}" href="#"><i class="fa fa-plus"></i></button>
                        </div>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-bind="checked: overrideLeftParentSimulationType"/>
                                    Override Parent Simulation
                                </label>
                                
                            </div>
                        </div>
                    </div>
                    <table class="table-super-condensed simulation-table">
                        <thead>
                            <tr>
                                <th style="width: 8%;"></th>
                                <th style="width: 24%">Date Offset</th>
                                <th style="width: 66%">Simulation Type</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.sortedLeftSimulationTypes">
                            <tr data-bind="css: {'parent-row' : priority() == 0}">
                                <td data-bind="if: priority() > 0">
                                    <button type="button" class="btn btn-sm btn-danger" data-bind="click: $root.removeSimCompSimulationType"><span class="fa fa-trash-o"></span></button>
                                </td>
                                <td>
                                    <select class="form-control input-sm" data-bind="options: $root.leftAsOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
                                </td>   
                                <td>
                                    <!-- ko if: simulationTypes().length > 0 -->
                                        <select class="form-control input-sm" data-bind="options: simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId, enable: $root.enableSimulationDropdown($data)"></select>
                                    <!-- /ko -->
                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--<div data-bind="compose: $root.leftSimulationselectconfig"></div>-->
                </div>
            </div>
        </fieldset>
        <fieldset class="col-sm-6">
            <legend>Right Chart</legend>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control " placeholder="Name" data-bind="value: rightGraphName, enable: rightNameOverride">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" data-bind="checked: rightNameOverride" /> Override Name
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Institution</label>
                        <select class="form-control " data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: rightInstitutionDatabaseName"></select>
                    </div>
                    <h3>Simulations</h3>
                    <div class="row">
                        <div class="col-sm-2">
                            <button type="button" title="add simulation" class="btn btn-success " data-bind="click: function(){$root.addSimCompSimulationType(1);}" href="#"><i class="fa fa-plus"></i></button>
                        </div>
                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" data-bind="checked: overrideRightParentSimulationType" />
                                    Override Parent Simulation
                                </label>

                            </div>
                        </div>
                    </div>
                    <table class="table-super-condensed simulation-table">
                        <thead>
                            <tr>
                                <th style="width: 8%;"></th>
                                <th style="width: 26%">Date Offset</th>
                                <th style="width: 66%">Simulation Type</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: $root.sortedRightSimulationTypes">
                            <tr data-bind="css: {'parent-row' : priority() == 0}">
                                <td data-bind="if: priority() > 0">
                                    <button type="button" class="btn btn-sm btn-danger" data-bind="click: $root.removeSimCompSimulationType"><span class="fa fa-trash-o"></span></button>
                                </td>
                                <td>
                                    <select class="form-control input-sm" data-bind="options: $root.rightAsOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
                                </td>
                                <td>
                                    <!-- ko if: simulationTypes().length > 0 -->
                                    <select class="form-control input-sm" data-bind="options: simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId, enable: $root.enableSimulationDropdown($data)"></select>
                                    <!-- /ko -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--<div data-bind="compose: $root.rightSimulationselectconfig"></div>-->
                </div>
            </div>
        </fieldset>
    </div>
    <fieldset>
        <legend>Compared Scenarios</legend>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Graph Type</label>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group" data-toggle="buttons-radio">
                                <button type="button" class="btn btn-default " data-toggle="button" data-bind="click: function () { isQuarterly(false) }, css: { active: !isQuarterly() }">Monthly</button>
                                <button type="button" class="btn btn-default " data-toggle="button" data-bind="click: function () { isQuarterly(true); details(false) }, css: { active: isQuarterly() }">Quarterly</button>
                            </div>
                            <div class="btn-group" data-toggle="buttons">
                                <button type="button" class="btn btn-default " data-toggle="button" data-bind="click: function () { niiOption('nii') }, css: { active: niiOption() =='nii' }">Net Interest Income</button>
                                <button type="button" class="btn btn-default " data-toggle="button" data-bind="click: function () { niiOption('ni'); }, css: { active: niiOption() == 'ni'}">Net Income</button>
                            </div>
                                <label>
                                    <input type="checkbox" data-bind="checked: details, enable: $root.canShowDetails" />Details
                                </label>
                            
                        </div>
                        <div class="col-md-6 form-group">
                            <label>
                                <input type="checkbox" data-bind="checked: overrideTaxEquiv" /> Override Tax Equivalent Income
                            </label>
                            <label>
                                <input type="checkbox" data-bind="checked: taxEquivalentYields, enable: overrideTaxEquiv" /> Tax Equivalent Income
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>% Change</label>
                    <select class="form-control " data-bind="value: percentChange, options: $root.availablePercChangeOptions, optionsText: 'label', optionsValue: 'value'"></select>
                </div>
                <div class="form-group">
                    <label>Year 2 Comparatives</label>
                    <select class="form-control  " data-bind="value: percChangeComparator, enable: $root.enablePercChangeCompareSel">
                        <!--<option value="2">Yr 1 % Change from Yr 1 Base</option>-->
                        <option value="year2Year1">Yr 2 % Change from Yr 1 Comparative</option>
                        <option value="year2Year2">Yr 2 % Change from Yr 2 Comparative</option>
                        <option value="24Month">24M % Change from Comparative</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form-group">
                <label>Scenarios</label>
                <table class="table">
                    <thead>
                        <tr class="middle-align">
                            <th>
                                <span class="dropdown dropup">
                                    <button title="add scenario" class="dropdown-toggle  btn btn-success " data-toggle="dropdown" href="#"><i class="fa fa-plus"></i></button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" data-bind="foreach: $root.availableScenarioTypes">
                                        <!-- ko ifnot: inUse -->
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-bind="text: name, click: $root.addScenarioType"></a></li>
                                        <!-- /ko -->
                                        <!-- ko if: inUse -->
                                        <li role="presentation"><a style="color: lightgrey" role="menuitem" tabindex="-1" data-bind="text: name, click: $root.dontAddScenarioType"></a></li>
                                        <!-- /ko -->
                                    </ul>
                                </span>
                            </th>
                            <th>Priority</th>
                            <th>Type</th>
                            <th>Comparative</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody class="sortable" data-bind="css: $root.scenarioConnectClass, sortable: { data: $root.sortedSimCompareScenarioTypes, afterMove: $root.sortableAfterMove, connectClass: $root.scenarioConnectClass }">
                        <tr class="middle-align">
                            <td>
                                <button title="remove" data-bind="click: $root.removeScenarioType" class="btn btn-danger "><i class="fa fa-trash-o"></i></button>
                            </td>
                            <td data-bind="text: priority"></td>
                            <td data-bind="with: scenarioType"><span data-bind="text: name"></span></td>
                            <td><input type="radio" name="compareOption" data-bind="checked: $root.simCompare().comparativeScenario, value: scenarioTypeId().toString()" /></td>
                            <td><i class="fa fa-sort"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</div>
