﻿<div>
    <!-- ko if: showInst -->
    <div class="form-group">
        <label>Institution</label>
        <select class="form-control instSelect" data-bind="options: institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
    </div>
    <!-- /ko -->
    <div class="form-group">
        <label>Date offset</label>
        <select class="form-control offsetSelect" data-bind="options: asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" data-bind="checked: overrideSimulationTypeId" /> Override Simulation
        </label>
    </div>
    <div class="form-group">
        <label>Simulation</label>
        <select class="form-control simulationSelect" data-bind="options: simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId, enable: overrideSimulationTypeId"></select>
    </div>
</div>
