﻿<section data-bind="with:simSum">
    <fieldset class="col-sm-12">
        <div class="form-group col-sm-4">
            <label>Report Selection</label>
            <select class="form-control" data-bind="options: $root.reportOptions, optionsText: 'name', optionsValue: 'value', value: reportSelection"></select>
        </div>
        <div class="form-group col-sm-4">
            <label>Institution</label>
            <select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
        </div>

        <div class="form-group col-sm-4">
            <label>Date offset</label>
            <select class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
        </div>

        <div class="form-group col-sm-6">
            <label>Simulation</label>
            <select class="form-control" data-bind="options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId"></select>
        </div>

        <div class="form-group col-sm-6">
            <label>Scenario</label>
            <select class="form-control" data-bind="options: $root.scenarioTypes, optionsText: 'name', optionsValue: 'id', value: scenarioTypeId"></select>
        </div>
    </fieldset>
    <fieldset class="col-sm-4">
        <legend>Periods</legend>
        <div class="col-md-12">
            <div class="col-sm-12"><input id="monthly_rad" type="radio" value="0" name="monthlyQuarterly" data-bind="checked: monthlyQuarterly" /><label for="monthly_rad">Monthly</label></div>
            <div class="col-sm-12"><input id="quarterly_rad" type="radio" value="1" name="monthlyQuarterly" data-bind="checked: monthlyQuarterly" /><label for="quarterly_rad">Quarterly</label></div>
        </div>
    </fieldset>
    <fieldset class="col-sm-4">
        <legend>Tax Equivalent</legend>
        <div class="col-md-12">
            <div class="col-sm-12"><input id="taxEquiv_cb" type="checkbox" data-bind="checked: taxEquivalent" /><label for="taxEquiv_cb">Tax Equivalent</label></div>
        </div>
    </fieldset>
    <fieldset class="col-sm-4">
        <legend>Groupings</legend>
        <div class="col-md-12">
            <div class="form-group">
                <select class="form-control" data-bind="foreach: $root.viewOptions, value: grouping, disable: reportSelection() == 2">
                    <optgroup data-bind="attr: {label: label}, foreach: children">
                        <option data-bind="text: title, attr: {value: value}"></option>
                    </optgroup>
                </select>
            </div>
        </div>
    </fieldset>
</section>
