﻿<style>
    .staticGapTable {
        font-size: 8px;
        color: #000000;
        width: 100%;
        font-family: 'Open Sans', Arial, sans-serif;
    }

    .staticGapTable > thead > tr > th {
        text-transform:uppercase;
        font-size: 6.5px;
        padding: 0px;
    }
                
    .staticGapTable > tbody > tr > td {
        font-size: 6.5px;
        padding: 0px;
    }
    
    .staticGapTable>thead>tr>th:first-child,
    .staticGapTable>tbody>tr>td:first-child {
        width: 150px;
    }

    #rightTable{
        margin-top: 20px;
    }

    .staticGapTable tr.spacerRow {
        height: 10px;
    }
    
    .staticGapTable th {
        text-align: right;
    }

    .staticGapTable td.name.grandLevel {
        font-size: 10px;
        font-weight: bold;
        text-decoration: underline;
        text-transform:uppercase;
    }

    .staticGapTable thead{
        background-color: #ffffff;
        color: #000000;
        text-decoration: none;
    }

    .staticGapTable tbody td:not(.name) {
        text-align: right;
    }

    .staticGapTable tbody tr.td.name{
        text-align: left;
    }

    .staticGapTable tr.grandTotalRow {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .staticGapTable td.name.indent {
        padding-left: 20px;
    }

    .staticGapTable tr.accountTotalRow {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .staticGapTable tr td.name.secondLevel {
        font-weight: bold;
    }

    .staticGapTable tr:hover td {
        background-color: #428BCA !important;
        color: #ffffff;
        font-weight: normal;
    }

    thead {
        display: table-header-group;
    }

    table {
        page-break-after: auto;
    }
</style>

<section id="staticgap-view">
    <h5 id="leftTableTitle"></h5>
    <table id="leftTable" class="staticGapTable report-std-table" style="table-layout: fixed;" >
        <thead>
        </thead>
        <tbody></tbody>
    </table>

    <h5 id="rightTableTitle"></h5>
    <table id="rightTable" class="staticGapTable report-std-table" style="table-layout: fixed;">
        <thead>
        </thead>
        <tbody></tbody>
    </table>
</section>
