﻿<style>
    option[disabled]{
        background-color: #eeeeee;
        padding-left: 15px;
    }

</style>

<section data-bind="with:staticGap">
    <div class="row">
        <fieldset class="col-sm-4">
            <legend>Report Format</legend>
            <div class="col-md-12">
                <div class="form-group">
                    <select class="form-control" data-bind="options: $root.reportFormats, optionsText: 'title', optionsValue: 'value', value: reportFormat"></select>
                    
                    <!--<div class="radio">
                        <label>
                            <input type="radio" name="reportFormat" value="0" data-bind="checked: reportFormat">
                            Schedule J
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="reportFormat" value="1" data-bind="checked: reportFormat">
                            Schedule H
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="reportFormat" value="2" data-bind="checked: reportFormat">
                            Schedule H + 121-180Mths & > 180Mths
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="reportFormat" value="3" data-bind="checked: reportFormat">
                            Summary
                        </label>
                    </div>-->
                </div>
            </div>
        </fieldset>
        <fieldset class="col-sm-4">
            <legend>View By</legend>
            <div class="col-md-12">
                <div class="form-group">
                    <!--<select class="form-control" data-bind="options: $root.viewOptions, optionsText: 'title', optionsValue: 'value', value: viewOption, optionsAfterRender: $root.setOptionDisable"></select>-->
                    <select class="form-control" data-bind="foreach: $root.viewOptions, value: viewOption" id="viewOption_dropdown">
                        <optgroup data-bind="attr: {label: label}, foreach: children">
                            <option data-bind="text: title, attr: {value: value}"></option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset class="col-sm-4">
            <legend>Other</legend>
            <div class="col-md-12">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: overrideTaxEquiv" />Override Tax Equivalent
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: taxEqivalentYields, enable: overrideTaxEquiv" />Tax Equivalent Yields
                    </label> 
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: gapRatios" />Gap Ratios
                    </label>
                </div>
            </div>
        </fieldset>
    </div>

    <fieldset class="col-sm-6">
        <legend>Top</legend>
        <div class="col-md-12">
            <div class="form-group">
                <label>Institution</label>
                <select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: leftInstitutionDatabaseName"></select>
            </div>

            <div class="form-group">
                <label>Date offset</label>
                <select class="form-control" data-bind="options: $root.leftAsOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: leftAsOfDateOffset"></select>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: leftOverrideSimulationId" /> Override Simulation
                </label>
            </div>

            <div class="form-group">
                <label>Simulation</label>
                <select class="form-control" data-bind="options: $root.leftSimulationTypes, optionsText: 'name', optionsValue: 'id', value: leftSimulationTypeId, enable: leftOverrideSimulationId"></select>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: leftOverrideScenarioId" /> Override Scenario
                </label>
            </div>

            <div class="form-group">
                <label>Scenario</label>
                <select class="form-control" data-bind="options: $root.leftScenarioTypes, optionsText: 'name', optionsValue: 'id', value: leftScenarioTypeId, enable: leftOverrideScenarioId"></select>
            </div>
        </div>
    </fieldset>
    <fieldset class="col-sm-6" data-bind="enable: viewOption() == '2'">
        <legend>Bottom</legend>
        <div class="col-md-12">
            <div class="form-group">
                <label>Institution</label>
                <select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: rightInstitutionDatabaseName"></select>
            </div>

            <div class="form-group">
                <label>Date offset</label>
                <select class="form-control" data-bind="options: $root.rightAsOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: rightAsOfDateOffset"></select>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: rightOverrideSimulationId" /> Override Simulation
                </label>
            </div>

            <div class="form-group">
                <label>Simulation</label>
                <select class="form-control" data-bind="options: $root.rightSimulationTypes, optionsText: 'name', optionsValue: 'id', value: rightSimulationTypeId, enable: rightOverrideSimulationId"></select>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: rightOverrideScenarioId" /> Override Scenario
                </label>
            </div>
            <div class="form-group">
                <label>Scenario</label>
                <select class="form-control" data-bind="options: $root.rightScenarioTypes, optionsText: 'name', optionsValue: 'id', value: rightScenarioTypeId, enable: rightOverrideScenarioId"></select>
            </div>
        </div>
    </fieldset>
</section>
