﻿<style>
    table {
        width: 100%;
    }

    .report-std-table > thead > tr > th, .report-std-table > thead > tr > td, .report-std-table > tbody > tr > td, .report-std-table > tbody > tr > th {
        font-size: 14px;
    }


    #rateHeader th{
        padding-top: 15px !important;
    }
</style>

<section id="summmaryrate-view">
    <div class="row">
        <div class="col-md-12">
            <table class="eve-table-basic" style="margin-bottom: 0px;">
                <thead id="rateHeader">

                </thead>
                <tbody id="rateBody"></tbody>
            </table>
        </div>

    </div>


</section>
