﻿<style>
    textarea {
        display: block;
        width: 100%;
    }
    #content>li{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    h3 { 
        text-transform:uppercase;
        font-size:24px !important;
    }

</style>
<section data-bind="with:sumResults">
    
    <h3>Summary of Results:</h3>
    <p><span data-bind="text: title"></span> (<span data-bind="text: titleType"></span>) was calculated for <span data-bind="text: xbankname"></span> as of <span data-bind="text: xaod"></span>.</p>

    <p>A few observations related to the results are outlined below:</p>

    <ol id="content">
        <li>The initial "mark to market" results in an <span data-bind="text: titleType"></span> ratio of <span data-bind="text: numeral(xxm2m).format('0.00')"></span>% as compared to a book capital ratio of <span data-bind="text: numeral(xxcaprat).format('0.00')"></span>%.</li>

        <li><span data-bind="text: xbankname"></span>'s premium/(discount) on core non-maturity deposits amounts to <span data-bind="text: numeral(xxprem).format('0.00')"></span>% in the current rate environment. <span data-bind="text: xxresult"></span></li>

        <li>
            The greatest <span data-bind="text: titleType"></span> % change from 0 Shock is in the <span data-bind="text: xxworstScenEve"></span> rate shock scenario, in which
            <span data-bind="text: titleType"></span> deviates from the 0 Shock ratio by <span data-bind="text: numeral(xxworstEve).format('0.00')"></span>%.
            <span data-bind="visible: eveChangeHasPolicy">
                <span data-bind="visible: xxpolicyEve.length > 0, text: xxpolicyEve"></span>
                <span data-bind="visible: xxpolicyEve.length == 0">
                    The following scenario<span data-bind="visible: xxpolicyEveScenarios.length > 1">s</span>,
                    <span data-bind="text: xxpolicyEveScenarios"></span>,
                    <span data-bind="visible: xxpolicyEveScenarios.length == 1"> has</span>
                    <span data-bind="visible: xxpolicyEveScenarios.length > 1"> have</span>

                    exceeded the policy guideline<span data-bind="visible: xxpolicyEveScenarios.length > 1">s</span> for % Change in <span data-bind="text: titleType"></span> from 0 Shock with percentage change<span data-bind="visible: xxpolicyEveScenarios.length > 1">s</span>  of

                    <span data-bind="text: xxpolicyEveValues"></span>

                    versus the policy guideline<span data-bind="visible: xxpolicyEveScenarios.length > 1">s</span> of

                    <span data-bind="text: xxpolicyEvePolicyValues"></span>.

                </span>
            </span>
        </li>

        <li>The lowest <span data-bind="text: titleType"></span> ratio and greatest BP change from 0 Shock is in the <span data-bind="text: xxworstScenRatio"></span> rate shock scenario, in which the ratio declines from the 0 shock ratio of 
            <span data-bind="text: numeral(xxm2m).format('0.00')"></span>% by <span data-bind="text: xxworstDiffRatio"></span>BP to <span data-bind="text: numeral(xxworstRatio).format('0.00')"></span>%. 

            <span data-bind="visible: postShockHasPolicy">
                <span data-bind="visible: xxpolicyRatio.length > 0, text: xxpolicyRatio"></span>
                <span data-bind="visible: xxpolicyRatio.length == 0">
                    The following scenario<span data-bind="visible: xxpolicyRatioScenarios.length > 1">s</span>,
                    <span data-bind="text: xxpolicyRatioScenarios"></span>,
                    <span data-bind="visible: xxpolicyRatioScenarios.length == 1"> has</span>
                    <span data-bind="visible: xxpolicyRatioScenarios.length > 1"> have</span>
                    exceeded the policy guideline<span data-bind="visible: xxpolicyRatioScenarios.length > 1">s</span> for <span data-bind="text: titleType"></span> Ratio  (<span data-bind="text: titleType"></span>/EVA) with ratio<span data-bind="visible: xxpolicyRatioScenarios.length > 1">s</span>  of

                    <span data-bind="text: xxpolicyRatioValues"></span>

                    , versus the policy guideline<span data-bind="visible: xxpolicyEveScenarios.length > 1">s</span> of
                    <span data-bind="text: xxpolicyRatioPolicyValues"></span>.


                </span>
            </span>

            <span data-bind="visible: bpChangeHasPolicy">
                <span data-bind="visible: xxpolicyDiffRatio.length > 0, text: xxpolicyDiffRatio"></span>
                <span data-bind="visible: xxpolicyDiffRatio.length == 0">
                    The following scenario<span data-bind="visible: xxpolicyDiffRatioScenarios.length > 1">s</span>,
                    <span data-bind="text: xxpolicyDiffRatioScenarios"></span>,
                    <span data-bind="visible: xxpolicyDiffRatioScenarios.length == 1"> has</span>
                    <span data-bind="visible: xxpolicyDiffRatioScenarios.length > 1"> have</span>
                    exceeded the policy guideline<span data-bind="visible: xxpolicyDiffRatioScenarios.length > 1">s</span> for BP Change in <span data-bind="text: titleType"></span> Ratio  (<span data-bind="text: titleType"></span>/EVA) from 0 Shock with BP Change<span data-bind="visible: xxpolicyDiffRatioScenarios.length > 1">s</span>  of

                    <span data-bind="text: xxpolicyDiffRatioValues"></span>

                    versus the policy guideline<span data-bind="visible: xxpolicyEveScenarios.length > 1">s</span> of
                    <span data-bind="text: xxpolicyDiffRatioPolicyValues"></span>.
                </span>
            </span>
        </li>

        <li>In all (<span data-bind="text: xxshockEve"></span>) rate shock environments tested, the <span data-bind="text: titleType"></span> ratio ranged from <span data-bind="text: numeral(xxworstRatio).format('0.00')"></span>% to <span data-bind="text: numeral(xxbestRatio).format('0.00')"></span>%.</li>
    </ol>

</section>