﻿<style>
    textarea{
        display: block;
        width: 100%;
    }
</style>
<section data-bind="with:sumResults">
    <fieldset class="col-sm-12">
        <div class="col-md-12">
            <div class="form-group">
                <label>Institution</label>
                <select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
            </div>
            <div class="form-group">
                <label>Date offset</label>
                <select class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
            </div>
            <div class="form-group">
                <label>Simulation</label>
                <select class="form-control" data-bind="options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId"></select>
            </div>
            <div class="form-group">
                <label>Override</label>
                <input type="checkbox" data-bind="checked: ovrd, event:{click: $root.overrideChange}" />

                <label>NMD Avg Life Assumption</label>
                <select data-bind="options: $root.nmdAvgLifeAssumptions, value: nmdAvgLifeAssumption, enable: ovrd, event:{change: $root.extraTextUpdate}"></select>

                <textarea data-bind="value: extraText, attr:{readonly: $root.disableTextarea()}"></textarea>
            </div>
        </div>

    </fieldset>

</section>
