﻿<section data-bind="with:timeDepositMigration">

    <fieldset class="col-md-12">
        <div class="form-group">
            <label>Institution</label>
            <select class="form-control" data-bind="options: $root.institutions, optionsText: 'instName', optionsValue: 'databaseName', value: institutionDatabaseName"></select>
        </div>
    </fieldset>

    <fieldset class="col-sm-6">
        <legend>Current</legend>
        <div class="col-md-12">
            <div class="form-group">
                <label>Date offset</label>
                <select id="dateOffset" class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: asOfDateOffset"></select>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: overrideSimulationTypeId" /> Override Simulation
                </label>
            </div>
            <fieldset class="col-md-12">
                <div class="form-group">
                    <label>Simulation</label>
                    <select class="form-control" data-bind="options: $root.simulationTypes, optionsText: 'name', optionsValue: 'id', value: simulationTypeId, enable: overrideSimulationTypeId"></select>
                </div>
            </fieldset>

            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: overrideScenarioTypeId" /> Override Scenario
                </label>
            </div>

            <div class="form-group">
                <label>Scenario</label>
                <select class="form-control" data-bind="options: $root.scenarioTypes, optionsText: 'name', optionsValue: 'id', value: scenarioTypeId, enable: overrideScenarioTypeId"></select>
            </div>

        </div>
    </fieldset>
    <fieldset class="col-sm-6">
        <legend>Prior</legend>
        <div class="col-md-12">
            <div class="form-group">
                <label>Date offset</label>
                <select id="priorDateOffset" class="form-control" data-bind="options: $root.asOfDateOffsets, optionsText: function(item) { return item.index + ' - ' + item.asOfDateDescript }, optionsValue: 'index', value: priorAsOfDateOffset"></select>
            </div>


            <div class="checkbox">
                <label>
                    <input id="overridePriorSimulation" type="checkbox" data-bind="checked: overridePriorSimulationTypeId" /> Override Simulation
                </label>
            </div>
            <fieldset class="col-md-12">
                <div class="form-group">
                    <label>Simulation</label>
                    <select id="priorSimulation" class="form-control" data-bind="options: $root.priorSimulationTypes, optionsText: 'name', optionsValue: 'id', value: priorSimulationTypeId, enable: overridePriorSimulationTypeId"></select>
                </div>
            </fieldset>

            <div class="checkbox">
                <label>
                    <input id="overridePriorScenario" type="checkbox" data-bind="checked: overridePriorScenarioTypeId" /> Override Scenario
                </label>
            </div>

            <div class="form-group">
                <label>Scenario</label>
                <select id="priorScenario" class="form-control" data-bind="options: $root.priorScenarioTypes, optionsText: 'name', optionsValue: 'id', value: priorScenarioTypeId, enable: overridePriorScenarioTypeId"></select>
            </div>

        </div>
    </fieldset>

    <div class="row">
        <fieldset class="col-sm-6">
            <legend>Classification</legend>
            <div class="col-md-6">
                Include:
                <div class="form-group">
                    <div><input type="checkbox" data-bind="checked: cD" />CD's</div>
                    <div><input type="checkbox" data-bind="checked: jumboCD" />Jumbo CD's</div>
                    <div><input type="checkbox" data-bind="checked: publicCD" />Public CD's</div>
                    <div><input type="checkbox" data-bind="checked: publicJumbo" />Public Jumbo</div>
                    <div><input type="checkbox" data-bind="checked: nationalCD" />National CD</div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div><input type="checkbox" data-bind="checked: onlineCD" />Online CD's</div>
                    <div><input type="checkbox" data-bind="checked: onlineJumbo" />Online Jumbo</div>
                    <div><input type="checkbox" data-bind="checked: brokeredCD" />Brokered CD's</div>
                    <div><input type="checkbox" data-bind="checked: brokeredOneWayCD" />Brokered One-Way CD's</div>
                    <div><input type="checkbox" data-bind="checked: brokeredReciprocalCD" />Brokered Reciprocal CD's</div>
                    <div><input type="checkbox" data-bind="checked: otherTimeDeposits" />Other Time Deposits</div>
                </div>
            </div>
        </fieldset>
        <fieldset class="col-sm-6">
            <legend>Special Status</legend>
            <div class="col-md-6">
                Include:
                <div class="form-group">
                    <div><input type="checkbox" data-bind="checked: regular" />Regular</div>
                    <div><input type="checkbox" data-bind="checked: special" />Special</div>
                </div>
            </div>
        </fieldset>
    </div>
  

    <div class="row">
        <fieldset class="col-sm-4">
            <legend>View By</legend>
            <div class="col-md-12">
                <div class="form-group">
                    <!--<select class="form-control" data-bind="options: $root.viewOptions, optionsText: 'title', optionsValue: 'value', value: viewOption, optionsAfterRender: $root.setOptionDisable"></select>-->
                    <select class="form-control" data-bind="foreach: $root.viewOptions, value: viewBy" id="viewOption_dropdown">
                        <optgroup data-bind="attr: {label: label}, foreach: children">
                            <option data-bind="text: title, attr: {value: value}"></option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </fieldset>
    </div>

</section>
   

