﻿<style>

    #migTable{
        width: 95%;
        margin: 0 auto;
    }

    .spacerCell {
        border-bottom: 0px solid #fff !important;
        width: 50px;
    }

    .breakoutCell{
        text-align:left !important;
        font-weight: bold;
        text-transform: uppercase;
    }

    .shadeGreen {
        background-color: rgb(241,247,247) !important;
        padding-right: 3px;
    }

    .shadeBlue {
        background-color: rgb(224,233,235) !important;
        padding-right: 3px;
    }

    .shadeYellow {
        background-color: rgb(251,251,230) !important;
        padding-right: 3px;
    }

    .italicRow td{
        font-style: italic;
    }

    .dcg-table td {
        text-transform: uppercase;
        padding-top: 4px;
    }

    .empty {
        border-bottom: 0px solid #fff !important;
        width: 110px !important;
    }

    .grandTotal td {
        padding-top: 8px;
        padding-bottom: 5px;
        background-color: #EFEFEF !important;
        font-weight: bold;
        border-top: solid 3px #E9E9E9;
        }

        .grandTotal td:first-child {
            text-align: left !important;
        }

    .primaryHeader th{
        text-align: center !important;
    }

    .greyBubble{
        background-color:rgb(242,242,242);
        display: block;
    }

    .report-std-table > tbody > tr:nth-child(odd) > td,
    .report-std-table > tbody > tr:nth-child(odd) > th {
        background-color: transparent;
    }

    .small {
       width: 90px !important;
    }

    .dcg-table > thead > tr.primaryHeader > th:first-child {
        width: 150px !important;
    }

</style>

<section>


    <table class="dcg-table" id="migTable">
        <thead>
            <tr class="primaryHeader">
                <th class="empty"></th>
                <th class="empty"></th>
                <th colspan="2" id="currentDate"></th>
                <th colspan="2" id="priorDate"></th>
                <th colspan="3"></th>
                <th colspan="4" id="matProjecting"></th>
                <th colspan="1"></th>
                <th colspan="2" id="cdMaturing"></th>
            </tr>
            <tr class="lastHeaderRow">
                <th class="empty"></th>
                <th class="empty"></th>
                <th class="atlasHeader blueGreen right small">Balance</th>
                <th class="atlasHeader blueGreen right small">Rate</th>
                <th class="atlasHeader blueGreen right small">Balance</th>
                <th class="atlasHeader blueGreen right small">Rate</th>
                <th class="atlasHeader blueGreen right small">$ Change</th>
                <th class="atlasHeader blueGreen right small">Rate Change</th>
                <th class="spacerCell"></th>
                <th class="atlasHeader darkGreen right small">Balance</th>
                <th class="atlasHeader darkGreen right small">Rate</th>
                <th class="atlasHeader darkGreen right small">Retained %</th>
                <th class="atlasHeader darkGreen right small">Runoff %</th>
                <th class="spacerCell"></th>
                <th class="atlasHeader yellow right small">Balance</th>
                <th class="atlasHeader yellow right small">Rate</th>
            </tr>
        </thead>
    </table>
</section>
