﻿<style>

    .col-sm-6 {
       
       }

    /* table.dcg-table {max-width:569px !important;} */

</style>

<section id="twochart-view">
    <div class="row">
        <div class="col-sm-5" style="width: 47.5%">
            <h2 style="margin: 4px 4px 4px 0px !important;" id="leftChartTitle" class="atlasHeader grey" style="width:100%;" data-bind="text: twoChart()['leftChart']().name()"></h2>
            <div id="leftChart"></div>
        </div>
        <div id="middle_axis_col" class="col-sm-2 col-no-pad" style="width: 5%; ">
            <h2 id="middleTitle"></h2>
            <svg id="middle_svg" style="height: 400px;"></svg>
        </div>
        <div class="col-sm-5" style="width: 47.5%">
            <h2 style="margin: 4px 4px 4px 0px !important;" id="leftChartTitle" class="atlasHeader grey" data-bind="text: twoChart()['rightChart']().name()"></h2>
            <div id="rightChart"></div>
        </div>
    </div>
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td>
                <div class="row">
                    <h2 style="margin-left:4px; max-width: 1110px !important;" class="atlasHeader blue">
                        <span data-bind="text: $root.twoChart().niiOption().toUpperCase()"></span> RESULTS
                    </h2>
                    <div class="col-sm-6" style="padding-left:2px !important;">
                        <table class="dcg-table" data-bind="with: twoChartViewData().leftChartViewModel">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>YEAR 1</th>
                                    <th>YEAR 2</th>
                                    <!-- ko if: $root.twoChart().leftChart().isQuarterly() -->
                                    <th>YEAR 3</th>
                                    <th>YEAR 4</th>
                                    <th>YEAR 5</th>
                                    <!-- /ko -->
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: niiTable">
                                <tr data-bind="css: $root.charting.scenarioIdLookUp(scenario).rowClass">
                                    <td class="cellLabel"><span class="scenarioButton" data-bind="text: scenario, css: $root.charting.scenarioIdLookUp(scenario).labelClass"></span></td>
                                    <td data-bind="text: $root.formatNumber(y1_nii, 0)"></td>
                                    <td data-bind="text: $root.formatNumber(y2_nii, 0)"></td>
                                    <!-- ko if: $root.twoChart().leftChart().isQuarterly() -->
                                    <td data-bind="text: $root.formatNumber(y3_nii, 0)"></td>
                                    <td data-bind="text: $root.formatNumber(y4_nii, 0)"></td>
                                    <td data-bind="text: $root.formatNumber(y5_nii, 0)"></td>
                                    <!-- /ko -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6 col-no-pad" style="max-width:545px !important;">
                        <table class="dcg-table" data-bind="with: twoChartViewData().rightChartViewModel">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>YEAR 1</th>
                                    <th>YEAR 2</th>
                                    <!-- ko if: $root.twoChart().rightChart().isQuarterly() -->
                                    <th>YEAR 3</th>
                                    <th>YEAR 4</th>
                                    <th>YEAR 5</th>
                                    <!-- /ko -->
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: niiTable">
                                <tr data-bind="css: $root.charting.scenarioIdLookUp(scenario).rowClass">
                                    <td class="cellLabel"><span class="scenarioButton" data-bind="text: scenario, css: $root.charting.scenarioIdLookUp(scenario).labelClass"></span></td>
                                    <td data-bind="text: $root.formatNumber(y1_nii, 0)"></td>
                                    <td data-bind="text: $root.formatNumber(y2_nii, 0)"></td>
                                    <!-- ko if: $root.twoChart().rightChart().isQuarterly() -->
                                    <td data-bind="text: $root.formatNumber(y3_nii, 0)"></td>
                                    <td data-bind="text: $root.formatNumber(y4_nii, 0)"></td>
                                    <td data-bind="text: $root.formatNumber(y5_nii, 0)"></td>
                                    <!-- /ko -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px !important;">
                    <div class="col-sm-6" style="padding-left:2px !important;">

                        <!-- ko if: $root.twoChart().leftChart().percentChange() == 1 -->
                        <h4 style="margin-left: 2px;" class="atlasHeader blue" data-bind="text: leftPercChangeLabel"></h4>
                        <table class="dcg-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>YEAR 1</th>
                                    <th data-bind="text: leftYr2ColLabel"></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: $root.twoChartViewData().leftChartViewModel.compareTable">
                                <tr data-bind="css: $root.charting.scenarioIdLookUp(scenario).rowClass">
                                    <td class="cellLabel"><span class="scenarioButton" data-bind="text: scenario, css: $root.charting.scenarioIdLookUp(scenario).labelClass"></span></td>
                                    <td data-bind="text: $root.formatNumber(year1, 1)"></td>
                                    <td data-bind="text: $root.formatNumber(year2, 1)"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /ko -->
                        <!-- ko if: $root.twoChart().leftChart().percentChange() == 2 -->
                        <h4 style="margin-left: 2px;" class="atlasHeader blue" data-bind="text: leftPercChangeLabel"></h4>
                        <table class="dcg-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>POLICY</th>
                                    <th>YEAR 1</th>
                                    <th>POLICY</th>
                                    <th data-bind="text: leftYr2ColLabel"></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: $root.twoChartViewData().leftChartViewModel.compareTable">
                                <tr data-bind="css: $root.charting.scenarioIdLookUp(scenario).rowClass">
                                    <td class="cellLabel"><span class="scenarioButton" data-bind="text: scenario, css: $root.charting.scenarioIdLookUp(scenario).labelClass"></span></td>
                                    <td data-bind="text: $root.formatNumber(policy1, 2)"></td>
                                    <td data-bind="text: $root.formatNumber(year1, 1)"></td>
                                    <td data-bind="text: $root.formatNumber(policy2, 2)"></td>
                                    <td data-bind="text: $root.formatNumber(year2, 1)"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /ko -->
                    </div>
                    <div class="col-sm-6 col-no-pad" style="max-width:545px !important;">

                        <!-- ko if: $root.twoChart().rightChart().percentChange() == 1 -->
                        <h4 style="margin-left: 2px;" class="atlasHeader blue" data-bind="text: rightPercChangeLabel"></h4>
                        <table class="dcg-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>YEAR 1</th>
                                    <th data-bind="text: rightYr2ColLabel"></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: $root.twoChartViewData().rightChartViewModel.compareTable">
                                <tr data-bind="css: $root.charting.scenarioIdLookUp(scenario).rowClass">
                                    <td class="cellLabel"><span class="scenarioButton" data-bind="text: scenario, css: $root.charting.scenarioIdLookUp(scenario).labelClass"></span></td>
                                    <td data-bind="text: $root.formatNumber(year1, 1)"></td>
                                    <td data-bind="text: $root.formatNumber(year2, 1)"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /ko -->
                        <!-- ko if: $root.twoChart().rightChart().percentChange() == 2 -->
                        <h4 style="margin-left: 2px;" class="atlasHeader blue" data-bind="text: rightPercChangeLabel"></h4>
                        <table class="dcg-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>POLICY</th>
                                    <th>YEAR 1</th>
                                    <th>POLICY</th>
                                    <th data-bind="text: rightYr2ColLabel"></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: $root.twoChartViewData().rightChartViewModel.compareTable">
                                <tr data-bind="css: $root.charting.scenarioIdLookUp(scenario).rowClass">
                                    <td class="cellLabel"><span class="scenarioButton" data-bind="text: scenario, css: $root.charting.scenarioIdLookUp(scenario).labelClass"></span></td>
                                    <td data-bind="text: $root.formatNumber(policy1, 2)"></td>
                                    <td data-bind="text: $root.formatNumber(year1, 1)"></td>
                                    <td data-bind="text: $root.formatNumber(policy2, 2)"></td>
                                    <td data-bind="text: $root.formatNumber(year2, 1)"></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /ko -->
                    </div>
                    </td></tr></table>
                </div>
</section>
