﻿<section>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" data-bind="checked: twoChart().overrideTaxEquiv" /> Override Tax Equivalent Income
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" data-bind="checked: twoChart().taxEquivalentIncome, enable: twoChart().overrideTaxEquiv" /> Tax Equivalent Income
            </label>
        </div>

        <div class="form-group col-sm-12">
            <label>Graph Type</label>
            <br />
            <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn btn-default " data-toggle="button" data-bind="click: function () { twoChart().isQuarterly(false); twoChart().leftChart().isQuarterly(false); twoChart().rightChart().isQuarterly(false);}, css: { active: !twoChart().isQuarterly() }">Monthly</button>
                <button type="button" class="btn btn-default " data-toggle="button" data-bind="click: function () { twoChart().isQuarterly(true); twoChart().rightChart().isQuarterly(true);twoChart().leftChart().isQuarterly(true);}, css: { active: twoChart().isQuarterly() }">Quarterly</button>
            </div>
            <div class="btn-group" data-toggle="buttons-radio">
                <button type="button" class="btn btn-default " data-toggle="button" data-bind="click: function () { twoChart().niiOption('nii');}, css: { active: twoChart().niiOption() == 'nii' }">Net Interest Income</button>
                <button type="button" class="btn btn-default " data-toggle="button" data-bind="click: function () { twoChart().niiOption('ni'); }, css: { active: twoChart().niiOption() == 'ni' }">Net Income</button>
            </div>
        </div>
        
    </div>


    <fieldset class="col-md-6">
        <legend>Left Chart</legend>
        <div data-bind="compose: leftChartVm"></div>
    </fieldset>
    <fieldset class="col-md-6">
        <legend>Right Chart</legend>
        <div data-bind="compose: rightChartVm"></div>
    </fieldset>
</section>
