﻿<style>
    #historicChart {
        height: 232px;
        width: 70%;
        margin: 0 auto;
    }

    #yieldShiftChart {
        height: 232px;
        width: 70%;
        margin: 0 auto;
    }

    table{
        width: 80% !important;
        margin: 0 auto;
    }

    .cellLabel{
        width: 170px;
    }

    
</style>

<section id="yld-crv-view">

    <h2 id="historicTitle"  class="atlasHeader grey"></h2>
    <!--<span class="heading">LIBOR/Swap Scenarios</span>-->
    <div id="historicChart"></div>

    <table id="historicalTable" class="dcg-table dcg-table-horizontal dcg-table-highlight">
        <thead>
            <tr id="historicalTableHeaderRow" style="height: 22px !important;">
               
            </tr>

        </thead>
        <tbody></tbody>

    </table>

    <h2 id="shiftTitle" class="atlasHeader grey"></h2>
    <div id="yieldShiftChart"></div>

    <table id="scenarioTable" class="dcg-table dcg-table-horizontal dcg-table-highlight">
        <thead>
            <tr id="scenarioTableHeaderRow" style="height: 22px !important;">
                
            </tr>

        </thead>
        <tbody></tbody>

    </table>

</section>
