﻿<style>
    .error{
        border: 2px solid red;
    }
</style>
<section data-bind="with:yieldCurveShift">


    <fieldset class="col-sm-12">
        <legend>Scenarios</legend>
        <div class="form-group col-sm-12">
            <label>Scenarios</label>
            <table class="table">
                <thead>
                    <tr class="middle-align">
                        <th>
                            <span class="dropdown">
                                <button title="add shock scenario" class="dropdown-toggle  btn btn-success" data-toggle="dropdown" id="addScenarioButton"><i class="fa fa-plus"></i></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" data-bind="foreach: $root.availableScenarioTypes">
                                    <!-- ko ifnot: inUse -->
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-bind="text: name, click: $root.addScenarioType"></a></li>
                                    <!-- /ko -->
                                    <!-- ko if: inUse -->
                                    <li role="presentation"><a style="color: lightgrey" role="menuitem" tabindex="-1" data-bind="text: name, click: $root.dontAddScenarioType"></a></li>
                                    <!-- /ko -->
                                </ul>
                            </span>
                        </th>
                        <th>Priority</th>
                        <th>Type </th>
                    </tr>
                </thead>
                <tbody class="sortable" data-bind="sortable: { data: $root.sortedScenarioTypes, afterMove: $root.sortableAfterMove }">
                    <tr class="middle-align">
                        <td>
                            <button title="remove" data-bind="click: $root.removeScenarioType, enable: (webRateScenarioType() && webRateScenarioType().name() != 'Base Scenario')" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                        </td>
                        <td data-bind="text: priority"></td>
                        <td> <span data-bind="text: (webRateScenarioType() == null ? '' : webRateScenarioType().name())"></span></td>
                        <td><i class="fa fa-sort"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>

    <fieldset class="col-sm-12">
        <legend>Rate Info</legend>
        <div class="col-md-12">
            <div class="form-group col-md-2" >
                <label>Web Rate  As-of-Date</label>
                <select class="form-control" data-bind="options: $root.webRatesDates, optionsText: 'description', optionsValue:'description', value: webRateAsOfDate, enable: overrideWebRateDate()"></select>
            </div>
            <div class="form-group col-md-2">
                <input data-bind="checked: overrideWebRateDate" type="checkbox" />
                <label>Override Date</label>
            </div>

            <div class="form-group col-md-2">
                <label>Index</label>
                <select class="form-control" data-bind="options: $root.indexes, optionsText: $data, optionsValue: $data, value: index"></select>
            </div>
            <div class="form-group col-md-3" data-bind="enable: index() == 'FHLB' && overrideDistrict()">
                <label>FHLB Advance District</label>
                <select class="form-control" data-bind="options: $root.advancedIndexes, optionsText: $data, optionsValue: $data, value: fHLBAdvanceDistrict, enable: index() == 'FHLB' && overrideDistrict()"></select>
            </div>
            <div class="form-group col-md-2">
                <input data-bind="checked: overrideDistrict" type="checkbox" />
                <label>Override FHLB</label>
            </div>
        </div>
    </fieldset>


    <fieldset class="col-sm-12">
        <legend>Historic Dates</legend>
        <table class="table">
            <thead>
                <tr class="middle-align">
                    <th>
                        <span class="dropdown dropup">
                            <button title="add shock scenario" class="btn btn-success" data-toggle="dropdown" id="addHistoricDate" data-bind="click: $root.addHistoricDate"><i class="fa fa-plus"></i></button>
                        </span>
                    </th>
                    <th>As Of Date</th>
                    <th></th>
                </tr>
            </thead>

            <tbody class="sortable" data-bind="sortable: { data: $root.sortedHistoricDates, afterMove: $root.sortableAfterMove }">
                <tr class="middle-align">
                    <td>
                        <button title="remove" data-bind="click: $root.removeHistoricDate" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    </td>
                    <td>
                        <select class="form-control" data-bind="options: $root.historicWebRates, optionsText: 'description', optionsValue:'description', value: webRateAsOfDate"></select>
                    </td>
                    <td><i class="fa fa-sort"></i></td>
                </tr>
            </tbody>

        </table>
    </fieldset>

</section>
